@using myRaiHelper;
@using myRaiCommonModel.SituazioneDebitoria.ESS;
@using MVCProject.Custom_Helpers;

@model SpesaMensileModel

@{
    Layout = null;
}

@{
    DateTime dataCorrente = DateTime.Now;
}

<style>
    .graf-square-legenda {
        float: none !important;
    }
</style>

<div class="block block-transparent block-content-table">
    <div class="block-header block-content-mini">
        <label class="rai-font-table-heading">Riepilogo spese</label>
    </div>
    <div class="block-content block-content-mini">
        <div class="rai-table-info">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 text-center">
                    <h4 class="title" id="spesaMensileRiepilogo"></h4>
                    <div class="chart" style="margin-top: 15px;" data-percent="@(Model.PercentualeCompletamento)"></div>
                    <span class="graph-center-value">@(Model.PercentualeCompletamento)%</span>
                </div>
                <div class="col-xs-3"></div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 text-center"><span class="rai-font-md-neutral-bold"><span class="rai-chart-legend bg-default" style="float:left;margin-top:7px;">&nbsp;</span> Prevista </span></div>
                <div class="col-xs-4 text-center"><span class="rai-font-md-neutral-bold"><span class="rai-chart-legend bg-cdf" style="float:left;margin-top:7px;">&nbsp;</span> Sostenuta </span></div>
                <div class="col-xs-2"></div>
            </div>
        </div>

        <br />

        <div class="rai-table-info">
            <div class="row">
                <div class="col-xs-5"><span class="rai-font-lg-bold">Residua </span></div>
                <div class="col-xs-7 text-right"><span class="rai-font-lg-bold">@(String.Format( "{0:N2} €" , ( Model.TotaleSpesaPrevista - Model.TotaleRimborsato ) ))</span></div>
            </div>

            <div class="row">
                <div class="col-xs-5"><span class="rai-font-md-neutral-bold">Sostenuta </span></div>
                <div class="col-xs-7 text-right"><span class="rai-font-md">@(String.Format( "{0:N2} €" , Model.TotaleRimborsato ))</span></div>
            </div>

            <div class="row">
                <div class="col-xs-5"><span class="rai-font-md-neutral-bold">Prevista </span></div>
                <div class="col-xs-7 text-right"><span class="rai-font-md">@(String.Format( "{0:N2} €" , Model.TotaleSpesaPrevista ))</span></div>
            </div>

        </div>
    </div>
</div>