@using myRaiHelper;
@using myRaiCommonModel.ess;
@using MVCProject.Custom_Helpers;

@model int

@{
    ViewBag.Title = "Trasferte";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<input id="trasferte_paginaAperte" type="hidden" value="1" />
<input id="trasferte_elementiAperte" type="hidden" value="20" />
<input id="trasferte_hasNextAperte" type="hidden" value="1" />

<input id="trasferte_paginaConcluse" type="hidden" value="1" />
<input id="trasferte_elementiConcluse" type="hidden" value="20" />
<input id="trasferte_hasNextConcluse" type="hidden" value="1" />

<section role="main" class="content-body">
    <div class="row">
        <div class="col-md-8">
            <section class="panel" id="">
                <header class="panel-heading">
                    <h2 class="panel-title">Trasferte</h2>
                </header>
                <div class="panel-body no-padding">
                    <input id="concluseCaricate" type="hidden" value="false" />

                    @{
                        if (Model > 0)
                        {
                            <div class="block push-10-t push-10 border-bottom" style="padding-bottom:10px;box-shadow:none;">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Hai cercato: <b>Trasferte da rendicontare</b>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="@Url.Action("Index", "Trasferte")">TORNA ALL'ELENCO</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                    <div class="block" style="margin-bottom:0px;">
                        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1">
                                    Aperte
                                </a>
                            </li>
                            <li class="" role="presentation">
                                <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2" onclick="LoadConcluse()">
                                    Concluse
                                </a>
                            </li>
                        </ul>

                        <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
                            <div class="tab-pane active" id="tab1" role="tabpanel">
                                <div id="tblTrasferteContainer">
                                    @Html.Partial("~/Views/Trasferte/subpartial/TblTrasferte_skeleton.cshtml", new TrasferteViewModel())
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel">
                                <div id="tblTrasferteContainerConcl">
                                    @Html.Partial("~/Views/Trasferte/subpartial/TblTrasferte_skeleton.cshtml", new myRaiCommonModel.ess.TrasferteViewModel())
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
        <div class="col-md-4">
            @{
                if (Model > 0)
                {
                    @Html.Partial("~/Views/Scrivania/subpartial/trasfertePrecedenti_skeleton.cshtml")
                }
            }

            <section class="panel" id="panelRicercaTrasferte">
                <header class="panel-heading">
                    <h2 id="" class="panel-title">Ricerca trasferte</h2>
                </header>
                <div class="panel-body rai-panel-search">
                    <div class="js-form-search form-group">

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="rai-caption">Data trasferta</label>
                            </div>
                            <div class="col-md-12 col-lg-6 push-10">
                                <div class="input-group">
                                    <span onclick="$('#datada').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                    <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datada" name="datada" placeholder="Dal">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 push-10">
                                <div class="input-group">
                                    <span onclick="$('#dataal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                    <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al">
                                </div>
                            </div>
                        </div>


                        @*<div class="row">
            <div class="col-xl-6 push-10">
                <div class="input-group ">
                    <span onclick="$('#datada').datetimepicker('show')" class="rai-input-group-addon input-group-addon bg-neutrals-xl-10"><i class="fa fa-calendar interactive-primary-color"></i></span>
                    <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datada" name="datada" placeholder="Dal">
                </div>
            </div>
            <div class="col-xl-6 push-10">
                <div class="input-group ">
                    <span onclick="$('#dataal').datetimepicker('show')" class="rai-input-group-addon input-group-addon bg-neutrals-xl-10"><i class="fa fa-calendar interactive-primary-color"></i></span>
                    <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al">
                </div>
            </div>
        </div>*@

                        <div class="row push-10">
                            <div class="col-lg-12">
                                <label class="rai-caption" for="Valoreda">Foglio viaggio</label>
                                <input class="form-control" id="foglioViaggio" name="foglioViaggio" placeholder="Foglio viaggio" type="text" value="">
                            </div>
                        </div>


                        @*<div class="row">
            <div class="col-sm-12 push-10">
                <input class="form-control rai-form-control" id="foglioViaggio" name="foglioViaggio" placeholder="Foglio viaggio" type="text" value="">
            </div>
        </div>*@

                        @*<div class="row">
                            <div class="col-sm-12 push-10">
                                <input class="form-control rai-form-control" id="scopo" name="scopo" placeholder="Scopo" type="text" value="">
                            </div>
                        </div>*@

                        <div class="row push-10">
                            <div class="col-lg-12">
                                <label class="rai-caption" for="Valoreda">Scopo</label>
                                <input class="form-control rai-form-control" id="scopo" name="scopo" placeholder="Scopo" type="text" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="rai-btn-fill">
                                    <a href="#" id="btnResetCercaTrasferte" class="btn rai-btn-secondary full-width" title="Ripristina" value="Ripristina" onclick="resetCercaTrasferte();">Ripristina</a>
                                    <a href="#" id="btnCercaTrasferte" class="btn rai-btn-primary full-width" title="Cerca" value="Cerca" onclick="cercaTrasferte();">Cerca</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel" id="panelRiepilogoTrasferte">
                <header class="panel-heading">
                    <h2 class="panel-title">Riepilogo competenze</h2>
                </header>
                <div class="panel-body" id="tblRiepilogoTrasferte">
                    @Html.Partial("~/Views/Trasferte/subpartial/RiepilogoTrasferte_skeleton.cshtml", new RiepilogoTrasferteVM())
                </div>
            </section>

            <section class="panel" id="panelRiepilogoTrasferteInDefinizione">
                <header class="panel-heading">
                    <h2 class="panel-title">Riepilogo spesa</h2>
                </header>
                <div class="panel-body" id="tblRiepilogoTrasferteInDefinizione">
                    @Html.Partial("~/Views/Trasferte/subpartial/RiepilogoTrasferteInDefinizione_skeleton.cshtml", new RiepilogoTrasferteInDefinizioneVM())
                </div>
            </section>
        </div>
    </div>
</section>

<div class="modal right fade" id="DettaglioTrasfertaModal" role="dialog" aria-modal="true" aria-hidden="false" style="display: none;"></div>

@section afterjs {
    @Html.Raw(TempData["script"])

    <script type="text/javascript">

        $.ajax( {
            url: "/Trasferte/CaricaTrasferte",
            data: {
                daRendicontare: @Model
            },
            type: "POST",
            async: false,
            success: function ( result )
            {
                $.ajax({
                    url: "/Trasferte/GetTrasferteDaRendicontare",
                    data: {
                    },
                    type: "POST",
                    success: function (data) {
                        $('#panelTrasferteDaRendicontare').html(data);
                    },
                    error: function (err1, err2, err3) {
                    }
                });


                $.ajax( {
                    url: "/Trasferte/LoadTableTrasferte",
                    data: {
                        daRendicontare: @Model,
                        macroStato: 'Aperte'
                    },
                    type: "POST",
                    success: function ( data )
                    {
                        $( '#tblTrasferteContainer' ).html( data );
                    },
                    error: function ( err1, err2, err3 )
                    {
                    }
                } );
                  $.ajax( {
                    url: "/Trasferte/RiepilogoTrasferte",
                    data: {
                        daRendicontare: @(Model)
                    },
                    type: "POST",
                    success: function ( data )
                    {
                        $( '#tblRiepilogoTrasferte' ).html( data );
                    },
                    error: function ( err1, err2, err3 )
                    {
                    }
                });
                  $.ajax( {
                    url: "/Trasferte/RiepilogoTrasferteInDefinizione",
                    data: {
                        daRendicontare: @(Model)
                    },
                    type: "POST",
                    success: function ( data )
                    {
                        $( '#tblRiepilogoTrasferteInDefinizione' ).html( data );
                    },
                    error: function ( err1, err2, err3 )
                    {
                    }
                } );
            },
            error: function ( err1, err2, err3 )
            {
            }
        } );

        function LoadConcluse(){
            var caricate = $('#concluseCaricate').val();
            if (caricate=='false'){
                $.ajax( {
                    url: "/Trasferte/LoadTableTrasferte",
                    data: {
                        daRendicontare: @Model,
                        macroStato: 'Concluse'
                    },
                    type: "POST",
                    success: function ( data )
                    {
                        $( '#tblTrasferteContainerConcl' ).html( data );
                        $('#concluseCaricate').val('true');
                    },
                    error: function ( err1, err2, err3 )
                    {
                    }
                } );
            }
        }


        function DettaglioTrasferta( foglioViaggio )
        {
            event.preventDefault();
            $.ajax( {
                url: "/Trasferte/DettaglioTrasferta",
                data: {
                    foglioViaggio: foglioViaggio
                },
                type: "POST",
                async: false,
                success: function ( data )
                {
                    $( '#DettaglioTrasfertaModal' ).html( '' );
                    $( '#DettaglioTrasfertaModal' ).html( data );
                    $( '#DettaglioTrasfertaModal' ).modal();
                },
                error: function (err1, err2, err3)
                {
                }
            } );
        }

        function toggleTrasferte(id_elem, macro) {
            $('#divCaricamentoInCorso'+macro).show();
            var page = $('#trasferte_pagina'+macro).val();
            var size = $('#trasferte_elementi'+macro).val();

            var datada = $('#datada').val();
            var dataal = $('#dataal').val();
            var foglioViaggio = $('#foglioViaggio').val();
            var scopo = $('#scopo').val();
            var daRendicontare = @Model;

            if ($.trim(datada).length == 0 &&
                $.trim(dataal).length == 0 &&
                $.trim(foglioViaggio).length == 0 &&
                $.trim(scopo).length == 0)
            {
                $.ajax({
                    url: "/Trasferte/LoadTableTrasferteNext",
                    data: {
                        page: page,
                        size: size,
                        daRendicontare: daRendicontare,
                        macroStato: macro
                    },
                    type: "POST",
                    success: function (data) {
                        $('#divCaricamentoInCorso'+macro).hide();
                        $('#bodyTrasferte'+macro).append(data);
                    },
                    error: function (err1, err2, err3) {
                    }
                });
            }
            else
            {
                $.ajax({
                    url: "/Trasferte/LoadTableTrasferteNext",
                    data: {
                        dataDa: datada,
                        dataA: dataal,
                        foglioViaggio: foglioViaggio,
                        scopo: scopo,
                        page: page,
                        size: size,
                        daRendicontare: daRendicontare,
                        macroStato:macro
                    },
                    type: "POST",
                    success: function (data) {
                        $('#divCaricamentoInCorso'+macro).hide();
                        $('#bodyTrasferte'+macro).append(data);
                    },
                    error: function (err1, err2, err3) {
                    }
                });
            }
        }

        function cercaTrasferte()
        {
            var datada = $('#datada').val();
            var dataal = $('#dataal').val();
            var foglioViaggio = $('#foglioViaggio').val();
            var scopo = $('#scopo').val();
            var daRendicontare = @Model;

            if ($.trim(datada).length == 0 &&
                $.trim(dataal).length == 0 &&
                $.trim(foglioViaggio).length == 0 &&
                $.trim(scopo).length == 0)
            {
                swal("Filtri assenti", 'Per procedere con la ricerca è necessario inserire almeno un filtro.', 'info')
                return false;
            }

            $('#tblTrasferteContainer').html('<div class="rai-loader" style="height:50px"></div>');
            $.ajax({
                url: "/Trasferte/LoadTableTrasferte",
                data: {
                    dataDa: datada,
                    dataA: dataal,
                    foglioViaggio: foglioViaggio,
                    scopo: scopo,
                    daRendicontare: daRendicontare,
                    macroStato: 'Aperte'
                },
                type: "POST",
                success: function (data) {
                    $('#tblTrasferteContainer').html(data);
                },
                error: function (err1, err2, err3) {
                }
            });
            $('#tblTrasferteContainerConcl').html('<div class="rai-loader" style="height:50px"></div>');
            $.ajax({
                url: "/Trasferte/LoadTableTrasferte",
                data: {
                    dataDa: datada,
                    dataA: dataal,
                    foglioViaggio: foglioViaggio,
                    scopo: scopo,
                    daRendicontare: daRendicontare,
                    macroStato: 'Concluse'
                },
                type: "POST",
                success: function (data) {
                    $('#tblTrasferteContainerConcl').html(data);
                },
                error: function (err1, err2, err3) {
                }
            });
        }

        function resetCercaTrasferte()
        {
            $('#datada').val('');
            $('#dataal').val('');
            $('#foglioViaggio').val('');
            $('#scopo').val('');
            var daRendicontare = @Model;
            $('#tblTrasferteContainer').html('<div class="rai-loader" style="height:50px"></div>');
            $('#tblTrasferteContainerConcl').html('<div class="rai-loader" style="height:50px"></div>');
            $.ajax({
                url: "/Trasferte/ResetLoadTableTrasferte",
                data: {
                    daRendicontare: daRendicontare,
                    macroStato: 'Aperte'
                },
                type: "POST",
                success: function (data) {
                    $('#tblTrasferteContainer').html(data);
                },
                error: function (err1, err2, err3) {
                }
            });
            $.ajax({
                url: "/Trasferte/ResetLoadTableTrasferte",
                data: {
                    daRendicontare: daRendicontare,
                    macroStato: 'Concluse'
                },
                type: "POST",
                success: function (data) {
                    $('#tblTrasferteContainerConcl').html(data);
                },
                error: function (err1, err2, err3) {
                }
            });
        }


        function VisualizzaBiglietti(foglioViaggio) {
            event.preventDefault();
            $.ajax({
                url: "/Trasferte/VisualizzaBiglietti",
                data: {
                    foglioViaggio: foglioViaggio
                },
                type: "POST",
                async: false,
                success: function (data) {
                    $('#DettaglioTrasfertaModal').html('');
                    $('#DettaglioTrasfertaModal').html(data);
                    $('#DettaglioTrasfertaModal').modal();
                },
                error: function (err1, err2, err3) {
                }
            });
        }
    </script>
}