@using MVCProject.Custom_Helpers 
@using myRaiData;

@model myRaiCommonModel.cvModels.cvModel

<section class="panel">
    <header class="panel-heading bg-primary">
        <h2 class="panel-title text-white">
            <span tabindex="0">Mi presento</span>
            <span tabindex="0" id="popAutopresentazione" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="Puoi inserire un breve testo o un video di autopresentazione." data-original-title="&nbsp;" data-trigger="focus" aria-label="Informazioni sezione">
                <i id="" class="fa fa-info-circle"></i>
            </span>
        </h2>
        <div class="panel-actions rai-panel-actions">
            <button class="btn-action-icon" onclick="ModificaAutopresentazione(@Model.AutoPresentazione._id)"><span class="fa fa-plus"></span></button>
        </div>
    </header>

    <div class="panel-body panel-body-nopadding-xs">
        <div class="row">
            @if (Model.AutoPresentazione._id > 0)
            {
                string formato_file = "";
                string titolo = "";
                string icona_file = "";
                string file_type = "";

                titolo = Model.AutoPresentazione._name;

                if (Model.AutoPresentazione._contentType.Contains("audio"))
                {
                    formato_file = "File Audio";
                    icona_file = "music-tone-alt";
                    file_type = "audio";
                }
                else if (Model.AutoPresentazione._contentType.Contains("video"))
                {
                    formato_file = "File Video";
                    icona_file = "film";
                    file_type = "video";
                }
                else if (Model.AutoPresentazione._contentType.Contains("image"))
                {
                    formato_file = "File Immagine";
                    icona_file = "picture";
                    file_type = "image";
                }
                else if (Model.AutoPresentazione._contentType.Contains("word"))
                {
                    formato_file = "File Word";
                    icona_file = "doc";
                    file_type = "document"; // "word";
                }
                else if (Model.AutoPresentazione._contentType.Contains("excel"))
                {
                    formato_file = "File Excel";
                    icona_file = "doc";
                    file_type = "document"; //"excel";
                }
                else if (Model.AutoPresentazione._contentType.Contains("pdf"))
                {
                    formato_file = "File Pdf";
                    icona_file = "doc";
                    file_type = "pdf";
                }
                else if (Model.AutoPresentazione._contentType.Contains("website"))
                {
                    formato_file = "Link a sito web";
                    icona_file = "globe";
                    file_type = "website";
                }
                else
                {
                    formato_file = " File Generico (Altro...)";
                    icona_file = "doc";
                    file_type = "document";// "altro";
                }

                string ariaLabel = titolo + " - " + formato_file;
                if (!String.IsNullOrWhiteSpace(Model.AutoPresentazione._note)) { ariaLabel += " - " + Model.AutoPresentazione._note; }
                <!-- qua sotto -->

                <!-- FREAK - CASO ALTRO -->
                if (Model.AutoPresentazione._pathName != "")
                {
                    <div class="col-xs-11 col-sm-4 col-xs-6 col-md-3 col-lg-3 col-xl-2">
                        <div class="widget-summary widget-summary-xlg">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon item item-rounded text-primary bigborder" style="border-style:solid;" data-tourdb="tour-index-allegati" @Html.IntroTourAttributes(Model.TourElements, "tour-index-allegati")>
                                    @if (file_type == "image")
                                    {
                                        <i class="thumb-@file_type" href="@(Url.Action("GetFile", "CV_Online", new { id = Model.AutoPresentazione._id }))">
                                            <img src="@(Url.Action("GetFile", "CV_Online", new { id = Model.AutoPresentazione._id }))" class="img-fluid height-98-allegati" style="width: 100%;vertical-align: top;border-radius: 2px;height: 106px;">
                                        </i>
                                        @*<a class="hover-icon-span visibilityfixed" tabindex="0" aria-label="Cancella contributo">
                                        <span  class="icons icon-trash h4 text-primary" onclick="ConfermaCancellazione_Allegati('@Model.AutoPresentazione._id')"></span>
                                    </a>*@

                                    }
                                    else
                                    {
                                        <i class="icons icon-@icona_file"></i>
                                        @*<a class="hover-icon-span visibilityfixed" tabindex="0" aria-label="Cancella contributo" >
                                        <span  class="icons icon-trash h4 text-primary" onclick="ConfermaCancellazione_Allegati('@Model.AutoPresentazione._id')"></span>
                                    </a>*@

                                    }
                                </div>
                            </div>
                        </div>
                        @if (file_type != "website")
                        {
                            <a tabindex="-1" href="@(Url.Action("GetFile", "CV_Online", new { id = Model.AutoPresentazione._id }))" target="_blank">
                                <p class="text-bold">@titolo</p>
                            </a>
                        }
                        else
                        {
                            <a tabindex="-1" href="@Model.AutoPresentazione._pathName" target="_blank">
                                <p class="text-bold">@titolo</p>
                            </a>
                        }
                    </div>
                }
                <div class="col-xs-1 visible-xs text-right">
                    <a href="#" class="btn-action-icon" onclick="ModificaAutopresentazione(@Model.AutoPresentazione._id)"><i class="fa fa-pencil"></i></a>
                </div>
                <div class="col-xs-12 @(Model.AutoPresentazione._pathName!=""?"col-sm-7 col-xs-5 col-md-8 col-lg-8 col-xl-9":"col-md-11")">
                    <div class='text-left'>
                        @if (!String.IsNullOrWhiteSpace(Model.AutoPresentazione._note))
                        {
                            <p>@Model.AutoPresentazione._note</p>
                        }
                        else
                        {
                            <p>&nbsp;</p>
                        }
                    </div>
                </div>
                <div class="col-xs-1 hidden-xs text-right">
                    <a href="#" class="btn-action-icon" onclick="ModificaAutopresentazione(@Model.AutoPresentazione._id)"><i class="fa fa-pencil"></i></a>
                </div>
            }
            else
            {
                @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
            }
        </div>
    </div>
</section>

@Html.RenderModal("Autopresentazione")
