@using myRaiHelper;
@using myRaiCommonModel;
@model DatiApprendistato
@{
<div class="row">
    <div class="col-sm-8">



        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dettaglio Apprendistato", true))
        {

            <div id="schedaDatiDipendente">


            </div>
            @*<hr class=" border-neutral-20-b" />*@
            @Html.Hidden("IdPersona", Model.IdPersona)




            <div class="row push-10">
                <div class="col-sm-6 col-lg-3">
                    <label>Tipologia apprendistato</label>
                </div>
                <div class="col-sm-6 col-lg-9">
                    <label id="lblTipologiaApprendistato">
                        @{
                            @(Model.TipologiaApprendistato.Equals("BR") ? "Apprendistato diplomato" : Model.TipologiaApprendistato.Equals("BB") ? "Apprendistato laureato" : "Apprendistato titolo studio inf.");
                        }
                    </label>
                </div>
            </div>
            <div class="row push-10">
                <div class="col-sm-6 col-lg-3">
                    <label>Durata</label>
                </div>
                <div class="col-sm-6 col-lg-9">
                    <label id="lblDurataApprendistato">
                        @Model.DurataApprendistato Mesi
                    </label>
                </div>
            </div>
            @* <div class="row push-10">
                    <div class="col-sm-6 col-lg-3">
                        <label>Categoria</label>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <label id="lblCategoria">@Model.Ca</label>
                    </div>
                </div>*@
            <div class="row push-10">
                <div class="col-sm-6 col-lg-3">
                    <label>Profilo formativo</label>
                </div>
                <div class="col-sm-6 col-lg-9">
                    <label id="lblProfiloFormativo">@Model.ProfiloFormativo</label>
                </div>
            </div>
            <div class="row push-10">
                <div class="col-sm-6 col-lg-3">
                    <label>Competenze</label>
                </div>
            </div>
            <div class="row push-10">

                @foreach (var competenza in Model.Competenze)
                {
                    <div class="col-sm-6 col-lg-3">
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        @competenza.DescrizioneRuolo
                    </div>
                }
            </div>
        }
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dettaglio Formazione", true))
        {
            <div class="row push-10">
                <div id="sezioneFormazioneApprendista">
                    @Html.Action("GetDatiApprendista", "PianoFormativo", new { id = @Model.IdPersona })
                </div>
            </div>
        }
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dettaglio Tutor", true))
        {

            // <div class="rai-table-info">
            <div class="row push-10">
                <div id="sezioneDettaglioTutor">
                    @Html.Action("GetSezioneTutor", "PianoFormativo", new { id = @Model.IdPersona })

                </div>
            </div>
            //   </div>

        }

    </div>
    <div class="col-sm-4">
        <div id="widgetDatiDipendente">

        </div>
    </div>
</div>


}

<script type="text/javascript">
    var htmlContent = "";
    var idPersona = @Model.IdPersona;
    $(function () {
        callHeaderDatiNeoMatricola();
        InitDatePicker();
        });


  function callHeaderDatiNeoMatricola() {

      var idPersona = @Model.IdPersona;
        let nuovo = '@ViewBag.NuovaImm';
        var viewInfo = 'matricola,data_assunzione,servizio,qualifica';
        $.ajax({
            url: '@Url.Action("Widget_DatiDipendente", "Anagrafica")',
            type: "GET",
            data: { idPersona: idPersona, isNeoMatr: nuovo.toLowerCase(), actionToAnagrafica: true, viewInfo: viewInfo, showCV: false, showInc: false},
            success: function (response) {

                $('#widgetDatiDipendente').html(response);
            },
            errror: function (a, b, c) {
                      (a, b, c);
            }
        });
    }
    $("#dettaglioPianoFormativo button:contains('Nuovo')").remove();
    $("#dettaglioPianoFormativo button.btn-action-icon").remove();


</script>

