@using myRaiGestionale.Controllers
@using myRaiHelper
@using myRaiCommonModel
@using myRaiCommonManager
@model TutorPianoFormativoVM
@{
    var idPersona = ViewBag.IdPersona;
}


@using (Html.BeginModal("Selezione Tutor"))
{
    using (Html.BeginOnePageNav("tutorRicerca", "Risultati ricerca"))
    {
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginPanel(PanelType.Panel, "Ricerca tutor", false))
            {
                <form id="tutor">

                    @Html.HiddenFor(m => m.IdPersona)
                    <!--Ricerca Tutor-->
                    <div class="form-group">
                        <div class="dip">
                            <div class="row">
                                <div class="col-sm-6 push-20">
                                    @Html.LabelFor(m => m.MatricolaTutor, "Matricola", new { @class = "rai-caption" })
                                    @Html.TextBoxFor(m => m.MatricolaTutor, new { @class = "form-control", maxlength = "250" })
                                    @Html.ValidationMessageFor(m => m.MatricolaTutor)
                                </div>
                                <div class="col-sm-6 push-20">
                                    @Html.LabelFor(m => m.Nominativo, "Nominativo", new { @class = "rai-caption" })
                                    @Html.TextBoxFor(m => m.Nominativo, new { @class = "form-control", maxlength = "250" })
                                    @Html.ValidationMessageFor(m => m.Nominativo)
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12 rai-btn-fill">
                                    <button class="btn rai-btn-secondary" type="button" onclick="azzeraRicerca()">Azzera</button>
                                    <button class="btn rai-btn-primary" type="button" onclick="cercaTutor()">Cerca</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            }


        </div>
    </div>
    <div class="row"  id="sezioneListaTutor" style="display:none;">
        <div class="col-sm-12">
            @using (Html.BeginPanel(PanelType.NoHeader, ""))
            {

                <div id="containerResultSearchTutor">
                    <div class="row">
                        <div class="col-sm-12">
                            
                                <table class="table rai-table">
                                    <thead>
                                        <tr>
                                            
                                            <th class="rai-font-md-neutral-bold">Matricola</th>
                                            <th class="rai-font-md-neutral-bold">Nominativo</th>
                                            <th class="rai-font-md-neutral-bold">Categoria</th>
                                            <th class="rai-table-td-toggle">&nbsp;</th>
                                        </tr>
                                    </thead>

                                    <tbody id="listaTutor">  </tbody>
                                </table>
                            
                        </div>
                    </div>


                </div>


            }
        </div>
    </div>

    <div id="tutorSelectedDettaglio">

    </div>
    }
}
<script>
    var idPersona = @idPersona;
    function cercaTutor() {
       
        $('#listaTutor').html("");
        var nominativo = $('#Nominativo').val();
        var matricola = $('#MatricolaTutor').val();
        var isSearch = true;
        $.ajax({
            url: '@Url.Action("GetTutor","PianoFormativo")',
            data: { nominativo: nominativo, matricola: matricola, idPersona: idPersona ,isSearch: isSearch },
            type: "POST",
            dataType:"html",
            success: function (data) {
                $('#sezioneListaTutor').show();
                $('#listaTutor').html(data);
            }
        });
    }
    function azzeraRicerca() {
        $('#sezioneListaTutor').hide();
        $('#Nominativo').val("");
        $('#MatricolaTutor').val("");
        $('#listaTutor').html("");
    }
   






</script>
