@using myRaiCommonModel;
@model Competenze
<style>
    .border-neutral-20-b {
        margin-bottom: 0px;
        margin-top: 13px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: none;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <span class="rai-font-md-neutral-bold-80 rai-caption">COMPETENZE</span>

        <table class="table rai-table">
            <thead>

                <hr class=" border-neutral-20-b" />


                <tr>
                    <th></th>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    @*   <th style="width:30%">Tipo</th>*@
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;
                    for (i = 0; i < Model.ListaCompetenze.Count; i++)
                    {
                <tr>
                    <td>
                        <div class="rai-checkbox">
                            <input type="checkbox"
                                   class="checkbox_Competenze"
                                   name=""
                                   onchange="selectedCodiceRequisitoCompetenza('@Model.ListaCompetenze[i].CodiceRequisito', '@i')"
                                   @{  @(Model.ListaCompetenze[i].SelectedCodiceCompetenza ? "checked" : "") ; }
                                   value=" @Model.ListaCompetenze[i].CodiceRequisito"
                                   id="@i" />
                            <label>&nbsp;</label>

                        </div>
                    </td>
                    <td class="rai-font-md-neutral-bold-80">@Model.ListaCompetenze[i].CodiceRequisito</td>
                    <td>@Model.ListaCompetenze[i].DescrizioneRuolo</td>
                    @* <td>@Model.ListaCompetenze[i].TipoRuolo</td>*@
                </tr>
                    }
                }

            </tbody>
        </table>


    </div>
</div>

<script type="text/javascript">
     
    function selectedCodiceRequisitoCompetenza(value, indexId) {
        
            var liste2 = $(':checkbox.checkbox_Competenze:checked').map(function () {
                return this.value;
            }).get();
            console.log(liste2);
        }
</script>
