@using myRaiCommonModel
@model List<TutorPianoFormativoVM>
@{
    var idpersona = ViewBag.IdPersona;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

}

<div class="block block-transparent block-content-table">
    <div class="block-header block-content-mini">
            <label class="block-title">TUTOR</label>
            <div class="block-options">
                <button class="btn btn-sm rai-btn-small" id="btnAggiungiTutor" onclick="renderModalInserimentoTutor('@idpersona')">Nuovo</button>
            </div>
    </div>
    <div class="block-content block-content-mini">

        <div class="row">
            <div class="col-sm-12">
                <table class="table rai-table">
                    <thead>
                        <tr>
                            <th style="width: 15%;">Matricola</th>
                            <th class="rai-font-md-bold" style="width: 25%;">Nominativo</th>
                            <th style="width: 15%;">Categoria</th>
                            <th style="width: 13%;">Dal</th>
                            <th style="width: 13%;">Al</th>
                            <th style="width:10px;"> &nbsp;</th>
                            <th style="width:10px;"> &nbsp;</th>
                        </tr>
                    </thead>

                    <tbody id="sezioneTutor">
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MatricolaTutor</td>
                                    <td>@item.Nominativo</td>
                                    <td>@item.Categoria</td>
                                    <td>@item.DalStr</td>
                                    <td>@item.AlStr</td>
                                    <td class="rai-table-td-toggle"></td>
                                    <td class="text-right">
                                        <div class="btn-action-icon-container">
                                            <button id="modifica" class="btn btn-action-icon modifica" onclick="modificaTutor(@item.Oid) "><i class="fa fa-pencil"></i></button>
                                            <button id="eliminazione" class="btn btn-action-icon eliminazione" onclick="eliminaTutor(@item.Oid)"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }


                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<script>
       @foreach (var d in Model)
       {
                  @:tutors.push(@Html.Raw(serializer.Serialize(d)));
        }
    reloadTableTutor();
   function renderModalInserimentoTutor(idpersona) {
        removeIdTutorSelected();
        RaiOpenAsyncModal("modal-tutor", "/PianoFormativo/ModalInserimentoTutor", { idPersona: idpersona }, null, "POST", false)
    }
    function removeIdTutorSelected() {
        idTutorSelected = null;
    }
</script>