@using myRaiGestionale.Controllers
@using myRaiHelper
@using myRaiCommonModel
@using myRaiCommonManager
@model List<TutorPianoFormativoVM>
@{ 
   var idPersona = ViewBag.IdPersona;
}
@foreach (var item in Model)
{


<tr>
    <td class="rai-font-md-neutral-bold-80">
        @item.MatricolaTutor
    </td>
    <td class="rai-font-md-bold">
        @item.Nominativo
    </td>
    <td class="rai-font-md-bold">
        @item.Categoria
    </td>
    <td>
        <button type="button" class="btn rai-btn-small" onclick="getDettaglioTutor('@item.MatricolaTutor')">Visualizza</button>   
    </td> 
</tr>
               


}
                  

<script>
    var idPersona = @idPersona;
    function getDettaglioTutor(matricolaTutor) {
        RaiOPNavGoToNext("tutorRicerca", "dettaglioTutor", "Dettaglio tutor", '@Url.Action("FormDettaglioTutorSelected","PianoFormativo")', { tutorSelected: matricolaTutor, idPersona : idPersona  })
    }
</script>