@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model ModelDash

<!-- Icone -->
@{
    ViewBag.Title = "Elenco richieste";
    Layout = "~/Views/Shared/_layoutContent.cshtml";
}


<section role="main" class="content-body">


    <!-- start: page -->
    <!-- Main Container -->

    <main id="main-container">

        <div class="content">

            <div class="row">
                <div class="col-sm-8">

                    @{bool GappChiuso = false;}
                    @if (!UtenteHelper.GappChiuso())
                    {

                        /* if (myRaiHelper.UtenteHelper.IsBoss(myRaiHelper.CommonHelper.GetCurrentUserMatricola()))
                         {
                                                    @Html.Partial("../Responsabile/da_approvare")
                         }*/

                        @Html.Partial("../Tabelle/subpartial/lemierichieste")
                    }
                    else
                    {
                        @Html.Partial("_cics_chiuso")
                        GappChiuso = true;
                    }

                </div>
                <div class="col-sm-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>

                            </div>

                            <h2 class="panel-title">Cerca tra le richieste</h2>
                        </header>

                        <div class="panel-body" id="my-block">
                            <div class="js-form-search form-group">
                                <div class="row push-10">
                                    <div class="col-sm-12">
                                        <label class="rai-caption">Stato</label>
                                        @Html.DropDownListFor( x => x.statiModel.StatoSelezionato , Model.statiModel.ListaStati , "Stato" , new { @class = "form-control" , id = "stato" } )
                                    </div>
                                </div>

                                <div class="row push-10">
                                    <div class="col-sm-12">
                                        <label class="rai-caption">Eccezione</label>
                                        @Html.DropDownListFor( x => x.eccezioniModel.EccezioneSelezionata , Model.eccezioniModel.ListaEccezioni , "Eccezione" , new { @class = "form-control" , id = "eccezione" } )
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="rai-caption">Data richiesta</label>
                                    </div>
                                    <div class="col-md-12 col-lg-6 push-10">
                                        <div class="input-group">
                                            <span onclick="$('#datada').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                            <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datada" name="datada" placeholder="Dal">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 push-10">
                                        <div class="input-group">
                                            <span onclick="$('#dataal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                            <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al">
                                        </div>
                                    </div>
                                </div>

                                <div class="row push-5-t">
                                    <div class="col-sm-12 ">
                                        <input type="submit" id="btnFilter" name="btnFilter" onclick="CercaRichieste()" class="btn rai-btn-primary full-width" title="Cerca" value="Cerca" data-parentdiv="daapprovare" data-filterelements="my-block" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>


                </div>
            </div>
        </div>
    </main>

    <!-- end: page -->
</section>


@Html.Partial("../Richieste/_nuovarichiesta", Model.Raggruppamenti)

@Html.Partial("../Richieste/richiestapermesso")
@Html.Partial("../Richieste/_motivoRifiuto")
@Html.Partial("../Richieste/_validarifiutatutti")
@Html.Partial("../Richieste/richiestamaggiorazione")

@Html.Partial("../Richieste/_popupInizialePreSelezione")


<div class="modal fade" id="giornata-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
</div>
<div class="modal fade" id="richiesta-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
</div>
<!-- FINE Partial view per modali -->

<div id="pg-visible-xs" class="visible-xs"></div>
<div id="pg-visible-sm" class="visible-sm"></div>
<div id="pg-visible-md" class="visible-md"></div>
<div id="pg-visible-lg" class="visible-lg"></div>
<div class="modal fade right" id="doc-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-popin modal-lg">
        <div class="block-header bg-cdf" style="height: 0px; padding:0px;">
            <ul class="block-options visible-xs">
                <li>
                    <button data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </li>
            </ul>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        </div>
        <div class="modal-content" id="pdfcontent" style="text-align :center">
            <iframe style="width:100%;margin:8px;border:none" id="docframe"></iframe>
        </div>

    </div>

</div>

