@model myRaiCommonModel.ContatoreSharedModel

 <div id="congedi">

 </div>


<script>
   

   

     attivaContatore(@Model.mesi, @Model.giorni, @Model.mesiConiuge, @Model.giorniConiuge, @Model.MF);
</script>