@model myRaiCommonModel.SliderModel

<tr id="tr-slider-@Model.prog">
    <td colspan="3" style="height: 20px;border-top:none">

        <div style="margin-top:-18px" id="slider-@(Model.prog)"  
        class="mt-3 mb-3 slider-primary @(Model.SelectAndSliderLocked ? "disable":"")" data-plugin-slider 
        data-plugin-options='{ "value": @Model.value, "range": "min","min":0, "max": @Model.max}' 
        data-plugin-slider-output="#listenSlider-@Model.prog">

            <input class="hiddenSlider father" 
            data-hidden-prog="@Model.prog" 
            data-hidden-dalle="@Model.dalle"
            data-hidden-alle="@Model.alle"
            data-hidden-max="@Model.max"

            id="listenSlider-@Model.prog" type="hidden" value="@Model.value" />
        </div>
    </td>
    <td style="border-top:none"></td>
</tr>

<script>

    $('#slider-@Model.prog').each(function () {
        var $this = $(this),
            opts = {};

        var pluginOptions = $this.data('plugin-options');
        if (pluginOptions) {
            opts = pluginOptions;
        }

        $this.themePluginSlider(opts);
    });

</script>
