@model myRaiCommonModel.NotifichePopupModel

@{
    bool isAcademy = ViewContext.RouteData.GetRequiredString("controller").ToLower().Contains("academy");
    string section = "";
    if (myRaiHelper.SessionHelper.Get("GEST_SECTION") != null)
    {
        section = (string)myRaiHelper.SessionHelper.Get("GEST_SECTION");
    }
}

<header id="header" class="header rai-bg-primary">
    <div class="row">
	    <div id="logoContainer" class="logo-container">
            <h1 class="lead" style=" float: left; margin: 10px 0 0 20px; font-size: 3.0rem; color: #fff;">
                <a href="http://www.raiplace.rai.it/">
                    <img class="img-responsive standard-logo" src="@Url.Content("~/assets/img/logo-rai-place.png")" width="100" height="100" alt="RaiPlace">
                </a>
		    </h1>
            <ul class="notifications visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
			    <li id="menu-notifiche_mini">
				    <a href="#" onclick="AjaxNotifications(2, true)" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-label="Hai @(Model.Notifiche.Count) notifiche" aria-haspopup="true">
					    <i class="icons icon-bell"></i>
                        <span id="badge-not_mini" style="@(Model.Notifiche.Count==0?"display:none":"display:block")" class="badge" >
                            @(Model.NotificheTotali.ToString())
                        </span>            
				    </a>
                    <div id="div-notifiche_mini" class="dropdown-menu notification-menu bg-white ombraNotifiche" style="box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);">
				    </div>
                </li>
                <li id="menu-notifiche1_mini">
				    <a href="#" onclick="AjaxNotifications(1, true)" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-label="Hai @(Model.NotificheTotaliTipo1) cose da fare" aria-haspopup="true" >
					    <i class="ti-menu-alt"></i>
                        <span id="badge-not1_mini" style="" class="badge">
                            @(Model.NotificheTotaliTipo1.ToString())
                        </span>            
				    </a>
                    <div id="div-notifiche-1_mini" class="dropdown-menu notification-menu bg-white ombraNotifiche" style="box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);">
				   
                    </div>
			    </li>
                <li>
                    <a href="http://www.raiplace.rai.it/pagine/my_links_lista/" class="dropdown-toggle notification-icon" aria-label="I tuoi preferiti">
                        <i class="ti-bookmark"></i>
                    </a>
			    </li>
                <li class="linoborder">
                    <a href="#" id="searchModule_mini" onclick="SearchDiv_mini()" class="dropdown-toggle notification-icon" aria-label="Cerca" aria-haspopup="true">
                        <i class="ti-search"></i>
                    </a>
                    <div id="searchModuleContainer_mini" class="dropdown-menu notification-menu bg-trasparent " style=" margin: 0px; right:48px;">
                        <form  method="get" id="FORM_1_mini">
	                        <fieldset id="FIELDSET_2_mini">
		                         <span id="SPAN_3_mini"><input name="s" id="INPUT_4_mini" type="text" placeholder="Search…" /></span> <span id="SPAN_5_mini"> 
			                           <button type="button" onclick="location.href='http://www.raiplace.rai.it?s='+document.getElementById('INPUT_4_mini').value" id="BUTTON_6">
				                
                                        <i class="btn-icon-search ti-search" style="box-sizing: border-box;" class="glyphicon glyphicon-search"></i>
			                        </button></span>
	                        </fieldset>
                        </form>
				    </div>
			    </li>
		    </ul>
               

		    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
			    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		    </div>
	    </div>
	    <div id="headerRight" class="header-right hidden-xs">
            <div id="header-menu" class="header-menu">
                <div id="main-menu" class="main-menu">
                    <ul id="menu-principale" aria-label="Principale" class="menu-principale nav nav-pills hidden-xs hidden-sm visible-md visible-lg visible-xl" role="menubar">
                        @{
                            int count = 0;
                            foreach(var voce in Model.HeaderMenu)
                            {
                                count++;

                                string headerSect = voce.Title;
                                if (voce.Contesto.ToUpper()=="GESTIONALE" && voce.Link.ToUpper().StartsWith("/SCRIVANIA?SECTION="))
                                {
                                    headerSect = voce.Link.ToUpper().Replace("/SCRIVANIA?SECTION=", "");
                                }

                                <li role="presentation" class="nav-link menu-item @(headerSect==section ? "selected" : "")" >
                                    <a role="menuitem" tabindex="@(count==1?"1000":"-1")" href="@(voce.Link)" title="@(voce.Title)">@(voce.Descrizione=="RAI PER ME"?"GESTIONALE":voce.Descrizione)</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div> 
		    <ul class="notifications hidden-xs">
			    <li id="menu-notifiche">
				    <a href="#" onclick="AjaxNotifications(2)" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-label="Hai @(Model.Notifiche.Count) notifiche" aria-haspopup="true">
					    <i class="ti-bell"></i>
                        <span data-test="aaaaa
                            " id="badge-not" style="@(Model.Notifiche.Count == 0 ? "display:none" : "display:block")" class="badge">
                            @(Model.NotificheTotali.ToString())
                        </span>            
				    </a>
                    <div id="div-notifiche" class="dropdown-menu notification-menu bg-white ombraNotifiche" style="box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);">
				    </div>
                </li>
                <li id="menu-notifiche1">
				    <a href="#" onclick="AjaxNotifications(1)" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-haspopup="true" aria-label="Hai @(Model.NotificheTotaliTipo1) cose da fare">
					    <i class="ti-menu-alt"></i>
                        <span id="badge-not1" style="@(Model.NotificheTotaliTipo1 == 0 ? "display:none" : "display:block")" class="badge">
                            @(Model.NotificheTotaliTipo1.ToString())
                        </span>            
				    </a>
                    <div id="div-notifiche-1" class="dropdown-menu notification-menu bg-white ombraNotifiche" style="box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);">
				   
                    </div>
			    </li>
                <li>
                    <a href="http://www.raiplace.rai.it/pagine/my_links_lista/" class="dropdown-toggle notification-icon" aria-label="I tuoi preferiti">
                        <i class="ti-bookmark"></i>
                    </a>
			    </li>
                <li class="linoborder">
                    <a href="#" id="searchModule" onclick="SearchDiv()" class="dropdown-toggle notification-icon" aria-label="Cerca" aria-haspopup="true">
                        <i class="ti-search"></i>
                    </a>
                    <div id="searchModuleContainer" class="dropdown-menu notification-menu bg-trasparent " style=" margin: 0px;">
                        <form   method="get" id="FORM_1" action="http://www.raiplace.rai.it">
	                        <fieldset id="FIELDSET_2">
		                         <span id="SPAN_3"><input name="s" id="INPUT_4" type="text" placeholder="Search…" /></span> <span id="SPAN_5"> 
			                        <button type="button" onclick="location.href='http://www.raiplace.rai.it?s='+document.getElementById('INPUT_4').value" id="BUTTON_6">
				                        @*<span id="SPAN_7" class="icons icon-magnifier"></span>*@
                                        <i class="btn-icon-search ti-search" style="box-sizing: border-box;" class="glyphicon glyphicon-search"></i>
			                        </button></span>
	                        </fieldset>
                        </form>
				    </div>
			    </li>
		    </ul>
		    <div id="userbox" class="userbox hidden-xs" aria-label="Ciao @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() )">
			    <a href="#" data-toggle="dropdown" id ="user" tabindex="-1">
				    <figure class="profile-picture">
                         @if (!String.IsNullOrWhiteSpace(myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome))
                         {
					    <img src="@(myRaiHelper.UtenteHelper.FotoUtente())" alt="@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() ) @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._cognome.ToLower() )" class=""  />
                         }
				    </figure>
				    <div class="profile-info"  >
                        
                           @* @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() ) </span>*@

                         @if (!String.IsNullOrWhiteSpace(myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome))
                        {
                            <span data-tipodip="@myRaiHelper.UtenteHelper.TipoDipendente()" data-sede="@myRaiHelper.UtenteHelper.SedeGapp(DateTime.Now)" data-reparto="@myRaiHelper.UtenteHelper.Reparto()" data-sede-contabile="@myRaiHelper.UtenteHelper.EsponiAnagrafica().SedeContabile"
                                  
                                  class="name">Ciao<br />@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() ) </span>
                        }
                        else
                        { 
                            <span data-sede="@myRaiHelper.UtenteHelper.SedeGapp(DateTime.Now)" class="name">Ciao<br />@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(myRaiHelper.UtenteHelper.GetNomeProprio()??"") </span>
                        }
					    
				    </div>
			    </a>
		    </div>
	    </div>
    </div>
</header>

<script type="text/javascript">
    window.onscroll = function () { myFunction() };

    var header = document.getElementById( "header" );
    header.classList.add( "stickyTransform" );
    var logoContainer = document.getElementById( "logoContainer" );
    var headerRight = document.getElementById( "headerRight" );

    var sticky = header.offsetTop;

    function myFunction()
    {
        var width = $( window ).width();
        if ( width < 800 )
            return false;

        var aside = document.getElementById( "sidebar-left" );
        aside.classList.add("stickyTransform");

        var exsistFixedPanel = false;
        var fixedPanel = document.getElementById("fixedPanel");
        if (typeof fixedPanel != "undefined" && fixedPanel != null)
        {
            exsistFixedPanel = true;
            fixedPanel.classList.add("stickyTransform");
        }

        if ( window.pageYOffset > sticky )
        {
            header.classList.add( "stickyHeader" );
            logoContainer.classList.add( "sticky" );
            logoContainer.classList.remove( "stickyUp" );
            headerRight.classList.add( "sticky" );
            headerRight.classList.remove( "stickyUp" );
            aside.classList.add("stickyAsideLeft");
            if (exsistFixedPanel)
            {
                fixedPanel.classList.add("stickyAsideLeft");
            }   
        }
        else
        {
            header.classList.remove( "stickyHeader" );
            logoContainer.classList.add( "stickyUp" );
            logoContainer.classList.remove( "sticky" );
            headerRight.classList.add( "stickyUp" );
            headerRight.classList.remove( "sticky" );
            aside.classList.remove("stickyAsideLeft");
            if (exsistFixedPanel) {
                fixedPanel.classList.remove("stickyAsideLeft");
            }   
        }
    }

    function SearchDiv()
    {
        var isVisible = $( "#searchModuleContainer" ).is( ':visible' );

        if ( isVisible )
        {
            $( "#searchModuleContainer" ).hide();
        }
        else
        {
            $( "#searchModuleContainer" ).show();
        }
    }

    function SearchDiv_mini()
    {
        var isVisible = $( "#searchModuleContainer_mini" ).is( ':visible' );

        if ( isVisible )
        {
            $( "#searchModuleContainer_mini" ).hide();
        }
        else
        {
            $( "#searchModuleContainer_mini" ).show();
        }
    }
</script>

@section afterjs { 
    @Html.Raw(TempData["script"])

<script type="text/javascript">
    $( '#startSearch' ).on( 'click', function ()
    {
        var tx = $( '#toSearch' ).val();
        if ( $.trim( tx ).length > 0 )
        {
            window.location = 'http://www.raiplace.rai.it?s=' + tx;
        }
    } );

    $( function ()
    {
        $( '.notifications > li' ).each( function ()
        {
            $( this ).on( 'click', function ()
            {
                if ( $( this ).hasClass( 'linoborder' ) )
                {
                    $( '.notifications' ).css( 'border-bottom', 'none' );
                }
                else
                {
                    $( '.notifications' ).css( 'border-bottom', 'none' );
                }
            } );
        } );
    } );
</script>
}