@model myRaiCommonModel.NotifichePopupModel

<style>
    @@media only screen and (max-width: 767px)
    {
        .notifications {
            float: right;
            margin: 16px 48px 0 0;
        }

        .notifications > li {
            float: left;
            margin: 0 15px 0 0;
            position: relative;
        }
    }

    @@media only screen and (max-width: 767px) {
        .inner-wrapper {
            min-height: 0;
            padding-top: 70px;
        }
    }

    @@media only screen and (max-width: 767px) {
        .header .logo-container {
            border-top: 0px;
        }
    }

    .lead {
        float: left;
        margin: 10px 0 0 15px;
        font-size: 3.0rem;
        color: #fff;
    }

    .logo-container {
        transform-origin: 0% 100%;
        border-top: 0px;
    }

    .stickyTransform  {
       -webkit-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }

    .stickyHeader  {
        height: 50px;
    }

    .sticky  {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
       -webkit-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }

    .stickyUp  {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
       -webkit-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }

    .stickyAsideLeft {
        top: 48px !important;
    }

    .header-menu {
        padding: 10px 0;
        text-align: right;
        text-decoration: none;
        display: inline-table;
    }

    .main-menu {
        display: inline-block;
        vertical-align: middle;
        position:relative;
    }

    .menu-principale {
        margin:0;
        padding:0;
        list-style:none;
        margin-right:16px;
    }

    .menu-item > a{
        color: white;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:active,
    .nav-pills > li.active > a:focus {
      background-color: #0773c5;
    }
    
    .nav-pills > li > a:hover,
    .nav-pills > li > a:active,
    .nav-pills > li > a:focus {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .header-right {
        transform-origin: 100% 0%;
    }

    .header-list {
        display: inline-table;
        color: #fff;
        line-height: 30px;
        vertical-align: middle;
        font-size: 1.8rem;
        margin-left: 5px;
    }

    .header-list > a > span {
        color: #fff;
    }

    .nav-link.menu-item {
        margin: 1px 2px 1px 0;
    }

    .bg-trasparent {
        background: none;
    }

    #FORM_1 {
        bottom: -53px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        height: 48px;
        position: absolute;
        right: -22px;
        text-align: right;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        vertical-align: middle;
        white-space: nowrap;
        width: 298px;
        z-index: 1003;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 149px 24px;
        transform-origin: 149px 24px;
        caret-color: rgb(255, 255, 255);
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 5px solid rgb(204, 204, 204);
        border-radius: 20px 20px 20px 20px;
        font: normal normal 400 normal 13px / 40px "Open Sans";
        margin: 0px;
        outline: rgb(255, 255, 255) none 0px;
    }/*#FORM_1*/

    #FORM_1:before {
        bottom: 39px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        content: '""';
        display: block;
        height: 22px;
        left: 239px;
        position: absolute;
        right: 27px;
        text-align: right;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        top: -23px;
        white-space: nowrap;
        width: 22px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 11px 11px;
        transform-origin: 11px 11px;
        caret-color: rgb(255, 255, 255);
        border-top: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        border-bottom: 11px solid rgb(204, 204, 204);
        border-left: 11px solid rgba(0, 0, 0, 0);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        outline: rgb(255, 255, 255) none 0px;
    }/*#FORM_1:before*/

    #FIELDSET_2 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        height: 38px;
        min-width: 0px;
        text-align: right;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 290px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 145px 19px;
        transform-origin: 145px 19px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        margin: 0px -2px 0px 0px;
        outline: rgb(255, 255, 255) none 0px;
        padding: 0px;
    }/*#FIELDSET_2*/

    #SPAN_3 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: block;
        float: left;
        height: 38px;
        text-align: left;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 238px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 119px 19px;
        transform-origin: 119px 19px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        outline: rgb(255, 255, 255) none 0px;
    }/*#SPAN_3*/

    #INPUT_4 {
        color: rgb(85, 85, 85);
        display: block;
        float: left;
        height: 38px;
        text-align: left;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        vertical-align: middle;
        white-space: nowrap;
        width: 238px;
        column-rule-color: rgb(85, 85, 85);
        perspective-origin: 119px 19px;
        transform-origin: 119px 19px;
        caret-color: rgb(85, 85, 85);
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
        border-top: 0px none rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        border-bottom: 0px none rgb(204, 204, 204);
        border-left: 0px none rgb(204, 204, 204);
        border-radius: 20px 0 0 20px;
        font: normal normal 400 normal 13px / 37px arial;
        outline: rgb(85, 85, 85) none 0px;
        padding: 0px 15px 0px 20px;
    }/*#INPUT_4*/

    #SPAN_5 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: block;
        float: left;
        height: 38px;
        text-align: left;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 49px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 24.5px 19px;
        transform-origin: 24.5px 19px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        outline: rgb(255, 255, 255) none 0px;
    }/*#SPAN_5*/

    #BUTTON_6 {
        color: rgb(85, 85, 85);
        cursor: pointer;
        display: block;
        float: left;
        height: 38px;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        width: 49px;
        column-rule-color: rgb(85, 85, 85);
        perspective-origin: 24.5px 19px;
        transform-origin: 24.5px 19px;
        user-select: none;
        caret-color: rgb(85, 85, 85);
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(85, 85, 85);
        border-radius: 0 20px 20px 0;
        font: normal normal 400 normal 16px / 37px "Open Sans";
        outline: rgb(85, 85, 85) none 0px;
        padding: 0px 20px 0px 13px;
        transition: all 0.1s ease 0s;
    }/*#BUTTON_6*/

    #SPAN_7 {
        box-sizing: border-box;
        color: rgb(85, 85, 85);
        cursor: pointer;
        text-align: center;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        white-space: nowrap;
        column-rule-color: rgb(85, 85, 85);
        user-select: none;
        caret-color: rgb(85, 85, 85);
        border: 0px none rgb(85, 85, 85);
        font: normal normal 400 normal 16px / 37px "Open Sans";
        outline: rgb(85, 85, 85) none 0px;
    }/*#SPAN_7*/

    #SPAN_7:before {
        box-sizing: border-box;
        color: rgb(85, 85, 85);
        cursor: pointer;
        display: inline-block;
        height: 16px;
        speak: none;
        text-align: center;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 16px;
        column-rule-color: rgb(85, 85, 85);
        perspective-origin: 8px 8px;
        transform-origin: 8px 8px;
        user-select: none;
        caret-color: rgb(85, 85, 85);
        border: 0px none rgb(85, 85, 85);
        font: normal normal 400 normal 16px / 16px themify;
        outline: rgb(85, 85, 85) none 0px;
    }/*#SPAN_7:before*/

    .btn-icon-search {
        box-sizing: border-box;
        color: rgb(85, 85, 85);
        cursor: pointer;
        text-align: center;
        text-decoration: none solid rgb(85, 85, 85);
    }

    .notifications > li.linoborder {
        border: none;
        border-bottom: none;
    }

    .nav-link.menu-item > a {
        text-transform: uppercase;
        transition: font-size 0.3s ease 0s;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0px;
        color: #ffffff;
        bottom: 0px;
        box-sizing: border-box;
        display: inline-block;
        height: 36px;
        left: 0px;
        position: relative;
        right: 0px;
        text-align: left;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        text-transform: uppercase;
        top: 0px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 47.3125px 18px;
        transform-origin: 47.3125px 18px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        list-style: none outside none;
        outline: rgb(255, 255, 255) none 0px;
        padding: 0px 12px;
    }/*#A_1*/

    .sidebar-left {
        z-index: 1050;
    }

    @@media only screen and (min-width: 768px) {
        html.fixed .sidebar-left {
            bottom: 0;
            left: 0;
            padding-bottom: 50px;
            position: fixed;
            top: 59px;
        }
    }

    #FORM_1_mini {
        bottom: -53px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        height: 48px;
        position: absolute;
        right: 120px;
        text-align: right;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        vertical-align: middle;
        white-space: nowrap;
        width: 298px;
        z-index: 1003;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 149px 24px;
        transform-origin: 149px 24px;
        caret-color: rgb(255, 255, 255);
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 5px solid rgb(204, 204, 204);
        border-radius: 20px 20px 20px 20px;
        font: normal normal 400 normal 13px / 40px "Open Sans";
        margin: 0px;
        outline: rgb(255, 255, 255) none 0px;
    }/*#FORM_1*/

    #FORM_1_mini:before {
        bottom: 39px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        content: '""';
        display: block;
        height: 22px;
        left: 239px;
        position: absolute;
        right: 27px;
        text-align: right;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        top: -23px;
        white-space: nowrap;
        width: 22px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 11px 11px;
        transform-origin: 11px 11px;
        caret-color: rgb(255, 255, 255);
        border-top: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        border-bottom: 11px solid rgb(204, 204, 204);
        border-left: 11px solid rgba(0, 0, 0, 0);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        outline: rgb(255, 255, 255) none 0px;
    }/*#FORM_1:before*/

    #FIELDSET_2_mini {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        height: 38px;
        min-width: 0px;
        text-align: right;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 290px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 145px 19px;
        transform-origin: 145px 19px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        margin: 0px -2px 0px 0px;
        outline: rgb(255, 255, 255) none 0px;
        padding: 0px;
    }/*#FIELDSET_2*/

    #SPAN_3_mini {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: block;
        float: left;
        height: 38px;
        text-align: left;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 238px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 119px 19px;
        transform-origin: 119px 19px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        outline: rgb(255, 255, 255) none 0px;
    }/*#SPAN_3*/

    #INPUT_4_mini {
        color: rgb(85, 85, 85);
        display: block;
        float: left;
        height: 38px;
        text-align: left;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        vertical-align: middle;
        white-space: nowrap;
        width: 238px;
        column-rule-color: rgb(85, 85, 85);
        perspective-origin: 119px 19px;
        transform-origin: 119px 19px;
        caret-color: rgb(85, 85, 85);
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
        border-top: 0px none rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        border-bottom: 0px none rgb(204, 204, 204);
        border-left: 0px none rgb(204, 204, 204);
        border-radius: 20px 0 0 20px;
        font: normal normal 400 normal 13px / 37px arial;
        outline: rgb(85, 85, 85) none 0px;
        padding: 0px 15px 0px 20px;
    }/*#INPUT_4*/

    #SPAN_5_mini {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: block;
        float: left;
        height: 38px;
        text-align: left;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 49px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 24.5px 19px;
        transform-origin: 24.5px 19px;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 13px / 40px "Open Sans";
        outline: rgb(255, 255, 255) none 0px;
    }/*#SPAN_5*/

    #BUTTON_6_mini {
        color: rgb(85, 85, 85);
        cursor: pointer;
        display: block;
        float: left;
        height: 38px;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        width: 49px;
        column-rule-color: rgb(85, 85, 85);
        perspective-origin: 24.5px 19px;
        transform-origin: 24.5px 19px;
        user-select: none;
        caret-color: rgb(85, 85, 85);
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(85, 85, 85);
        border-radius: 0 20px 20px 0;
        font: normal normal 400 normal 16px / 37px "Open Sans";
        outline: rgb(85, 85, 85) none 0px;
        padding: 0px 20px 0px 13px;
        transition: all 0.1s ease 0s;
    }/*#BUTTON_6*/

    #SPAN_7_mini {
        box-sizing: border-box;
        color: rgb(85, 85, 85);
        cursor: pointer;
        text-align: center;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        white-space: nowrap;
        column-rule-color: rgb(85, 85, 85);
        user-select: none;
        caret-color: rgb(85, 85, 85);
        border: 0px none rgb(85, 85, 85);
        font: normal normal 400 normal 16px / 37px "Open Sans";
        outline: rgb(85, 85, 85) none 0px;
    }/*#SPAN_7*/

    #SPAN_7_mini:before {
        box-sizing: border-box;
        color: rgb(85, 85, 85);
        cursor: pointer;
        display: inline-block;
        height: 16px;
        speak: none;
        text-align: center;
        text-decoration: none solid rgb(85, 85, 85);
        text-size-adjust: 100%;
        white-space: nowrap;
        width: 16px;
        column-rule-color: rgb(85, 85, 85);
        perspective-origin: 8px 8px;
        transform-origin: 8px 8px;
        user-select: none;
        caret-color: rgb(85, 85, 85);
        border: 0px none rgb(85, 85, 85);
        font: normal normal 400 normal 16px / 16px themify;
        outline: rgb(85, 85, 85) none 0px;
    }/*#SPAN_7:before*/

    li.selected {
        background: rgba(0, 0, 0, 0.03);
        color: white;
        border-radius: 4px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    li.selected > a {
        background-color: rgba(0, 0, 0, 0.05);
    }

</style>

<header id="header" class="header istituzionale">
    <div class="row">
	    <div id="logoContainer" class="logo-container">
            <h1 class="lead" style=" float: left; margin: 10px 0 0 20px; font-size: 3.0rem; color: #fff;">
                <a href="http://www.raiplace.rai.it/">
                    <img class="img-responsive standard-logo" src="//www.raiplace.rai.it/wp-content/uploads/2017/06/logo-rai-place.png" width="100" height="100" alt="RaiPlace">
                </a>
		    </h1>
            
		    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
			    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		    </div>
	    </div>
	    <div id="headerRight" class="header-right hidden-xs">
            <div id="header-menu" class="header-menu">
                <div id="main-menu" class="main-menu">
                    <ul id="menu-principale" aria-label="Principale" class="menu-principale nav nav-pills hidden-xs hidden-sm visible-md visible-lg visible-xl" role="menubar">
                      @*  @{
                            int count = 0;
                            foreach(var voce in Model.HeaderMenu)
                            {
                                count++;
                                <li role="presentation" class="nav-link menu-item @(count == Model.HeaderMenu.Count ? "selected" : "")" role="presentation">
                                    <a role="menuitem" tabindex="@(count==1?"0":"-1")" href="@(voce.Link)" title="@(voce.Title)">@(voce.Descrizione)</a>
                                </li>
                            }
                        }*@
                    </ul>
                </div>
            </div> 
		    <div id="userbox" class="userbox hidden-xs">
			    <a href="#" data-toggle="dropdown" id ="user" tabindex="-1">
				    <figure class="profile-picture">
                         @if (!String.IsNullOrWhiteSpace(myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome))
                         {
					    <img src="@(myRaiHelper.UtenteHelper.FotoUtente())" alt="@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() ) @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._cognome.ToLower() )" class=""  />
                         }
				    </figure>
				    <div class="profile-info"  >
                        
                           @* @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() ) </span>*@

                         @if (!String.IsNullOrWhiteSpace(myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome))
                        {
                            <span class="name">Ciao<br />@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( myRaiHelper.UtenteHelper.EsponiAnagrafica()._nome.ToLower() ) </span>
                        }
                        else
                        { 
                            <span class="name">Ciao<br />@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(myRaiHelper.UtenteHelper.GetNomeProprio()??"") </span>
                        }
					    
				    </div>
			    </a>
		    </div>
	    </div>
    </div>
</header>

<script type="text/javascript">
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("header");
    header.classList.add("stickyTransform");
    var logoContainer = document.getElementById("logoContainer");
    var headerRight = document.getElementById("headerRight");

    var sticky = header.offsetTop;

    function myFunction() {
        var width = $(window).width();
        if (width < 800)
            return false;

        var aside = document.getElementById("sidebar-left");
        aside.classList.add("stickyTransform");
        if (window.pageYOffset > sticky) {
            header.classList.add("stickyHeader");
            logoContainer.classList.add("sticky");
            logoContainer.classList.remove("stickyUp");
            headerRight.classList.add("sticky");
            headerRight.classList.remove("stickyUp");
            aside.classList.add("stickyAsideLeft");
        }
        else {
            header.classList.remove("stickyHeader");
            logoContainer.classList.add("stickyUp");
            logoContainer.classList.remove("sticky");
            headerRight.classList.add("stickyUp");
            headerRight.classList.remove("sticky");
            aside.classList.remove("stickyAsideLeft");
        }
    }

    function SearchDiv() {
        var isVisible = $("#searchModuleContainer").is(':visible');

        if (isVisible) {
            $("#searchModuleContainer").hide();
        }
        else {
            $("#searchModuleContainer").show();
        }
    }

    function SearchDiv_mini() {
        var isVisible = $("#searchModuleContainer_mini").is(':visible');

        if (isVisible) {
            $("#searchModuleContainer_mini").hide();
        }
        else {
            $("#searchModuleContainer_mini").show();
        }
    }
</script>

@section afterjs { 
    @Html.Raw(TempData["script"])

<script type="text/javascript">
    $('#startSearch').on('click', function () {
        var tx = $('#toSearch').val();
        if ($.trim(tx).length > 0) {
            window.location = 'http://www.raiplace.rai.it?s=' + tx;
        }
    });

    $(function () {
        $('.notifications > li').each(function () {
            $(this).on('click', function () {
                if ($(this).hasClass('linoborder')) {
                    $('.notifications').css('border-bottom', 'none');
                }
                else {
                    $('.notifications').css('border-bottom', 'none');
                }
            });
        });
    });
</script>
}