@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model PopupDettaglioGiornata
<div class="block-header block-content-mini bg-cel ">
    <h4 class="font-w600">Dettaglio richiesta</h4>
</div>

<div class="block block-rounded" onclick="hidePopover()">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-4"><span>Codice: </span></div>
            <div class="col-xs-8 text-info"><b>@Model.TipoRichiesta</b></div>
        </div>

        <div class="row">
            <div class="col-xs-4"><span>Periodo: </span></div>
            <div class="col-xs-8">
                @if ( String.IsNullOrWhiteSpace( Model.PeriodoPiuGiorni ) )
                {
                    <b>
                        @Model.DataEccezione.ToString( "dd/MM/yyyy" )

                    @if ( @Model.DataDalle != null && Model.DataAlle != null )
                    {
                        DateTime D1 = ( ( DateTime ) Model.DataDalle );
                        DateTime D2 = ( ( DateTime ) Model.DataAlle );
                        if ( D1.Date == D2.Date )
                        {
                            @Html.Raw( " dalle " + D1.ToString( "HH.mm" ) + " alle " + D2.ToString( "HH.mm" ) )
                        }
                        else
                        {
                            @Html.Raw( " dalle " + D1.ToString( "HH.mm" ) + " alle " + D2.ToString( "HH.mm" ) + " del " + D2.ToString( "dd/MM" ) )
                        }
                    }
                </b>
            }
            else
            {
                <b>@Model.PeriodoPiuGiorni</b>
            }


            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"><span>Nota: </span></div>

            <div class="col-xs-8">
                <b>
                    @(String.IsNullOrEmpty( Model.MotivoRichiesta ) ? "-" :
                                     Model.MotivoRichiesta)
            </b>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4"><span>Stato richiesta: </span></div>
        <div class="col-xs-8">
            @if ( Model.IdStatoRichiesta == ( int ) EnumStatiRichiesta.InApprovazione )
            {
                <span>In approvazione</span> <i class="fa fa-circle orange"></i>
            }
            @if ( Model.IdStatoRichiesta == ( int ) EnumStatiRichiesta.Approvata )
            {
                <span>Approvata</span><i class="fa fa-circle green"></i>
            }
            @if ( Model.IdStatoRichiesta == ( int ) EnumStatiRichiesta.Rifiutata )
            {
                <span>Rifiutata</span><i class="fa fa-circle red"></i>
            }
        </div>
    </div>
    @if ( Model.IdStatoRichiesta == ( int ) EnumStatiRichiesta.Approvata )
    {
        <div class="row">
            <div class="col-xs-4"><span>Approvata da </span></div>
            <div class="col-xs-8"><b>@Model.ApprovataDa.Trim( )</b></div>
        </div>
    }
    @if ( Model.IdStatoRichiesta == ( int ) EnumStatiRichiesta.Rifiutata )
    {
        <div class="row">
            <div class="col-xs-4"><span>Rifiutata da </span></div>
            <div class="col-xs-8"><b>@Model.ApprovataDa.Trim( )</b></div>
        </div>
    }

    @if ( Model.ParametriRichiesta != null && Model.ParametriRichiesta.Count > 0 )
    {
        foreach ( var item in Model.ParametriRichiesta )
        {
            if ( !String.IsNullOrWhiteSpace( @item.NomeParametro ) )
            {
                <div class="row">
                    <div class="col-xs-4"><span>@item.NomeParametro : </span></div>
                    <div class="col-xs-8">
                        <b>
                            @item.ValoreParametro
                        </b>
                    </div>
                </div>
            }

        }
    }
    @* @if (Model.ParametriExtra != null)
        {
            foreach (KeyValuePair<string, string> entry in Model.ParametriExtra)
            {
                if (!String.IsNullOrWhiteSpace(@entry.Key))
                {
                   <div class="row">
                    <div class="col-xs-4"><span>@entry.Key : </span></div>
                    <div class="col-xs-8">
                        <b>
                            @entry.Value
                        </b>
                    </div>
                  </div>
                }

            }
        }*@
    @if ( Model.EccezioneDaStornareDataValidazione != null )
    {
        <div class="col-xs-10">
            <br />
            <span><em>Storno richiesto su eccezione:</em> </span>
        </div>

        <div class="col-xs-4"><span>Approvata da: </span></div>
        <div class="col-xs-8">
            <b>
                @Model.EccezioneDaStornareApprovataDa
            </b>
        </div>
        <div class="col-xs-4"><span>Approvata il: </span></div>
        <div class="col-xs-8">
            <b>
                @Model.EccezioneDaStornareDataValidazione
            </b>
        </div>
    }


</div>

</div>
</div>
