@using myRai.Models

@model XR_DEM_DOCUMENTI_EXT
@{
    var r = Model;
}

<tr>
    <td>
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon" style=" font-size: 2rem;
                                                width: 36px;
                                                height: 36px;
                                                line-height: 36px;
                                                text-align: center;
                                                background-color: #c2cfd6;
                                                color: #516c7b;
                                                -webkit-border-radius: 50%;
                                                border-radius: 50%;">
                    <i class="fa fa-file"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <span id="nome-file-VSDIP-@r.Id" class="rai-font-md" style="word-break: break-word;">@r.Descrizione</span>
                    <br />
                    @{
                        if ( r.AllegatoPrincipale != null )
                        {
                            <span id="total-VSDIP-@r.Id" class="rai-font-sm-neutral" style="word-break: break-word;">@(r.AllegatoPrincipale.Length / 1000) KB</span>
                        }
                    }
                </div>
            </div>
        </div>
    </td>
    <td class="align-v">
        <span class="rai-font-md">@r.DataCreazione.ToString( "dd/MM/yyyy" )</span>
    </td>
    <td class="text-right">
        <button class="btn rai-btn-small" aria-label="Visualizza" onclick="Dematerializzazione_OpenDettaglio('@r.Id')" title="Visualizza" style="min-width:80px;">
            Visualizza
        </button>
        @{
            if ( r.AllegatoPrincipale != null )
            {
                <a href="@(Url.Action("DownloadAllegato","Dematerializzazione"))?idAllegato=@r.AllegatoPrincipale.Id" class="btn btn-action-icon"><i class="fa fa-download"> </i> </a>
            }
        }
        
    </td>
</tr>


