@using myRai.Models
@using myRai.Controllers

@model Dematerializzazione_FiltroFirmaVM
@{
    Layout = null;
}
<div class="row" id="dem-div-filtri">
        @using ( Html.BeginPanel( myRaiHelper.PanelType.Panel , "Cerca richieste" , false ) )
        {
            var formId = "form-ricerca-richieste";

            using ( Ajax.BeginForm( "FiltraDocumentiInFirma" , "Dematerializzazione" , null , new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace ,
                HttpMethod = "POST" ,
                OnBegin = "" ,
                OnSuccess = "" ,
                UpdateTargetId = "div-tabella-documenti-firma" ,
            } , new { id = formId , @class = "" , role = "search" } ) )
            {
                <div class="rai form-group">
                    <div class="row push-10">
                        <div class="col-sm-12">
                            <label class="rai-caption">MESE</label>
                            <div class="input-group mb-md">
                                <span onclick="$('#datadal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                <input class="js-datetimepicker form-control" name="datadal" data-format="MM" data-locale="it" type="text" id="datadal" placeholder="Seleziona il mese">
                            </div>
                        </div>
                    </div>
                    <div class="row push-10">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.NominativoOMatricola , "MATRICOLA O NOMINATIVO DIPENDENTE" , new { @class = "rai-caption" })
                            @Html.TextBoxFor(x => x.NominativoOMatricola , new { @class = "form-control" , placeholder = "Inserisci il nominativo o la matricola" , name = "nominativo" , id = "nominativo" })
                        </div>
                    </div>
                    <div class="row push-10">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.Tipologia , "TIPOLOGIA DI DOCUMENTO" , new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.Tipologia , DematerializzazioneController.GetTipologieDematerializzazioni( ) , attributes: new { id = "tipologia" } , hideSearch: true , onSelectchange: "")
                        </div>
                    </div>

                    <div class="row push-10">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.StatoRichiesta , "Stato" , new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.StatoRichiesta , DematerializzazioneController.GetStatiRichiesta( ) , attributes: new { required = "required" , id = "statorichiesta" } , hideSearch: true , onSelectchange: "")
                        </div>
                    </div>

                    <div class="row push-20-t">
                        <div class="col-sm-12">
                            <div class="rai-btn-fill">
                                <input type="submit" id="btn_filtraDocumenti" class="btn rai-btn-primary" title="Cerca" value="Filtra richieste" style="min-height:48px;" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
</div>

<script type="text/javascript">
    $(function () {
        InitDatePicker();
    });
</script>