@using myRaiCommonModel
@using myRaiHelper
@model DelegaModelVM

<div class="rai-table-info">
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Data creazione delega</span>
        </div>
        <div class="col-sm-7">
            <span id="span-datarichiesta">@(Model.DataCreazioneDelega.ToString("dd/MM/yyyy"))</span>
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Matricola delegante</span>
        </div>
        <div class="col-sm-7">
            <span id="span-matricoladelegante">@(Model.MatricolaDelegante)</span>
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Nominativo delegante</span>
        </div>
        <div class="col-sm-7">
            <span id="span-nominativodelegante">@(Model.NominativoDelegante)</span>
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Matricola delegato</span>
        </div>
        <div class="col-sm-7">
            <span id="span-matricoladelegato">@(Model.MatricolaDelegato)</span>
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Nominativo delegato</span>
        </div>
        <div class="col-sm-7">
            <span id="span-nominativodelegato">@(Model.NominativoDelegato)</span>
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Data inizio delega</span>
        </div>
        <div class="col-sm-7">
            <span id="span-datainiziodelega">@(Model.DataInizioDelega.ToString("dd/MM/yyyy"))</span>
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-5">
            <span>Data fine delega</span>
        </div>
        <div class="col-sm-7">
            <span id="span-datafinedelega">@(Model.DataFineDelega.ToString("dd/MM/yyyy"))</span>
        </div>
    </div>

    @*<div class="row push-10-t">
        <div class="col-xs-12 push-20">
            <table class="table rai-table rai-table-vcenter rai-table-panel rai-table-collapsable">
                <thead>
                    <tr>
                        <th colspan="2" style="padding-bottom:4px">
                            <span class="as-block-title">Elenco abilitazioni</span>
                        </th>
                    </tr>
                </thead>
                @if (Model.Abilitazioni != null && Model.Abilitazioni.Any(x => x.ID_PROFILO != null || x.ID_SUBFUNZ != null))
                {
                    foreach (var grProf in Model.Abilitazioni.Where(x => x.ID_PROFILO != null || x.ID_SUBFUNZ != null).GroupBy(x => x.ID_PROFILO.HasValue))
                    {
                        if (grProf.Key)
                        {
                            <tbody class="rai-table-collapsable-header" data-ignore-scroll="true">
                                <tr>
                                    <td>
                                        <span class="rai-font-md-bold">*PROFILI</span>
                                    </td>
                                    <td class="text-right">
                                        <i class="fa fa-chevron-down"></i>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="2" class="no-padding">
                                        <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">
                                            @foreach (var item in grProf)
                                            {
                                                var profilo = item.XR_HRIS_ABIL_PROFILO;
                                                <tr data-abil="@item.ID_ABIL">
                                                    <td>
                                                        <span class="rai-font-md">@profilo.COD_PROFILO</span><span class="rai-font-md-neutral"> - @profilo.DES_PROFILO</span>
                                                        @if (!profilo.IND_ATTIVO)
                                                        {

                                                            <span class="rai-label">Non attivo</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        }
                        else
                        {
                            foreach (var funz in grProf.Where(x => x.ID_SUBFUNZ != null).GroupBy(x => x.XR_HRIS_ABIL_SUBFUNZIONE.ID_FUNZIONE))
                            {
                                <tbody class="rai-table-collapsable-header" data-ignore-scroll="true">
                                    <tr>
                                        <td>
                                            <span class="rai-font-md-bold">@funz.First().XR_HRIS_ABIL_SUBFUNZIONE.XR_HRIS_ABIL_FUNZIONE.COD_FUNZIONE</span>
                                            <span>- @funz.First().XR_HRIS_ABIL_SUBFUNZIONE.XR_HRIS_ABIL_FUNZIONE.DES_FUNZIONE</span>
                                            @if (!funz.First().XR_HRIS_ABIL_SUBFUNZIONE.XR_HRIS_ABIL_FUNZIONE.IND_ATTIVO)
                                            {

                                                <span class="rai-label">Non attivo</span>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="no-padding">
                                            <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">

                                                @foreach (var item in funz)
                                                {
                                                    var subfunz = item.XR_HRIS_ABIL_SUBFUNZIONE;
                                                    <tr data-abil="@item.ID_ABIL">
                                                        <td>
                                                            <span class="rai-font-md">@subfunz.COD_SUBFUNZIONE</span>
                                                            <span class="rai-font-md-neutral"> - @subfunz.DES_SUBFUNZIONE</span>
                                                            @if (!subfunz.IND_ATTIVO)
                                                            {

                                                                <span class="rai-label">Non attivo</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    }
                }
                else
                {
                    <tbody>
                        <tr>
                            @Html.Partial("_NoDati")
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>*@
</div>