@model myRaiCommonModel.cvModels.cvModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_layout2.cshtml";
}

    <div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

    <!-- Container di Pagina -->
<section class="body">

    @Html.Partial("../Shared/header2", new myRai.Models.NotifichePopupModel())

    <div class="inner-wrapper">

        @Html.Partial("../Shared/sidebar3", Model.menuSidebar)
        <section role="main" class="content-body">


 <main id="main-container">
    <div id="page-container" class="sidebar-l sidebar-mini sidebar-o header-navbar-fixed">
        <!-- Main Container -->
       
			<div class="content">
				
            <div class="col-sm-6 col-lg-3 remove-padding">
         
<div class="panel">
    
     @Html.Partial("partials/_navigatore")
</div>
            </div>
   
						<div class="col-sm-6 col-lg-9">

                        @Html.Partial("Certificazioni/partials/_elencoTotale", Model)
                          

                           


						</div>
					</div>
				</div>
			</main>
            </section>
        <!-- FINE Main Container -->
    
    </div>
    </section>
    <!-- FINE Page Container -->
    
    <!-- Partial view per modali -->

    @Html.Partial("Certificazioni/partials/_popupSelezione", new myRaiCommonModel.cvModels.cvModel.Certificazioni()) 

    <!-- FINE Partial view per modali -->

    <!-- UIRai Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie e App.js -->

@*       <script src="~/assets/js/core/jquery.min.js"></script>
     <script src="~/assets/js/core/bootstrap.min.js"></script>
     <script src="~/assets/js/core/jquery.slimscroll.min.js"></script>
     <script src="~/assets/js/core/jquery.scrollLock.min.js"></script>
     <script src="~/assets/js/core/jquery.appear.min.js"></script>
     <script src="~/assets/js/core/jquery.countTo.min.js"></script>
     <script src="~/assets/js/core/jquery.countTo.min.js"></script>
     <script src="~/assets/js/core/jquery.placeholder.min.js"></script>
     <script src="~/assets/js/core/js.cookie.min.js"></script>
     <script src="~/assets/js/core/moment.js"></script>
     <script src="~/assets/js/core/JSRai.js"></script>*@

    <!-- Plugins JS di pagina  + Codice JS di pagina -->

 @*   <script src="~/assets/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <script src="~/assets/js/pages/form_wizard.js"></script>*@
    <script language="javascript">


        //numero eccezioni per chiamata ------------------------------------------------


        $(document).ready(function () {

            UIRai.initHelpers('datetimepicker');
            //freak 
            //$(".js-select2").select2({
            
        });
        

    </script>



