@model myRaiCommonModel.cvModels.cvModel.Certificazioni
<form class="js-form2 form-horizontal form-modificaCertificazioni" action="/CurriculumVitae/ModificaCertificazioni" method="post">
    @Html.HiddenFor(x => x._matricola)
    @Html.HiddenFor(x => x._prog)
    @Html.HiddenFor(x => x._tipo)
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class=" block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Pubblicazione</h3>
                </div>
                <div class="modal-body" id="edit-content">
                    <div class="form-group divdettaglio">
                        <div class="col-md-12">
                            <div class="push-10">
                                <div class="push-10">
                                    @Html.LabelFor(m => m._titoloPubblica, "Titolo")
                                    @Html.TextBoxFor(m => m._titoloPubblica, new { @class = "form-control required", style = "width: 100%", placeholder = "Inserire a testo libero", onkeyup = "inpreq('_titoloPubblica');", id = "_titoloPubblica" })
                                    @Html.ValidationMessageFor(m => m._titoloPubblica, "Il titolo della pubblicazione è obbligatorio", new { @class = "field-validation-error hidden" })

                                </div>
                                <div class="push-10">
                                    @Html.LabelFor(m => m._editorePubblica, "Pubblicazione/editore")
                                    @Html.TextBoxFor(m => m._editorePubblica, new { @class = "form-control", style = "width: 100%", placeholder = "Inserire a testo libero" })
                                </div>
                                <div class="push-10">
                                    @Html.LabelFor(m => m._dataPubblica, "Data pubblicazione")
                                    <div class="stile-data">
                                        <div class="form-material input-group date" style="position: relative">
                                            @Html.TextBoxFor(m => m._dataPubblica, new { @class = "js-datetimepicker form-control start required", data_format = "DD/MM/YYYY", data_locale = "it", id = "_dataPubblicazione", placeholder = "Selezionare una Data", onchange = "inpreq('_dataPubblicazione');" })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <div>
                                            @Html.ValidationMessageFor(m => m._dataPubblica, "La data pubblicazione è obbligatoria", new { @class = "field-validation-error hidden" })
                                        </div>
                                    </div>
                                </div>
                                <div class="push-10">
                                    @Html.LabelFor(m => m._urlPubblica, "Url pubblicazione")
                                    @Html.TextBoxFor(m => m._urlPubblica, new { @class = "form-control url", style = "width: 100%", placeholder = "Inserire a testo libero", id = "_urlPubblica", onkeyup = "ctrUrl('_urlPubblica');" })
                                    @Html.ValidationMessageFor(m => m._urlPubblica, "Url non valido", new { @class = "field-validation-error hidden" })
                                </div>
                                <div class="row frk_info push-10">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m._notePubblica, "Descrizione")
                                        @Html.TextAreaFor(m => m._notePubblica, new { @class = "form-control", style = "width: 100%", placeholder = "Inserire a testo libero utilizzando al massimo 250 caratteri", rows = 5 })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-warning" data-dismiss="modal" type="button"><i class="fa fa-arrow-circle-o-left"></i>Indietro</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick="submit_modificaCertificazione()"><i class="fa fa-check-circle-o"></i>Invia</button>
                            <button type="button" class="btn btn-danger"><span onclick="ConfermaCancellazione_Certificazione('@Model._matricola', '@Model._prog')">Elimina</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>

