@model myRaiCommonModel.ModelDash

    <!-- Icone -->
    @{
        Layout = "~/Views/Shared/_layout.cshtml";
    }
    
    <div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

    <!-- Container di Pagina -->

    <div id="page-container" class="sidebar-l sidebar-mini sidebar-o header-navbar-fixed">

        @Html.Partial("../Shared/sidebar", myRaiHelper.UtenteHelper.getSidebarModel())@* Model.menuSidebar)*@

        @Html.Partial("../Shared/header")

        <!-- Main Container -->
        <main id="main-container">
			<!--div class="content">
	            <div class="col-sm-12 row bg-white text-uppercase">
					<div class="block">
						<div class="block-header">
							
							<h3 class="block-title"><i class="si si-calendar text-muted"></i> Settimana in corso</h3>
						</div>
						<div class="block-content">
							
						</div>			
					</div>
				</div>
			</div-->
				
				<div class="content">

					<div class="row">
						<div class="col-sm-8">
                               
                   
					        @if (!myRaiHelper.UtenteHelper.GappChiuso())
             {
                 if (myRaiHelper.UtenteHelper.IsBoss())
                 {
                                            @Html.Partial("../Responsabile/da_approvare")
                 }
							                @Html.Partial("../Tabelle/inevidenza")
							                @Html.Partial("../Tabelle/lemierichieste")
             }
             else
             {
                        @Html.Partial("_cics_chiuso")
             
             }
			
                        </div>
						<div class="col-sm-4">
                           
					 		@Html.Partial("../Home/today")
                          
                            @if (!myRaiHelper.UtenteHelper.GappChiuso())
                            {
                                  @Html.Partial("../Home/_timbraturetoday")

                                if (myRaiHelper.UtenteHelper.GetQuadratura() == myRaiCommonModel.Quadratura.Settimanale)
                                {
                                    @Html.Partial("../Tabelle/dettagliosettimanalewidget")
                                }
                            }
						</div>
					</div>
				</div>
			</main>
        <!-- FINE Main Container -->


    </div>
    <!-- FINE Page Container -->

    <!-- Partial view per modali -->
    @Html.Partial("../Richieste/_nuovarichiesta", Model.Raggruppamenti)

    @Html.Partial("../Richieste/richiestapermesso")
    @Html.Partial("../Richieste/_motivoRifiuto")
    @Html.Partial("../Richieste/_validarifiutatutti")
    @Html.Partial("../Richieste/richiestamaggiorazione")

    @Html.Partial("../Richieste/_popupInizialePreSelezione")


    <div class="modal fade" id="giornata-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    </div>
    <div class="modal fade" id="richiesta-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    </div>

    <!-- FINE Partial view per modali -->

    <div id="pg-visible-xs" class="visible-xs"></div>
    <div id="pg-visible-sm" class="visible-sm"></div>
    <div id="pg-visible-md" class="visible-md"></div>
    <div id="pg-visible-lg" class="visible-lg"></div>
   
 <div class="modal fade right" id="doc-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-dialog-popin modal-lg">
                        <div class="block-header bg-cdf" style="height: 0px; padding:0px;">
                            <ul class="block-options visible-xs">
                                <li>
                                    <button data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                                </li>
                            </ul>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-content" id="pdfcontent" style="text-align :center">
                            <iframe style="width:100%;margin:8px;border:none" id="docframe">

                            </iframe>
                        </div>

                    </div>

                </div>
