@model string

@{
    var loremLabel = Model;
}

@using (Html.BeginPanel(myRaiHelper.PanelType.PanelNoPadding, "Label", true))
{
    <table class="table rai-table rai-table-vcenter">
        <tbody>
            <tr>
                <td><span class="rai-label">@loremLabel</span></td>
                <td>rai-label</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="rai-label rai-label-success">@loremLabel</span></td>
                <td>rai-label rai-label-success</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="rai-label rai-label-warning">@loremLabel</span></td>
                <td>rai-label rai-label-warning</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="rai-label rai-label-error">@loremLabel</span></td>
                <td>rai-label rai-label-error</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="rai-label rai-label-interactive">@loremLabel</span></td>
                <td>rai-label rai-label-interactive</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="rai-label disable">@loremLabel</span></td>
                <td>rai-label disable</td>
                <td></td>
            </tr>
        </tbody>
    </table>
}