@using myRaiCommonModel
@model CercaDipendenteVM

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Cerca dipendente", false))
        {
            var formId = "form-ricerca-dipendete-modal";

            using (Ajax.BeginForm("RicercaDipendenteInModal", "Ricerca", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnBegin = "$('#CercaDipendenti-risultati-body').addClass('rai-loader')",
                OnSuccess = "$('#CercaDipendenti-risultati-body').removeClass('rai-loader')",
                UpdateTargetId = "CercaDipendenti-risultati-body",
            }, new { id = formId, @class = "", role = "search" }))
            {
                @Html.HiddenFor(m => m.Action)
                @Html.HiddenFor(m => m.ActionText)
                @Html.HiddenFor(m => m.Provenienza)

                <div class="form-group">
                    <div class="row push-10">
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.Filtri.NominativoDipendente, "Nominativo", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.Filtri.NominativoDipendente, new { @class = formId + " form-control form-control-value", style = "width: 100%", placeholder = "Nominativo" })
                        </div>
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.Filtri.Matricola, "Matricola", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.Filtri.Matricola, new { @class = formId + " form-control form-control-value", style = "width: 100%", placeholder = "Inserisci la matricola" })
                        </div>
                    </div>
                    <div class="row push-10 push-20-t">
                        <div class="col-sm-12">
                            <div class="rai-checkbox">
                                @Html.CheckBoxFor(m=>m.Filtri.EscludiCessati)
                                @Html.LabelFor(m=>m.Filtri.EscludiCessati, "Escludi cessati")
                            </div>
                        </div>
                    </div>
                    <div class="row push-10 form-button">
                        <div class="col-sm-12">
                            <div class="rai-btn-fill">
                                <input type="reset" id="cercaDipendente_btnAzzera" class="btn rai-btn-secondary" title="Azzera" value="Azzera" />
                                <input type="submit" id="cercaDipendente_btnCerca" class="btn btn-primary" title="Cerca" value="Cerca" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@Html.Partial("~/Views/CercaDipendente/_tableResults.cshtml", Model)

