@using myRaiCommonModel
@model CercaDipendenteModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Cerca dipendente", true))
        {
            var formId = "form-ricerca-dipendete";

            using (Ajax.BeginForm("RicercaDipendente", "Ricerca", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnBegin = "apriModale('modal-ricerca-dipendente');$('#modal-ricerca-dipendente-body').addClass('rai-loader');",
                UpdateTargetId = "modal-ricerca-dipendente-body",
                OnSuccess = "$('#modal-ricerca-dipendente-body').removeClass('rai-loader');"
            }, new { id = formId, @class = "", role = "search" }))
            {
                @Html.HiddenFor(m => m.Provenienza);
                @Html.HiddenFor(m => m.Action);
                @Html.HiddenFor(m => m.ActionText);
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 push-10">
                            @Html.LabelFor(model => model.Matricola, "Matricola", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.Matricola, new { @class = formId + " form-control form-control-value", style = "width: 100%", placeholder = "Inserisci la matricola" })
                        </div>
                        <div class="col-xs-12 push-10">
                            @Html.LabelFor(model => model.NominativoDipendente, "Nominativo", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.NominativoDipendente, new { @class = formId + " form-control form-control-value", style = "width: 100%", placeholder = "Nominativo" })
                        </div>
                    </div>
                    <div class="row push-10 push-20-t">
                        <div class="col-sm-12">
                            <div class="rai-checkbox">
                                @Html.CheckBoxFor(m => m.EscludiCessati)
                                <label>Escludi cessati</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-button">
                        <div class="col-sm-12">
                            <div class="rai-btn-fill">
                                <input type="submit" id="btnCerca" class="btn btn-primary" title="Cerca" value="Cerca" data-target="#modal-dettaglio-direzione" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



@section afterjs{
    <script type="text/javascript">

    </script>
}