@using myRaiCommonModel
@using myRaiHelper
@model List<ExportDipendenti>

@using (Html.BeginModal("Elenco colonne"))
{
    using (Html.BeginPanel(PanelType.NoHeader, "", false))
    {
        <div class="row">
            <form id="form_Esporta">
                <div style="overflow-x:auto;overflow-y:auto;max-height:430px;">
                    <div class="col-sm-12 push-10">
                        <label>Seleziona le colonne che andranno a comporre il file</label>
                    </div>
                    @foreach (var item in Model)

                    {
                        <div class="col-sm-12">
                            <div class="rai-checkbox">
                                <input type="checkbox" id="@item.CodCampo" value="@item.CodCampo" checked="@item.CheckDefault" />
                                <label for="check1">@item.DesCampo</label>
                            </div>
                        </div>

                    }

                </div>
                <div class="row push-20-t">
                    <div class="col-sm-12 rai-btn-fill">
                        <button class="btn rai-btn-primary" id="idEsporta" type="button" onclick="SearchExport(this)" data-export-url="@Url.Action("EsportaResult", "Ricerca")">Esporta</button>
                    </div>
                </div>

            </form>
        </div>
    }
}
<script>
    $("input").change(function () {
       var campi = $("#form_Esporta input:checked");
        if (campi.length == 0) {
            $("#idEsporta").prop("disabled", true);
        }
        else {
            $("#idEsporta").prop("disabled", false);
        }
    });
</script>