
@model myRaiCommonModel.MatApprovazioniPianificazioniModel

<table id="table-matcong" class="js-table-sections table  rai-table" role="grid">
    @if (!Model.Sedi.Any())
    {
        @Html.Partial("_nodati")
        return;
    }

    @foreach (var sede in Model.Sedi)
    {
        <tbody id="mat-cong-@sede.CodiceSede" class="js-table-sections-header">
            <tr role="row" tabindex="0">
                <td style="padding-top: 16px;" class="interactive-primary-color text-center">
                    <i class="fa fa-angle-right"></i>
                </td>
                <td colspan="5" class="no-padding-left">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 no-padding-left">

                            <h5>
                                <span class="sede-name rai-font-md-bold">@sede.CodiceSede</span>
                                <span class="rai-font-md"> - @sede.DescrizioneSede</span>
                            </h5>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-right" style="padding-top: 10px" id="div-tot-matcong-@sede.CodiceSede">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

        if (sede.Reparti.Any(x => string.IsNullOrWhiteSpace(x.CodiceReparto)))
        {
            var r = sede.Reparti.Where(x => String.IsNullOrWhiteSpace(x.CodiceReparto)).FirstOrDefault();

            <tbody class="tbodydata" id="tbody-mat-cong-@sede.CodiceSede">
                <tr>
                    <td></td>
                    <td class="rai-font-md-neutral-bold">Nominativo</td>
                    <td class="rai-font-md-neutral-bold">Richiesta</td>
                    <td class="rai-font-md-neutral-bold">Giorni</td>
                    <td class="rai-font-md-neutral-bold">Periodo congedo</td>
                    <td class="rai-font-md-neutral-bold">Azioni</td>
                </tr>
                @foreach (var ric in r.Richieste)
                {
                    @Html.Partial("~/Views/approvazione/maternitaCongedi/_matCongDaApprovareRow.cshtml", ric)
                }
            </tbody>
        }


        if (sede.Reparti.Any(x => !string.IsNullOrWhiteSpace(x.CodiceReparto)))
        {
            <tbody class="tbodydata" id="tbody-mat-cong-@sede.CodiceSede">
                <tr>
                    <td colspan="5" class="bg-neutrals-xl-10">
                        @foreach (var r in sede.Reparti)
                        {
                            <table class="js-table-sections table  rai-table">
                                <tbody id="@r.CodiceReparto" class="js-table-sections-header">
                                    <tr role="row" tabindex="0">
                                        <td style="padding-top: 16px;width:60px;padding-left:40px" class="interactive-primary-color text-center">
                                            <i class="fa fa-angle-right"></i>
                                        </td>
                                        <td colspan="5" style="padding-left:25px">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-8 no-padding-left">

                                                    <h5>
                                                        <span class="sede-name rai-font-md-bold">@r.CodiceReparto</span>
                                                        <span class="rai-font-md"> - @r.DescrizioneReparto</span>
                                                    </h5>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 text-right" style="padding-top: 10px" id="div-tot-matcong-@sede.CodiceSede">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody class="tbodydata">
                                    <tr>
                                        <td></td>
                                        <td class="rai-font-md-neutral-bold">Nominativo</td>
                                        <td class="rai-font-md-neutral-bold">Richiesta</td>
                                        <td class="rai-font-md-neutral-bold">Giorni</td>
                                        <td class="rai-font-md-neutral-bold">Periodo congedo</td>
                                        <td class="rai-font-md-neutral-bold">Azioni</td>
                                    </tr>
                                    @foreach (var ric in r.Richieste)
                                    {
                                        @Html.Partial("~/Views/approvazione/maternitaCongedi/_matCongDaApprovareRow.cshtml", ric)
                                    }

                                </tbody>
                            </table>
                        }

                    </td>
                </tr>
            </tbody>
        }

    }

</table>
