@model myRaiData.Incentivi.XR_MAT_RICHIESTE

<tr>
    <td></td>
    <td class="bg-neutrals-xl-10" style="padding: 15px;  ">
        <div class="rai-profile-widget">
            <div class="rai-profile-image">
                <img src="@myRai.Business.CommonManager.GetUrlFotoExternal(Model.MATRICOLA)">
            </div>
            <div class="rai-profile-info">

                <span class="rai-font-md-bold ">@Model.NOMINATIVO</span><br />
                <span class="rai-font-sm">Matricola @Model.MATRICOLA</span>
            </div>
        </div>
    </td>
    <td style="vertical-align:middle">
        <span class="rai-font-md-bold">@Model.XR_MAT_CATEGORIE.ECCEZIONE</span><br />
        <span class="rai-font-sm">@Model.XR_MAT_CATEGORIE.TITOLO</span>
        <br />
        <span>@Model.DATA_INVIO_RICHIESTA.ToString("dd/MM/yyyy")</span>
    </td>
    <td style="vertical-align:middle;text-align:center">
        @{
            decimal gg = Model.XR_MAT_PIANIFICAZIONI.OrderByDescending(x => x.DATA_INSERIMENTO).First().XR_MAT_GIORNI_CONGEDO.Sum(x => x.FRUIZIONE_DECIMAL);
        }
        <span>
            @*Giorni pianificati @(gg == (int)gg ? (int)Model.XR_MAT_PIANIFICAZIONI.OrderByDescending(x => x.DATA_INSERIMENTO).First().XR_MAT_GIORNI_CONGEDO.Sum(x => x.FRUIZIONE_DECIMAL) :
                Model.XR_MAT_PIANIFICAZIONI.OrderByDescending(x => x.DATA_INSERIMENTO).First().XR_MAT_GIORNI_CONGEDO.Sum(x => x.FRUIZIONE_DECIMAL)
                            ) su*@

            @Model.NUMERO_GIORNI_GIUSTIFICATIVO
        </span>
    </td>
    <td style="vertical-align:middle">
        @if (Model.INIZIO_GIUSTIFICATIVO != null)
        {
            @(((DateTime)Model.INIZIO_GIUSTIFICATIVO).ToString("dd/MM/yyyy") + " - " + ((DateTime)Model.FINE_GIUSTIFICATIVO).ToString("dd/MM/yyyy"))
        }

    </td>
    <td style="vertical-align:middle">
        <button class="btn rai-btn-small"
                onclick="ShowPianificazione(@Model.ID ,true )"
                aria-label="Scegli file" title="Vedi pianificazione" style="min-width:80px;">
            Visualizza
        </button>
    </td>
</tr>
