@model myRai.Models.cvModels.cvModel.AreeInteresse



<form class="js-form2 form-horizontal form-modificaareainteresse" action="/CurriculumVitae/InsertAreeInteresse" method="post">
   @{
       myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
   }
    @Html.HiddenFor(m => m._matricola)
    @Html.HiddenFor(m => m._prog)
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
              <div class=" block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                <h3 class="block-title">Aree e profili di interesse</h3>
              </div>
              <div class="modal-body" id="edit-content">
    <div class="form-group">
        <!-- Composizione della FORM -->
    <div class="col-md-12">
        <div class="push-10">
            <label for="_codAreaOrg">Area</label>
            <select class="js-select2 form-control input-validation-error" data-val="true" data-val-required="Campo obbligatorio" id="_codAreaOrg" name="_codAreaOrg" style="width: 100%" onchange='FillVDServizioByCodServizio($("#_codAreaOrg option:selected").val(), "_codServizio", "@Model._codServizio")'>
                <option></option> @* serve per il placeholder *@
                @{
                    var areaOrg = cvEnt.DAreaOrg;
                    foreach (var elem in areaOrg)
                    {
                        string selectAreaOrg="";
                        if (elem.CodAreaOrg == Model._codAreaOrg)
                        {
                            selectAreaOrg = "selected=\"selected\"";
                        }
                        <option value="@elem.CodAreaOrg" @selectAreaOrg>@elem.DesAreaOrg</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(m => m._codAreaOrg)
        </div>
        <div class="push-10">
            <label for="_codServizio">Direzione</label>
            <select class="js-select2 form-control input-validation-error" data-val="true" data-val-required="Campo obbligatorio"" id="_codServizio" name="_codServizio" style="width: 100%">
                <option></option> @* serve per il placeholder *@
            </select>
            @Html.ValidationMessageFor(m => m._codServizio)
        </div>
        <div class="push-20">
            <label for="_areeIntDispo">Note</label>
            <textarea id="_areeIntDispo" name="_areeIntDispo" rows="5" class="form-control" style="width: 100%" placeholder="Descrivere un ambito aziendale di interesse utilizzando al massimo 250 caratteri">@Model._areeIntDispo</textarea>
            @Html.ValidationMessageFor(m => m._areeIntDispo)
        </div>
        <div class="push-10-t push-10">
            <label for="_codTipoDispo">Disponibilità allo svolgimento di mansioni diverse da quelle attualmente svolte,
                nel rispetto delle competenze professionali acquisite
            </label>
            <select class="js-select2 form-control" id="_codTipoDispo" name="_codTipoDispo" style="width: 100%">
                <option></option> @* serve per il placeholder *@
                @{
                    var tipoDispo = cvEnt.DTipoDispo;
                    string selectedTipoDispo = "";

                    foreach (var elem in tipoDispo)
                    {
                        if (elem.CodTipoDispo == Model._codTipoDispo){
                            selectedTipoDispo = "selected=\"selected\"";
                        }
                        <option value="@elem.CodTipoDispo" @selectedTipoDispo>@elem.DescTipoDispo</option>
                    }
                }
            </select>
        </div>
        <div class="push-10">
            <label for="_profIntDispo">Indicare eventuali profili di interesse</label>
            <textarea id="_profIntDispo" name="_profIntDispo" rows="5" class="form-control" style="width: 100%" placeholder="Descrivere profilo/i di interesse utilizzando al massimo 250 caratteri">@Model._profIntDispo</textarea>
            @Html.ValidationMessageFor(m => m._profIntDispo)
        </div>
        <div class="push-20">
            <div class="col-md-8">
                <label for="_flagEsteroDispo">Se disponibile a svolgere la propria attività anche all'estero
                                              in trasferta/trasferimento selezionare il check</label>
            </div>
            <div class="col-md-4">
                <label class=" css-input css-checkbox css-checkbox-success">
                    @{
                        string checkedFlag = "";
                        if (Model._flagEsteroDispo == "S")
                        {
                            checkedFlag = "checked=\"checked\"";
                        }     
                    }
                    <input type="checkbox" class="" id="_flagEsteroDispo" name="_flagEsteroDispo" value="S" @checkedFlag/><span></span>
                </label>
            </div>
        </div>
        <div class="push-20-t">
            <label for="_codAreaGeo">Indicare presso quale area geografica si è disponibili a svolgere 
                la propria attività
            </label>
            <select class="js-select2 form-control" id="_codAreaGeo" name="_codAreaGeo" style="width: 100%">
                <option></option> @* serve per il placeholder *@
                @{
                    var areaGeo = cvEnt.DAreaGeoGio;
                    string selectedAreaGeo = "";
                    foreach (var elem in areaGeo)
                    {
                        if (elem.CodAreaGeoGio == Model._codAreaGeo)
                        {
                            selectedAreaGeo = "selected=\"selected\"";
                        }
                        <option value="@elem.CodAreaGeoGio" @selectedAreaGeo>@elem.DesAreaGeoGio</option>
                    }
                }
            </select>
        </div>
    </div>
        <!-- fine form -->
    </div> <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
              </div>
                  <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-warning"  data-dismiss="modal" type="button"><i class="fa fa-arrow-circle-o-left"></i> Indietro</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick="submit_modificaAreeInteresse()"><i class="fa fa-check-circle-o"></i> Invia</button> 
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span onclick="ConfermaCancellazione_AreeInteresse('@Model._matricola', @Model._prog)">Elimina</span></button>
                        </div>
                    </div>
                  </div>
          </div>
        </div>

    </div>
</form>

