@using myRaiHelper;
@using myRaiCommonModel.DocFirmaModels;
@using MVCProject.Custom_Helpers;

@model MeseAnnoModel

<div>
    <table style="width:100%">
        <tr>
            <td>
                <button onclick="ChangeMonth(@Model.AllowPrevious)"
                        class="btn btn-default @(Model.AllowPrevious==null?"disable":"")" type="button">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </td>
            <td style="font-size:18px" class="text-center">  @Model.Etichetta</td>
            <td class="text-right">
                <button onclick="ChangeMonth(@Model.AllowNext)"
                        class="btn btn-default @(Model.AllowNext==null?"disable":"")" type="button">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </td>
        </tr>
    </table>
    <input type="hidden" id="meseselez" value="@Model.Mese" />
    <input type="hidden" id="annoselez" value="@Model.Anno" />
</div>