@using myRaiData.Incentivi
@model List<XR_TB_SERVIZIO>

<table class="table rai-table rai-table-vcenter">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Sigla</th>
            <th>Descrizione estesa</th>
            <th style="width:100px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                @Html.Partial("_NoDati")
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@item.COD_SERVIZIO</span>
                    </td>
                    <td>
                        <span>@item.DES_SERVIZIO</span>
                    </td>
                    <td>
                        <span>@item.COD_SIGLA</span>
                    </td>
                    <td>
                        @if (item.RecEsteso != null)
                        {
                            string desEstesa = item.RecEsteso.DES_ESTESA;
                            <span>@desEstesa</span>
                        }
                    </td>
                    <td>
                        <button class="btn rai-btn-small full-width" onclick="ServizioModifica('@item.COD_SERVIZIO')">Modifica</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
