@using myRaiHelper;
@model myRaiCommonModel.ProfiloPersonaleModel

<script src="~/assets/js/plugins/jquery-validation/additional-methods.min.js"></script>

@{
    string cellulare = "";
}

@if (Model.Cellulare != null)

{


    cellulare = Model.Cellulare.numero;

}

@using (Html.BeginModal("Modifica Recapito"))
{
    <div class="row">
        <div class="col-sm-12">

            @using (Html.BeginPanel(PanelType.Panel, "Cellulare", false))
            {

                using (Html.BeginForm("ModificaCellulareDB", "ProfiloPersonale", FormMethod.Post, new { @id = "form-nuovo-cellulare" }))
                {




            <div class="form-group rai">




                <div class="row push-20">
                    <div class="col-sm-12 col-xs-12 col-lg-4">
                        <label class="rai-caption">Prefisso <font color="#d2322d">*</font></label>
                        @Html.TextBoxFor(m => m.Recapitidb.DES_PREFISSO, new
                   {
                       @class = "rai form-control",
                       id= "cellprefix"
                   })
                        @Html.ValidationMessageFor(m => m.Recapitidb.DES_PREFISSO)
                    </div>

                    <div class="col-sm-12 col-xs-12 col-lg-8">
                        @Html.LabelForRequiredObbl(m => m.Recapitidb.DES_CELLULARE, "Numero", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.Recapitidb.DES_CELLULARE, new { @class = "rai form-control", id = "cellnum", onkeyup = "checkInputCell()" })
                        @Html.ValidationMessageFor(m => m.Recapitidb.DES_CELLULARE)

                    </div>
                </div>

                <div class="row push-20">

                    <div id="ugualecellulare" class="field-validation-error col-sm-12" style="display:none;">Attenzione: il numero inserito è già in uso.</div>

                    <div id="cellulareform" class="col-sm-12" cell="@cellulare" style="display:none;"></div>
                </div>

                <div class="row push-20">

                    <div class="col-sm-4">

                        <label class="rai-caption">Tipologia</label>


                        <div class="rai-checkbox">
                            <input type="checkbox" id="flag-cell-aziendale" value="02" name="CellAziendale" />
                            <input type="hidden" value="00" name="CellAziendale" />
                            <label class="rai-caption" for="flag-cell-aziendale" data-toggle="tooltip" title="Selezionare solo nel caso in cui il numero sia aziendale">Aziendale</label>


                        </div>



                    </div>


                </div>








                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-font-md">
                            Compilando il modulo si dichiara di essere intestatario dei rapporti qui indicati e di essere a conoscenza che, salvo diversa e tempestiva indicazione di diverse coordinate bancarie, eventuali competenze arretrate (nonché le indennità di fine rapporto, qualora lavoratore a tempo determinato) saranno accreditate sul conto già utilizzato per l’accredito dello stipendio.
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-font-md">
                            In merito alle tempistiche necessarie al fine di registrare una modifica relativa a dati bancari, è consigliabile mantenere temporaneamente attivo il vecchio codice iban in quanto non si assicura già per il mese corrente l’accredito sulle nuove coordinate bancarie.
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-font-md">
                            Attenzione: in caso di conto <b>vincolato</b>, è propria responsabilità consegnare all’Ufficio di competenza la necessaria modulistica relativa alle coordinate bancarie dichiarate.
                        </label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 text-left" style="margin-top:30px">
                        <div class="rai-btn-fill">
                            <button onclick="ModificaCellulareDB()" type="button" class="btn rai-btn-primary" id="submitIban" disabled>Salva i dati </button>
                        </div>
                    </div>

                </div>
            </div>


                }
            }

        </div>
    </div>

}



<script>
    InitDatePicker();
    $.validator.unobtrusive.parse(document);

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

