@model myRaiCommonModel.cvModels.cvModel.Languages

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
    int i;
}

@using (Html.BeginModal("Modifica Auto valutazione competenze linguistiche"))
{
    using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dettaglio", false))
    {
        <form class="form-modificalanguages" id="form-modificalanguages" novalidate="novalidate" action="/CV_Online/" method="post">
            @Html.HiddenFor(m => m._codLinguaLiv, new { id = "_codLinguaLiv" })
            @Html.HiddenFor(m => m._matricola)
            <div class="rai form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="_codLingua" class="titleElements rai-caption">Lingua</label>
                        <label class="rai form-control ">@Model._descLingua.Substring(0, 1).ToUpper()@Model._descLingua.Substring(1, Model._descLingua.Length - 1).ToLower()</label>
                        @Html.HiddenFor(m => m._codLingua)
                        @Html.ValidationMessageFor(m => m._codLingua)
                    </div>
                    <div class="col-md-6">
                        <div class="rai-checkbox push-20-t">
                            <input type="checkbox" name="_setMadrelingua" id="_setMadrelingua" value="09" onchange="CheckMadrelingua('form-modificalanguages')" @(Model._codLinguaLiv == "09" ? "checked" : "") />
                            <label for="_setMadrelingua" class="titleElements rai-caption">Madrelingua</label>
                        </div>
                    </div>
                </div>

                @using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Autovalutazione"))
                {
                    <div id="scelta_livelli">


                        <div class="row push-20-t">
                            <div class="col-md-12">
                                <i class="rai-font-lg">Comprensione</i>
                            </div>
                        </div>


                        <div class="row push-5-t">
                            <div class="col-sm-12">
                                @Html.LabelForRequiredObbl(m => m._livAscolto, "Ascolto", new { @class="titleElements rai-caption requiredobbl" })
                                @Html.ValidationMessageFor(m => m._livAscolto)
                            </div>
                        </div>
                        <div class="row">
                            @{
                                var ascolto = (cvEnt.DAutovalutLingua.Where(m => ((m.Livello == "Comprensione") && (m.SottoLivello == "Ascolto")))).OrderBy(m => m.CodLivello);
                                i = 0;
                                foreach (var elem in ascolto)
                                {
                                    string selected = "";
                                    if (Model._livAscolto == elem.CodLivello)
                                    {
                                        selected = "checked=\"checked\"";
                                    }
                                    string first_element_class = "";

                                    <div class="col-md-2">
                                        <div class="rai-radio">
                                            <input type="radio" name="_livAscolto" id="ascolto-@i" value="@elem.CodLivello" class=" @first_element_class" @selected /> @* data-popover-content = "#myPopover" data-html = "true" data-container = "body" data-placement = "right" data-content = "@elem.Descrizione" data-original-title = "@elem.DescLivello" *@
                                            <label for="ascolto-@i">@elem.CodLivello</label>
                                            <span tabindex="0" id="mpopidascolto-@i" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="@elem.Descrizione" data-original-title="@elem.DescLivello" data-trigger="focus"><i id="" class="fa fa-info-circle"></i></span> @*type="button" class="btn btn-primary m-xs" *@
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>


                        <div class="row push-5-t">
                            <div class="col-md-12">
                                @Html.LabelForRequiredObbl(m => m._livLettura, "Lettura", new { @class="titleElements rai-caption requiredobbl" })
                                @Html.ValidationMessageFor(m => m._livLettura)
                            </div>
                        </div>
                        <div class="row">
                            @{
                                var lettura = (cvEnt.DAutovalutLingua.Where(m => ((m.Livello == "Comprensione") && (m.SottoLivello == "Lettura")))).OrderBy(m => m.CodLivello);
                                i = 0;
                                foreach (var elem in lettura)
                                {
                                    string selected = "";
                                    if (Model._livLettura == elem.CodLivello)
                                    {
                                        selected = "checked=\"checked\"";
                                    }
                                    string first_element_class = "";
                                    <div class="col-md-2">
                                        <div class="rai-radio">
                                            <input type="radio" name="_livLettura" id="lettura-@i" value="@elem.CodLivello" class="@first_element_class" onchange="" @selected />
                                            <label for="lett-@i">@elem.CodLivello</label><span tabindex="0" id="mpopidlettura-@i" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="@elem.Descrizione" data-original-title="@elem.DescLivello" data-trigger="focus"><i id="" class="fa fa-info-circle"></i></span> @*type="button" class="btn btn-primary m-xs" *@
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>

                        <div class="row push-20-t">
                            <div class="col-md-12">
                                <i class="rai-font-lg">Parlato</i>
                            </div>
                        </div>
                        <div class="row push-5-t">
                            <div class="col-sm-12">
                                @Html.LabelForRequiredObbl(m => m._livInterazione, "Interazione", new { @class="titleElements rai-caption requiredobbl" })
                                @Html.ValidationMessageFor(m => m._livInterazione)
                            </div>

                        </div>
                        <div class="row">
                            @{
                                var interazione = (cvEnt.DAutovalutLingua.Where(m => ((m.Livello == "Parlato") && (m.SottoLivello == "Interazione")))).OrderBy(m => m.CodLivello);
                                i = 0;
                                foreach (var elem in interazione)
                                {
                                    string selected = "";
                                    if (Model._livInterazione == elem.CodLivello)
                                    {
                                        selected = "checked=\"checked\"";
                                    }
                                    string first_element_class = "";
                                    <div class="col-md-2">
                                        <div class="rai-radio">
                                            <input type="radio" name="_livInterazione" id="interazione-@i" value="@elem.CodLivello" class="@first_element_class" onchange="" @selected />
                                            <label for="inter-@i">@elem.CodLivello</label><span tabindex="0" id="mpopidinterazione-@i" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="@elem.Descrizione" data-original-title="@elem.DescLivello" data-trigger="focus"><i id="" class="fa fa-info-circle"></i></span> @*type="button" class="btn btn-primary m-xs" *@
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>
                        <div class="row push-5-t">
                            <div class="col-md-12">
                                @Html.LabelForRequiredObbl(m => m._livProdOrale, "Produzione orale", new { @class="titleElements rai-caption requiredobbl" })
                                @Html.ValidationMessageFor(m => m._livProdOrale)
                            </div>
                        </div>
                        <div class="row">
                            @{
                                var prodOrale = (cvEnt.DAutovalutLingua.Where(m => ((m.Livello == "Parlato") && (m.SottoLivello == "Produzione orale")))).OrderBy(m => m.CodLivello);
                                i = 0;
                                foreach (var elem in prodOrale)
                                {
                                    string selected = "";
                                    if (Model._livProdOrale == elem.CodLivello)
                                    {
                                        selected = "checked=\"checked\"";
                                    }
                                    string first_element_class = "";
                                    //if (i == 0)
                                    //{
                                    //    first_element_class = "first-element-checkable";
                                    //}
                                    //else
                                    //{
                                    //    first_element_class = "";
                                    //}
                                    <div class="col-md-2">
                                        <div class="rai-radio">
                                            <input type="radio" name="_livProdOrale" id="prodorale-@i" value="@elem.CodLivello" class="@first_element_class" onchange="" @selected />
                                            <label for="prod-@i">@elem.CodLivello</label><span tabindex="0" id="mpopidprodorale-@i" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="@elem.Descrizione" data-original-title="@elem.DescLivello" data-trigger="focus"><i id="" class="fa fa-info-circle"></i></span> @*type="button" class="btn btn-primary m-xs" *@
                                        </div>
                                    </div>
                                    i++;
                                }

                            }
                        </div>

                        <div class="row push-20-t">
                            <div class="col-md-12">
                                <i class="rai-font-lg">Produzione scritta</i>
                            </div>
                        </div>
                        <div class="row push-5-t">
                            <div class="col-sm-12">
                                @Html.LabelForRequiredObbl(m => m._livScritto, "Scritto", new { @class="titleElements rai-caption requiredobbl" })
                                @Html.ValidationMessageFor(m => m._livScritto)
                            </div>
                        </div>
                        <div class="row">
                            @{
                                var scritto = (cvEnt.DAutovalutLingua.Where(m => ((m.Livello == "Produzione scritta") && (m.SottoLivello == "Scritto")))).OrderBy(m => m.CodLivello);
                                i = 0;
                                foreach (var elem in scritto)
                                {
                                    string selected = "";
                                    if (Model._livScritto == elem.CodLivello)
                                    {
                                        selected = "checked=\"checked\"";
                                    }
                                    string first_element_class = "";


                                    <div class="col-md-2">
                                        <div class="rai-radio">
                                            <input type="radio" name="_livScritto" id="scritto-@i" value="@elem.CodLivello" class="@first_element_class" onchange="" @selected />
                                            <label for="scr-@i">@elem.CodLivello</label><span tabindex="0" id="mpopidscritto-@i" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="@elem.Descrizione" data-original-title="@elem.DescLivello" data-trigger="focus"><i id="" class="fa fa-info-circle"></i></span> @*type="button" class="btn btn-primary m-xs" *@
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>


                        <div class="row push-20-t">
                            <div class="col-md-12">

                                <label for="_note" class="titleElements rai-caption">Note esplicative</label>
                                @Html.TextAreaFor(m => m._note, new { @class = "rai form-control", placeholder = "Inserire a testo libero (max 1000 caratteri)", id = "_note" })

                            </div>
                        </div>
                    </div>
                }




                <div class="row">
                    <div class="col-sm-12">
                        <div class="rai-btn-fill">
                            <button type="button" class="btn rai-btn-secondary"><span onclick="ConfermaCancellazione_Languages('@Model._matricola', '@Model._codLingua')">Elimina</span></button>
                            <button class="btn rai-btn-primary" type="submit" onclick="submit_modificalanguage(this)"><i class=""></i>Salva</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="savedbmodLang" class="alert alert-primary" style="position:fixed;bottom:10px;right:10px;display:none;z-index:100; width:250px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fa fa-refresh fa-spin"></i> Salvataggio in corso
        </div>
    }
}



<script>
     $.validator.unobtrusive.parse($("#form-modificalanguages"));
</script>