
@using myRaiHelper

@model myRaiCommonModel.Gestionale.DelegheContainer

@{
    string boxTitle = "Deleghe";
}

@if (Model != null && (Model.Delegator.Count > 0 || Model.Delegate.Count() > 0))
{
    <section class="rai panel" id="panelDeleghe">
        <header class="panel-heading">
            <h2 class="panel-title">@boxTitle</h2>
            <div class="panel-actions ">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
            </div>
        </header>
        <div class="panel-body no-padding" style="">

            <table class="rai js-table-sections table rai-table rai-table-panel" role="grid">
                @if (Model.Delegate.Count() > 0)
                {
                    bool isAlsoDelegator = Model.Delegator.Count() > 0;

                    <tbody class="rai js-table-sections-header @(isAlsoDelegator?"":"open")">
                        <tr>
                            <td>
                                <label class="rai-font-md">Ricevute</label>
                            </td>
                            <td class="rai-table-td-toggle">
                                @if (isAlsoDelegator)
                                {
                                    <span class="rai-notification">@Model.Delegate.Count()</span>
                                }
                                else
                                {
                                    <span>&nbsp;</span>
                                }
                            </td>
                            <td class="rai-table-td-toggle">
                                @if (isAlsoDelegator)
                                {
                                    <i class="fa fa-chevron-down"></i>
                                }
                                else
                                {
                                    <span class="rai-notification">@Model.Delegate.Count()</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="tbodydata">
                        <tr>
                            <td colspan="3" class="no-padding">
                                <table class="table rai-table rai-table-panel rai-table-vcenter" style="margin-top:0 !important;" role="grid" id="table">
                                    <tbody class="">
                                        @foreach (var item in Model.Delegate)
                                        {

                                            <tr>
                                                <td>
                                                    <div class="rai-group-info">
                                                        <span class="rai-font-md-bold">@item.DELEGANTE.SINTESI1.Nominativo()</span><br />
                                                        <span class="rai-font-sm">@item.DELEGANTE.XR_VAL_CAMPAIGN_SHEET.XR_VAL_CAMPAIGN.NAME - @item.DELEGANTE.XR_VAL_CAMPAIGN_SHEET.DESCRIPTION</span><br />
                                                        <span class="rai-font-sm-neutral">Attiva dal @item.DTA_START.ToString("dd/MM/yyyy") al @item.DTA_END.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                }
                @if (Model.Delegator.Count() > 0)
                {
                    bool isAlsoDelegate = Model.Delegate.Count() > 0;
                    <tbody class="rai js-table-sections-header @(isAlsoDelegate?"":"open")">
                        <tr>
                            <td>
                                <label class="rai-font-md">Emesse</label>
                            </td>
                            <td class="rai-table-td-toggle">
                                @if (isAlsoDelegate)
                                {
                                    <span class="rai-notification">@Model.Delegator.Count()</span>
                                }
                                else
                                {
                                    <span>&nbsp;</span>
                                }
                            </td>
                            <td class="rai-table-td-toggle">
                                @if (isAlsoDelegate)
                                {
                                    <i class="fa fa-chevron-down"></i>
                                }
                                else
                                {
                                    <span class="rai-notification">@Model.Delegator.Count()</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="tbodydata">
                        <tr>
                            <td colspan="3" class="no-padding">
                                <table class="table rai-table rai-table-panel rai-table-vcenter" style="margin-top:0 !important;" role="grid" id="table">
                                    @foreach (var item in Model.Delegator)
                                    {
                                        <tr>
                                            <td>
                                                <div class="rai-group-info">
                                                    <span class="rai-font-md-bold">@item.DELEGATO.SINTESI1.Nominativo()</span><br />
                                                    <span class="rai-font-sm">@item.DELEGATO.XR_VAL_CAMPAIGN_SHEET.XR_VAL_CAMPAIGN.NAME - @item.DELEGATO.XR_VAL_CAMPAIGN_SHEET.DESCRIPTION</span><br />
                                                    <span class="rai-font-sm-neutral">Attiva dal @item.DTA_START.ToString("dd/MM/yyyy") al @item.DTA_END.ToString("dd/MM/yyyy")</span>
                                                </div>
                                            </td>
                                            <td class="rai-table-td-action">
                                                <a href="#" class="btn btn-action-icon" onclick="ValModificaDelega(@item.ID_DELEGATION)"><span class="fa fa-pencil"></span></a>
                                            </td>
                                            <td class="rai-table-td-action">
                                                <a href="#" class="btn btn-action-icon" onclick="ValCancellaDelega(@item.ID_DELEGATION)"><span class="fa fa-trash-o"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </table>

                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        @if (Model.RuoliDelegabili.Count() > 0)
        {
            <div class="panel-footer">
                <div class="rai-btn-fill">
                    <a href="#" class="btn rai-btn-small" onclick="ValCreaDelega()">Crea delega</a>
                </div>
            </div>
        }
    </section>
}
else
{
    if (Model.RuoliDelegabili.Count() > 0)
    {
        <section class="rai panel" id="panelDeleghe">
            <header class="panel-heading">
                <h2 class="panel-title">@boxTitle</h2>
            </header>
            <div class="panel-body">
                <div class="widget-summary  push-10">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h3 class="title" style="word-break: break-word;">Crea una nuova delega</h3>
                        </div>

                    </div>
                </div>
                <div class="summary-footer">
                    <a href="#" class="btn btn-sm rai-btn-small full-width" onclick="ValCreaDelega()">Crea delega</a>
                </div>
            </div>
        </section>
    }
}