@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model myRaiData.MyRai_Profili

<div class="row datapren">
    @Html.HiddenFor( model => model.id )
    <div class="col-sm-5">
        Nome
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor( model => model.nome_profilo , new { @class = "form-control pren-data" , @style = "width:96%" } )
    </div>
</div>
<div class="row datapren">
    <div class="col-sm-5">
        Livello
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor( model => model.livello , new { @class = "form-control pren-data" , @style = "width:96%" } )
    </div>
</div>
<div class="row datapren">
    <div class="col-sm-5">
        Gruppo AD
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor( model => model.gruppo_AD , new { @class = "form-control pren-data" , @style = "width:96%" } )
    </div>
</div>
<div class="row datapren">
    <div class="col-sm-5">
        Matricola
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor( model => model.matricola , new { @class = "form-control pren-data" , @style = "width:96%" } )

    </div>
</div>
<div class="row datapren">
    <div class="col-sm-5">
        Richiede Gapp
    </div>
    <div class="col-sm-7">
        @Html.RaiCheckBoxFor( model => model.richiede_gapp , new { @class = " pren-data" , @style = "height:20px;width:20px" } )

    </div>
</div>
<div class="row datapren">
    <div class="col-sm-5">
        Escludi
    </div>
    <div class="col-sm-7">
        @Html.RaiCheckBoxFor( model => model.escludi_voci , new { @class = "pren-data" , @style = "height:20px;width:20px" } )

    </div>
</div>







<div class="row datapren">
    <div class="col-sm-5">
        &nbsp;
    </div>
    <div class="col-sm-7">
        <input type="submit" value="Salva" class="btn btn-primary" />

    </div>
</div>


