@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model List<myRaiData.MyRai_Profili>

<section class="panel" id="panel-eventi-1">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            <a href="javascript:AggiornaTotaliPren()" class="panel-action panel-action-refresh" id="button-refresh-eventi" type="button" data-toggle="block-option" data-action="refresh_toggle"
               data-refreshurlllll="/notifiche/refreshMieNotifiche" data-parentdiv="panel-docdipendente"
               data-refreshelements="docdipendente" data-refresh-partial
               data-action-mode="demo"></a>

        </div>

        <h2 class="panel-title">Profili presenti</h2>

    </header>



    <div id="eventi" class="block panel-body no-padding">

        <div class="block-content tab-content">

            <table class="js-table-sections table table-hover" id="table-profili">
                <thead>
                <th></th>
                <th>N</th>
                <th>Nome</th>
                <th>Livello</th>
                <th>Gr.AD</th>
                <th>Matricola</th>
                <th>RichGAPP</th>
                <th>Escludi</th>
                <th></th>
                <th></th>
                </thead>

                @foreach ( var item in Model )
                {
                    <tbody class="js-table-sections-header id-@item.id">
                        <tr style="background-color: #f8f8f8;">
                            <td class="fixed-20">
                                @if ( item.MyRai_Profili_Menu.Count > 0 )
                                {
                                    <i class="fa fa-angle-right"></i>
                                }
                            </td>
                            <td>@item.MyRai_Profili_Menu.Count( )</td>
                            <td>@item.nome_profilo</td>
                            <td>@item.livello</td>
                            <td>@item.gruppo_AD</td>
                            <td>@(item.matricola != null ? item.matricola.Replace( "," , " " ) : "")</td>
                            <td>
                                @if ( item.richiede_gapp )
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }

                            </td>
                            <td>
                                @if ( item.escludi_voci )
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }
                            </td>
                            <td>
                                <a class="btn btn-default bg-puls_dash btn-scriv" href="javascript:modProfilo(@item.id)">MOD.</a>
                            </td>
                            <td>
                                <i class="icons icon-trash h4" style="cursor:pointer" onclick="delProfilo(@item.id)">
                                </i>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="id-@item.id">
                        @foreach ( var m in item.MyRai_Profili_Menu )
                        {

                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <b>@m.MyRai_Voci_Menu.Titolo</b>
                                </td>
                                <td colspan="4">
                                    @m.MyRai_Voci_Menu.customView
                                </td>
                            </tr>

                        }

                    </tbody>
                }
            </table>








        </div>
    </div>

</section>
