@model myRai.Models.DematerializzazioneModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div id="page-loaderR"><span class="loaderR"><span class="loader-innerR"></span></span></div>
<section class="body">
    @Html.Partial( "../Shared/header2" , new myRai.Models.NotifichePopupModel( ) )
    <div class="inner-wrapper">
        @Html.Partial( "../Shared/sidebar3" , myRai.Models.Utente.getSidebarModel( ) )
        <section role="main" class="content-body">
            <main id="main-container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-8" id="div-tabella-documenti">
                            @Html.Partial( "~/Views/Dematerializzazione/subpartial/elencoDocumenti_skeleton.cshtml" )
                        </div>
                        <div class="col-sm-4"  id="div-filtri">
                            @Html.Partial( "~/Views/Dematerializzazione/subpartial/filtri_skeleton.cshtml" )
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </div>
</section>

<div id="pg-visible-xs" class="visible-xs"></div>
<div id="pg-visible-sm" class="visible-sm"></div>
<div id="pg-visible-md" class="visible-md"></div>
<div id="pg-visible-lg" class="visible-lg"></div>

@Html.RenderModal( "DEM-dettaglio-richiesta" , size: myRaiHelper.ModalSize.Full )

@section afterjs {
    @Html.Raw( TempData["script"] )

    <script type="text/javascript">
        function Dematerializzazione_OpenDettaglio(idDoc) {
            RaiOpenAsyncModal('modal-DEM-dettaglio-richiesta', '/Dematerializzazione/GetDettaglioRichiesta', { idDoc: idDoc }, null, 'GET');
        }

        $(document).ready(function () {
            $('#div-tabella-documenti').load("/Dematerializzazione/CaricaTabellaDocumenti");
            $('#div-filtri').load("/Dematerializzazione/CaricaFiltri");
        });
    </script>
}