@model myRaiCommonModel.cvModels.cvModel.Certificazioni
@using MVCProject.Custom_Helpers
@Html.HiddenFor(x => x._tipo)
<div class="rai form-group divdettaglio">
    <div class="row" id="tour-pubb">
       
        @* <div class="push-10 col-md-12" data-tourdb="tour-cert-pubb-data"
                @Html.TourAttributes(Model.TourElements, "tour-cert-pubb-data")>
                @Html.LabelForRequiredObbl(m => m._dataPubblica, "Data pubblicazione", new { @class="titleElements rai-caption" })
            <div class="input-group">
                <span class="input-group-addon" style="cursor: pointer" onclick="$('#_dataPubblicazione').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                @Html.TextBoxFor(m => m._dataPubblica, new { @class = "js-datetimepicker rai form-control  start  required-min", data_format = "DD/MM/YYYY", data_locale = "it", id = "_dataPubblicazione", placeholder = "Selezionare una Data", onchange = "inpreq(event);" })

            </div>
            <div>
                @Html.ValidationMessageFor(m => m._dataPubblica, "La data pubblicazione è obbligatoria", new { @class = "field-validation-error hidden" })
            </div>
        </div>*@

       

        @Html.Partial("~/Views/CV_Online/Certificazioni/partials/_dataPubblicazioneSplitted.cshtml",Model)

        
        
        <div class="push-10 col-md-12" data-tourdb="tour-cert-pubb-titolo"
            @Html.TourAttributes(Model.TourElements, "tour-cert-pubb-titolo")>
            @Html.LabelForRequiredObbl(m => m._titoloPubblica, "Titolo", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._titoloPubblica, new { @class = "rai form-control required-min ", style = "width: 100%", placeholder = "Inserisci a testo libero", onkeyup = "inpreq(event);", id = "_titoloPubblica" })
            @Html.ValidationMessageFor(m => m._titoloPubblica, "Il titolo della pubblicazione è obbligatorio", new { @class = "field-validation-error hidden" })
        </div>
        <div class="push-10 col-md-8 ddl" data-tourdb="tour-cert-pubb-tipoPubbCert" @Html.TourAttributes(Model.TourElements,"tour-cert-pubb-tipoPubbCert")>
            @Html.LabelFor(m=>m._tipoPubblicazione,"Tipologia pubblicazione",new {@class="titleElements rai-caption"})
            @Html.DropDownListFor(m => m._tipoPubblicazione, new SelectList(@myRai.Controllers.CV_OnlineController.getTipiPubblicazione(), "Value", "Text", ""), "Selezionare", new { @class = "rai form-control",name="tipiPubblicazione", id="tipiPubblicazione",  onchange = "changePlaceHolder();"})
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-pubb-tipoRif"
            @Html.TourAttributes(Model.TourElements,"tour-cert-pubb-tipoRif")>
            @Html.LabelFor(m=>m._tipoPubRiferimento,"Tipo Contributo",new {@class="titleElements rai-caption"})
            @Html.TextBoxFor(m => m._tipoPubRiferimento, new { @class="rai form-control ", style="width:100%",id="tipoContributo",placeholder="Tipo Contributo",})
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-pubb-riferimento"
            @Html.TourAttributes(Model.TourElements,"tour-cert-pubb-riferimento")>
            @Html.LabelFor(m=>m._riferimentoPub,"Riferimento",new {@class="titleElements rai-caption"})
            @Html.TextBoxFor(m => m._riferimentoPub, new { @class="rai form-control ",style="width:100%",id="riferimento",placeholder="Riferimento"})
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-pubb-editore"
            @Html.TourAttributes(Model.TourElements, "tour-cert-pubb-editore")>
            @Html.LabelFor(m => m._editorePubblica, "Editore", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._editorePubblica, new { @class = "rai form-control ", style = "width: 100%", placeholder = "Inserisci a testo libero" })
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-pubb-url"
            @Html.TourAttributes(Model.TourElements, "tour-cert-pubb-url")>
            @Html.LabelFor(m => m._urlPubblica, "Url", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._urlPubblica, new { @class = "rai form-control url ", style = "width: 100%", placeholder = "Inserisci a testo libero", id = "_urlPubblica", onkeyup = "ctrUrl('_urlPubblica');" })
            @Html.ValidationMessageFor(m => m._urlPubblica, "Url non valido", new { @class = "field-validation-error hidden" })
        </div>

        <div class="frk_info push-10 col-md-12" data-tourdb="tour-cert-pubb-desc"
            @Html.TourAttributes(Model.TourElements, "tour-cert-pubb-desc")>
            @Html.LabelFor(m => m._notePubblica, "Descrizione", new { @class="titleElements rai-caption" })
            @Html.TextAreaFor(m => m._notePubblica, new { @class = "rai form-control", style = "width: 100%", placeholder = "Inserisci a testo libero utilizzando al massimo 1000 caratteri", rows = 5 })
        </div>
    </div>
</div>

<script>

    function changePlaceHolder() {
        var tipo = $("#tipiPubblicazione").val();
        if (tipo == "CARTACEA") {
            $("#tipoContributo").attr("placeholder", "es: libro, saggio, articolo, altro contributo");
            $("#riferimento").attr("placeholder", "ISBN/ISSN");
        }
        if (tipo == "DIGITALE") {
            $("#tipoContributo").attr("placeholder", "es: sito, portale, blog, e-book, altro contributo");
            $("#riferimento").attr("placeholder", "URL");
        }
        if (tipo == "") {
            $("#tipoContributo").attr("placeholder", "Tipo Contributo");
            $("#riferimento").attr("placeholder", "Riferimento");
        }
    }
</script>