@model myRaiCommonModel.cvModels.cvModel.Certificazioni
@using MVCProject.Custom_Helpers 
@Html.HiddenFor(x => x._tipo)
<div class="rai form-group divdettaglio" id="_certificazione">
    <div class="row" id="tour-brevetto">
        <div class="push-10 col-md-6" data-tourdb="tour-cert-brevetto-titolo"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-titolo")>
            @Html.LabelForRequiredObbl(m => m._tipoBrevetto, "Titolo brevetto", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._tipoBrevetto, new { @class = "rai form-control required-min ", style = "width: 100%", placeholder = "Inserire a testo libero", onkeyup = "inpreq(event);", id = "_tipoBrevetto" })
            @Html.ValidationMessageFor(m => m._tipoBrevetto, "Il titolo brevetto è obbligatorio", new { @class = "field-validation-error hidden" })
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-brevetto-numero"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-numero")>
            @Html.LabelForRequiredObbl(m => m._numBrevetto, "Numero brevetto o deposito", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._numBrevetto, new { @class = "rai form-control required-min ", style = "width: 100%", placeholder = "Inserire a testo libero", onkeyup = "inpreq(event);", id = "_numBrevetto" })
            @Html.ValidationMessageFor(m => m._numBrevetto, "Il numero brevetto è obbligatorio", new { @class = "field-validation-error hidden" })
        </div>

        <div class="push-12 col-md-6" data-tourdb="tour-cert-brevetto-ufficio"
            @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-ufficio")>
            @Html.LabelForRequiredObbl(m => m._uffBrevetto, "Ufficio brevetti", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._uffBrevetto, new { @class = "rai form-control required-min ", style = "width: 100%", placeholder = "Inserire a testo libero", id="_uffBrevetto" , onchange = "inpreq(event);"})
            @Html.ValidationMessageFor(m => m._uffBrevetto, "Ufficio Brevetto è obbligatorio", new { @class = "field-validation-error hidden" })
        </div>

        <div class="push-12 col-md-6" data-tourdb="tour-cert-brevetto-inventore"
            @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-inventore")>
            @Html.LabelFor(m => m._inventore, "Inventore/co-inventori", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._inventore, new { @class = "rai form-control ", style = "width: 100%", placeholder = "Inserire a testo libero" })
        </div>
        <div class="clearfix push-12 col-md-12">&nbsp</div>

        <div class="push-10 col-md-6" data-tourdb="tour-cert-brevetto-incorso"
            @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-incorso")>
            <div class="radio-custom radio-primary">
                @Html.RadioButtonFor(m => m._flagRegBrevetto, 0, new { id = "_flagbrevetto" })
                <label class="titleElements rai-caption">Brevetto in corso di registrazione</label>
            </div>
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-brevetto-rilasciato"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-rilasciato")>
            <div class="radio-custom radio-primary">
                @Html.RadioButtonFor(m => m._flagRegBrevetto, 1, new { id = "_flagbrevetto" })
                <label class="titleElements rai-caption">Brevetto rilasciato</label>
            </div>
        </div>

        <div class="push-10 col-md-6" data-tourdb="tour-cert-brevetto-data"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-data")>
            @Html.LabelForRequiredObbl(m => m._dataBrevetto, "Data concessione", new { @class="titleElements rai-caption" })
            <div class="input-group">
                <span class="input-group-addon" style="cursor: pointer" onclick="$('#_dataBrevetto').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                @Html.TextBoxFor(m => m._dataBrevetto, new { @class = "js-datetimepicker rai form-control  start required-min", data_format = "DD/MM/YYYY", data_locale = "it", id = "_dataBrevetto", placeholder = "Selezionare una Data", onchange = "inpreq(event);" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m._dataBrevetto, "La data concessione è obbligatoria", new { @class = "field-validation-error hidden" })
                </div>
                
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-brevetto-url"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-url")>
            @Html.LabelFor(m => m._urlBrevetto, "Url brevetto", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._urlBrevetto, new { @class = "rai form-control url ", style = "width: 100%", placeholder = "Inserire a testo libero", id = "_urlBrevetto", onkeyup = "ctrUrl('_urlBrevetto');" })
            @Html.ValidationMessageFor(m => m._urlBrevetto, "Url non valido", new { @class = "field-validation-error hidden" })
        </div>
        @*   <br />
        <br />*@
        <div class="push-10 col-md-12 frk_info" data-tourdb="tour-cert-brevetto-desc"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-desc")>
            @Html.LabelFor(m => m._noteBrevetto, "Descrizione", new { @class="titleElements rai-caption" })
            @Html.TextAreaFor(m => m._noteBrevetto, new { @class = "rai form-control", style = "width: 100%", placeholder = "Inserire a testo libero utilizzando al massimo 1000 caratteri", rows = 5 })
        </div>
        <div class="push-10 col-md-6">
        </div>
    </div>
</div>

