@model myRaiCommonModel.cvModels.cvModel.Certificazioni
@using MVCProject.Custom_Helpers 
@Html.HiddenFor(x => x._tipo)
<div class="rai form-group divdettaglio" id="_certificazione">
    <div class="row" id="tour-premio">
        <div class="push-10 col-md-6" data-tourdb="tour-cert-premio-data"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-premio-data")>
            @Html.LabelForRequiredObbl(m => m._dataBrevetto, "Data conseguimento", new { @class="titleElements rai-caption" })
            <div class="input-group">
                <span class="input-group-addon" style="cursor: pointer" onclick="$('#_dataBrevetto').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                @Html.TextBoxFor(m => m._dataBrevetto, new { @class = "js-datetimepicker rai form-control  start required-min", data_format = "DD/MM/YYYY", data_locale = "it", id = "_dataBrevetto", placeholder = "Selezionare una Data", onchange = "inpreq(event);" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m._dataBrevetto, "La data di conseguimento è obbligatoria", new { @class = "field-validation-error hidden" })
                </div>
                
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-premio-nome"
            @Html.TourAttributes(Model.TourElements, "tour-cert-premio-nome")>
            @Html.LabelForRequiredObbl(m => m._nomeCertifica, "Nome premio", new { @class="titleElements rai-caption " })
            @Html.TextBoxFor(m => m._nomeCertifica, new { @class = "rai form-control required-min ", style = "width: 100%", placeholder = "Inserire a testo libero", onkeyup = "inpreq(event);", id = "_nomeCertifica" })
            @Html.ValidationMessageFor(m => m._nomeCertifica, "Il nome del premio è obbligatorio", new { @class = "field-validation-error hidden" })
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-premio-ente"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-premio-ente")>
            @Html.LabelFor(m => m._autCertifica, "Ente erogatore", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._autCertifica, new { @class = "rai form-control ", style = "width: 100%", placeholder = "Inserire a testo libero" })
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-cert-premio-url"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-brevetto-url")>
            @Html.LabelFor(m => m._urlBrevetto, "Link approfondimenti", new { @class="titleElements rai-caption" })
            @Html.TextBoxFor(m => m._urlBrevetto, new { @class = "rai form-control url ", style = "width: 100%", placeholder = "Inserire a testo libero", id = "_urlBrevetto", onkeyup = "ctrUrl('_urlBrevetto');" })
            @Html.ValidationMessageFor(m => m._urlBrevetto, "Url non valido", new { @class = "field-validation-error hidden" })
        </div>
        <div class="push-10 col-md-12 frk_info" data-tourdb="tour-cert-premio-desc"
                                @Html.TourAttributes(Model.TourElements, "tour-cert-premio-desc")>
            @Html.LabelFor(m => m._noteCertifica, "Descrizione", new { @class="titleElements rai-caption" })
            @Html.TextAreaFor(m => m._noteCertifica, new { @class = "rai form-control", style = "width: 100%", placeholder = "Inserire a testo libero utilizzando al massimo 1000 caratteri", rows = 5 })
        </div>

    </div>
</div>
