@model myRaiCommonModel.cvModels.cvModel.Certificazioni
@Html.HiddenFor(x => x._tipo)
@using (Html.BeginModal("Modifica Attestati/Certificazioni "))
{
    using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dati Generali", false, new List<myRaiHelper.ActionTemplate>()))
    {
        @*<div class="modal-dialog modal-lg">*@
        <form class="form-modificaCertificazioni" id="form-modificaCertificazioni" novalidate="novalidate" action="/CV_Online/ModificaCertificazioni" method="post">
            @* form-horizontal  mb-lg  *@
            @Html.HiddenFor(x => x._matricola)
            @Html.HiddenFor(x => x._prog)
            @*<div class="modal-content">
                <div class="block-header bg-cdf" style="height: 58px;">
                    @*   block-header bg-primary-dark
                    <ul class="block-options visible-xs">
                        <li>
                            <button data-dismiss="modal" type="button" style="font-weight: 700; font-size: 21px"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                            @* <i class="si si-close"></i>
                        </li>
                    </ul>
                    <h4 class="lead" style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">Modifica AttestatoCertificazione</h4>
                    @* block-title
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>*@
            @*<div class="modal-body row height100" id="edit-content">*@
                <div class="rai form-group divdettaglio">


                <div class="row">
                    <div class="stile-anno">
                        <div class="col-md-12">
                                @Html.LabelForRequiredObbl(x => x._dataIni, "Periodo", new { @class="titleElements rai-caption requiredobbl" })
                                @*<label class="titleElements rai-caption">Periodo</label>*@
                        </div>
                        @{
                            var dataini = "";
                            var datafin = "";
                            if (Model._annoIni != null && Model._meseIni != null)
                            {
                                dataini = new DateTime(Convert.ToInt16(Model._annoIni), Convert.ToInt16(Model._meseIni), 01).ToString();

                            }
                            if (Model._annoFin != null && Model._meseFin != null)
                            {
                                datafin = new DateTime(Convert.ToInt16(Model._annoFin), Convert.ToInt16(Model._meseFin), 01).ToString();

                            }
                        }
                        @Html.HiddenFor(m => m._meseIni, new { id = "_meseIni" })
                        @Html.HiddenFor(m => m._annoIni, new { id = "_annoIni" })
                        @Html.HiddenFor(m => m._meseFin, new { id = "_meseFin" })
                        @Html.HiddenFor(m => m._annoFin, new { id = "_annoFin" })

                        <div class="col-md-6 push-10">
                            @*<label class="frk_dataFine">Dal</label>*@
                            <div class="input-group">

                                <span class="input-group-addon" style="cursor: pointer" onclick="$('#frkModificaCertificazioni #_datainizio').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                                    @Html.TextBoxFor(m => m._dataIni, new { type = "text", @class = "js-datetimepicker  rai form-control anno-inizio start required-min", data_format = "MMMM YYYY", data_locale = "it", id = "_datainizio", placeholder = "Dal", onchange = "javascript:setdatacert(event);", value = "@dataini" })

                                    @* <input type="text" class="js-datetimepicker rai form-control anno-inizio required-min" data-format="MMMM YYYY" data-locale="it" id="_datainizio" name="_datainizio" placeholder="Selezionare Mese/Anno", onchange = "javascript:setdatacert(event);", value = "@dataini"  />*@
                            </div>
                            @Html.ValidationMessageFor(m => m._dataIni, "La data di inizio periodo è obbligatoria", new { @class = "field-validation-error hidden" })

                        </div>
                        <div class="col-md-6 push-10">
                            @*<label class="frk_dataFine">Al</label>*@
                            <div class="input-group">
                                <span class="input-group-addon" style="cursor: pointer" onclick="$('#frkModificaCertificazioni #_datafine').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                                    @*                                    <input type="text" class="js-datetimepicker rai form-control anno-fine required-min" data-format="MMMM YYYY" data-locale="it" id="_datafine" placeholder="Selezionare Mese/Anno" onchange="javascript:setdatacert(event);" value="@datafin"/>*@
                                    @Html.TextBoxFor(m => m._dataFin, new { type = "text", @class = "js-datetimepicker rai form-control  anno-fine required-min", data_format = "MMMM YYYY", data_locale = "it", id = "_datafine", placeholder = "Al", onchange = "javascript:setdatacert(event);", value = "@datafin" })

                            </div>
                            @Html.ValidationMessageFor(m => m._dataFin, "La data fine periodo è obbligatoria", new { @class = "field-validation-error hidden" })
                        </div>
                    </div>
                    <div class="push-10 col-md-6">
                            @Html.LabelForRequiredObbl(m => m._nomeCertifica, "Nome attestato/certificazione", new { @class="titleElements rai-caption" })
                            @Html.TextBoxFor(m => m._nomeCertifica, new { @class = "rai form-control  required-min", style = "width: 100%", placeholder = "Inserire a testo libero", onkeyup = "inpreq(event);", id = "_nomeCertifica" })
                        @Html.ValidationMessageFor(m => m._nomeCertifica, "Il nome attestato è obbligatorio", new { @class = "field-validation-error hidden" })
                    </div>
                    <div class="push-10 col-md-6">
                            @Html.LabelFor(m => m._numLicenza, "Numero licenza/certificato", new { @class="titleElements rai-caption" })
                            @Html.TextBoxFor(m => m._numLicenza, new { @class = "rai form-control  ", style = "width: 100%", placeholder = "Inserire a testo libero", id = "_numLicenza" })
                        @*Validation Message solo per layout*@
                        @Html.ValidationMessageFor(m => m._nomeCertifica, "", new { @class = "field-validation-error hidden" })
                    </div>
                    <div class="push-10 col-md-6">
                            @Html.LabelFor(m => m._autCertifica, "Autorità attestato/certificazione", new { @class="titleElements rai-caption" })
                            @Html.TextBoxFor(m => m._autCertifica, new { @class = "rai form-control ", style = "width: 100%", placeholder = "Inserire a testo libero" })
                    </div>

                    <div class="push-10 col-md-6">
                            @Html.LabelFor(m => m._urlCertifica, "Url attestato/certificazione", new { @class="titleElements rai-caption" })
                            @Html.TextBoxFor(m => m._urlCertifica, new { @class = "rai form-control url ", id = "_urlCertifica", style = "width: 100%", placeholder = "Inserire a testo libero", onkeyup = "ctrUrl('_urlCertifica');" })
                        @Html.ValidationMessageFor(m => m._urlCertifica, "Url non valido", new { @class = "field-validation-error hidden" })
                    </div>
                    <div class="push-10 col-md-12 frk_info" data-tourdb="tour-cert-albo-desc">
                            @Html.LabelFor(m => m._noteCertifica, "Descrizione", new { @class="titleElements rai-caption" })
                            @Html.TextAreaFor(m => m._noteCertifica, new { @class = "rai form-control", style = "width: 100%", placeholder = "Inserire a testo libero utilizzando al massimo 1000 caratteri", rows = 5 })
                    </div>

                </div>




                <div class="row push-20-t">
                    <div class="col-md-12">
                        <div class="rai-btn-fill">
                            <button type="button" class="btn rai-btn-secondary"  onclick="ConfermaCancellazione_Certificazione('@Model._matricola', '@Model._prog')"><span>Elimina</span></button>
                            <button class="btn rai-btn-primary" type="submit" onclick="submit_modificaCertificazione(this,'savedbmodAtt')"><i class=""></i>Salva</button>

                        </div>
                    </div>
                </div>



                <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->

            </div>
        </form>
    <div id="savedbmodAtt" class="alert alert-primary" style="position:fixed;bottom:10px;right:10px;display:none;z-index:100; width:250px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fa fa-refresh fa-spin"></i> Salvataggio in corso
        </div>
        @*</div>*@
    }
}
