@model myRaiCommonModel.cvModels.cvModel.Mappatura

<div class="modal-dialog modal-dialog-popin" style="width:55%;">
    <div class="rai modal-content ">
        @using (Html.BeginModal("Prenotazione"))
        {
            <div id="divMappatura">
            @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, ""))
            {
                if (Model.prenSlot != null)
                {
                    using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Dati prenotazione"))
                    {
                        <div class="rai-table-info">
                    <div class="row">
                        <div class="col-sm-2">
                                    <label>Data:</label>
                        </div>
                        <div class="col-sm-10">
                                    <label>@Model.prenSlot.DataDispo.Value.ToString("dd/MM/yyyy")</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                                    <label>Stanza:</label>
                        </div>
                        <div class="col-sm-10">
                                    <label>@Model.prenStanza.DesStanza</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                                    <label>Orario:</label>
                        </div>
                        <div class="col-sm-10">
                                    <label>@Model.prenSlot.OrarioInizioDispo.Value.ToString("HH:mm") - @Model.prenSlot.OrarioFineDispo.Value.ToString("HH:mm")</label>
                        </div>
                    </div>

            </div>
            }            



                }
                if (Model.prenSlot != null)
            {
                    <div class="row push-10-t">
                <div class="col-sm-12 text-center">
                            <div class="rai-btn-fill">
                                <button class="btn btn-danger" onclick="EliminaPrenotazioneMapp(@Model.Prenotazione.Id_Prenota)">Cancella</button>
                    @if (Model.CanModify)
                    {
                                    <button class="btn rai-btn-primary" onclick="ShowModificaPrenotazione()">Modifica</button>
                    }
                            </div>
                </div>
            </div>
            }
                <div class="" style="@(Model.prenSlot!=null?"display:none;":"")" id="editSlot">
                    <div class="">
                    @if (Model.CanBook)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                    <label class="rai-font-md-neutral text-italic">Selezionare data, stanza e orario</label>
                            </div>
                        </div>
                        @Html.Partial("Mappatura/ElencoSlot", Model)    
                    }
                    else
                    {
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <label class="rai-font-md-neutral">@Model.MessageCannotBook</label>
                                </div>
                            </div>
                            
                    }
                </div>
            </div>
            }
            </div>
        }
    </div>
</div>