@using myRaiHelper
@using myRaiCommonModel
@model AnagraficaModel

@{
    var nominativo = Model.DatiAnagrafici.Nome + " " + Model.DatiAnagrafici.Cognome;
}

@using (Html.BeginModal(nominativo))
{
    if (Model.CodErrorMsg == "404")
    {
        <div class="row">
            <div class="col-xs-12 text-center"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></div>
        </div>
    }
    else if (Model.CodErrorMsg == "401")
    {
        <div class="row">
            <div class="col-xs-12 text-center"><span class="rai-font-md-neutral">Non autorizzato</span></div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginPanel(PanelType.PanelNoPadding, "Scheda dipendente", false))
                {
                    @Html.Partial("Header_DatiDipendente", Model)

                <table class="table rai-table rai-table-vcenter rai-table-panel js-table-sections">
                    <tbody class="js-table-sections-header">
                        <tr>
                            <td class="" style="padding-top:12px;padding-bottom:12px; border-top-width:1px;">
                                <span class="rai-font-lg">Anagrafica</span>
                            </td>
                            <td class="rai-table-td-toggle" style=" border-top-width:1px;">
                                <i class="fa fa-chevron-down"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                @using (Html.BeginPanel(PanelType.NoHeader, ""))
                                {
                                    @Html.Partial("subpartial/Tab_DatiAnagrafici", Model.DatiAnagrafici)
                                }
                            </td>
                        </tr>
                    </tbody>
                    @if (Model.DatiResidenzaDomicilio.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Residenza e domicilio</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    @using (Html.BeginPanel(PanelType.NoHeader, ""))
                                    {
                                        @Html.Partial("subpartial/Tab_DatiResidenzaDomicilio", Model.DatiResidenzaDomicilio)
                                    }
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiTitoliStudio.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Titoli di studio</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    @using (Html.BeginPanel(PanelType.NoHeader, ""))
                                    {
                                        @Html.Partial("subpartial/Tab_DatiTitoliStudio", Model.DatiTitoliStudio)
                                    }
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiBancari.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati bancari</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-bank" class="panel">
                                        <div class="panel-body bg-neutrals-xl-10">
                                            <div id="modal-bank">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiStatiRapporti.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Stati</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0 20px">
                                    @using (Html.BeginPanel(PanelType.NoHeader, ""))
                                    {
                                        @Html.Partial("subpartial/Tab_DatiStatoRapporto", Model.DatiStatiRapporti)
                                    }
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiContratti.IsEnabled || 
                        Model.DatiSedi.IsEnabled || 
                        Model.DatiServizi.IsEnabled || 
                        Model.DatiQualifiche.IsEnabled || 
                        Model.DatiRuoli.IsEnabled || 
                        Model.DatiSezioni.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati contrattuali</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-carriera" class="panel">
                                        <div class="panel-body">
                                            <div id="modal-carriera">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiContenzioso.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati contenzioso</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-contenzioso" class="panel">
                                        <div class="panel-body panel-body-nopadding">
                                            <div id="modal-contenzioso">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiRedditi.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati retribuzione</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-retrib" class="panel">
                                        <div class="panel-body">
                                            <div id="modal-retribuzione">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiCedolini.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati cedolini</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-cedo" class="panel">
                                        <div class="panel-body">
                                            <div id="modal-cedolini">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiSituazioneDebitoria.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Situazione debitoria</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-sitdebit" class="panel">
                                        <div class="panel-body">
                                            <div id="modal-sitdebit">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiFormazione.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati formazione</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-formazione" class="panel">
                                        <div class="panel-body">
                                            <div id="modal-formazione">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiPresenze.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati presenze</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-presenze" class="panel">
                                        <div class="panel-heading" data-panel-toggle="" onclick="UpdateGraficoAssenze()">
                                            <label class="panel-title">Dati presenze</label>
                                            <div class="panel-actions rai-panel-actions">
                                                <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" style="display:none;" aria-label="Dati presenze" aria-expanded="false" onclick="UpdateGraficoAssenze()"></a>
                                                <span class="panel-action rai-uploading"></span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div id="modal-presenze">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DematerializzazioneMieiDocumenti != null && Model.DematerializzazioneMieiDocumenti.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Dati bancari</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-DematerializzazioneMieiDocumenti" class="panel">
                                        <div class="panel-body panel-body-nopadding">
                                            <div id="modal-DematerializzazioneMieiDocumenti">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiTrasferte.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Trasferte</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-cedo" class="panel">
                                        <div class="panel-body panel-body-nopadding">
                                            <div id="modal-trasferte">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                    @if (Model.DatiSpeseProduzione.IsEnabled)
                    {
                        <tbody class="js-table-sections-header">
                            <tr>
                                <td style="padding-top:12px;padding-bottom:12px;">
                                    <span class="rai-font-lg">Spese di produzione</span>
                                </td>
                                <td class="rai-table-td-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="bg-neutrals-xl-10" style="padding:20px 20px 0px 20px">
                                    <section id="panel-modal-cedo" class="panel">
                                        <div class="panel-body panel-body-nopadding">
                                            <div id="modal-speseproduzione">

                                            </div>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                }
            </div>
        </div>
    }
}

@if (!String.IsNullOrWhiteSpace(Model.CodErrorMsg))
{
    return;
}


<script>
    function HideModalLoading(id) {
        $('#panel-' + id + ' .panel-action.rai-uploading').hide();
        $('#panel-' + id + ' .panel-action[data-panel-toggle]').show();
    }
</script>

@if (Model.DatiContratti.IsEnabled || Model.DatiSedi.IsEnabled || Model.DatiServizi.IsEnabled || Model.DatiQualifiche.IsEnabled || Model.DatiRuoli.IsEnabled || Model.DatiSezioni.IsEnabled)
{
    <script>
        RaiUpdateWidget('modal-carriera', '/Anagrafica/Load_DatiContrattuali', 'html', { m: '@Model.Matricola', idPersona: @Model.IdPersona, isNeoMatr: @(Model.IsNeoMatr ? "true" : "false"), fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('carriera') });
    </script>

}
@if (Model.DatiBancari.IsEnabled)
{
    <script>RaiUpdateWidget('modal-bank', '/Anagrafica/Load_DatiIban', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('bank') });</script>
}
@if (Model.DatiSituazioneDebitoria.IsEnabled)
{
    <script>RaiUpdateWidget('modal-sitdebit', '/Anagrafica/Load_SitDebit', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('sitdebit') });</script>
}
@if (Model.DatiRedditi.IsEnabled)
{
    <script>RaiUpdateWidget('modal-retribuzione', '/Anagrafica/Load_DatiRetribuzione', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('retrib') });</script>
}
@if (Model.DatiCedolini.IsEnabled)
{
    <script>RaiUpdateWidget('modal-cedolini', '/Anagrafica/Load_DatiCedolini', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('cedo') });</script>
}
@if (Model.DatiFormazione.IsEnabled)
{
    <script>RaiUpdateWidget('modal-formazione', '/Anagrafica/Load_DatiFormazione', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('formazione') });</script>
}
@if (Model.DatiPresenze.IsEnabled)
{
    <script>RaiUpdateWidget('modal-presenze', '/Anagrafica/Load_DatiPresenze', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('presenze') });</script>
}
@if (Model.DatiContenzioso.IsEnabled)
{
    <script>RaiUpdateWidget('modal-contenzioso', '/Anagrafica/Load_Contenzioso', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('contenzioso') });</script>
}

@if (Model.DematerializzazioneMieiDocumenti != null && Model.DematerializzazioneMieiDocumenti.IsEnabled)
{
    <script>RaiUpdateWidget('modal-DematerializzazioneMieiDocumenti', '/Anagrafica/Load_DematerializzazioneMieiDocumenti', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('DematerializzazioneMieiDocumenti') });</script>
}
@if (Model.DatiTrasferte.IsEnabled)
{
    <script>RaiUpdateWidget('modal-trasferte', '/Anagrafica/Load_DatiTrasferte', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('cedo') });</script>
}
@if (Model.DatiSpeseProduzione.IsEnabled)
{
    <script>RaiUpdateWidget('modal-speseproduzione', '/Anagrafica/Load_DatiSpeseProduzione', 'html', { m: '@Model.Matricola', fromModal: true, customFunc: '@Model.CustomFunc' }, false, function () { HideLoading('cedo') });</script>
}