@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model CestiniModel

<div class="modal-dialog">
    <div class="modal-content" style="overflow-y:hidden;">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-cdf modal-header-fixed" style="height: 58px;">
                <ul class="block-options visible-xs">
                    <li>
                        <button data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                    </li>
                </ul>
                <h4 class="lead">Richiesta cestino</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="row">
                @Html.Hidden( "totric" , Model.richieste.Count )
            </div>
        </div>
        <div class="modal-body row height100 col-sm-12" style="overflow-y:auto;">
            <section class="panel form-wizard" id="w3">
                <div class="panel-body">
                    <div class="wizard-progress" style="margin-top:-3px; margin-left:0px; position:fixed; z-index:100; width:92%; background-color:white;">
                        <div class="steps-progress">
                            <div class="progress-indicator" style="width: 25%;"></div>
                        </div>
                        <ul class="wizard-steps">
                            <li class="">
                                <a href="#w3-selezione" data-toggle="tab"><span>1</span>Selezione</a>
                            </li>
                            <li class="">
                                <a href="#w3-ordine" data-toggle="tab"><span>2</span>Ordine</a>
                            </li>
                            <li class="">
                                <a href="#w3-richieste" data-toggle="tab"><span>3</span>Richieste</a>
                            </li>
                            <li class="completed">
                                <a href="#w3-riepilogo" data-toggle="tab"><span>4</span>Riepilogo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" style="margin-top:70px;">
                        <div id="w3-selezione" class="tab-pane">
                            <div class="col-xs-12">
                                <div style="min-height: 100px;">&nbsp;</div>
                                <ul class="nav nav-justified">
                                    <li class="col-4">
                                        <a id="forMe" class="no-padding tastone icone-raggr block block-link-hover3 text-center" onclick="ShowNextButton('forMe', 1 );" href="#">
                                            <div class="block-content border-b">
                                                <i class="icons icon-user text-gray" style="font-size: 3em; "></i>
                                            </div>
                                            <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                                                <h5><strong>Per me</strong></h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-4">
                                        <a id="forInternal" class="no-padding tastone icone-raggr block block-link-hover3 text-center" onclick="ShowNextButton('forInternal', 2);" href="#">
                                            <div class="block-content border-b">
                                                <i class="icons icon-people text-gray" style="font-size: 3em; "></i>
                                            </div>
                                            <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                                                <h5><strong>Per i colleghi</strong></h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-4">
                                        <a id="forOthers" class="no-padding tastone icone-raggr block block-link-hover3 text-center" onclick="ShowNextButton('forOthers', 3);" href="#">
                                            <div class="block-content border-b">
                                                <i class="icons icon-star fa-5x text-gray" style="font-size: 3em; "></i>
                                            </div>
                                            <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                                                <h5><strong>Per esterni</strong></h5>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div style="min-height: 100px;">&nbsp;</div>
                            </div>
                        </div>
                        <div id="w3-ordine" class="tab-pane">
                            <div class="col-sm-12" id="OrdineContainer"></div>
                        </div>
                        <div id="w3-richieste" class="tab-pane">
                            <div class="col-sm-6" id="RichiesteContainer"></div>
                            <div class="col-sm-6">
                                <div class="row" id="divriepilogo" style="overflow-x:auto;" hidden></div>
                            </div>
                        </div>
                        <div id="w3-riepilogo" class="tab-pane">
                            <div class="row">
                                <div class="row" id="divRiepilogoFinale" hidden></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="block-content block-content-mini block-content-full border-t border-bottom">
                        <div class="row">
                            <div style="text-align: center; margin-bottom: 20px" class="col-xs-12">
                                <button class="cestini previous btn btn-primary hidden large-btn" type="button">PRECEDENTE</button>

                                <button class="cestini wizard-next btn btn-primary disable large-btn" type="button">SUCCESSIVO</button>

                                @*                                <button class="cestini richiesta btn btn-primary hidden large-btn" onclick="javascript:editRequest();" type="button">AGGIUNGI RICHIESTA</button>*@

                                @*                                <button class="cestini modifica btn btn-primary hidden large-btn" onclick="javascript:editRequest();" type="button">MODIFICA RICHIESTA</button>*@

                                @*                                <button class="cestini annulla btn btn-primary hidden large-btn" onclick="javascript:annulla();" type="button">ANNULLA MODIFICA</button>*@

                                @*                                <button class="cestini finish btn btn-primary hidden large-btn" onclick="javascript:salva();" type="button">SALVA</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getDescrizioneTipoCestino(idTipoCestino) {
        var tipi = new Array();
        var result = null;

        @{
            foreach (TipoCestinoEnum item in Enum.GetValues(typeof(TipoCestinoEnum)))
            {
                <text>
                var myObj = new Object();
                myObj.Id = @((int)item);
                myObj.Description = '@(item.GetAmbientValue())';
                tipi.push(myObj);
                </text>
            }
        }

        var finded = false;
        var idx = 0;
        while (!finded && idx < tipi.length)
        {
            if (tipi[idx].Id === idTipoCestino)
            {
                result = tipi[idx].Description;
                finded = true;
            }
            idx++;
        }
        return result;
    }

    function getCodiceTipoCestino(idTipoCestino) {
        var codici = new Array();
        var result = null;

        @{
            foreach (TipoCestinoEnum item in Enum.GetValues(typeof(TipoCestinoEnum)))
            {
                <text>
                var myObj = new Object();
                myObj.Id = @((int)item);
                myObj.Description = '@(item.GetDescription())';
                codici.push(myObj);
                </text>
            }
        }

        var finded = false;
        var idx = 0;
        while (!finded && idx < codici.length)
        {
            if (codici[idx].Id === idTipoCestino)
            {
                result = codici[idx].Description;
                finded = true;
            }
            idx++;
        }
        return result;
    }
</script>