@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model CestiniModel

@Html.Hidden( "ultimo_progressivo" , ( Model.richieste.Count > 0 ) ? Model.richieste[Model.richieste.Count - 1].progressivo : 0 )

<p id="lbNumeroCestini" class="text-right" data-ncestini="@(Model.richieste.Count)">
    @{
        if ( Model.richieste.Count == 1 )
        {
            @("1 cestino")
        }
        else
        {
            @String.Format( "{0} cestini" , Model.richieste.Count )
        }
    }
</p>

@Html.Partial( "~/Views/RaiPlace/Cestini/subpartial/_tabellaRiepilogo.cshtml" )