@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model CestiniModel

<div class="col-xs-12">
    <br />
    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Identificativo:</b> @(Model.ordine.codiceOrdine)
        </div>
        <div class="col-xs-6 text-left">
            <b>Data inserimento: </b>
            @{
                if ( !Model.ordine.dataInserimento.Equals( DateTime.MinValue ) )
                {
                    @Model.ordine.dataInserimento.ToString( "dd/MM/yyyy HH:mm:ss" )
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left"><b>Riferimenti: </b> tel. @(Model.ordine.telefonoReferente)</div>
        <div class="col-xs-6 text-left">
            @*<b>Punto ordinante:</b> @(Model.ordine.puntoOrdinante)*@
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Pasto:</b> @(Model.ordine.tipoPasto.ToUpper( ))
        </div>
        <div class="col-xs-6 text-left"><b>Cespite:</b> @(Model.ordine.luogoConsegna)</div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Data consegna:</b> @(Model.ordine.dataOraPasto.ToString( "dd/MM/yyyy" ))
        </div>
        <div class="col-xs-6 text-left">
            <b>Orario di consegna:</b> @(Model.ordine.dataOraPasto.ToString( "HH:mm:ss" ))
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Luogo di consegna:</b> @(Model.ordine.luogoConsegna)
        </div>
        <div class="col-xs-6 text-left">
            <b>Referente Rai per la consegna:</b> @(Model.ordine.referenteConsegna)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Note:</b>
        </div>
        <div class="col-xs-6 text-left">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-left">
            @(Model.ordine.note)
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Matricola richiedente:</b> @(Model.ordine.matricolaOrdine)
        </div>
        <div class="col-xs-6 text-left">
            <b>Nominativo richiedente:</b> @(Model.ordine.richiedente)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Struttura:</b>  @(Model.ordine.struttura)
        </div>
        <div class="col-xs-6 text-left">
            <b>Telefono:</b>  @(Model.ordine.telefonoRichiedente)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Motivo della richiesta:</b> @(Model.ordine.motivoOrdine)
        </div>
        <div class="col-xs-6 text-left">
            <b></b>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-xs-6 text-left">
            <b>Titolo:</b> @(Model.ordine.titoloProduzione)
        </div>
        <div class="col-xs-6 text-left">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-left">
            <b>UORG: </b> @(Model.ordine.centroCosto)
        </div>
        <div class="col-xs-6 text-left">
        </div>
    </div>
</div>