@model myRaiCommonModel.cvModels.cvModel
@*<div class="col-xs-12 hidden-xs"> 
<div class="push">
    <a href="#btabs-alt-static-settings"  data-toggle="modal" title="" data-target="#modal-popup-iniziale" onclick="PulisciWizard()">

<button class="btn btn-default pull-right" type="button"><i class="fa fa-plus text-study push-5-l push-5-r"></i> <span >Aggiungi</span></button>
        </a>
<div class="btn-group">


</div>
</div>
</div>*@
@if (Model != null)
{
    foreach (var elem in Model.curricula)
    {
<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB">
        <div class="block-content block-content-full text-center"> 
        <div class="">
            <span class="item item-2x  item-circle">
                <i class="di di-@elem._logo.ToLower() text-study fa-3x"></i> <!-- freak - classe + elem._logo -->
            </span>
        </div>
            <div class="height-150">
                 <h3 class="h4 text-study">@elem._descTipoTitolo</h3>
                 <p class="font-s12 text-muted">@elem._descTitolo</p>
                 <p class="font-s12 text-muted">@elem._istituto</p> <!-- Istituto -->
                 <p class="font-s12 text-muted pull-t">@elem._voto&nbsp;/&nbsp;@elem._scala&nbsp;@(elem._lode == 'S' ? "Con Lode" : "")</p> <!-- voto + / + scala + Lode (se 'S' >> Lode) -->
                 <p class="font-s12 text-muted pull-t">anno @(elem._dataFine.Length == 4 ? elem._dataFine : elem._dataFine.Substring(6,4) )</p> <!--freak - substring primi 4 caratteri anno + _dataFine -->
            </div>
            <div class="row text-center">
                <div class="col-xs-6">
                <div class="h3 font-w300"><a  href="#" class="icons icon-pencil h4" data-toggle="modal" data-target="#frkmodal" onclick="CV_Modifica_CV(@myRaiHelper.CommonHelper.TransformDates(Json.Encode(elem)))">
@*                    <button type="button" class="fa fa-edit text-gray" data-toggle="modal" data-target="#frkmodal">
                      Launch demo modal   btn btn-primary  
                    </button>*@
                </a></div>

                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                    @{
                    if (elem._logo.ToLower() == "master"){
                        <a href="#" class="icons icon-trash h4" onclick="ConfermaCancellazione_Studies('@elem._logo.ToLower()', '@elem._matricola', '@elem._prog')"></a>
                    }
                    else{
                        <a href="#" class="icons icon-trash h4" onclick="ConfermaCancellazione_Studies('@elem._logo.ToLower()', '@elem._matricola', '@elem._codTitolo')"></a>
                    }
                    }
                </div>
    
                </div>

            </div>
            </div>

    </div>
</div>
}
}
 
   
<div class="col-xs-12 visible-xs"> 

<div class="push">
     <a href="#btabs-alt-static-settings"  data-toggle="modal" title="" data-target="#modal-popup-iniziale">
<button class="btn btn-default pull-right" type="button"><i class="fa fa-plus text-study push-5-l push-5-r"></i> <span >Aggiungi</span></button>
         </a>
<div class="btn-group">


</div>
</div>
</div>

