@model myRaiCommonModel.cvModels.cvModel
@using MVCProject.Custom_Helpers 
@{
    var lista = Model.impegniEditoriali;
}

<section class="rai panel">
    <header class="panel-heading bg-primary">
        <h2 class="panel-title text-white"><span tabindex="0">Impegni Editoriali</span>
            <span tabindex="0" id="popImpegniEditoriali" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="<ul><li>Gli impegni editoriali vengono inseriti dalle Strutture di Pianificazione (PEM o PS)</li><li>La sezione contiene dati consultabili ma non modificabili. Per eventuali chiarimenti rivolgersi alle suddette strutture.</li><li>Se vuoi dettagliare gli impegni puoi utlizzare la sezione ESPERIENZE PROFESSIONALI.</li></ul>" data-original-title="&nbsp;" data-trigger="focus" aria-label="Informazioni sezione">
                <i id="" class="fa fa-info-circle"></i>
            </span>
        </h2>
        <div class="panel-actions rai-panel-actions">
            <button class="btn-action-icon" tabindex="-1"><i class="fa fa-lock"></i></button>
        </div>
    </header>

    <div class="panel-body panel-body-nopadding-xs ">
        <table class="js-table-sections table table-hover rai-table rai-table-vcenter" role="grid">
            <tbody class="">
            @{
                int index_max;
                int count_lista;
                int i;
                int j = -1;
                int tbIX = -1;
                count_lista = lista.Count;
                if (count_lista < 3)
                {
                    index_max = count_lista;
                }
                else
                {
                    index_max = 3;   
                }
                
              
                for (i = 0; i < index_max; i++)
                {
                    if(i==0){
                        tbIX = 0;
                    }else{
                        tbIX = -1;
                    }
                string data_i = "";
                string data_f = "";

                data_i = (lista[i]._dtDataInizio != "") ? "dal " + lista[i]._dtDataInizio.ToString() : "";
                data_f = (lista[i]._dtDataFine != "") ? " al " + lista[i]._dtDataFine.ToString() : "";
            <tr role="row" onfocus="onFocusRow(this);" tabindex="@tbIX">
                <td class="text-left">
                    <span class="text-bold">@lista[i]._ruolo</span><br />
                    <span class="">@lista[i]._desTitoloDefinit</span><br />
                    <span class="text-italic">@data_i @data_f</span>
                </td>
            </tr>
                }
                
            }    
            </tbody>
        </table>
        
        @if (i < count_lista)
        {
            <div class="collapse" id="collImpegniRai">
                <table class="js-table-sections table table-hover rai-table rai-table-vcenter" role="grid">
                    <tbody>
                        @for (j = i; j < count_lista; j++)
                        {
                            if (j == 0)
                            {
                                tbIX = 0;
                            }
                            else {
                                tbIX = -1;
                            }
                            string data_i = "";
                            string data_f = "";

                            data_i = (lista[j]._dtDataInizio != "") ? "dal " + lista[j]._dtDataInizio.ToString() : "";
                            data_f = (lista[j]._dtDataFine != "") ? " al " + lista[j]._dtDataFine.ToString() : "";
                            <tr role="row" onfocus="onFocusRow(this);" tabindex="@tbIX">
                                <td class="text-left">
                                    <span class="text-bold">@lista[j]._ruolo</span><br />
                                    <span class="">@lista[j]._desTitoloDefinit</span><br />
                                    <span class="text-italic">@data_i @data_f</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            if (j > -1)
            {
                <div class="rai section-bottom">
                    <a id="toggle-impegniRai" data-toggle="collapse" data-target="#collImpegniRai" class="apri-panel" onclick="toggleAngle('toggle-impegniRai')"><i class="fa fa-2x push-5-t font-w600 fa-angle-down text-white"></i></a>    @* onclick="togglePanel('toggle-competenzeRai', 'tabella-espandibile')"  *@
                </div>
            }                
        }
        @if (count_lista == 0)
        {
           @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
        }
    </div>

</section>
<script>
    $('[data-toggle="popover"]').popover({
        template: '<div class="popover"><div class="arrow"></div><div><span style="float:left; width:100%; display:inline;" class="popover-title"></span><span class="customPopOverCloser" style="float:right; width:5%; margin-top: -30px; margin-left: -3px; dispay:inline; cursor:pointer;" aria-hidden="true">x</span></div><div class="clearfix"></div><div class="popover-content"></div></div>',
        html: true
    });
</script>