@model myRaiCommonModel.cvModels.cvModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_layout2.cshtml";
}

    <div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

    <!-- Container di Pagina -->
<section class="body">

    @Html.Partial("../Shared/header2", new myRai.Models.NotifichePopupModel())

    <div class="inner-wrapper">

        @Html.Partial("../Shared/sidebar3", Model.menuSidebar)
        <section role="main" class="content-body">


            <!-- start: page -->
            <!-- Main Container -->

            <!-- FREAK COMMENTATO -->
 @*   <div id="page-container" class="sidebar-l sidebar-mini sidebar-o header-navbar-fixed">
        @Html.Partial("../Shared/sidebar3",Model.menuSidebar)
        @Html.Partial("../Shared/header2",new myRai.Models.NotifichePopupModel())*@
        <!-- Main Container -->
        <main id="main-container">
			<div class="content">
                <div class="col-sm-6 col-lg-3 remove-padding">
         
                        <div class="panel">
                                 @Html.Partial("partials/_navigatore")
                        </div>
                </div>
				<div class="col-sm-6 col-lg-9">
                        @Html.Partial("Allegati/partials/_elencoTotale", Model.allegati)
				</div>
			</div>
			@*</div>*@
		</main>
    </section>
  </div>
        <!-- FINE Main Container -->
@*   <aside id="sidebar-right" class="sidebar-right">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px;">
            </div>
        </div>
        <div class="nano-pane" style="opacity: 1; visibility: visible;">
            <div class="nano-slider" style="height: 583px; transform: translate(0px, 0px);"></div>
        </div>
        
    </aside>*@
    
    </section>
    <!-- FINE Page Container -->
    
    <!-- Partial view per modali -->

    @Html.Partial("Allegati/partials/_popupSelezione", new myRaiCommonModel.cvModels.cvModel.Allegati()) 

    <!-- FINE Partial view per modali -->

    <!-- UIRai Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie e App.js -->

    <script language="javascript">


        //numero eccezioni per chiamata ------------------------------------------------


        $(document).ready(function () {
            //UIRai.initHelpers(['datetimepicker', 'select2']);
            //UIRai.initHelpers('datetimepicker');
            //freak 
            var req = new XMLHttpRequest();
            req.open('GET', 'www.repubblica.it', false);
            req.send(null);
            var headers = req.getAllResponseHeaders().toLowerCase();
            $(".toggle-pathname").hide();
            $("#button-link").on('click', function () {
                if ($("#button-link").hasClass('active')) {
                    $(".toggle-file").show();
                    $(".toggle-pathname").hide();
                    $("#_pathName").val('');
                    $("#_pathName").text('');
                    $(".toggle-submit").attr('disabled', 'disabled');
                }
                else {
                    $(".toggle-file").hide();
                    $(".toggle-pathname").show();
                    $(".toggle-submit").removeAttr('disabled');
                }
            });
            //var headers = req.;
            //alert(headers);
            $("#_fileUpload").fileinput({
                maxFileSize: 100
            });
            //    showUpload: false,
            //    removeClass: "btn btn-danger",
            //    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            //    allowedFileExtensions: ["jpg", "gif", "png", "jpeg"]
            //});
        });


    </script>


