@model List<myRaiCommonModel.cvModels.cvModel.ConoscenzeInformatiche>

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
    //List<myRai.Models.cvModels.cvModel.ConoscenzeInformatiche> conInfo = new List<myRai.Models.cvModels.cvModel.ConoscenzeInformatiche>();

    //conInfo = Model.OrderBy(x => x._codGruppoConInfo).ToList();
    int cont = 0;
    int j = -1;
    

    List<myRai.Data.CurriculumVitae.DGruppoConInfo> gruppoConInfo = new List<myRai.Data.CurriculumVitae.DGruppoConInfo>();
    gruppoConInfo = cvEnt.DGruppoConInfo.Where(x => x.CodGruppoConInfo != "99").OrderBy(z => z.CodGruppoConInfo).ToList();
    
    
    
}


<!-- FREAK - NUOVA IMPOSTAZIONE GRAFICA DEL TAB CONOSCENZE INFORMATICHE -->
<section class="panel" id="Corsi">
    <form id="frm-insertConoscenzeInformatiche" name="frm-insertConoscenzeInformatiche" method="post" action="/CurriculumVitae/EditConoscenzeInformatiche">
        <header class="panel-heading">
		    <div class="panel-actions">
					
		    </div>

		    <h2 class="panel-title">Conoscenze informatiche</h2>
	    </header>
    <div class="block panel-body no-padding" id="evidenzeblock">
        <ul class="nav nav-tabs nav-tabs-alt nav-justified" id="tabContent">
            <li class="active"><a href="#applicativioffice" data-toggle="tab">Applicativi Office</a></li>
            <li><a href="#applicativiaziendali" data-toggle="tab">Applicativi aziendali</a></li>
            <li class=""><a href="#linguaggi" data-toggle="tab">Linguaggi e Sistemi Operativi</a></li>
            <li><a href="#altro" data-toggle="tab">Altro (specificare)</a></li>
        </ul>
    <!-- Composizione delle Tab -->
    <div class="tab-content">
        <!-- Applicativi Office -->
        <div class="tab-pane active" id="applicativioffice">
<table class="js-table-checkable table table-hover">

<tbody>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-12">
                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>

            </div>
                 
        </td>
    </tr>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-4">
                <p class="font-w600 push-10-t">Base</p>

            </div>
                        <div class="col-xs-4">
            <p class="font-w600 push-10-t">Intermedio</p>

            </div>
                        <div class="col-xs-4">
             <p class="font-w600 push-10-t">Avanzato</p>

            </div>
        </td>
    </tr>
    @foreach (var item_codinfo in Model.Where(x => x._codGruppoConInfo == "01"))
    {
        j++;
        string checked_codConInfo = "";
        string checked_codConInfoLiv01 = "";
        string checked_codConInfoLiv02 = "";
        string checked_codConInfoLiv03 = "";

        switch (item_codinfo._codConInfoLiv)
        {
            case "01":
                //checked_codConInfoLiv01 = "checked=\"checked\"";
                checked_codConInfoLiv01 = "checked=\"true\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "02":
                //checked_codConInfoLiv02 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "checked=\"true\"";
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "03":
                //checked_codConInfoLiv03 = "checked=\"checked\"";
                checked_codConInfoLiv03 = "checked=\"true\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv01 = "";
                break;
            default:
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
        }
        
    <tr class="click-radio-check">
        <td class="text-center">
        <input type="hidden" value="@item_codinfo._matricola" name="know[@j]._matricola" />
            <input type="hidden" value="@item_codinfo._codConInfo" name="know[@j]._codConInfo" />
            <label class="css-input css-checkbox css-checkbox-success">
                @if (@item_codinfo._selectedConInfo)
                {
                    checked_codConInfo = "checked=\"checked\"";
                }
            <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo" class="select-check-@j" onchange="controlCheck('select-check-@j', 'radio-item-@j', 'control-radio-@j')" />
                 <span></span>
            @* @Html.RaiCheckBoxFor(x => item_codinfo._selectedConInfo)   *@
               
             </label>
           @* <input name="know['@j']['_altraConInfo']" type="hidden" value="" />*@
        </td>
        <td>
           <p class="font-w600 push-10-t">@item_codinfo._descConInfo</p>
           <em class="text-muted remove-margin-b"></em>
        </td>
        <td class="">
         
            <div class="col-xs-4"> <!--  radio-custom radio-success -->
            @*<label class="push-10-r ">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j" class="push-10-t radio-item-@j control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "01", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
           @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "02", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
            @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "03", new { name="test" })*@
            @*</label>*@

            </div>
        </td>
    </tr> 
    }
</tbody>
</table>
        </div>
        <!-- Applicativi aziendali -->
        <div class="tab-pane " id="applicativiaziendali">
<table class="js-table-checkable table table-hover">

<tbody>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-12">
                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>

            </div>
                 
        </td>
    </tr>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-4">
                <p class="font-w600 push-10-t">Base</p>

            </div>
                        <div class="col-xs-4">
            <p class="font-w600 push-10-t">Intermedio</p>

            </div>
                        <div class="col-xs-4">
             <p class="font-w600 push-10-t">Avanzato</p>

            </div>
        </td>
    </tr>
    @foreach (var item_codinfo in Model.Where(x => x._codGruppoConInfo == "02"))
    {
        j++;
        string checked_codConInfo = "";
        string checked_codConInfoLiv01 = "";
        string checked_codConInfoLiv02 = "";
        string checked_codConInfoLiv03 = "";

        switch (item_codinfo._codConInfoLiv)
        {
            case "01":
                checked_codConInfoLiv01 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "02":
                checked_codConInfoLiv02 = "checked=\"checked\"";
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "03":
                checked_codConInfoLiv03 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv01 = "";
                break;
            default:
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
        }
        
    <tr class="click-radio-check">
        <td class="text-center">
        <input type="hidden" value="@item_codinfo._matricola" name="know[@j]._matricola" />
            <input type="hidden" value="@item_codinfo._codConInfo" name="know[@j]._codConInfo" />
            <label class="css-input css-checkbox css-checkbox-success">
                @if (@item_codinfo._selectedConInfo)
                {
                    checked_codConInfo = "checked=\"checked\"";
                }
            <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo" class="select-check-@j" onchange="controlCheck('select-check-@j', 'radio-item-@j', 'control-radio-@j')" />
                 <span></span>
            @* @Html.RaiCheckBoxFor(x => item_codinfo._selectedConInfo)   *@
               
             </label>
           @* <input name="know['@j']['_altraConInfo']" type="hidden" value="" />*@
        </td>
        <td>
           <p class="font-w600 push-10-t">@item_codinfo._descConInfo</p>
           <em class="text-muted remove-margin-b"></em>
        </td>
        <td class="">
         
            <div class="col-xs-4"> <!--  radio-custom radio-success -->
            @*<label class="push-10-r ">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j" class="push-10-t radio-item-@j control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "01", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
           @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "02", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
            @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "03", new { name="test" })*@
            @*</label>*@

            </div>
        </td>
    </tr> 
    }
</tbody>
</table>
            
        </div>
        <!-- Linguaggi, OS e DBMS -->
        <div class="tab-pane " id="linguaggi">
<table class="js-table-checkable table table-hover">

<tbody>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-12">
                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>

            </div>
                 
        </td>
    </tr>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-4">
                <p class="font-w600 push-10-t">Base</p>

            </div>
                        <div class="col-xs-4">
            <p class="font-w600 push-10-t">Intermedio</p>

            </div>
                        <div class="col-xs-4">
             <p class="font-w600 push-10-t">Avanzato</p>

            </div>
        </td>
    </tr>
    @foreach (var item_codinfo in Model.Where(x => x._codGruppoConInfo == "03"))
    {
        j++;
        string checked_codConInfo = "";
        string checked_codConInfoLiv01 = "";
        string checked_codConInfoLiv02 = "";
        string checked_codConInfoLiv03 = "";

        switch (item_codinfo._codConInfoLiv)
        {
            case "01":
                checked_codConInfoLiv01 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "02":
                checked_codConInfoLiv02 = "checked=\"checked\"";
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "03":
                checked_codConInfoLiv03 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv01 = "";
                break;
            default:
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
        }
        
    <tr class="click-radio-check">
        <td class="text-center">
        <input type="hidden" value="@item_codinfo._matricola" name="know[@j]._matricola" />
            <input type="hidden" value="@item_codinfo._codConInfo" name="know[@j]._codConInfo" />
            <label class="css-input css-checkbox css-checkbox-success">
                @if (@item_codinfo._selectedConInfo)
                {
                    checked_codConInfo = "checked=\"checked\"";
                }
            <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo" class="select-check-@j" onchange="controlCheck('select-check-@j', 'radio-item-@j', 'control-radio-@j')" />
                 <span></span>
            @* @Html.RaiCheckBoxFor(x => item_codinfo._selectedConInfo)   *@
               
             </label>
           @* <input name="know['@j']['_altraConInfo']" type="hidden" value="" />*@
        </td>
        <td>
           <p class="font-w600 push-10-t">@item_codinfo._descConInfo</p>
           <em class="text-muted remove-margin-b"></em>
        </td>
        <td class="">
         
            <div class="col-xs-4"> <!--  radio-custom radio-success -->
            @*<label class="push-10-r ">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j" class="push-10-t radio-item-@j control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "01", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
           @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "02", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
            @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "03", new { name="test" })*@
            @*</label>*@

            </div>
        </td>
    </tr> 
    }
</tbody>
</table>
            
        </div>
        <!-- Altro (specificare) -->
        <div class="tab-pane " id="altro">
<table class="js-table-checkable table table-hover" id="table_extra">

<tbody>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-12">
                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>

            </div>
                 
        </td>
    </tr>
     <tr class="">
        <td class="text-center">

        </td>
        <td>
         
        </td>
        <td class="">
         
            <div class="col-xs-4">
                <p class="font-w600 push-10-t">Base</p>

            </div>
                        <div class="col-xs-4">
            <p class="font-w600 push-10-t">Intermedio</p>

            </div>
                        <div class="col-xs-4">
             <p class="font-w600 push-10-t">Avanzato</p>

            </div>
        </td>
    </tr>

    @foreach (var item_extra in Model.Where(x => x._codConInfo == "9999"))
    {
        j++;
        string checked_codConInfo = "";
        string checked_codConInfoLiv01 = "";
        string checked_codConInfoLiv02 = "";
        string checked_codConInfoLiv03 = "";

        switch (item_extra._codConInfoLiv)
        {
            case "01":
                checked_codConInfoLiv01 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "02":
                checked_codConInfoLiv02 = "checked=\"checked\"";
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv03 = "";
                break;
            case "03":
                checked_codConInfoLiv03 = "checked=\"checked\"";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv01 = "";
                break;
            default:
                checked_codConInfoLiv01 = "";
                checked_codConInfoLiv02 = "";
                checked_codConInfoLiv03 = "";
                break;
        }
        
    <tr class="click-radio-check">
        <td class="text-center">
        <input type="hidden" value="@item_extra._matricola" name="know[@j]._matricola" />
            <input type="hidden" value="@item_extra._codConInfo" name="know[@j]._codConInfo" />
            <input type="hidden" value="@item_extra._altraConInfo" name="know[@j]._altraConInfo" />
            <label class="css-input css-checkbox css-checkbox-success">
                @if (@item_extra._selectedConInfo)
                {
                    checked_codConInfo = "checked=\"checked\"";
                }
            <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo" class="select-check-@j" onchange="controlCheck('select-check-@j', 'radio-item-@j', 'control-radio-@j')" />
                 <span></span>
            @* @Html.RaiCheckBoxFor(x => item_codinfo._selectedConInfo)   *@
               
             </label>
           @* <input name="know['@j']['_altraConInfo']" type="hidden" value="" />*@
        </td>
        <td>
           <p class="font-w600 push-10-t">@item_extra._altraConInfo</p>
           <em class="text-muted remove-margin-b"></em>
@*           <input type="text" class="font-w600 push-10" value="@item_extra._altraConInfo" name="know[@j]._altraConInfo" />
           <em class="text-muted remove-margin-b"></em>*@
        </td>
        <td class="">
         
            <div class="col-xs-4">
            @*<label class="push-10-r ">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j" class="push-10-t radio-item-@j control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "01", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
           @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "02", new { name="test" })*@
            @*</label>*@

            </div>
                        <div class="col-xs-4">
            @*<label class="push-10-r">*@
                 <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j" class="push-10-t control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 
              @*  @Html.RadioButtonFor(x => item_codinfo._codConInfoLiv, "03", new { name="test" })*@
            @*</label>*@

            </div>
        </td>
    </tr> 
    }

    @* FREAK - ELEMENTO DA INSERIRE IN AGGIUNTA *@
    @{
        //INCREMENTO IL CONTATORE 'J' PER LA NUOVA COMPETENZA OPPORTUNA
        j++;
    }
    <tr class="click-radio-check">
        <td class="text-center">
        <input type="hidden" value="" name="know[@j]._matricola" />
            <input type="hidden" value="9999" name="know[@j]._codConInfo" />
            @*<input type="hidden" value="" name="know[@j]._altraConInfo" />*@
            <label class="css-input css-checkbox css-checkbox-success">
            <input type="checkbox" name="know[@j]._selectedConInfo" id="_selectedConInfo" value="true" class="select-check-@j" onchange="controlCheck('select-check-@j', 'radio-item-@j', 'control-radio-@j')" />
                 <span></span>
               
             </label>
        </td>
        <td>
           <input type="text" class="font-w600 push-10" value="" name="know[@j]._altraConInfo" />
           <em class="text-muted remove-margin-b"></em>
        </td>
        <td class="">
         
            <div class="col-xs-4">
                 <input type="radio" name="know[@j]._codConInfoLiv" value="01" id="_codConInfoLiv-@j" class="push-10-r radio-item-@j control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 

            </div>
                        <div class="col-xs-4">
                 <input type="radio" name="know[@j]._codConInfoLiv" value="02" id="_codConInfoLiv-@j" class="push-10-r control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 

            </div>
                        <div class="col-xs-4">
                 <input type="radio" name="know[@j]._codConInfoLiv" value="03" id="_codConInfoLiv-@j" class="push-10-r control-radio-@j" onchange="controlRadio('select-check-@j')"/><span></span> 

            </div>
        </td>
    </tr> 

    @*<input type="hidden" value="@j" id="cont" name="cont" />*@
</tbody>
</table>
            
        </div>
        <div class="push-10">
        @*<button class="btn btn-default pull-right" type="submit"><i class="fa fa-plus text-informatics push-5-l push-5-r"></i> <span class="hidden-xs">Salva</span></button>*@
            <button class="btn btn-default bg-puls_dash pull-right" type="submit"><i class=""></i> Invia</button>  @* fa fa-check-circle-o *@
        <div class="btn-group">
    </div>
    <!-- Fine composizione delle Tab -->

    </div>
    </form>
</section>







<!-- FREAK - FINE NUOVA MIMPOSTAZIONE GRAFICA CONOSCENZE INFORMATICHE -->


