@using myRaiHelper
@using MVCProject.Custom_Helpers
@using myRaiCommonModel


<!-- Icone -->
@{
    ViewBag.Title = "HRIS - " + ((string)SessionHelper.Get("GEST_SECTION")).TitleCase();
    Layout = "~/Views/Shared/_layoutContent.cshtml";

    string hrisAbil = AuthHelper.HrisFuncAbil(CommonHelper.GetCurrentUserMatricola());
    if (String.IsNullOrWhiteSpace(hrisAbil))
    {
        hrisAbil = "HRCE";
    }

    bool hrceEnabled = false;
    if (hrisAbil == "HRCE")
    {
        hrceEnabled = AuthHelper.EnabledToAnySubFunc(CommonHelper.GetCurrentUserMatricola(), "HRCE", "AGG_ANAG", "EVID_ANAG");
    }
    else
    {
        hrceEnabled = AuthHelper.EnabledTo(CommonHelper.GetCurrentUserMatricola(), "HRIS_PERS");
    }
    var subFuncs = AuthHelper.EnabledSubFunc(CommonHelper.GetCurrentUserMatricola(), "HRIS");
}

<section role="main" class="content-body">
    <!-- start: page -->
    <!-- Main Container -->
    <main id="main-container">


        <div class="content left-top-20">
            @if (hrceEnabled)
            {
                <div id="searchbar" class="push-20" style="margin-left:-10px; margin-top:-40px; margin-right:-40px;min-height:50px;">

                </div>
            }

            @using (Html.BeginOnePageNav("nav-scrivania", "Scrivania"))
            {
                <div class="row">
                    <div class="col-sm-8">
                        @Html.AsyncPartial("Scrivania", "GetEmptyWidget", "~/Views/_RaiDesign/Widget_skeleton.cshtml", TempData)

                        @Html.AsyncPartial("Scrivania", "GetWidgetCompressi", "~/Views/_RaiDesign/Widget_skeleton.cshtml", TempData)
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.AsyncPartial("Scrivania", "GetWidgetSingoli", "~/Views/_RaiDesign/Widget_skeleton.cshtml", TempData)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.AsyncPartial("Scrivania", "GetRichieste", "~/Views/_RaiDesign/Widget_skeleton.cshtml", TempData)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-12">
                                @Html.AsyncPartial("Scrivania", "GetGestioneWidget", "~/Views/_RaiDesign/PanelNoHeader_skeleton.cshtml", TempData)
                            </div>
                        </div>

                        @*@if (hrisEnabled)
                            {
                                @Html.AsyncPartial("Scrivania", "GetCercaDipendente", "~/Views/_RaiDesign/Widget_skeleton.cshtml", TempData)
                            }*@

                        @if (SessionHelper.Get<string>("GEST_SECTION", "GESTIONE") == "GESTIONE")
                        {
                            //se sono admin o amministrazione
                            if (subFuncs.Contains("ADM") || subFuncs.Any(x => x.StartsWith("01")))
                            {

                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.AsyncPartial("Scrivania", "GetScadenzario", "~/Views/_RaiDesign/Widget_skeleton.cshtml", TempData)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </main>

    <!-- end: page -->
</section>


<div class="modal fade" id="modal-news" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
</div>

@Html.RenderModal("gestione-widget")
@Html.RenderModal("richiesta")

@Html.Partial("~/Views/MaternitaCongedi/popupvisgest.cshtml")


<div id="pg-visible-xs" class="visible-xs"></div>
<div id="pg-visible-sm" class="visible-sm"></div>
<div id="pg-visible-md" class="visible-md"></div>
<div id="pg-visible-lg" class="visible-lg"></div>

@section afterjs {
    @Html.Raw(TempData["script"])

    @if (hrceEnabled)
    {
        <script>
            RaiUpdateWidget("searchbar", '@Url.Action("DrawSearchBar", "Ricerca")', 'html', null, false, function () {
                $('#searchbar-int-cont .searchbar-item-box .collapse').on('show.bs.collapse', function () {
                    var target = $(this).attr('id');
                    //$('#searchbar-int-cont .searchbar-item-box .collapse:not([id="' + target + '"]').removeClass('in');
                    $('#searchbar-int-cont .searchbar-item-box .collapse.in:not([id="' + target + '"]').collapse('toggle');
                });
            });
        </script>
    }
}
