@model myRaiCommonModel.SituazioniEAnagraficaModel

<div class="row" style="" data-async="/scrivania/index_section4?gappclosed=@Model.GappClosed">
    <div class="col-sm-4 no-pad-right ">
        @if (Model.IsPreview)
        {
            if (Model.Boxes != null)
            { 
                foreach (var box in Model.Boxes)
                {
                    if (box.Visibile == true)
                    {
                        @Html.Partial("subpartial/box_situazione_skeleton", box)
                    }
                    // @Html.Partial("subpartial/box_situazione_skeleton")
                    // @Html.Partial("subpartial/box_situazione_skeleton")
                    // @Html.Partial("subpartial/box_situazione_skeleton")
                }
            }
        }
        else
        {
            foreach (var box in Model.Boxes)
            {
                if (box.Visibile == true)
                {
                    @Html.Partial("subpartial/box_situazione", box)
                }
            }
        }
    </div>

    @if (Model.Visibile)
    {
        <div class="col-sm-8 no-pad-right ">
            @if (Model.IsPreview)
            {
                @Html.Partial("subpartial/anagrafica_skeleton")
            }
            else
            {
                @Html.Partial("subpartial/anagrafica",new myRaiHelper.UtenteHelperTerzoAnagrafica());
            }
        </div>
    }
</div>
