@model List<myRaiCommonModel.cvModels.cvModel.ConoscenzeInformatiche>

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
    //List<myRai.Models.cvModels.cvModel.ConoscenzeInformatiche> conInfo = new List<myRai.Models.cvModels.cvModel.ConoscenzeInformatiche>();

    //conInfo = Model.OrderBy(x => x._codGruppoConInfo).ToList();
    int cont = 0;
    int j = -1;
    List<myRai.Data.CurriculumVitae.DGruppoConInfo> gruppoConInfo = new List<myRai.Data.CurriculumVitae.DGruppoConInfo>();
    gruppoConInfo = cvEnt.DGruppoConInfo.Where(x => x.CodGruppoConInfo != "99").OrderBy(z => z.CodGruppoConInfo).ToList();
}
<div class="rai modal fade right modalCheck" id="modalKnowledgesInserimento" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="rai modal-content">
            @using (Html.BeginModal("Aggiungi una Competenza"))
            {
                using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, "Dati generali", false, new List<myRaiHelper.ActionTemplate>()))
                {
                    <form id="frm-insertConoscenzeInformatiche" name="frm-insertConoscenzeInformatiche" class="rai form-group" method="post" action="/CV_Online/EditConoscenzeInformatiche">
                        @using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Tipologia"))
                        {

                            <div class="row push-10-t">

                                <div class="col-md-12 text-center">
                                    <div class="rai-radio-container rai-radio-inline">
                                        <div class="rai-radio">
                                            <input type="radio" id="_applOffice" data-label="Applicativi Office Automation" checked="checked" name="_select" value="1" data-target="#applicativioffice" onclick="$(this).tab('show')" />
                                            <label for="_applOffice" class="">Applicativi di Office Automation</label>
                                        </div>
                                        <div class="rai-radio">
                                            <input type="radio" id="_applAziend" data-label="Applicativi aziendali" name="_select" value="2" data-target="#applicativiaziendali" onclick="$(this).tab('show')" />
                                            <label for="_applAziend" class="">Applicativi aziendali</label>
                                        </div>
                                        <div class="rai-radio">
                                            <input type="radio" id="_lingua" data-label="Linguaggi e Sistemi Operativi" name="_select" value="3" data-target="#linguaggi" onclick="$( this ).tab( 'show' )" />
                                            <label for="_lingua" class="">Linguaggi e Sistemi Operativi</label>
                                        </div>
                                        <div class="rai-radio">
                                            <input type="radio" id="_alt" data-label="Altro" name="_select" value="4" data-target="#altro" onclick="$( this ).tab( 'show' )" />
                                            <label for="_alt" class=""> Altro (specificare)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Dettaglio"))
                    {
                            
                                <div class="tab-content">
                                    <div class="tab-pane active" id="applicativioffice">
                                        <div class="table-responsive">
                                            <table class="rai-table table rai-table-vcenter table-striped mb-none ">
                                                <tbody>
                                                    <tr class="">
                                                        <td class="text-center"></td>
                                                        <td></td>
                                                        <td class="">
                                                            <div class="col-xs-12">
                                                                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td style="width:70%"></td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Base</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Intermedio</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Avanzato</p>
                                                        </td>
                                                    </tr>
                                                    @foreach (var item_codinfo in Model.Where(x => x._codGruppoConInfo == "01").OrderBy(x => x._descConInfo))
                                                    {
                                                        j++;
                                                        string checked_codConInfo = "";
                                                        string checked_codConInfoLiv01 = "";
                                                        string checked_codConInfoLiv02 = "";
                                                        string checked_codConInfoLiv03 = "";

                                                        switch (item_codinfo._codConInfoLiv)
                                                        {
                                                            case "01":
                                                                checked_codConInfoLiv01 = "checked=\"true\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "02":
                                                                checked_codConInfoLiv02 = "checked=\"true\"";
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "03":
                                                                checked_codConInfoLiv03 = "checked=\"true\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv01 = "";
                                                                break;
                                                            default:
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                        }

                                                        <tr class="click-radio-check">
                                                            <td style="width:70%">
                                                                <input type="hidden" value="@item_codinfo._matricola" name="know[@j]._matricola" />
                                                                <input type="hidden" value="@item_codinfo._codConInfo" name="know[@j]._codConInfo" />
                                                                @if (@item_codinfo._selectedConInfo)
                                                                {
                                                                    checked_codConInfo = "checked=\"checked\"";
                                                                }
                                                                <div class="rai-checkbox">
                                                                    <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo-@j" class="select-check-@j" onchange="controlCheck('frm-insertConoscenzeInformatiche .select-check-@j', 'frm-insertConoscenzeInformatiche .radio-item-@j', 'frm-insertConoscenzeInformatiche .control-radio-@j')" />
                                                                    <label for="">@item_codinfo._descConInfo</label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">

                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j-1" class="radio-item-@j control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j-2" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j-3" class=" control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Applicativi aziendali -->
                                    <div class="tab-pane " id="applicativiaziendali">
                                        <div class="table-responsive">
                                            <table class="rai-table table rai-table-vcenter table-striped mb-none ">
                                                <tbody>
                                                    <tr class="">
                                                        <td class="text-center"></td>
                                                        <td></td>
                                                        <td class="">
                                                            <div class="col-xs-12">
                                                                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td style="width:70%"></td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Base</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Intermedio</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Avanzato</p>
                                                        </td>
                                                    </tr>
                                                    @foreach (var item_codinfo in Model.Where(x => x._codGruppoConInfo == "02").OrderBy(x => x._descConInfo))
                                                    {
                                                        j++;
                                                        string checked_codConInfo = "";
                                                        string checked_codConInfoLiv01 = "";
                                                        string checked_codConInfoLiv02 = "";
                                                        string checked_codConInfoLiv03 = "";

                                                        switch (item_codinfo._codConInfoLiv)
                                                        {
                                                            case "01":
                                                                checked_codConInfoLiv01 = "checked=\"checked\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "02":
                                                                checked_codConInfoLiv02 = "checked=\"checked\"";
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "03":
                                                                checked_codConInfoLiv03 = "checked=\"checked\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv01 = "";
                                                                break;
                                                            default:
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                        }

                                                        <tr class="click-radio-check">
                                                            <td style="width:70%">
                                                                <input type="hidden" value="@item_codinfo._matricola" name="know[@j]._matricola" />
                                                                <input type="hidden" value="@item_codinfo._codConInfo" name="know[@j]._codConInfo" />
                                                                @if (@item_codinfo._selectedConInfo)
                                                                {
                                                                    checked_codConInfo = "checked=\"checked\"";
                                                                }
                                                                <div class="rai-checkbox">
                                                                    <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo-@j-1" class="select-check-@j" onchange="controlCheck('frm-insertConoscenzeInformatiche .select-check-@j', 'frm-insertConoscenzeInformatiche .radio-item-@j', 'frm-insertConoscenzeInformatiche .control-radio-@j')" />
                                                                    <label for="">@item_codinfo._descConInfo</label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j-1" class="radio-item-@j control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j-2" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j-3" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Linguaggi, OS e DBMS -->
                                    <div class="tab-pane " id="linguaggi">
                                        <div class="table-responsive">
                                            <table class="rai-table table rai-table-vcenter table-striped mb-none ">
                                                <tbody>
                                                    <tr class="">
                                                        <td class="text-center"></td>
                                                        <td></td>
                                                        <td class="">
                                                            <div class="col-xs-12">
                                                                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td style="width:70%"></td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Base</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Intermedio</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Avanzato</p>
                                                        </td>
                                                    </tr>
                                                    @foreach (var item_codinfo in Model.Where(x => x._codGruppoConInfo == "03").OrderBy(x => x._descConInfo))
                                                    {
                                                        j++;
                                                        string checked_codConInfo = "";
                                                        string checked_codConInfoLiv01 = "";
                                                        string checked_codConInfoLiv02 = "";
                                                        string checked_codConInfoLiv03 = "";

                                                        switch (item_codinfo._codConInfoLiv)
                                                        {
                                                            case "01":
                                                                checked_codConInfoLiv01 = "checked=\"checked\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "02":
                                                                checked_codConInfoLiv02 = "checked=\"checked\"";
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "03":
                                                                checked_codConInfoLiv03 = "checked=\"checked\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv01 = "";
                                                                break;
                                                            default:
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                        }

                                                        <tr class="click-radio-check">
                                                            <td style="width:70%">
                                                                <input type="hidden" value="@item_codinfo._matricola" name="know[@j]._matricola" />
                                                                <input type="hidden" value="@item_codinfo._codConInfo" name="know[@j]._codConInfo" />
                                                                @if (@item_codinfo._selectedConInfo)
                                                                {
                                                                    checked_codConInfo = "checked=\"checked\"";
                                                                }
                                                                <div class="rai-checkbox">
                                                                    <input type="checkbox" name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo-@j-1" class="select-check-@j" onchange="controlCheck('frm-insertConoscenzeInformatiche .select-check-@j', 'frm-insertConoscenzeInformatiche .radio-item-@j', 'frm-insertConoscenzeInformatiche .control-radio-@j')" />
                                                                    <label for="">@item_codinfo._descConInfo</label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j-1" class="radio-item-@j control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>

                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j-2" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j-3" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Altro (specificare) -->
                                    <div class="tab-pane " id="altro">
                                        <div class="table-responsive">
                                            <table class="rai-table table rai-table-vcenter table-striped mb-none ">
                                                <tbody>
                                                    <tr class="">
                                                        <td class="text-center"></td>
                                                        <td></td>
                                                        <td class="">
                                                            <div class="col-xs-12">
                                                                <p class="font-w600 push-10 text-center">Livello di conoscenza</p>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td style="width:70%"></td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Base</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Intermedio</p>
                                                        </td>
                                                        <td style="width:10%">
                                                            <p class="font-w600">Avanzato</p>
                                                        </td>
                                                    </tr>
                                                    @foreach (var item_extra in Model.Where(x => x._codConInfo == "9999" && x._altraConInfo != null))
                                                    {
                                                        j++;
                                                        string checked_codConInfo = "";
                                                        string checked_codConInfoLiv01 = "";
                                                        string checked_codConInfoLiv02 = "";
                                                        string checked_codConInfoLiv03 = "";

                                                        switch (item_extra._codConInfoLiv)
                                                        {
                                                            case "01":
                                                                checked_codConInfoLiv01 = "checked=\"checked\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "02":
                                                                checked_codConInfoLiv02 = "checked=\"checked\"";
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                            case "03":
                                                                checked_codConInfoLiv03 = "checked=\"checked\"";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv01 = "";
                                                                break;
                                                            default:
                                                                checked_codConInfoLiv01 = "";
                                                                checked_codConInfoLiv02 = "";
                                                                checked_codConInfoLiv03 = "";
                                                                break;
                                                        }

                                                        <tr class="click-radio-check">
                                                            <td style="width:70%">
                                                                <input type="hidden" value="@item_extra._matricola" name="know[@j]._matricola" />
                                                                <input type="hidden" value="@item_extra._codConInfo" name="know[@j]._codConInfo" />
                                                                <input type="hidden" value="@item_extra._altraConInfo" name="know[@j]._altraConInfo" />
                                                                @if (@item_extra._selectedConInfo)
                                                                {
                                                                    checked_codConInfo = "checked=\"checked\"";
                                                                }
                                                                <div class="rai-checkbox">
                                                                    <input type="checkbox"
                                                                           name="know[@j]._selectedConInfo" @checked_codConInfo value="true" id="_selectedConInfo-@j-1" class="select-check-@j" onchange="controlCheck('frm-insertConoscenzeInformatiche .select-check-@j', 'frm-insertConoscenzeInformatiche .radio-item-@j', 'frm-insertConoscenzeInformatiche .control-radio-@j')" />
                                                                    <label for="">@item_extra._altraConInfo</label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv01 value="01" id="_codConInfoLiv-@j-1" class="radio-item-@j control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv02 value="02" id="_codConInfoLiv-@j-2" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                            <td style="width:10%">
                                                                <div class="rai-radio push-10-l">
                                                                    <input type="radio" name="know[@j]._codConInfoLiv" @checked_codConInfoLiv03 value="03" id="_codConInfoLiv-@j-3" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                    <label class=""></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @* FREAK - ELEMENTO DA INSERIRE IN AGGIUNTA *@
                                                    @{
                                                        //INCREMENTO IL CONTATORE 'J' PER LA NUOVA COMPETENZA OPPORTUNA
                                                        j++;
                                                    }
                                                    <tr class="click-radio-check">

                                                        <td style="width:70%">
                                                            <div class="row">
                                                                <div class="col-xs-5">
                                                                    <input type="hidden" value="" name="know[@j]._matricola" />
                                                                    <input type="hidden" value="9999" name="know[@j]._codConInfo" />
                                                                    <div class="rai-checkbox">
                                                                        <input type="checkbox" name="know[@j]._selectedConInfo" id="_selectedConInfo" value="true" class="select-check-@j" onchange="controlCheck('select-check-@j', 'radio-item-@j', 'control-radio-@j')" />
                                                                        <label></label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-7">
                                                                <input type="text" onkeyup="keyAltro()" style="float:left;" class="rai form-control " id="_altraConInfo" maxlength="50" value="" name="know[@j]._altraConInfo" />
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">

                                                            <div class="rai-radio push-10-l">
                                                                <input type="radio" name="know[@j]._codConInfoLiv" value="01" id="_codConInfoLiv-@j-1" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                <label class=""></label>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="rai-radio push-10-l">
                                                                <input type="radio" name="know[@j]._codConInfoLiv" value="02" id="_codConInfoLiv-@j-2" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                <label class=""></label>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%">
                                                            <div class="rai-radio push-10-l">
                                                                <input type="radio" name="know[@j]._codConInfoLiv" value="03" id="_codConInfoLiv-@j-3" class="control-radio-@j" onchange="controlRadio('frm-insertConoscenzeInformatiche .select-check-@j')" />
                                                                <label class=""></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            
                                                        }

                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn full-width rai-btn-primary" type="submit" onclick="submit_knowledges(this)">Salva</button>
                            </div>
                        </div>

                    </form>
                                                            }
                <div id="savedbcert" class="alert alert-primary" style="position:fixed;bottom:10px;right:10px;display:none;z-index:100">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-refresh fa-spin"></i> Salvataggio in corso
                        </div>

                                                        }


        </div>
    </div>
</div>