@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;


@if (Model.Count == 0)
{
    <div class="row">
        @Html.Partial("~/Views/Shared/_Nodati.cshtml")
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-responsive rai-table rai-table-vcenter">
            <thead>
                <tr>
                    <th>Data ricezione</th>
                    <th>Motivo</th>
                    <th hidden-xs">Tipo</th>
                    <th>Valore</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var omaggio in Model)
                {
                    <tr>
                        <td class="rai-font-md">@omaggio.Data_Ricezione</td>
                        <td class="rai-font-md">@omaggio.Motivo.Text</td>
                        <td class="rai-font-md hidden-xs">@omaggio.Tipo.Text</td>
                        <td class="rai-font-md text-right">€  @omaggio.Valore</td>
                        <td>
                            <a href="#" class="btn rai-btn-small" onclick="ShowGestisciOmaggio('u','@omaggio.Id');">Modifica</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @if (Model[0].VediTutti)
        {
            <div class="row" style="text-align: center;">
                <div class="col-sm-12">
                    <div class="rai-btn-fill">
                        <a class="btn rai-btn-small" href="@Url.Action("Index", "Omaggi", new { quantita = "tutti" }) ">Visualizza tutti</a>
                    </div>
                </div>
            </div>
        }
    </div>
}


