@{ 
    Layout = null;
    string ariaLabel = "";
}
@model List<MyRaiServiceInterface.it.rai.servizi.digigappws.TimOspitiElement>

@{
    if (Model != null && Model.Any())
    {
        foreach (var t in Model)
        {
            // ENTRATA
            if (!t.EntrataUscita)
            {
                ariaLabel = "Insediamento: " + t.DescrizioneTerminale + ".";
                ariaLabel += "Orario di entrata: " + t.OraTimbratura.ToString().PadLeft(2, '0') + ":" + t.MinutoTimbratura.ToString().PadLeft(2, '0');
                <div class="row timbratura-row" role="row" tabindex="" aria-label="@ariaLabel">
                    <div class="col-xs-12">
                        <div class="col-xs-1" style="padding: 15px 0px 15px 0px;">
                            <i class="icons icon-login fa-2x h4" style="font-size: 1.4em;"></i>
                        </div>
                        <div class="font-w500 h4 col-xs-2 timbratura timbratura-in" style="font-size: 1.3em; padding-left: 0 !important; padding-right: 0 !important; margin-top: 15px !important;">
                            @(t.OraTimbratura.ToString().PadLeft(2, '0') + ":" + t.MinutoTimbratura.ToString().PadLeft(2, '0'))
                        </div>
                        <div class="text-center h5 font-w500 col-xs-6" style="font-size: 0.9em; margin-top: 18px;">
                            @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(t.DescrizioneTerminale.ToLower())
                        </div>
                        <div class="font-w500 h4 col-xs-2 no-pad" style="font-size: 1.3em; padding-left: -15px !important; padding-left: 0 !important; padding-right: 0 !important; margin-top: 15px !important;"></div>
                        <div class="col-xs-1" style="padding: 15px 0px 15px 5px;"></div>
                    </div>
                </div>
            }
            else
            {
                // USCITA
                ariaLabel = "Insediamento: " + t.DescrizioneTerminale + ".";
                ariaLabel += "Orario di uscita: " + t.OraTimbratura.ToString().PadLeft(2, '0') + ":" + t.MinutoTimbratura.ToString().PadLeft(2, '0');
                <div class="row timbratura-row" role="row" tabindex="" aria-label="@ariaLabel">
                    <div class="col-xs-12">
                        <div class="col-xs-1" style="padding: 15px 0px 15px 0px;">
                            <i data-toggle="tooltip" class="icons icon-logout fa-2x h4" title="" style="font-size: 1.4em;"></i>
                        </div>
                        <div class="font-w500 h4 col-xs-2 timbratura timbratura-in" style="font-size: 1.3em; padding-left: 0 !important; padding-right: 0 !important; margin-top: 15px !important;">
                            @(t.OraTimbratura.ToString().PadLeft(2, '0') + ":" + t.MinutoTimbratura.ToString().PadLeft(2, '0'))
                        </div>
                        <div class="text-center h5 font-w500 col-xs-6" style="font-size: 0.9em; margin-top: 18px;">
                            @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(t.DescrizioneTerminale.ToLower())
                        </div>
                        <div class="font-w500 h4 col-xs-2 no-pad" style="font-size: 1.3em; padding-left: -15px !important; padding-left: 0 !important; padding-right: 0 !important; margin-top: 15px !important;"></div>
                        <div class="col-xs-1" style="padding: 15px 0px 15px 5px;"></div>
                    </div>
                </div>
            }
        }
    }
}