@model myRaiCommonModel.EsperienzeProduzioneModel
@{
    var formId = "form-ricerca";

}
@*@<script src="~/assets/js/myrai3.js"></script>
    <script src="~/assets/js/core/moment.js"></script>*@
<div class="form-group">
    @using (Ajax.BeginForm("Ricerca", "EsperienzeProduzione", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnBegin = "$('#elenco_risorse').addClass('rai-loader');",
        OnSuccess = "LoadElencoRisorse(data);",
        OnComplete = "$('#elenco_risorse').removeClass('rai-loader');"
    }, new { id = formId, @class = "", role = "search" }))
    {
        <div class="row">
            <div class="col-xs-6 push-10">

                @Html.LabelFor(model => model.parametriricerca.Nominativo, "Nominativo", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.parametriricerca.Nominativo, new { @class = " form-control form-control-value", style = "width: 100%", placeholder = "Nominativo" })
            </div>

            <div class="col-xs-6 push-10">

                @Html.LabelFor(model => model.parametriricerca.Matricola, "Matricola", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.parametriricerca.Matricola, new { @class = " form-control form-control-value", style = "width: 100%", placeholder = "Matricola" })

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 push-10">
                @Html.LabelFor(model => model.parametriricerca.RicercaScelta, "Tipo ricerca", new { @class = "rai-caption" })
                @Html.DropDownListFor(m => m.parametriricerca.RicercaScelta, new SelectList(Model.parametriricerca.TipoRicerca, "Value", "Text"), htmlAttributes: new { @class = "js-select2 rai form-control  textable-select", id = "_tiporicercaselect" })

                @Html.ValidationMessageFor(model => model.parametriricerca.RicercaScelta)
            </div>
            <div class="col-xs-2">
                <div class="input-group mb-md">
                    @Html.LabelFor(model => model.parametriricerca.DataDal, "Data inizio", new { @class = "rai-caption" })
                    @Html.TextBoxFor(m => m.parametriricerca.DataDal, new { @class = "js-datetimepicker form-control required", style = "width: 100%", placeholder = "Data inizio", data_format = "DD/MM/YYYY", @Value = DateTime.Today.ToString("dd/MM/yyyy") })
                    @Html.ValidationMessageFor(model => model.parametriricerca.DataDal)

                </div>
            </div>
            <div class="col-xs-2">

                <div class="input-group mb-md">
                    @Html.LabelFor(model => model.parametriricerca.DataAl, "Data fine", new { @class = "rai-caption" })
                    @Html.TextBoxFor(m => m.parametriricerca.DataAl, new { @class = "js-datetimepicker form-control required", style = "width: 100%", placeholder = "Data fine", data_format = "DD/MM/YYYY", @Value = DateTime.Today.ToString("dd/MM/yyyy") })
                    @Html.ValidationMessageFor(model => model.parametriricerca.DataAl)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 push-10">
                @Html.LabelFor(model => model.parametriricerca.Servizi, "Direzione", new { @class = "rai-caption" })
                @Html.DropDownListFor(m => m.parametriricerca.ServiziSel, new MultiSelectList(Model.parametriricerca.Servizi, "Codice", "Descrizione", Model.parametriricerca.ServiziSel),
        new
        {
            @id = "_codDirezione",
            @class = "js-select2 rai form-control",
            @style = "width: 100%",
            @multiple = "true"
        })
                @Html.ValidationMessageFor(model => model.parametriricerca.Servizi)
            </div>
            <div class="col-xs-6 push-10">
                <label for="_tiporirisorsaselect" class="rai-caption">Tipologia dipendente</label>
                @Html.DropDownListFor(m => m.parametriricerca.Dipendente, new SelectList(Model.parametriricerca.TipoDipendente, "Value", "Text"), htmlAttributes: new { @class = "js-select2 rai form-control  textable-select", id = "_tipodipselect" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 push-10">
                @Html.LabelFor(model => model.parametriricerca.DFiguras, "Figura Professionale", new { @class = "rai-caption" })
                @Html.DropDownListFor(model => model.parametriricerca.FiguraSel, new MultiSelectList(Model.parametriricerca.DFiguras, "CodiceFiguraPro", "DescriFiguraPro", Model.parametriricerca.FiguraSel),
                            new
                            {
                                @id = "_codFigura",
                                @class = "js-select2 rai form-control  textable-select",
                                @style = "width: 100%",
                                @multiple = "multiple"
                            })
                @Html.ValidationMessageFor(model => model.parametriricerca.DFiguras)
            </div>
            <div class="col-xs-6 push-10">
                @Html.LabelFor(model => model.parametriricerca.DConProfs, "Attività", new { @class = "rai-caption" })
                @Html.DropDownListFor(model => model.parametriricerca.ConprofSel, new MultiSelectList(Model.parametriricerca.DConProfs, "CodConProf", "DescConProf", Model.parametriricerca.ConprofSel),
                            new
                            {
                                @id = "_codRuolo",
                                @class = "js-select2 rai form-control  textable-select",
                                @style = "width: 100%",
                                @multiple = "multiple"
                            })
                @Html.ValidationMessageFor(model => model.parametriricerca.DConProfs)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 push-10">
                @Html.LabelFor(model => model.parametriricerca.Programmi, "Produzione televisiva", new { @class = "rai-caption" })
                @{
                    List<SelectListItem> item_select_produzioni = new List<SelectListItem>();
                    SelectListItem prima = new SelectListItem()
                    {
                        Value = "-1",
                        Text = "",
                        Selected = true
                    };
                    item_select_produzioni.Add(prima);
                    foreach (var elem in Model.parametriricerca.Programmi.OrderBy(x => x.Titolo))
                    {
                        item_select_produzioni.Add(new SelectListItem()
                        {
                            Value = elem.Matricola,
                            Text = elem.Titolo,
                            Selected = false
                        });
                    }
                }
                @Html.DropDownListFor(m => @Model.parametriricerca.Programma, item_select_produzioni, htmlAttributes: new { @class = "js-select2 rai form-control  textable-select", id = "_produzioniselect" })
                @Html.ValidationMessageFor(model => model.parametriricerca.Programmi)
            </div>
        </div>
        <div class="row form-button">
            <div class="col-sm-3">
                <div class="rai-btn-fill">
                    <input type="submit" id="btnCerca" class="btn rai-btn-primary" title="Cerca" value="Cerca" />
                    @*   @Html.ActionLink("Cerca", "Ricerca", "EsperienzeProduzioneController", new { id = "btnCerca", @class = "btn btn-primary" })*@
                    @* <input type="submit" id="btnCerca" class="btn btn-primary" title="Cerca" value="Cerca" data-target="#modalRicercaRisorse" />*@
                </div>
            </div>
            <div class="col-sm-3">
                <div class="rai-btn-fill">
                    <input type="submit" id="btnReset" class="btn rai-btn-secondary" title="Reset" value="Reset" data-target="#modalRicercaRisorse" onclick="RaiEPClearForm('idForm')" />
                </div>
            </div><div class="col-sm-3">
                <div class="rai-btn-fill">
                    <input type="submit" id="btnEsporta" class="btn btn-primary disable" title="Esporta" value="Esporta" data-target="#modalRicercaRisorse" />
                </div>
            </div>
        </div>


    }
    <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
        <div class="tab-pane active" id="elenco_risorse" role="tabpanel">
            @*     @Html.Partial("subpartial/_ElencoRisorse", Model)*@
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {



        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }



        InitDatePicker();

    });
    function LoadElencoRisorse(data) {

        $('#elenco_risorse').html(data);
        return false;

    }

</script>
