@model myRaiCommonModel.EsperienzeProduzioneModel
<div class="row">
    <div class="col-xs-12 push-10">
        <div class="col-sm-9" style="padding-left:5px">
            <div class="row">
                <input type="hidden" id="_direzione" name="_direzione" value="" />
                @Html.LabelForRequiredObbl(model => model.disponibilitaRisorse.servizi, "Direzione", new { @class = "rai-caption requiredobbl" })
                @{
                    List<SelectListItem> item_select_direzione = new List<SelectListItem>();
                    foreach (var elem in Model.disponibilitaRisorse.servizi.OrderBy(x => x.Descrizione))
                    {
                        item_select_direzione.Add(new SelectListItem()
                        {
                            Value = elem.Codice,
                            Text = elem.Descrizione
                        });
                    }
                }
                @Html.DropDownList("_codDirezione", item_select_direzione, string.Empty, new
           {
               @id = "_codDirezione",
               @class = "js-select2 rai form-control  textable-select",
               @style = "width: 100%",
               @data_allow_insert = "true"
           })
                @Html.ValidationMessageFor(model => model.disponibilitaRisorse.servizi)

            </div>
            <div class="row">
                <input type="hidden" id="_direzione" name="_direzione" value="" />
                @Html.LabelForRequiredObbl(model => model.disponibilitaRisorse.dFiguras, "Figura professionale", new { @class = "rai-caption requiredobbl" })
                @{
                    List<SelectListItem> item_select_figura = new List<SelectListItem>();
                    foreach (var elem in Model.disponibilitaRisorse.dFiguras)
                    {
                        item_select_figura.Add(new SelectListItem()
                        {
                            Value = elem.CodiceFiguraPro,
                            Text = elem.DescriFiguraPro
                        });
                    }
                }
                @Html.DropDownList("_codFigura", item_select_figura, string.Empty, new
           {
               @id = "_codFigura",
               @class = "js-select2 rai form-control  textable-select",
               @style = "width: 100%",
               @data_allow_insert = "true"
           })
                @Html.ValidationMessageFor(model => model.disponibilitaRisorse.dFiguras)

            </div>
            <div class="row">
                <input type="hidden" id="_direzione" name="_direzione" value="" />
                @Html.LabelForRequiredObbl(model => model.disponibilitaRisorse.dConProfs, "Ruolo", new { @class = "rai-caption requiredobbl" })
                @{
                    List<SelectListItem> item_select_ruolo = new List<SelectListItem>();
                    foreach (var elem in Model.disponibilitaRisorse.dConProfs)
                    {
                        item_select_ruolo.Add(new SelectListItem()
                        {
                            Value = elem.CodConProf,
                            Text = elem.DescConProfLunga
                        });
                    }
                }
                @Html.DropDownList("_codRuolo", item_select_figura, string.Empty, new
           {
               @id = "_codRuolo",
               @class = "js-select2 rai form-control  textable-select",
               @style = "width: 100%",
               @data_allow_insert = "true"
           })
                @Html.ValidationMessageFor(model => model.disponibilitaRisorse.dConProfs)

            </div>

        </div>
    </div>
</div>