@model myRaiCommonModel.EsperienzeProduzioneModel
<div class="form-group">
    <div class="row">
        <div class="col-xs-12 push-10">
            <div class="row">
                @Html.LabelFor(model => model.ricercaRisorse.Nominativo, "Nominativo", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.ricercaRisorse.Nominativo, new { @class = " form-control form-control-value", style = "width: 100%", placeholder = "Nominativo" })
            </div>
        </div>
        <div class="col-xs-12 push-10">
            <div class="row">
                @Html.LabelFor(model => model.ricercaRisorse.Matricola, "Matricola", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.ricercaRisorse.Matricola, new { @class = " form-control form-control-value", style = "width: 100%", placeholder = "Inserisci la matricola" })
            </div>
            </div>
        </div>
    <div class="row">
        @Html.Partial("subpartial/_Ricerca", Model)
        </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:right;padding-right:0px">
            <div class="row">
                <div class="col-xs-12">
                    <div class="rai-radio rai-radio-inline">
                        <input type="radio" name="ricerca-organico" value="O" checked="checked" />
                        <label for="" style="font-size:xx-small">risorse in organico</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="rai-radio rai-radio-inline">
                        <input type="radio" name="ricerca-td" value="D" />
                        <label for="" style="font-size:xx-small">risorse a t.d.</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="rai-radio rai-radio-inline">
                        <input type="radio" name="ricerca-tutti" value="T" />
                        <label for="" style="font-size:xx-small">tutti</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row form-button">
        <div class="col-sm-12">
            <div class="rai-btn-fill">
                <input type="submit" id="btnCerca" class="btn btn-primary" title="Cerca" value="Cerca" data-target="#modal-dettaglio-direzione" />
            </div>
        </div>
    </div>
</div>