@model myRaiCommonModel.cvModels.cvModel


@*<div class="col-xs-12"> 
<div class="push">
    <a data-toggle="modal" title="" data-target="#modal-popup-iniziale" >
<button class="btn btn-default pull-right" type="button" onclick="PulisciFormLingue()">
    <i class="fa fa-plus text-language push-5-l push-5-r"></i> <span class="hidden-xs">Aggiungi</span>
</button>
        </a>
<div class="btn-group">


</div>
</div>
</div>*@
@if (Model != null)
{
    //CASO DI MADRELINGUA
    foreach (var elem in Model.lingue)
    {
        if (elem._codLinguaLiv == "09"){
            <div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
                <div class="panel">
                    <div class="panel-body">

                    <div class="height-50">
                        <span class="item item-2x  item-circle">
                                      <div class="flag-wrapper">
                          <div class="img-avatar img-avatar72 flag flag-icon-background flag-icon-@elem._flagStato.ToLower()"></div>
                        </div>
                        </span>
                    </div>
                    
                        <div class="height-50 text-center">
                            @{
                                string testo_lingua = @elem._descLingua.Substring(0, 1).ToUpper() + @elem._descLingua.Substring(1, elem._descLingua.Length-1).ToLower();
                            }
                             <h3 class="h4 text-language">@testo_lingua</h3>
                        </div>

                        <table width="100%">
                            <tr class="height-30 bg-default">
                                <td valign="middle" width="100%">
                                    <div class="text-center h4" style="top:40%">MADRELINGUA</div>
                                </td>
                            </tr>
                        </table>

                        
                      @*  <div class="text-center text-black">MADRELINGUA</div>*@
        
         
         
 
                        <div class="text-center push-20-t push-10">
                            <div class="col-xs-6">
                            <div class="h3 font-w300 push"><a class="icons icon-pencil h4 " href="#" data-toggle="modal" data-target="#frkmodlingua" onclick="ModificaLanguage(@myRaiHelper.CommonHelper.TransformDates(Json.Encode(elem)))"></a></div>

                            </div>
                            <div class="col-xs-6">
                            <div class="h3 font-w300">
                                <a class="icons icon-trash h4 " href="#" onclick="ConfermaCancellazione_Languages('@elem._matricola.ToString()', '@elem._codLingua.ToString()')"></a>
                            </div>
    
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        }
        else {
                    <div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
                <div class="panel">
                    <div class="panel-body">

            @if (elem._flagStato.ToLower() == "nd")
            {
                    <div class="height-50">
                        <span class="item item-2x  item-circle">
                                      <i class="fa fa-sign-language text-language fa-2x push-t"></i>
                        </span>
                    </div>
                
            }
            else
            {
                    <div class="height-50">
                        <span class="item item-2x  item-circle">
                                      <div class="flag-wrapper">
                          <div class="img-avatar img-avatar72 flag flag-icon-background flag-icon-@elem._flagStato.ToLower()"></div>
                        </div>
                        </span>
                    </div>
                
            }
                        <div class="height-50 text-center">
                            @{
                                string testo_lingua = @elem._descLingua.Substring(0, 1).ToUpper() + @elem._descLingua.Substring(1, elem._descLingua.Length-1).ToLower();
                            }
                             <h3 class="h4 text-language">@testo_lingua</h3>
                        </div>

                        <table width="100%">
                            <tr class="height-30 bg-default">
                                <td valign="middle" width="100%">
                                    <div class="text-center h5" style="top:40%">Comprensione</div>
                                </td>
                            </tr>
                        </table>
                    
                        <div class="col-md-12">
                     <div class="text-center">
                            <div class="col-md-8">
                
                                <div class="text-center text-gray-dark push-10-l">Ascolto</div>
                            </div>
                            <div class="col-md-4">
                            <div class="text-black ">@elem._livAscolto.ToUpper()</div>
    
                            </div>

                    </div>
                             <div class=" text-center">
                            <div class="col-md-8">
                            <div class="text-center text-gray-dark push-10-l ">Lettura</div>

                            </div>
                            <div class="col-md-4">
                             <div class="text-black ">@elem._livLettura.ToUpper()</div>
    
                            </div>

                        </div>
                    </div>
                        <table width="100%">
                            <tr class="height-30 bg-default">
                                <td valign="middle" width="100%">
                                    <div class="text-center h5">Parlato</div>
                                </td>
                            </tr>
                        </table>
                        
                     <div class="col-md-12">
                     <div class=" text-center">
                            <div class="col-xs-8">
                
                                <div class="text-center text-gray-dark push-10-l ">Interazione</div>
                            </div>
                            <div class="col-xs-4">
                            <div class="text-black">@elem._livInterazione.ToUpper()</div>
    
                            </div>

                    </div>
                    <div class="text-center">
                            <div class="col-xs-8">
                            <div class="text-center text-gray-dark push-10-l ">Produzione orale</div>

                            </div>
                            <div class="col-xs-4">
                             <div class="text-black">@elem._livProdOrale.ToUpper()</div>
    
                            </div>

                    </div>
                    </div>   
                            
                        <table width="100%">
                            <tr class="height-30 bg-default">
                                <td valign="middle" width="100%">
                                    <div class="text-center h5"> Produzione Scritta</div>
                                </td>
                            </tr>
                        </table>
                    
                       
                    <div class="col-ms-12">
                            <div class="col-xs-8">
                            <div class="text-center text-gray-dark push-10-l">Scritto</div>

                            </div>
                            <div class="col-xs-4">
                             <div class="text-black">@elem._livScritto.ToUpper()</div>
    
                            </div>

                        </div>
                        <div class=" text-center push-20-t push-10">
                            <div class="col-xs-6">
                            <div class="h3 font-w300 push"><a class="icons icon-pencil h4" href="#" data-toggle="modal" data-target="#frkmodlingua" onclick="ModificaLanguage(@myRaiHelper.CommonHelper.TransformDates(Json.Encode(elem)))"></a></div>

                            </div>
                            <div class="col-xs-6">
                            <div class="h3 font-w300">
                                <a class="icons icon-trash h4 " href="#" onclick="ConfermaCancellazione_Languages('@elem._matricola.ToString()', '@elem._codLingua.ToString()')"></a>                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        }
    }
}

@*<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB">
        <div class="block-content block-content-full text-center"> 
            <div class="">
                 <h3 class="h4 text-language">Lingua dei segni cipriota</h3>
            </div>

            </div>
        <div class="block-content block-content-mini block-content-full bg-gray-lighter">
            <div class="text-center text-black">Comprensione</div>
            </div>
         <div class="row text-center">
                <div class="col-xs-8">
                
                    <div class="text-center text-black push-10-l push-10-t">Ascolto</div>
                </div>
                <div class="col-xs-4">
                <div class="h3 font-w300 text-black">A1</div>
    
                </div>

            </div>
                 <div class="row text-center">
                <div class="col-xs-8">
                <div class="text-center text-black push-10-l push-10-t">Lettura</div>

                </div>
                <div class="col-xs-4">
                 <div class="h3 font-w300 text-black">A1</div>
    
                </div>

            </div>
          <div class="block-content block-content-mini block-content-full bg-gray-lighter">
            <div class="text-center text-black">Parlato</div>
            </div>
         <div class="row text-center">
                <div class="col-xs-8">
                
                    <div class="text-center text-black push-10-l push-10-t">Interazione</div>
                </div>
                <div class="col-xs-4">
                <div class="h3 font-w300 text-black">A1</div>
    
                </div>

            </div>
            <div class="row text-center ">
                <div class="col-xs-8">
                <div class="text-center text-black push-10-l push-10-t">Produzione orale</div>

                </div>
                <div class="col-xs-4">
                 <div class="h3 font-w300 text-black">A1</div>
    
                </div>

            </div>
            <div class="block-content block-content-mini block-content-full bg-gray-lighter push-5-t">
                <div class="text-center text-black">
                Produzione Scritta
    
                </div>
                    
            </div>
                <div class="row text-center ">
                <div class="col-xs-8">
                <div class="text-center text-black push-10-l push-10-t">Scritto</div>

                </div>
                <div class="col-xs-4">
                 <div class="h3 font-w300 text-black">A1</div>
    
                </div>

            </div>
            <div class="row text-center push-20-t push-10">
                <div class="col-xs-6">
                <div class="h3 font-w300 push"><i class="fa fa-edit text-black"></i></div>

                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300"><i class="fa fa-trash-o  text-black"></i></div>
    
                </div>

            </div>

    </div>
</div>*@



@*<div class="col-xs-12 visible-xs"> 
<div class="push">
<button class="btn btn-default pull-right" type="button"><i class="fa fa-plus text-danger push-5-l push-5-r"></i> <span class="hidden-xs">Aggiungi</span></button>
<div class="btn-group">


</div>
</div>
</div>*@

 
   
