@using myRaiHelper
@model List<myRaiCommonModel.CercaDipendentiItem>

<div id="CercaDipendenti-risultati-body">
    <div class="row">
        <div class="col-sm-12">
            <label><b>RISULTATI RICERCA</b></label>
            <div style="overflow-x:auto;overflow-y:auto;max-height:430px;">
                <table class="table table-hover rai-table rai-table-vcenter push-10" role="grid">
                    <thead>
                        <tr>
                            <th class="text-left">Nominativo</th>
                            <th class="text-left">Direzione</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null && Model.Any())
                            {
                                foreach (var dip in Model.OrderBy(x=>x.COGNOME).ThenBy(x=>x.SECONDO_COGNOME).ThenBy(x=>x.NOME))
                                {
                                    string nominativo = dip.COGNOME.TitleCase() + " " + dip.NOME.TitleCase();
                                    string desServizio = dip.DES_SERVIZIO.Replace(dip.COD_SERVIZIO + " - ", "").TitleCase();

                                    <tr data-persone="" id="TR_@(dip.ID_PERSONA)" data-iddipendente="@(dip.ID_PERSONA)" data-nominativo="@nominativo" data-servizio="@desServizio" role="row" style="margin:2px; border-top:1px solid lightgray; ">
                                        <td data-id-persona="@(dip.ID_PERSONA)">
                                            @Html.ProfileWidget(dip.MATRICOLA, nominativo, null)
                                        </td>
                                        <td data-id-persona="@(dip.ID_PERSONA)">
                                            <label class=" text-left" style="width:100%; margin-bottom:0px;">@(dip.SERVIZIO.TitleCase())</label>
                                        </td>
                                        <td class="text-right">
                                            <a class="btn rai-btn-small" onclick="MboRicercaCrea(this)">Crea</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @Html.Partial("~/Views/shared/_NoDati.cshtml")
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    @if (Model!=null && Model.Any())
                    {
                        <i class="rai-font-md-neutral">@Model.Count() risultati</i>
                    }
                </div>
            </div>
        </div>
    </div>
</div>