@model myRaiCommonModel.cvModels.cvModel.Formazione
@using MVCProject.Custom_Helpers
@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
}

<div class="rai modal fade right modalCheck" id="modalFormazioneInserimento" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="rai modal-content">


            @using (Html.BeginModal("Aggiungi un corso di formazione Extra rai"))
            {
                using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dati generali", false, new List<myRaiHelper.ActionTemplate>() { new myRaiHelper.ActionTemplate() { OnClick = "StartTourFormazione();return false;", Icon = "fa fa-life-ring", Text = " Tutorial" } }, contentId: "edit-content"))
                {
                    using (Html.BeginForm("/", "CV_Online", FormMethod.Post, new { id = "form-insertformazione", @class = " mb-lg form-insertformazione" }))
                    {


                        <div id="frmInserimentoFormazione">
                            <div class="rai form-group">

                                <div class="row">
                                    <div class="col-md-12 push-10" data-tourdb="tour-form-corso-titolo"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-titolo")>


                                        @Html.LabelForRequiredObbl(model => model._corso, "Titolo corso", new { @class = "titleElements rai-caption requiredobbl" })
                                        @Html.TextBoxFor(model => model._corso, new { @id = "_corso", @class = "rai form-control ", @placeholder = "Inserisci il titolo del corso" })
                                        @Html.ValidationMessageFor(model => model._corso)

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 push-10" data-tourdb="tour-form-corso-anno"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-anno")>
                                            @Html.LabelForRequiredObbl(model => model._anno, "Anno", new { @class = "titleElements rai-caption requiredobbl" })
                                        <div class="input-group">
                                            <span class="input-group-addon" style="cursor: pointer" onclick="$('#_anno').datetimepicker('show')"><i class="icons icon-calendar"></i></span>

                                            @Html.TextBoxFor(model => model._anno, new { @id = "_anno", @class = "js-datetimepicker rai form-control ", @placeholder = "Seleziona un anno", @data_format = "YYYY", @data_locale = "it" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model._anno)

                                    </div>
                                    <div class="col-md-6 push-10" data-tourdb="tour-form-corso-durata"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-durata")>
                                            @Html.LabelForRequiredObbl(model => model._corso, "Durata", new { @class = "titleElements rai-caption requiredobbl" })
                                        @Html.TextBoxFor(model => model._durata, new { @id = "_durata", @class = "rai form-control ", @placeholder = "Inserisci la durata", @data_format = "YYYY", @data_locale = "it" })
                                        @Html.ValidationMessageFor(model => model._durata)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 push-10" data-tourdb="tour-form-corso-nome"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-nome")>
                                        <label for="_presso" class="titleElements rai-caption">Nome società o ente erogatore della formazione</label>
                                        <input class="rai form-control  " type="text" id="_presso" name="_presso" placeholder="Inserisci il nome della società" />
                                @Html.ValidationMessageFor(x => x._presso)
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 push-10" data-tourdb="tour-form-corso-citta"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-citta")>
                                            <label for="_localitaStudi" class="titleElements rai-caption">Città</label>
                                            <input class="rai form-control  " type="text" id="_localitaCorso" name="_localitaCorso" placeholder="Inserisci la città dove si è svolto il corso" />
                                    </div>
                                    <div class="col-md-6 push-10" data-tourdb="tour-form-corso-paese"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-paese")>
                                            <label for="_codNazione" class="titleElements rai-caption">Paese</label>
                                            <select class="rai form-control   js-select2" id="_codNazione" name="_codNazione" style="width: 100%;" data-placeholder="Seleziona dalla lista">
                                            <option></option>
                                            <!-- necessario per il placeholder con Select2 plugin -->
                                            @{
                                                var naz = (from nazione in cvEnt.DNazione
                                                           orderby nazione.DES_NAZIONE
                                                           select nazione).OrderBy(x => new { x.QTA_ORDINE, x.DES_NAZIONE }).ToList();
                                            }
                                            @foreach (var elem in naz)
                                            {
                                                <option value="@elem.COD_SIGLANAZIONE">@(elem.DES_NAZIONE)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 push-10" data-tourdb="tour-form-corso-principali"
                                         @Html.TourAttributes(Model.TourElements, "tour-form-corso-principali")>
                                            <label for="_note" class="titleElements rai-caption">Principali competenze acquisite</label>
                                            <textarea  maxlength="1000" class="rai form-control  " id="_note" name="_note" rows="5" placeholder="Descrivi sinteticamente le principali competenze acquisite utilizzando al massimo 1000 caratteri"></textarea>
                                        @Html.ValidationMessageFor(x => x._note)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row push-20-t">
                            <div class="col-sm-12 text-center">
                                <a href="@Html.Raw(Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/cv_online/pdf")" target="_blank" target="_blank"><p class="text-bold">Visualizza l'anteprima del tuo CV</p></a><br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn rai-btn-primary full-width" type="submit" onclick="submit_corsiFormazione(this)">Salva</button>
                            </div>
                        </div>
                    }

            <div id="savedbcorsi" class="alert alert-primary" style="position:fixed;bottom:10px;right:10px;display:none;z-index:100; width:250px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-refresh fa-spin"></i> Salvataggio in corso
                    </div>
                }
            }


        </div>
    </div>
</div>
<script>
    $.validator.unobtrusive.parse("#form-insertformazione");
</script>
