@using myRaiHelper;
@using MVCProject.Custom_Helpers;
@using myRaiData;

@model List<MyRai_Eccezioni_Richieste>

<table id="rich-table" class="tableall">
    <tbody>
        @foreach ( var eccrich in Model )
        {
            <tr tabindex="-1" role="row" aria-label="@eccrich.MyRai_Richieste.nominativo ha una richiesta  di @eccrich.cod_eccezione per il @eccrich.data_eccezione.ToString("dd/MM/yyyy")"
                style="height: 90px;" class="trdata visible-lg "
                data-idrichiesta="@eccrich.id_richiesta" data-ideccezione="@eccrich.id_eccezioni_richieste"
                data-eccez-data="@eccrich.data_eccezione.ToString("dd/MM/yyyy")" data-tr="@eccrich.numero_documento"
                data-livello-richiedente="0" onfocus="onFocusRowShowCtrl(this)"
                onblur="onBlurRowShowCtrl(this)" data-id-ec="@eccrich.id_eccezioni_richieste">
                <td class="font-w600 " style="font-weight: bold;">
                    <b>@eccrich.cod_eccezione</b><br>
                    @CommonHelper.GetDescrizioneEccezione( eccrich.cod_eccezione )
                    <div class="text-muted">
                        <em style="font-weight: 500;">&nbsp;</em>
                    </div>
                </td>
                <td>
                    <div class="row font-w600" style="font-weight: bold;">@eccrich.data_eccezione.ToString( "dd/MM/yyyy" )</div>
                    <div class="text-muted">
                        <span></span>
                    </div>
                </td>
                <td colspan="2">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="widget-profile-info">
                                <div class="profile-picture">
                                    <img style="width: 45px; height: 45px" src="@CommonHelper.GetUrlFoto(eccrich.MyRai_Richieste.matricola_richiesta)">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8" style="padding-left:30px">
                            <a tabindex="-1" class="font-w600" style="font-weight: bold;"
                               data-toggle="modal" data-target="#giornata-modal" data-day="@eccrich.data_eccezione.ToString("dd/MM/yyyy")" href="#">@eccrich.MyRai_Richieste.nominativo</a>
                            <div class="text-muted">
                                @if ( !String.IsNullOrWhiteSpace( eccrich.motivo_richiesta ) )
                                {
                                    <span>Motivo: @eccrich.motivo_richiesta</span>
                                }
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </td>
                <td class="text-right actions-hover actions-fade" role="toolbar" +=""></td>
            </tr>
        }
    </tbody>
</table>