@using myRaiCommonModel;
@model IEnumerable<Parametri>
@if (Model == null || !Model.Any())
{
    <div class="block-header block-content-mini bg-cel ">
        <div class="row">
            <div class="col-sm-12">
                <h4>Non ci sono dati da visualizzare</h4>
            </div>
            <div class="col-sm-12" style="MARGIN-TOP: -10PX;">
                <small><em id=""></em></small>
            </div>
        </div>
    </div>
    <div class="block-content block-content-mini block-content-full boxdate" style="margin-bottom: 0px; padding-bottom:5px;">
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("~/Views/Shared/_NoDatidiv.cshtml")
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginModal("Gestione parametro"))
    {
        foreach (var item in Model)
        {
            <div id="dettaglioParametro" class="block">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title">Informazioni Parametro</h2>
                    </header>
                    <div class="panel-body" id="">
                        <div class="row push-10">
                            <div class="col-xs-3"><span>Descrizione: </span></div>
                            <div class="col-xs-9"><span><b>@item.Chiave</b></span></div>
                        </div>

                        <div class="row push-10">
                            <div class="col-xs-3"><span>Primo valore: </span></div>

                            <div class="col-xs-9">
                                <b>
                                    <span>@item.Valore1</span>
                                </b>
                            </div>
                        </div>

                        <div class="row push-10">
                            <div class="col-xs-3"><span>Secondo valore: </span></div>

                            <div class="col-xs-9">

                                <b>
                                    @if (item.Valore2 == null || item.Valore2.Equals(""))
                                    {
                                        <span>Nessun Valore Assegnato</span>
                                    }
                                    else
                                    {
                                        <span>@item.Valore2</span>
                                    }


                                </b>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-3"><span>Categoria: </span></div>
                            <div class="col-xs-6">
                                @if (item.categoria == null || item.categoria.Equals(""))
                                {
                                    <span class="rai-font-md-bold">Nessuna Categoria Assegnata</span>


                                }
                                else
                                {
                                    <span class="rai-font-md-bold">@item.categoria</span>
                                }
                            </div>
                            @if (item.categoria == null || item.categoria.Equals(""))
                            {
                                <div class="col-xs-3 text-right">
                                    <a href="#" id="btnInserimentoCategoria" class="btn rai-btn-small" onclick="showDropDownListCategorie()" style="height:auto;">Inserisci Categoria</a>
                                </div>
                            }
                        </div>

                    </div>

                    <div class="panel-body" id="ddlCategorieList" style="display:none">
                        <form id="formCercaFoglioSpese">
                            <div class="rai form-group">
                                <div class="row">
                                    <div class="params col-md-12">
                                        <p style="margin:0 0 -1px">
                                            <label class="rai-caption" for="Stato">Inserisci una Categoria</label>
                                        </p>
                                        <div class="dropdown">
                                            <select id="selectCategoria" class="form-control form-control-sm">
                                                <option value="">- Seleziona una categoria -</option>
                                                @foreach (var cat in Enum.GetValues(typeof(Parametri.Categoria)))
                                                {
                                                    <option>@Enum.GetName(typeof(Parametri.Categoria), cat)</option>
                                                }

                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" id="btnCategoriaSave" class="btn btn-primary full-width" onclick="InsertNewCategoria('@item.ID')">Salva</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>

        }

    }
}
