@using myRaiHelper
@model ModalTemplateBody

@{
    bool hasContent = !Model.OnlyHeader && !Model.OnlyFooter;
}

@*<div class="block block-transparent no-margin-bottom">
        <div class="block-header">
            <label class="rai-font-modal-heading">@(Model.Title)</label>
            <div class="block-options">
                <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
        <div class="block-content">
            @Html.Partial(Model.ViewUrl, Model.Model)
        </div>
    </div>*@



@if (hasContent || Model.OnlyHeader)
{
    @Html.Raw("<div class=\"block block-transparent no-margin-bottom\">")
    <div class="block-header">
        <label class="rai-font-modal-heading">@(Model.Title)</label>
        <div class="block-options">
            <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    @Html.Raw("<div class=\"block-content\">")
}

@if (hasContent)
{
    @Html.Partial(Model.ViewUrl, Model.Model)
}

@if (hasContent || Model.OnlyFooter)
{
    @Html.Raw("</div></div>")
}




