@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@{
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<section class="body">
    @Html.Partial( "../Shared/header2" , new myRaiCommonModel.NotifichePopupModel( CommonHelper.GetCurrentUserMatricola( ) ) )
    <div class="inner-wrapper">
        @Html.Partial( "../Shared/sidebar3" , myRaiHelper.UtenteHelper.getSidebarModel(  ) )
        <section role="main" class="content-body" style="padding-top:10px;">
            <main id="main-container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="incentivi-title">Detassazione</div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8" id="panel-lista-dipendenti">
                            <section class="panel ">
                                <header class="panel-heading">
                                    <div class="panel-actions visible-xs">
                                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblLeftBox" aria-expanded="true"></a>
                                    </div>
                                    <h2 id="lblLeftBox" class="panel-title">Elenco dipendenti</h2>
                                </header>
                                <div class="panel-body no-padding">
                                    <div class="col-sm-12">
                                        <div class="my-card-loading-block"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-4">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Contatori</h2>
                                    <div class="panel-actions visible-xs" style="position: absolute">
                                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="widget-summary" id="panel-report-detassazione">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <table class="js-table-sections table table-hover" id="" style="width: 100%">
                                                    <tbody class="js-table-sections-header">
                                                        <tr>
                                                            <td class="text-center" style="width: 40%">
                                                                <figure class="profile-picture my-card-loading-block" style="height:100px;"></figure>
                                                            </td>
                                                            <td class="text-left" style="width: 60%">
                                                                <p class="text-bold my-card-loading-block"></p>
                                                                <p></p>
                                                                <p class="text-italic my-card-loading-block"></p>
                                                                <p class="text-italic my-card-loading-block"></p>
                                                            </td>
                                                            <td class="" style="width: 10%; vertical-align:top!important"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            @Html.Partial( "~/Views/GestioneDetassazione/subpartial/_ricerca.cshtml" )
                        </div>
                    </div>
                </div>
            </main>
            <!-- end: page -->
        </section>
    </div>
    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px;">
            </div>
        </div>
        <div class="nano-pane" style="opacity: 1; visibility: visible;">
            <div class="nano-slider" style="height: 583px; transform: translate(0px, 0px);"></div>
        </div>
    </aside>
</section>

@section afterjs {
    @Html.Raw( TempData["script"] )

    <script type="text/javascript">
        function LoadDipendenti() {
            var filtri = new Object();
            filtri.Pagina = 1;
            filtri.Matricola = null;
            filtri.Nominativo = null;
            filtri.Modello = null;
            filtri.Stato = 1;
            $.ajax({
                url: '@Url.Action( "ListaDipendenti" , "GestioneDetassazione" )',
                type: "POST",
                data: filtri,
                success: function (data) {
                    $('#panel-lista-dipendenti').html(data);
                },
                error: function (parm1, parm2, parm3) {
                }
            });
        }

        $(function () {
            LoadDipendenti();
            $('#panel-report-detassazione').load('@Url.Action( "ReportDetassazione" , "GestioneDetassazione" )');
        })
    </script>
}