@using myRaiHelper;
@using myRaiCommonModel;


@model BudgetVM

<div class="modal right fade" id="modal-export-document" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-dialog-popin modal-half-dialog">
        <div class="modal-content ">
            <div id="modal-export-document-internal" data-modal-wrapper>
                @using (Html.BeginModal("Esportazione report"))
                {
                    using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Parametri esportazione", false))
                    {
                        using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Tipologia report"))
                        {
                            <input type="hidden" id="document-type" value="" />
                            <div data-document="piano" style="display:none;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p1" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportPromozioniCampagna", "Budget")" data-filter="costo|costo" data-hidden-filter="hiddenPiano|idCamp" />
                                            <label for="p1">Download Report 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p2" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportPoliticheRetributiveSelected", "Budget")" data-filter="piano|selezione" />
                                            <label for="p2">Download Report 2</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p3" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaRiepiloProvv", "Budget")" data-filter="anno|anni" />
                                            <label for="p3">Riepilogo provvedimenti</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p4" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportProvvedimentiLiv", "Budget")" data-filter="" />
                                            <label for="p4">Riepilogo aumenti di livello</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p5" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportLettere", "Budget")" data-filter="provv|provs" />
                                            <label for="p5">Riepilogo lettere consegnate per provvedimento</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p6" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportLettere", "Budget")" data-filter="provv|provs,piano|piani,area|aree" />
                                            <label for="p6">Riepilogo lettere consegnate per piano</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p7" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportPassaggiCategoria", "Budget")" data-filter="" />
                                            <label for="p7">Report passaggi di categoria</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p8" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportNumeri", "Budget")" data-filter="" />
                                            <label for="p8">Conteggio provvedimenti</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit=">" data-visibility-value="2">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p9" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportProvRal", "Budget")" data-filter="tipoProv|tipoProv" data-hidden-filter="hiddenPiano|idCamp" />
                                            <label for="p9">Pivot provvedimenti</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-visibility-crit="=" data-visibility-value="0">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="p10" type="radio" name="doc-type-piano" onclick="OnCheckedDocType(this)" data-href="@Url.Action("ReportProvRal", "Budget")" data-filter="piano|idCamp,tipoProv|tipoProv"/>
                                            <label for="p10">Pivot provvedimenti</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-document="area" style="display:none;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="a1" type="radio" name="doc-type-area" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaAreaXLSX", "Budget", new {  anno = Model.AnnoSelezionato })" data-filter="" data-hidden-filter="hiddenPiano|idCamp,hiddenArea|idArea" />
                                            <label for="a1">Esporta direzioni</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="a2" type="radio" name="doc-type-area" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaAreaXLSX", "Budget", new {  anno = Model.AnnoSelezionato })" data-filter="" data-hidden-filter="hiddenPiano|idCamp,hiddenArea|idArea" data-fixed-filter="soloCause|true" />
                                            <label for="a2">Esporta provv./cause/vert./stra.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="a3" type="radio" name="doc-type-area" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaRiepilogoArea", "Budget", new {  anno = Model.AnnoSelezionato })" data-filter="" data-hidden-filter="hiddenPiano|idCamp,hiddenArea|idArea" />
                                            <label for="a3">Esporta riepilogo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="a4" type="radio" name="doc-type-area" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaRiepilogoCause", "Budget", new { anno = Model.AnnoSelezionato })" data-filter="" data-hidden-filter="hiddenPiano|idCamp,hiddenArea|idArea" data-fixed-filter="tipoProv|1" />
                                            <label for="a4">Riepilogo dipendenti con cause</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="a5" type="radio" name="doc-type-area" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaRiepilogoCause", "Budget", new { anno = Model.AnnoSelezionato })" data-filter="" data-hidden-filter="hiddenPiano|idCamp,hiddenArea|idArea" data-fixed-filter="tipoProv|2" />
                                            <label for="a5">Riepilogo dipendenti prov. disc.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rai-radio">
                                            <input id="a6" type="radio" name="doc-type-area" onclick="OnCheckedDocType(this)" data-href="@Url.Action("EsportaRiepilogoStragiudiziale", "Budget", new { anno = Model.AnnoSelezionato })" data-filter="" data-hidden-filter="hiddenPiano|idCamp,hiddenArea|idArea" data-fixed-filter="tipoProv|0" />
                                            <label for="a6">Riepilogo dipendenti stragiudiziale</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Filtri report"))
                        {
                            <input type="hidden" id="hiddenPiano" value="" />
                            <input type="hidden" id="hiddenArea" value="" />

                            <div class="form-group">
                                <div data-document-filter="*">
                                    <div class="row">
                                        @Html.Partial("~/Views/Shared/_NoDatiDiv.cshtml")
                                    </div>
                                </div>
                                <div data-document-filter="piano" style="display:none;">
                                    <div class="row push-10">
                                        <div class="col-sm-4">
                                            <label class="rai-caption">Piano</label>
                                        </div>
                                        <div class="col-sm-8" style="padding-top:10px;">
                                            @foreach (var item in Model.Campagne.Where(x => x.Id > 2).OrderBy(x=>x.DataInizio))
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12 no-padding">
                                                        <div class="rai-checkbox">
                                                            <input id="piano@(item.Id)" type="checkbox" value="@item.Id" checked="checked" />
                                                            <label for="piano@(item.Id)">@item.NomeCampagna</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div data-document-filter="anno" style="display:none;">
                                    <div class="row push-10">
                                        <div class="col-sm-4">
                                            <label class="rai-caption">Anno decorrenza</label>
                                        </div>
                                        <div class="col-sm-8" style="padding-top:10px;">
                                            @foreach (var item in Model.InfoCampagna.Decorrenze.OrderBy(w => w).Select(w => w.Year).Distinct())
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12 no-padding">
                                                        <div class="rai-checkbox">
                                                            <input id="year@(item)" type="checkbox" value="@item" checked="checked" />
                                                            <label for="year@(item)">@item</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div data-document-filter="provv" style="display:none;">
                                    <div class="row push-10">
                                        <div class="col-sm-4">
                                            <label class="rai-caption">Provvedimento</label>
                                        </div>
                                        <div class="col-sm-8" style="padding-top:10px;">
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv1" type="checkbox" value="1" checked="checked" />
                                                        <label for="provv1">Promozioni</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv2" type="checkbox" value="2" checked="checked" />
                                                        <label for="provv2">Aumento di merito</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv3" type="checkbox" value="3" checked="checked" />
                                                        <label for="provv3">Gratifiche</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-document-filter="area" style="display:none;">
                                    <div class="row push-10">
                                        <div class="col-sm-4">
                                            <label class="rai-caption">Area</label>
                                        </div>
                                        <div class="col-sm-8" style="padding-top:10px;">
                                            @foreach (var item in PoliticheRetributiveHelper.GetEnabledAreas(null, CommonHelper.GetCurrentUserMatricola()).OrderBy(x => x.NOME))
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12 no-padding">
                                                        <div class="rai-checkbox">
                                                            <input id="area@(item.ID_AREA)" type="checkbox" value="@item.ID_AREA" checked="checked" />
                                                            <label for="area@(item.ID_AREA)">@item.NOME</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div data-document-filter="costo" style="display:none;">
                                    <div class="row push-10">
                                        <div class="col-sm-4">
                                            <label class="rai-caption">Costi</label>
                                        </div>
                                        <div class="col-sm-8" style="padding-top:10px;">
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id=" costo1" name="chkCosto" type="checkbox" value="annuo" />
                                                        <label for="costo1">Annuo</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id=" costo2" name="chkCosto" type="checkbox" value="periodo" />
                                                        <label for="costo2">Periodo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-document-filter="tipoProv" style="display:none;">
                                    <div class="row push-10">
                                        <div class="col-sm-4">
                                            <label class="rai-caption">Provvedimento</label>
                                        </div>
                                        <div class="col-sm-8" style="padding-top:10px;">
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv@(PoliticheRetributiveHelper.SIGLA_PROMOZIONI)" name="tipoProv" type="checkbox" value="@PoliticheRetributiveHelper.SIGLA_PROMOZIONI" checked="checked" />
                                                        <label for="provv@(PoliticheRetributiveHelper.SIGLA_PROMOZIONI)">Promozioni</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv@(PoliticheRetributiveHelper.SIGLA_AUMENTI)" name="tipoProv" type="checkbox" value="@PoliticheRetributiveHelper.SIGLA_AUMENTI" checked="checked" />
                                                        <label for="provv@(PoliticheRetributiveHelper.SIGLA_AUMENTI)">Aumento di merito</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv@(PoliticheRetributiveHelper.SIGLA_GRATIFICHE)" type="checkbox" value="@PoliticheRetributiveHelper.SIGLA_GRATIFICHE" checked="checked" />
                                                        <label for="provv@(PoliticheRetributiveHelper.SIGLA_GRATIFICHE)">Gratifiche</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 no-padding">
                                                    <div class="rai-checkbox">
                                                        <input id="provv@(PoliticheRetributiveHelper.SIGLA_NESSUNO)" name="tipoProv" type="checkbox" value="@PoliticheRetributiveHelper.SIGLA_NESSUNO" checked="checked" />
                                                        <label for="provv@(PoliticheRetributiveHelper.SIGLA_NESSUNO)">Nessuno</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="rai-btn-fill">
                                    <button class="btn rai-btn-primary" onclick="EsportaDocumento()">Esporta</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    function OpenExportDocumentModal(documentType, piano, area) {
        event.preventDefault();
        $('#hiddenPiano').val('');
        $('#hiddenArea').val('');

        $('[data-document]').hide();
        $('[data-document-filter]').hide();
        $('[data-document-filter="*"]').show();

        if (documentType != undefined && documentType != '') {
            $('#document-type').val(documentType);
            $('[data-document="' + documentType + '"]').show();

            if (piano != undefined) {
                $('[data-visibility-crit]').each(function () {
                    var visCrit = $(this).data('visibility-crit');
                    var visValue = $(this).data('visibility-value');

                    if (visCrit == "=") {
                        if (visValue == piano) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                    else if (visCrit == ">") {
                        if (piano > visValue) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                })
            }
        }

        if (piano != undefined) {
            $('#hiddenPiano').val(piano);
        }

        if (area != undefined) {
            $('#hiddenArea').val(area);
        }

        $('#modal-export-document').modal('show');
    }

    function OnCheckedDocType(radio) {
        $('[data-document-filter]').hide();
        var dataFilter = $(radio).data('filter');

        if (dataFilter == '') {
            $('[data-document-filter="*"]').show();
        }
        else {
            dataFilter.split(',').forEach(function (x) {
                var filterName = x.split('|')[0];
                $('[data-document-filter="' + filterName + '"]').show();
            });

        }
    }

    function EsportaDocumento() {
        debugger
        var documentType = $('#document-type').val();

        var selector = '[data-document="' + documentType + '"] input[name="doc-type-' + documentType + '"]:checked';

        var urlLink = $(selector).data('href');
        var urlFilter = $(selector).data('filter');
        var urlHiddenFilter = $(selector).data('hidden-filter');
        var urlFixedFilter = $(selector).data('fixed-filter');

        var urlParameter = "";

        var indexQuestionMark = urlLink.indexOf('?');
        if (indexQuestionMark > -1) {
            urlParameter = urlLink.substring(indexQuestionMark + 1);
        }

        if (urlHiddenFilter != undefined && urlHiddenFilter != '') {
            urlHiddenFilter.split(',').forEach(function (x) {
                var filterAttribute = x.split('|')[0];
                var urlParameterName = x.split('|')[1];

                var urlParameterValue = $('#' + filterAttribute).val();

                if (urlParameter != '') {
                    urlParameter += "&";
                }

                urlParameter += urlParameterName + "=" + urlParameterValue;
            });
        }

        if (urlFilter != undefined && urlFilter != '') {
            urlFilter.split(',').forEach(function (x) {
                var filterAttribute = x.split('|')[0];
                var urlParameterName = x.split('|')[1];

                var urlParameterValue = "";

                $('[data-document-filter="' + filterAttribute + '"] input:checked').each(function () {
                    if (urlParameterValue != '') {
                        urlParameterValue += ',';
                    }
                    urlParameterValue += $(this).val();
                });

                if (urlParameter != '') {
                    urlParameter += "&";
                }

                urlParameter += urlParameterName + "=" + urlParameterValue;
            });
        }

        if (urlFixedFilter != undefined && urlFixedFilter != '') {
            urlFixedFilter.split(',').forEach(function (x) {
                var urlParameterName = x.split('|')[0];
                var urlParameterValue = x.split('|')[1];

                if (urlParameter != '') {
                    urlParameter += "&";
                }

                urlParameter += urlParameterName + "=" + urlParameterValue;
            });
        }

        if (urlParameter != '') {
            urlLink += '?' + urlParameter;
        }
        console.log(urlLink)
        window.location = urlLink;
    }
</script>