@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model Dashboard

@{
    Layout = "~/Views/RaiAcademy/BaseView.cshtml";
}

@* Dati matricola *@
<div class="row academy-full-row academy-full-row-header">
    <div class="col-sm-6 border-right">
        <div class="col-sm-12">
            <div class="thumb-info mb-md">
                <div class="col-sm-5">
                    <div class="widget-profile-info ">
                        <div class="profile-picture">
                            <img class="borderprofile" style="width: 140px; height: 140px; border-radius:50%" src="@UtenteHelper.FotoUtente()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <span class="thumb-info-inner h1 academy-nomeProfilo">@CommonHelper.ToTitleCase( UtenteHelper.EsponiAnagrafica( )._nome )<br />@CommonHelper.ToTitleCase( UtenteHelper.EsponiAnagrafica( )._cognome )</span>
                    <span class="thumb-info-inner h4 academy-subtitle">@CommonHelper.ToTitleCase( UtenteHelper.EsponiAnagrafica( )._figProfessionale )</span>
                </div>
            </div>
        </div>
        <br />
        @*        <div class="col-sm-12">
                <div class="tag-container">
                    <p class="academy-subtitle">Le tue aree di interesse:</p>
                    @foreach (var tag in Model.Interessi)
                    {
                        <div class="tag-corsi"> <span style="cursor:pointer">@tag.Testo</span></div>
                    }
                </div>
            </div>*@
    </div>
    <div class="col-sm-6 border-left">
        <div class="col-sm-12">
            <div class="academy-header-content">
                <p class="academy-header-paragraph">Non trascurare il tuo curriculum.<br />Tieni sempre aggiornate le tue competenze e i tuoi interessi per ricevere un'offerta formativa su misura per te.</p>
            </div>
        </div>
        <br />
        <div class="col-sm-12">
            <div @*class="academy-header-subcontent"*@>
                <a class="btn btn-sm btn-primary push-20-t" @*style="margin-top:50px !important;"*@ href="@Url.Action("Index","CV_Online")" target="_blank">AGGIORNA IL CV</a>
            </div>
        </div>
    </div>
</div>

<br />

@* Notifiche e contatori corsi *@
<div class="row">
    <div class="col-sm-4">
        @Html.AsyncPartial( "RaiAcademy" , "getNotifiche" , "~/Views/RaiAcademy/subpartial/notifiche_skeleton.cshtml" , TempData )
    </div>
    <div class="col-sm-8">
        @Html.Partial( "~/Views/RaiAcademy/subpartial/Alert.cshtml" , Model.AlertCorsiDaFare )
        @Html.Partial( "~/Views/RaiAcademy/subpartial/Alert.cshtml" , Model.AlertCorsiDaApprovare )
        @Html.Partial( "~/Views/RaiAcademy/subpartial/Alert.cshtml" , Model.AlertCorsiIniziati )
        @Html.Partial( "~/Views/RaiAcademy/subpartial/Alert.cshtml" , Model.AlertCorsiFatti )
    </div>
</div>

@* Calendari *@
<div class="row">
    <div class="col-sm-4">
        @Html.AsyncPartial( "RaiAcademy" , "getCalendario" , "~/Views/RaiAcademy/subpartial/Calendario_Skeleton.cshtml" , TempData )
    </div>
    <div class="col-sm-8">
        @Html.AsyncPartial( "RaiAcademy" , "getAgenda" , "~/Views/RaiAcademy/subpartial/schedule_skeleton.cshtml" , TempData )
    </div>
</div>

@* Corsi *@
<div class="row">
    <div class="col-sm-12">
        <div class="academy-title">I miei corsi</div>
    </div>
</div>

<br />

@* Corsi iniziati *@
<div class="row istituzionale academy-full-row">
    <div class="col-sm-12">
        @Html.AsyncPartial( "RaiAcademy" , "ElencoCorsiIniziati" , "~/Views/RaiAcademy/ElencoCorsi_skeleton.cshtml" , TempData )
    </div>
</div>

@* Obbligatori da fare *@
<div class="row">
    <div class="col-sm-12">
        @Html.AsyncPartial( "RaiAcademy" , "ElencoCorsiObbligatori" , "~/Views/RaiAcademy/ElencoCorsi_skeleton.cshtml" , TempData )
    </div>
</div>

@* Mi incuriosiscono *@
<div class="row">
    <div class="col-sm-12">
        @Html.AsyncPartial( "RaiAcademy" , "ElencoCorsiMiIncuriosiscono" , "~/Views/RaiAcademy/ElencoCorsi_skeleton.cshtml" , TempData )
    </div>
</div>

<br />
@* Riconoscimenti *@
@*<div class="row academy-full-row academy-full-row-riconoscimenti">
        <div class="col-sm-12">
            @Html.AsyncPartial("RaiAcademy", "GetRiconoscimenti", "~/Views/RaiAcademy/subpartial/Riconoscimenti_skeleton.cshtml", TempData)
        </div>
    </div>*@

@* Vai al catalogo corsi*@
<div class="row">
    <div class="col-sm-12 text-center">
        <a class="btn btn-lg btn-primary push-20-t" href="@Url.Action("Index","RaiAcademy")">Vai al catalogo corsi</a>
    </div>
</div>

@section afterjs {
    @Html.Raw( TempData["script"] )

    <script type="text/javascript">
    </script>
}
