@model List<myRaiCommonModel.cvModels.cvModel.Allegati>

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();

    string matricola = myRaiHelper.UtenteHelper.EsponiAnagrafica()._matricola;

    
}
<div class="row">
                <a href="#btabs-alt-static-settings" id="aggiungi" data-toggle="modal" title="" data-target="#modal-popup-iniziale" onclick="">
                    <button class="btn btn-default pull-right" type="button"><i class="fa fa-plus text-experiences push-5-l push-5-r"></i> <span >Carica</span></button>
                </a>
    </div>
        <!-- Composizione della FORM -->
       

@foreach (var elem in Model)

{
    if (elem._contentType.Contains("audio"))
    {
<!-- AUDIO -->
<!-- FREAK - PROVA QUARTO BOX  -->
<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB">
        <div class="block-content block-content-full text-center"> 
            <div class="row text-center push-10">
                 <h3 class="font-s12 text-study">@elem._name</h3>
            </div>
            <div class="height-250">
                <audio class="kv-preview-data" controls="" style="width:100%">
                <source src="@elem._pathName.Replace("\\", "/")" type="audio/mp3">
                <div class="file-preview-other">
                <span class="file-other-icon"><i class="glyphicon glyphicon-file"></i></span>
                </div>
                </audio>
            </div>
            <div class="row text-center">
                 <a class="font-s12 text-muted" href="@elem._pathName.Replace("\\", "/")">@elem._name</a>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-xs-6">
                &nbsp;
                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                        <a href="#" class="fa fa-trash-o  text-gray" onclick="ConfermaCancellazione_Allegati('@elem._matricola', '@elem._id', '@elem._pathName.Replace("\\","\\\\")')"></a>
                </div>
    
                </div>

            </div>
    </div>
</div>


<!-- FREAK - FINE PROVA QUARTO BOX -->
    }
    
    else if (elem._contentType.Contains("video"))
    {
<!-- VIDEO -->
<!-- FREAK - PROVA PRIMO BOX VIDEO -->
<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB">
        <div class="block-content block-content-full text-center"> 
            <div class="row text-center push-10">
                 <h3 class="font-s12 text-study">@elem._name</h3>
            </div>
            <div class="height-250">
                <video class="push-10" width="100%" height="100%" controls="">
                <source src="@elem._pathName.Replace("\\", "/")" type="@elem._contentType">
                </video> 
            </div>
            <div class="row text-center">
                 <a class="font-s12 text-muted" href="@elem._pathName.Replace("\\", "/")">@elem._name</a>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-xs-6">
                &nbsp;
                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                        <a href="#" class="fa fa-trash-o  text-gray" onclick="ConfermaCancellazione_Allegati('@elem._matricola', '@elem._id', '@elem._pathName.Replace("\\","\\\\")')"></a>
                </div>
    
                </div>

            </div>
    </div>
</div>

<!-- FREAK - FINE PROVA PRIMO BOX -->
    }
    else if (elem._contentType.Contains("pdf"))
    {
<!-- PDF -->
<!-- FREAK - PROVA QUINTO BOX  -->
<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB">
        <div class="block-content block-content-full text-center"> 
            <div class="row text-center push-10">
                 <h3 class="font-s12 text-study">@elem._name</h3>
            </div>
            <div class="height-250">
                <embed class="kv-preview-data" src="@elem._pathName.Replace("\\", "/")" width="160px" height="128px" type="application/pdf" internalinstanceid="11">
            </div>
            <div class="row text-center">
                 <a class="font-s12 text-muted" href="@elem._pathName.Replace("\\", "/")">@elem._name</a>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-xs-6">
                &nbsp;
                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                        <a href="#" class="fa fa-trash-o  text-gray" onclick="ConfermaCancellazione_Allegati('@elem._matricola', '@elem._id', '@elem._pathName.Replace("\\","\\\\")')"></a>
                </div>
    
                </div>

            </div>
    </div>
</div>
    }
    else if (elem._contentType.Contains("image"))
    {
<!-- IMMAGINE DA SRC -->

<!-- FREAK - PROVA SECONDO BOX VIDEO -->

<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB"> 
        <div class="block-content block-content-full text-center"> 
            <div class="row text-center push-10">
                 <h3 class="font-s12 text-study">@elem._name</h3>
            </div>
            <div class="height-250">
                <img class="push-10" src="@elem._pathName.Replace("\\", "/")" height="123px" />
            </div>
            <div class="row text-center">
                 <a class="font-s12 text-muted" href="@elem._pathName.Replace("\\", "/")">@elem._name</a>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-xs-6">
                &nbsp;
                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                        <a href="#" class="fa fa-trash-o  text-gray" onclick="ConfermaCancellazione_Allegati('@elem._matricola', '@elem._id', '@elem._pathName.Replace("\\","\\\\")')"></a>
                </div>
    
                </div>

            </div>
    </div>
</div>
}
    else if (elem._contentType.Contains("website"))
    {
<!-- IMMAGINE DA SRC -->

<!-- FREAK - PROVA SECONDO BOX VIDEO -->

<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB"> 
        <div class="block-content block-content-full text-center"> 
            <div class="row text-center push-10">
                 <h3 class="font-s12 text-study">@elem._name</h3>
            </div>
            <div class="height-250">
                <img class="push-10" src="~/Media/img_default_website.png" height="123px" />
            </div>
            <div class="row text-center">
                @{
        string url_text;

        if (elem._pathName.Contains("http://"))
        {
            url_text = elem._pathName;
        }
        else
        {
            url_text = "http://"+elem._pathName;
        }

                }
                 <a class="font-s12 text-muted" href="@url_text" target="_blank">@elem._pathName</a>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-xs-6">
                &nbsp;
                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                        <a href="#" class="fa fa-trash-o  text-gray" onclick="ConfermaCancellazione_Allegati('@elem._matricola', '@elem._id', '@elem._pathName.Replace("\\","\\\\")')"></a>
                </div>
    
                </div>

            </div>
    </div>
</div>
}

    else
    {
<!-- IMMAGINE DA SRC -->

<!-- FREAK - PROVA SECONDO BOX VIDEO -->

<div class="col-sm-6 col-lg-4"> <!-- freak -  height-200 -->
    <div class="block card cardB"> 
        <div class="block-content block-content-full text-center"> 
            <div class="row text-center push-10">
                 <h3 class="font-s12 text-study">@elem._name</h3>
            </div>
            <div class="height-250">
                <img class="push-10" src="~/Media/img_default_other.png" height="123px" />
            </div>
            <div class="row text-center">
                 <a class="font-s12 text-muted" href="@elem._pathName.Replace("\\", "/")">@elem._name</a>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-xs-6">
                &nbsp;
                </div>
                <div class="col-xs-6">
                <div class="h3 font-w300" >
                        <a href="#" class="fa fa-trash-o  text-gray" onclick="ConfermaCancellazione_Allegati('@elem._matricola', '@elem._id', '@elem._pathName.Replace("\\","\\\\")')"></a>
                </div>
    
                </div>

            </div>
    </div>
</div>
}


}

<!-- FREAK - FINE PROVA SECONDO BOX -->










<!-- FREAK - FINE PROVA QUINTO BOX  -->




   <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
           
@*                  <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row push-10-t">
                        <div class="col-xs-6">   
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick=""><i class="fa fa-check-circle-o"></i> Invia</button> 
                        </div>
                    </div>
                  </div>*@
       



 <!-- Popup di MODIFICA Allegati -->
<div class="modal" id="frk_modificaAllegati">

</div>
<!-- FINE POPUP -->
   




   
