@using myRai.Business
@using myRai.Models
@model List<UserAD>


<div style="overflow:hidden;overflow-y:auto;max-height:500px;padding-right:5px;" id="cont-new-dip">
    <div class="row">
        <div class="col-sm-12">
            <table class="table rai-table rai-table-vcenter">
                <tr>
                    <td style="border-bottom:1px solid #ddd;">
                        <div class="rai-checkbox">
                            <input type="checkbox" data-check-group-all="dip-filter" onclick="ToggleAllDip('dip-filter', 'new-dip', 'btn-assoc-sel');" />
                            <label>&nbsp;Seleziona tutti</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table rai-table rai-table-vcenter" id="new-dip">
                <tbody>
                    @if (Model == null || Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3" class="text-center">
                                <span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var dip in Model.OrderBy(x => x.Matricola))
                        {
                            string sedeCont = dip.Sede;
                            string servizio = dip.Servizio;

                            <tr  data-search="new-dip" data-search-name="@dip.Nominativo" data-search-matr="@dip.Matricola" data-search-sedecont="@sedeCont" data-search-dir="@servizio" aria-hidden="false">
                                <td class="rai-table-td-action">
                                    <div class="rai-checkbox">
                                        <input data-matr="@dip.Matricola" type="checkbox" data-check-group="dip-filter" onclick="ToggleSingleDip('dip-filter', 'new-dip', 'btn-assoc-sel');" />
                                        <label>&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <span class="rai-font-md"><b>@dip.Matricola</b> - @dip.Nominativo.TitleCase()</span><br />
                                    <span class="rai-font-sm">@sedeCont</span><br />
                                    <span class="rai-font-sm-neutral">@servizio</span>
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

    <div class="row push-10-t">
        <div class="col-sm-12 text-right">
            <button class="btn rai-btn-small" disabled id="btn-assoc-sel" onclick="AssociaSelezionati()">Associa i selezionati</button>
        </div>
    </div>




