@using System.Web.Optimization
@using myRaiData;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;
@using MyRaiServiceInterface.it.rai.servizi.digigappws;

<!DOCTYPE html>
<html class="fixed sidebar-left-xs" lang="it">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    @if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        <title>Rai Per Me - @ViewBag.Title</title>
    }
    else
    {
        <title>Rai Per Me</title>
    }


    <meta name="description" content="myRai">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">



    <link rel="shortcut icon" href="~/assets/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon-180x180.png">





    <!-- Fine Icone -->
    <!-- Fogli di stile -->
    <!-- Web fonts -->

    @Styles.Render("~/assets/css/stylesPorto")  @*<-------------- BUNDLE CSS*@
    @{
        string[] testoPrivacy = CommonHelper.GetParametri<string>(EnumParametriSistema.TestoPrivacyGenerale);
        string tema = CommonHelper.GetTema((CommonHelper.GetCurrentUserMatricola()));

        if (tema != "")
        {
            string s = "/assets/stylesheets/skins/" + tema + ".css";
            <link href="@s" rel="stylesheet">
            string s2 = "/assets/stylesheets/skins/" + tema + "V2.css";
            <link href="@s2" rel="stylesheet">
        }
        else
        {
            string s = "/assets/stylesheets/skins/green.css";
            <link href="@s" rel="stylesheet">
            string s2 = "/assets/stylesheets/skins/greenV2.css";
            <link href="@s2" rel="stylesheet">
        }
    }

    @RenderSection("aftercss", false)


</head>


@{
    string StaiInProd = "";
    try
    {
        StaiInProd = System.Diagnostics.Debugger.IsAttached && System.Configuration.ConfigurationManager.ConnectionStrings["digiGappEntities2"].ConnectionString.ToLower().Contains("zto") ? "background-color:red" : "";
    }
    catch
    {

    }
}
<body style="@StaiInProd">


    @RenderBody( )

    @if ( CommonHelper.GetCurrentUsername( ) != User.Identity.Name )
    {
        <div class="row">
            <div class="col-sm-12 bottom-matr">
                PER RAGIONI TECNICHE STAI SIMULANDO LA MATRICOLA @CommonHelper.GetCurrentUsername( )
            </div>
        </div>
    }
    <div class="modal right fade" id="modal-help" role="dialog" aria-hidden="true" style="display: none;"></div>
    <div class="modal right fade" id="dettaglio-eccezione-modal" role="dialog" aria-hidden="true" style="display: none;">
        <input type="hidden" id="idecc" />
        <input type="hidden" id="idecc-presel" />


        <div class="modal-dialog modal-dialog-popin">

            <div class="modal-content height100">

                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-cdf" style="height: 58px;position: fixed;width: 100%;z-index: 2000;">
                        <ul class="block-options visible-xs">
                            <li>
                                <button data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                            </li>
                        </ul>
                        <h4 id="ecc-codice" class="lead"
                            style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">
                            Eccezione
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div id="eccezione-cont" style="padding-left: 40px;padding-top:25px">
                    </div>

                </div>

            </div>

        </div>
    </div>







    <div class="modal right fade" id="external-url" role="dialog" aria-hidden="true" style="display: none;">

        <div class="modal-dialog modal-dialog-popin">

            <div class="modal-content height100">

                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-cdf" style="height: 58px;">

                        <h4 id="title-url" class="lead"
                            style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div id="exturl" style="padding-left: 4px;">
                        <iframe id="iframe-external" width="100%" height="100%" style="width: 100%; height: 100%; border: none"></iframe>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="modal fade right" id="modal-privacy-general" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true"
         style="width: 600px; display: none;">



        <div class="modal-dialog modal-dialog-popin">


            <div class="modal-content height100">

                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary header_fixed" style="height: 58px;">

                        <h4 class="lead" style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">
                            @testoPrivacy[0]


                        </h4>



                    </div>



                    <div class="tab-content text_scroll " id="tab_content_policy">
                    </div>

                </div>





                <div class="row " style="padding: 40px;">
                    <label class='css-input css-checkbox css-checkbox-rounded css-checkbox-sm css-checkbox-info' style="font-size: 13px;"><input class='seltutti' type='checkbox' id='checkPolicy' onclick='selPolicy()'>   <span></span> Ho preso visione </label>

                </div>
                <div class="text-center">

                    @{


                        <button id="accept_privacy-general" class="btn btn-lg btn-primary" disabled type="button" onclick="PrendiVisone();">Salva</button>
                        <input type="hidden" name="id_visione" id="id_visione" />
                    }
                </div>
                <br>
                <br>



            </div>

        </div>

    </div>

    <div class="modal right fade" id="calendarioAnnuale-pf" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">

            <div class="modal-content height100" id="calendarioAnnuale-pf-content">



            </div>

        </div>
    </div>




    <div class="modal right fade" id="pf2021" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">
            
            <div class="modal-content" id="pf2021-content" style="height:320px">

               

            </div>

        </div>
    </div>




    <div class="modal right fade" id="moduloDetassazione" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content height100" id="moduloDetassazione-content" style="overflow-y: hidden;overflow-x: hidden;">
            </div>
        </div>
    </div>

    <div class="modal right fade" id="boxbonus100" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content height100" id="boxbonus100-content" style="overflow-y: hidden;overflow-x: hidden;">
            </div>
        </div>
    </div>

    <div class="modal right fade" id="boxModuli" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content height100" id="boxModuli-content" style="overflow-y: hidden;overflow-x: hidden;">
            </div>
        </div>
    </div>

    <div class="modal right fade" id="pianoferie-app-div" role="dialog" aria-hidden="true" style="display: none;">

    </div>

    <div class="rai modal right fade" id="statoferie-modal" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">
            <div class="rai modal-content height100" id="statoferie-modal-content" style="overflow-y: hidden;overflow-x: hidden;">
            </div>
        </div>
    </div>
    <!--Modale per Releas Note-->
    
    @Html.RenderModal("releaseNotes",myRaiHelper.ModalPosition.Right, myRaiHelper.ModalSize.Half)

    @Html.Partial( "ripianificazione" )
    <style>
        #modal-privacy-general .tabs-left .nav-tabs > li a, #modal-privacy .tabs-left .nav-tabs > li a:hover {
            border-bottom: 1px solid #eee !important;
            border-top: 1px solid #eee !important;
        }

        #modal-privacy-general .nav-tabs {
            border-bottom: 1px solid #eee !important;
            border-right: 1px solid #eee !important;
        }

        #modal-privacy-general .tabs-left .nav-tabs > li {
            margin-right: -2px;
        }

        #modal-privacy-general .tabs-left .tab-content {
            border-radius: 0;
        }

        #modal-privacy-general .block.block-transparent {
            overflow: hidden;
        }

        #modal-privacy-general .tab-content {
            padding: 40px;
        }

        .header_fixed {
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .text_scroll {
            padding: 16px;
            margin-top: 60px;
        }
    </style>

    @Html.Partial( "../Shared/ChatBot" )
</body>

@Scripts.Render("~/assets/javascriptPorto")      @*<------------------ BUNDLE JS*@

<script src="@Url.Content("~/assets/js/plugins/jquery-form/jquery.form.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.unobtrusive-ajax.js")"></script>

<script src="@Url.Content("~/assets/js/plugins/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/assets/js/plugins/flot/jquery.flot.pie.js")"></script>
<script src="@Url.Content("~/assets/js/plugins/flot/jquery.flot.resize.js")"></script>
<script src="@Url.Content("~/assets/js/plugins/flot/jquery.flot.stack.js")"></script>
<script src="@Url.Content("~/assets/js/plugins/table-scroll/table-scroll.min.js")"></script>

<script src="@Url.Content("~/assets/vendor/liquid-meter/liquid.meter.js")"></script>
<script src="@Url.Content("~/assets/vendor/gauge/gauge.min.js")"></script>
<script src="@Url.Content("~/assets/vendor/snap.svg/snap.svg.js")"></script>
<script src="@Url.Content("~/assets/js/OrgChart/orgchart.js")"></script>

<script type="text/javascript">
    $.ajaxSetup({
        cache: false
    });
</script>
@RenderSection("afterjs", false)




<!-- UIRai Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie e App.js -->
@*  <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>
    <script src="assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="assets/js/core/jquery.appear.min.js"></script>
    <script src="assets/js/core/jquery.countTo.min.js"></script>
    <script src="assets/js/core/jquery.countTo.min.js"></script>
    <script src="assets/js/core/jquery.placeholder.min.js"></script>
    <script src="assets/js/core/js.cookie.min.js"></script>
    <script src="assets/js/core/moment.js"></script>
    <script src="assets/js/core/JSRai.js"></script>*@


<!-- Plugins JS di pagina  + Codice JS di pagina -->
@*  <script src="assets/js/plugins/sweetalert2/es6-promise.auto.min.js"></script>

     <script src="assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
     <script src="~/assets/js/plugins/bootstrap-datepaginator/js/bootstrap-datepaginator.js"></script>
     <script src="assets/js/myrai.js"></script>
     <script src="assets/js/plugins/jquery-ui/jquery-ui.js"></script>*@


@*   <link href="assets/js/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet" />*@
@*<script src="assets/js/plugins/bootstrap-select/bootstrap-select.js"></script>*@


@*<link rel="stylesheet" href="assets/js/plugins/bootstrap-jasny_mask/jasny-bootstrap.min.css">*@
@*<script src="assets/js/plugins/bootstrap-jasny_mask/jasny-bootstrap.min.js"></script>*@

<script src="/home/getjs"></script>@* <-------  Validazione Parametri Generici*@

@{ var policy = CommonHelper.GetPolicy();


    <script>

        var testo=unEntity('@policy.Testo');
        if (testo != "") {
            $('#modal-privacy-general').modal('show');
            $('#modal-privacy-general').modal({ backdrop: 'static', keyboard: false })
            $('#tab_content_policy').append(testo);
            $("#id_visione").val(@policy.Id_RaiPlacePolicy);
        }
        function unEntity(str) {
            return str.replace(/&amp;/g, "&").replace(/&lt;/g, "<").replace(/&gt;/g, ">");
        }
        function selPolicy()
        {
            if ($("#checkPolicy")[0].checked) {
                $("#accept_privacy-general")[0].disabled = false;
            } else {
                $("#accept_privacy-general")[0].disabled = true;
            }
        }
        function PrendiVisone()
        {
            $.ajax({
                type: 'GET',
                url: "/ajax/PrendiVisione",
                dataType: "json",
                data: { IdPolicy: $("#id_visione").val() },
                cache: false,
                success: function (data) {

                    if (data.result == "OK") {
                        $('#modal-privacy-general').modal('hide');
                        $("#id_visione").val('');
                    }
                    else {
                        swal(
                           'Errore',
                           data.result,
                           'error'
                         );
                    }
                },
                error: function (a, b, c) { }
            });
        }
    </script>
}
}

<script language="javascript">
    $(document).ready(function () {
        Handlers();
        $("aside")
       .find("a[href='" + location.pathname + "']")
       .css("font-weight", "bold")
       .parent("li")
       .parent("ul")
       .parent("li")
       .addClass("nav-expanded");

        $("aside")
        .find("a[href='" + location.pathname + "']").addClass("nav-active")
        .closest("li.nav-parent").addClass("nav-expanded").parent().closest("li.nav-parent").addClass("nav-expanded");

        $(document).ajaxStop(function () {
            // attiva introjs tour su scrivania demo
            // ajaxCallsCompleted();
        });

        if ($.UIRai.isVisibleJunosMenu()) { $.UIRai.removeJunosMenu(); }

        $("a[data-refreshurl],button[data-refreshurl]").click();
        console.log('done');
        UIRai.initHelpers('notify');
        UIRai.initHelpers('strumenti-table');
        UIRai.initHelpers('datetimepicker');
        UIRai.initHelpers('select2');
        //Stampa chiamata funzione JS da tabella SceltaPercorso
            @*@Html.Raw(Model.JsInitialFunction)*@
            //per CurriculumVitae
            //UIRai.initHelpers('datetimepicker');
            ////freak
            //$(".js-select2").select2({
            //    placeholder: "Seleziona dalla lista"
            //});
            //alert('Document Ready');

            //wizard bootstrap
            $('#rootwizard').bootstrapWizard({
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    $('#rootwizard').find('.bar').css({ width: $percent + '%' });
                }
            });
            $('#rootwizard .finish').click(function () {
                //alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
            //fineee

            //***********fine***********

        });


        function exitfromJunos() {
            window.location.assign("/dana-na/auth/logout.cgi");
        }
        var DataUltimaConvalida = '@Session["DatePerEvidenze"]';

        /*
        * Translated default messages for the jQuery validation plugin.
        * Locale: IT (Italian; Italiano)
        */
        $.extend($.validator.messages, {
            required: "Campo obbligatorio",
            remote: "Controlla questo campo",
            email: "Inserisci un indirizzo email valido",
            url: "Inserisci un indirizzo web valido",
            date: "Inserisci una data valida",
            dateISO: "Inserisci una data valida (ISO)",
            number: "Inserisci un numero valido",
            digits: "Inserisci solo numeri",
            creditcard: "Inserisci un numero di carta di credito valido",
            equalTo: "Il valore non corrisponde",
            extension: "Inserisci un valore con un&apos;estensione valida",
            maxlength: $.validator.format("Non inserire pi&ugrave; di {0} caratteri"),
            minlength: $.validator.format("Inserisci almeno {0} caratteri"),
            rangelength: $.validator.format("Inserisci un valore compreso tra {0} e {1} caratteri"),
            range: $.validator.format("Inserisci un valore compreso tra {0} e {1}"),
            max: $.validator.format("Inserisci un valore minore o uguale a {0}"),
            min: $.validator.format("Inserisci un valore maggiore o uguale a {0}"),
            nifES: "Inserisci un NIF valido",
            nieES: "Inserisci un NIE valido",
            cifES: "Inserisci un CIF valido",
            currency: "Inserisci una valuta valida"
    });

    $('#moduloDetassazione').on('hidden.bs.modal', function () {
        $("#DetassazioneContainerDiv").html(
            '<section class="rai-widget" id="panelBoxDetassazione">' +
            '<div class="rai-widget-body bg-base">' +
            '<div class="rai-widget-cta">' +
            '<div class="rai-widget-cta-title">' +
            '<label class="rai-title interactive-primary-color my-card-loading-block"><\/label>' +
            '<\/div>' +
            '<div class="rai-widget-cta-action">' +
            '<\/div>' +
            '<\/div>' +
            '<\/div>' +
            '<\/section>'
        );

        $("#DetassazioneContainerDiv").load("/Scrivania/GetBoxDetassazione");
    });

</script>
</html>
