@using System.Web.Optimization
@using myRaiData;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;
@using MyRaiServiceInterface.it.rai.servizi.digigappws;

@model NotifichePopupModel

<!-- start: header -->
<header class="header istituzionale">

    <div class="row">

        <div class="logo-container">

            <h1 class="lead" style="float: left;margin: 5px 0 0 15px;font-size: 3.0rem;color: #fff;">
                <span>
                    <i class="di di-logo" style="
                font-size: 5.9rem;
                float: left;
                margin: -5px 0 0 -15px;
                /* font-size: 3.0rem; */
                color: #fff;
              "></i>
                </span><span style="
                font-size: 3.0rem;
                float: left;
                margin: 3px 0 0 15px;
                font-size: 28px;
                font-size: 2.8rem;
                color: #fff;
            ">Rai Place</span>
            </h1>





            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>

        <!-- start: search & user box -->
        <div class="header-right">





            <ul class="notifications">
                <li id="menu-notifiche">
                    <a href="#" onclick="AjaxNotifications()" class="dropdown-toggle notification-icon" data-toggle="dropdown">

                        <i class="icons icon-bell"></i>

                        <span id="badge-not" style="@(Model.Notifiche.Count==0?"display:none":"display:block")" class="badge">@Model.Notifiche.Count</span>


                    </a>

                    <div id="div-notifiche" class="dropdown-menu notification-menu bg-white ombraNotifiche" style="box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);">

                        @*..............AJAX NOTIFICHE................*@

                    </div>
                </li>

            </ul>

            <span class="separator"></span>

            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <figure class="profile-picture">
                        <img src="@(UtenteHelper.FotoUtente())" alt=">@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(UtenteHelper.EsponiAnagrafica()._nome.ToLower()) @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(UtenteHelper.EsponiAnagrafica()._cognome.ToLower())" class="" />
                    </figure>
                    <div class="profile-info">
                        <span class="name">Ciao @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase( UtenteHelper.EsponiAnagrafica( )._nome.ToLower( ) ) </span>

                    </div>

                    @*<i class="icons icon-arrow-down"></i>*@
                </a>

                @*<div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href=""> Impostazioni</a>
                            </li>

                            <li>
                                <a role="menuitem" tabindex="-1" href="#"></i> Esci</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
            <!--figure class="" style="
                    display: inline-block;
                    margin: -5px 0 0px 0px;
                    position: relative;
                    vertical-align: middle;
                    background-color: #bbb;
                    /* box-shadow: 0 0 black; */
                    width: 60px;
                    height: 62px;
                    margin-left: 13px;
                ">
                                        <img src="~/assets/img/logoMenu.png" style="
                    max-width: 100%;
                    height: auto;
                    -ms-interpolation-mode: bicubic;
                    display: inline-block;
                    vertical-align: middle;
                    /* width: 20px; */
                ">
                    </!--figure-->
        </div>
    </div>
    <!-- end: search & user box -->




</header>
<!-- end: header -->