@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model NotifichePopupModel

<!-- start: header -->

<header class="header istituzionale" tabindex="1000">

    <div class="header-left">
        <h1 class="logo logo-transition">


            <a href="http://www.raiplace.rai.it/" title="RaiPlace - " rel="home">
                <img class="img-responsive standard-logo" width="105" height="40" src="@Url.Content("~/assets/img/logo-rai-place.png")" alt="RaiPlace"><img class="img-responsive retina-logo" width="105" height="40" src="//www.raiplace.rai.it/wp-content/uploads/2017/06/logo-rai-place@2x.png" alt="RaiPlace" style="max-height:40px;display:none;">

            </a>

        </h1>

    </div>
    <div class="header-center">



    </div>

    <!-- start: search & user box -->
    <div class="header-right">





        <ul class="notifications">
            <li id="menu-notifiche">
                <a href="#" onclick="AjaxNotifications()" class="dropdown-toggle notification-icon" data-toggle="dropdown">

                    <i class="icons icon-bell"></i>

                    <span id="badge-not" style="@(Model.Notifiche.Count==0?"display:none":"display:block")" class="badge">@Model.Notifiche.Count</span>


                </a>

                <div id="div-notifiche" class="dropdown-menu notification-menu bg-white ombraNotifiche" style="box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);">

                    @*..............AJAX NOTIFICHE................*@

                </div>
            </li>

        </ul>

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown" id="user">
                <figure class="profile-picture">
                    <img src="@(UtenteHelper.FotoUtente())" alt=">@(UtenteHelper.EsponiAnagrafica()._nome) @(UtenteHelper.EsponiAnagrafica()._cognome)" class="" />
                </figure>
                <div class="profile-info">
                    <span data-sede="@UtenteHelper.SedeGapp(DateTime.Now)" class="name">Ciao<br /> @(UtenteHelper.EsponiAnagrafica( )._nome) </span>

                </div>

                @*<i class="icons icon-arrow-down"></i>*@
            </a>

            @*<div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        <li>
                            <a role="menuitem" tabindex="-1" href=""> Impostazioni</a>
                        </li>

                        <li>
                            <a role="menuitem" tabindex="-1" href="#"></i> Esci</a>
                        </li>
                    </ul>
                </div>*@
        </div>
        <!--figure class="" style="
                display: inline-block;
                margin: -5px 0 0px 0px;
                position: relative;
                vertical-align: middle;
                background-color: #bbb;
                /* box-shadow: 0 0 black; */
                width: 60px;
                height: 62px;
                margin-left: 13px;
            ">
                                    <img src="~/assets/img/logoMenu.png" style="
                max-width: 100%;
                height: auto;
                -ms-interpolation-mode: bicubic;
                display: inline-block;
                vertical-align: middle;
                /* width: 20px; */
            ">
                </!--figure-->
    </div>

    <!-- end: search & user box -->




</header>
<!-- end: header -->