@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model string

@using System.Web.Optimization
<!DOCTYPE html>
<html class="fixed sidebar-left-xs">
<head>

    <meta charset="utf-8">

    <title>Self Service</title>

    <meta name="description" content="myRai">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="~/assets/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon-180x180.png">
    <!-- Fine Icone -->
    <!-- Fogli di stile -->
    <!-- Web fonts -->

    @Styles.Render("~/assets/css/stylesPorto")  @*<-------------- BUNDLE CSS*@
    @{
        string tema = myRai.Business.CommonManager.GetTema((myRai.Business.CommonManager.GetCurrentUserMatricola()));

        if (tema != "")
        {
            string s = "/assets/stylesheets/skins/" + tema + ".css";
            <link href="@s" rel="stylesheet">
            string s2 = "/assets/stylesheets/skins/" + tema + "V2.css";
            <link href="@s2" rel="stylesheet">
        }
        else
        {
            string s = "/assets/stylesheets/skins/green.css";
            <link href="@s" rel="stylesheet">
            string s2 = "/assets/stylesheets/skins/greenV2.css";
            <link href="@s2" rel="stylesheet">
        }
    }



</head>

<body style="">



    <div id="overlay" class="page-overlay">
        <div class="loader-wrap">
            <svg xmlns="//www.w3.org/2000/svg" style="width: 54px;" class="logoRai" viewbox="0 0 200 200">
                <g display="inline">
                    <path id="path2901" fill="#48bfff" d="m199.960999,0.02613h-199.961259v199.97387h199.961259v-199.97387l0,0zm-159.700298,97.626572h2.007999c6.765999,0 14.394001,-1.250999 14.394001,-9.946999c0,-8.671005 -7.628002,-9.948006 -14.394001,-9.948006h-2.007999v19.895004l0,0zm45.645,44.068291h-25.841l-19.595001,-30.716995h-0.209v30.716995h-20.756001v-79.869293h31.017002c15.789097,0 27.757,7.535004 27.757,24.575996c0,11.030006 -6.153999,20.561302 -17.483002,22.568306l25.110001,32.724991l0,0zm20.691299,-27.104996c0,6.871002 4.551003,12.177002 12.399002,12.177002c7.835999,0 12.386002,-5.306 12.386002,-12.177002c0,-6.675995 -4.550003,-12.281998 -12.386002,-12.281998c-7.848,0 -12.399002,5.606003 -12.399002,12.281998m43.416,27.104996h-19.257004v-6.022995h-0.233994c-3.377007,5.397003 -10.039001,7.822006 -16.415001,7.822006c-16.102203,0 -27.431305,-13.455002 -27.431305,-29.022003c0,-15.567299 11.147003,-28.918304 27.236305,-28.918304c6.231995,0 12.815994,2.334 16.843994,7.106003v-5.292999h19.257004v54.328293l0,0zm32.399002,-75.202293c0,5.945 -4.889008,10.808998 -10.807999,10.808998c-5.919006,0 -10.807999,-4.863998 -10.807999,-10.808998c0,-5.918999 4.888992,-10.782001 10.807999,-10.782001c5.918991,0 10.807999,4.863003 10.807999,10.782001m-1.173004,75.202293h-19.257004v-54.328293h19.257004v54.328293l0,0zm-181.238998,23.27301v-88.318306v-18.617996v-25.202h-0.987l0.987,132.138302z"></path>
                </g>
            </svg>
        </div>
        <div class="loader-review">
            <div class="loading center">
                <div class="loading-bar"></div>
            </div>
        </div>
    </div>
    <script language="javascript">
    window.location.href ='/home/clear?dest=@ViewBag.dest' + '&par=@(HttpUtility.UrlEncode( ViewBag.par))'



    </script>
</body>


</html>
