@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@*<header class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h2 class="panel-title">Elenco Richieste Abbonamento</h2>
            </div>
        </div>
    </header>

    <div class="panel-body">*@
@if (Model.Abbonamenti.Count == 0)
{
    <div class="row">
        @Html.Partial("~/views/shared/_noDatiDiv.cshtml")
    </div>
}
else
{

    <table class="table rai-table rai-table-vcenter table-hover">
        <thead>
            <tr>
                @if (Model.CittaAbbonamento.ToUpper() == "ROMA")
                {
                    <td>Tipologia</td>
                }
                else
                {
                    <td>Vettore</td>
                }
                <td class="text-bold">Inizio Validità</td>
                <td class="text-bold">Numero rate</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var abbonamento in Model.Abbonamenti)
            {
                <tr>
                    @if (!String.IsNullOrWhiteSpace(Model.CittaAbbonamento))
                    {
                        if (Model.CittaAbbonamento.ToUpper() == "ROMA")
                    {
                        <td>@abbonamento.ZonaAbbonamento</td>
                    }
                    else
                    {
                        <td>@abbonamento.VettoreDiAbbonamento</td>
                        }
                    }
                    else
                    {
                        if (!String.IsNullOrWhiteSpace(abbonamento.ZonaAbbonamento))
                        {
                            <td>@abbonamento.ZonaAbbonamento</td>
                        }
                        else
                        {
                            <td>@abbonamento.VettoreDiAbbonamento</td>
                        }
                    }

                    <td>@abbonamento.GiornoInizio.ToString("dd/MM/yyyy")</td>
                    @* <td>@cestino.ordine.approvatore</td>*@
                    <td>@abbonamento.NumeroRate</td>
                    @if (abbonamento.Approvata == false)
                    {
                        <td>
                            <a class="btn btn-action-icon" href="#" onclick="ConfermaCancellazione_Abbonamento('@abbonamento.idAbbonamento')"><i class="icons icon-trash"></i></a>
                        </td>
                        <td>
                            <a href="#"  class="btn rai-btn-small" onclick="ShowGestisciAbbonamento('u','@abbonamento.idAbbonamento');">Modifica</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a href="#"  class="btn rai-btn-small" onclick="ShowGestisciAbbonamento('v','@abbonamento.idAbbonamento');">Visualizza</a>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>

}
@*</div>*@

