@using myRaiHelper
@using myRaiGestionale.Controllers
@using myRaiCommonModel.Gestionale
@model CessazioneModel

@{
    List<int> enabledStates = null;
    bool applyFilterStates = CessazioneHelper.GetEnabledStates(null, myRaiHelper.CommonHelper.GetCurrentUserMatricola(), AbilOper.Writing, out enabledStates);
    myRaiData.Incentivi.XR_INC_OPERSTATI oper = Model.Pratica.XR_INC_OPERSTATI.First(x => x.ID_STATO == (int)IncStato.VerbaleCaricato);
}

@if (oper.XR_INC_OPERSTATI_DOC.Any())
{
    <div class="rai-table-info">
        <div class="row">
            <div class="col-sm-6">
                <label class="text-bold">Descrizione</label>
            </div>
            <div class="col-sm-6">
                <label>@oper.XR_INC_OPERSTATI_DOC.First().DES_ALLEGATO</label>
            </div>
        </div>
    </div>
    @*Gestione allineata allo standard per poter permettere la modifica del file*@
    @*<div class="row">
        <div class="col-sm-12">
            <label class="rai-font-sm-neutral text-italic">Caricato il @oper.XR_INC_OPERSTATI_DOC.First().TMS_TIMESTAMP.ToString("dd/MM/yyyy")</label>
            @if ((!applyFilterStates || enabledStates.Contains((int)IncStato.VerbaleFirmato)) && Model.Stato.ID_STATO == (int)IncStato.VerbaleCaricato && !Model.Pratica.XR_INC_OPERSTATI.Any(x => x.ID_STATO == (int)IncStato.InCarico))
            {
                <span> - </span><a class="text-primary" href="javascript:EliminaStato(@Model.Pratica.ID_DIPENDENTE, @oper.ID_OPER,'Se confermi, il verbale verrà cancellato. Vuoi confermare?')">Elimina verbale</a>
            }
        </div>
    </div>
    <div class="row push-10-t">
        <div class="col-sm-12">
            <a class="btn rai-btn-small full-width" style="margin-top: -5px;" href="@Url.Action("GetDoc", new { idDoc = oper.XR_INC_OPERSTATI_DOC.First().ID_ALLEGATO })" title="Vedi il verbale firmato" target="_blank"><i class="icons icon-doc"></i> Vedi il verbale</a>
        </div>
    </div>*@
}
