@using myRaiGestionale.Controllers
@using myRaiCommonManager.Cessazione
@using myRaiCommonModel.Gestionale
@model CessazioneModel

@{
    var decodScelta = CessazioneManager.DecodTipologiaUscita(Model.Pratica.NOT_TIP_SCELTA);
    var decodAccert = CessazioneManager.DecodTipologiaUscita(Model.Pratica.NOT_TIP_ACCERT);

    var matObiettivi = CessazioneController.GetDateMaturazioneRequisiti();
    var decodMat = matObiettivi.Where(x => x.Value == Model.Pratica.NOT_REQ_MATURATO).Select(x => x.Text).FirstOrDefault();
}

<div class="rai-table-info">
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("GetModuloRich","Cessazione", new { idDip = Model.Pratica.ID_DIPENDENTE })" target="_blank"><i class="fa fa-download"></i>&nbsp; Modulo di richiesta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <label class="rai-caption">Data Inserimento</label>
        </div>
        <div class="col-sm-6">
            <label>@Model.Pratica.DTA_RICHIESTA.Value.ToString("dd/MM/yyyy")</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <label class="rai-caption">Data uscita richiesta</label>
        </div>
        <div class="col-sm-6">
            @if (Model.Pratica.DATA_USCITA_RICH.HasValue)
            {
                <label>@Model.Pratica.DATA_USCITA_RICH.Value.ToString("dd/MM/yyyy")</label>
            }
            else
            {
                <label>-</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="rai-caption">Tipologia scelta</label>
        </div>
        <div class="col-sm-6">
            <label>@decodScelta</label>
        </div>
    </div>

    @if (Model.Pratica.NOT_TIP_SCELTA != Model.Pratica.NOT_TIP_ACCERT)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Tipologia accertata</label>
            </div>
            <div class="col-sm-6">
                <label>@decodAccert</label>
            </div>
        </div>
    }

    @if (Model.Pratica.IND_INVALIDITA.GetValueOrDefault()==1)
    {
        <div class="row">
            <div class="col-sm-6">
                <label>Pensione invalidità</label>
            </div>
            <div class="col-sm-6">
                <label>Percipiente</label>
            </div>
        </div>
    }

    @if (!String.IsNullOrWhiteSpace(Model.Pratica.NOT_REQ_MATURATO))
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Requisiti maturati</label>
            </div>
            <div class="col-sm-6">
                <label>@decodMat</label>
            </div>
        </div>
    }

    @if (Model.Pratica.DATA_PENSIONE_ANTICIPATA.HasValue)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Data pensione anticipata</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DATA_PENSIONE_ANTICIPATA.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }

    @if (Model.Pratica.DATA_ARRIVO_DOC.HasValue)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Data arrivo estratti</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DATA_ARRIVO_DOC.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }
    @if (Model.Pratica.DATA_RICH_INT.HasValue)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Data richiesta integrazione</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DATA_RICH_INT.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>

        if (Model.Pratica.DATA_ARRIVO_INT.HasValue)
        {
            <div class="row">
                <div class="col-sm-6">
                    <label class="rai-caption">Data arrivo integrazione</label>
                </div>
                <div class="col-sm-6">
                    <label>@Model.Pratica.DATA_ARRIVO_INT.Value.ToString("dd/MM/yyyy")</label>
                </div>
            </div>
        }
    }
</div>