@using myRaiGestionale.Controllers
@using myRaiCommonModel.Gestionale
@using myRaiHelper
@model CessazioneModel


<div class="rai-table-info">
    @if (Model.Pratica.DATA_INVIO_PROP.HasValue)
    {
        <div class="row">
            <div class="col-sm-6 ">
                <label class="rai-caption">Data invio proposta</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DATA_INVIO_PROP.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }
    @if (Model.Pratica.DATA_FIRMA_DIP.HasValue)
    {
        <div class="row">
            <div class="col-sm-6 ">
                <label class="rai-caption">Data firma proposta</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DATA_FIRMA_DIP.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }

    @if (Model.Pratica.DTA_ACCETT_AZ.HasValue)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Data invio accettazione</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DTA_ACCETT_AZ.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }

    @if (Model.Pratica.DATA_FIRMA_DIP_ACCETT_AZ.HasValue)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Data firma accettazione</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DATA_FIRMA_DIP_ACCETT_AZ.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }
    @if (Model.Pratica.DTA_RECESSO.HasValue)
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">Data recesso</label>
            </div>
            <div class="col-sm-6">
                <label>@Model.Pratica.DTA_RECESSO.Value.ToString("dd/MM/yyyy")</label>
            </div>
        </div>
    }
    @if (Model.Pratica.SINTESI1.COD_QUALIFICA.StartsWith("M")
                   || Model.Pratica.SINTESI1.COD_QUALIFICA.StartsWith("A7"))
    {
        <div class="row">
            <div class="col-sm-6">
                <label class="rai-caption">TFR Ante 2007</label>
            </div>
            <div class="col-sm-6">
                @if (Model.TfrAnte2007FPGCI)
                {
                    <label>Trasferimento al FPGCI</label>
                }
                else
                {
                    <label>-</label>
                }
            </div>
        </div>
    }

    <!-- attivato se bisogna fare ovveride del conteggio TFR -->
    @*@if (CessazioneHelper.IsRoleAdmin(CommonHelper.GetCurrentUserMatricola()) && Model.Pratica.ID_TIPOLOGIA == (int)CessazioneTipo.Incentivazione)
        {
            <div class="push-20" style="margin-top:-15px;">
                <div id="dett-all-@((int)IncStato.FileOverride)" class="rai-table-info"></div>
                <script>
                        RaiUpdateWidget('dett-all-@((int)IncStato.FileOverride)', '/Cessazione/Dettaglio_OperAllegati', 'html', { idDip: @Model.Pratica.ID_DIPENDENTE, stato:@((int)IncStato.FileOverride)});
                </script>
            </div>
        }*@
</div>