@model myRaiData.Incentivi.XR_INC_DIPENDENTI

<form id="form-modificaPagamento" novalidate="novalidate" method="post">
    @Html.HiddenFor(x => x.ID_DIPENDENTE)    

    <div class="form-group text-left">
        <div class="row push-5">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.IMPORTO_NETTO, "Importo netto", new { @class = "rai-caption" })
            </div>
            <div class="col-sm-8 ">
                @Html.TextBoxFor(m=>m.IMPORTO_NETTO, "{0:N} €", new { @class = "form-control disabilita  currency-format", @readonly="readonly" })
            </div>
        </div>
        <div class="row push-5">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.DATA_PAGAMENTO, "Data pagamento", new { @class = "rai-caption" })
            </div>
            <div class="col-sm-8 ">
                @Html.TextBoxFor(m=>m.DATA_PAGAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control disabilita ", @readonly="readonly"})
            </div>
        </div>
    </div>
    @*<div class="row push-5">
        <div class="col-sm-12">
            <div class="rai-btn-fill">
                <button type="submit" class="btn rai-btn-primary" onclick="SubmitModificaPagamento(@Model.ID_DIPENDENTE)">Prosegui</button>
            </div>
        </div>
    </div>*@
</form>