@model myRaiData.Incentivi.XR_INC_DIPENDENTI

<form id="form-modificaContabile" novalidate="novalidate" method="post">
    @Html.HiddenFor(x => x.ID_DIPENDENTE)
    @Html.HiddenFor(x => x.INCENTIVO_LORDO)
    @Html.HiddenFor(x => x.UNA_TANTUM_LORDA)
    @Html.HiddenFor(x => x.IMPORTO_LORDO)
    @Html.HiddenFor(x => x.IMPORTO_NETTO)

    <div class="form-group">
        <div class="row push-5">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.DATA_PAGAMENTO, "Data pagamento", new { @class = "rai-caption" })
            </div>
            <div class="col-sm-8 ">
                @*<div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar" onclick="$('#_datapagg').click()"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DATA_PAGAMENTO, new { @class = "js-datetimepicker form-control required-min", data_format = "DD/MM/YYYY", data_locale = "it", id = "_datapagg", placeholder = "Selezionare una data", autocomplete = "off" })
                </div>*@
                @Html.RaiSelectFor(m=>m.DATA_PAGAMENTO, myRaiCommonManager.Cessazione.CessazioneManager.GetDatePagamenti(Model.DATA_CESSAZIONE.Value))
            </div>
        </div>
        <div class="row push-5 @(Model.ID_TIPOLOGIA!=1?"hidden":"")">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.INCENTIVO_LORDO, "Incentivo lordo", new { @class = "rai-caption" })
            </div>
            <div class="col-sm-8 ">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.INCENTIVO_LORDO, "{0:N} €", new { @id = "_incentivo_lordo", @class = "form-control currency-format", @readonly = "readonly" })
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                </div>
            </div>
        </div>
        <div class="row push-5 @(Model.ID_TIPOLOGIA!=1?"hidden":"")">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.UNA_TANTUM_LORDA, "Una Tantum Lorda", new { @class = "rai-caption" })
            </div>
            <div class="col-sm-8 ">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.UNA_TANTUM_LORDA, "{0:N} €", new { @id = "_una_tantum_lorda", @class = "form-control  currency-format", @readonly = "readonly" })
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                </div>
            </div>
        </div>
        <div class="row push-5">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.IMPORTO_LORDO, "Importo Lordo TFR", new { @class = "rai-caption" })
            </div>
            <div class="col-sm-8 ">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.IMPORTO_LORDO, "{0:N} €", new { @id = "_importo_lordo", @class = "form-control  currency-format", @readonly = "readonly" })
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                </div>
            </div>
        </div>
        <div class="row push-5">
            <div class="col-sm-4  text-left">
                @Html.LabelFor(m => m.IMPORTO_NETTO, "Importo netto", new { @class = "rai-caption" })
                <br />
                <small class="rai-caption-neutral text-italic" @(Model.ID_TIPOLOGIA != 1 ? "hidden" : "")>Comprensivo di incentivo</small>
            </div>
            <div class="col-sm-8 ">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.IMPORTO_NETTO, "{0:N} €", new { @id = "_importo_netto", @class = "form-control  currency-format", @readonly = "readonly" })
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                </div>
            </div>
        </div>
        <div class="row push-5">
            <div class="col-sm-12  text-right">
                <label id="lblLastUpdate" class="text-italic"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="rai-btn-fill">
                <button type="button" id="btnCaricaDatiContabili" class="btn rai-btn-secondary" onclick="CaricaDati('@Model.MATRICOLA')">Aggiorna dati</button>
                <button type="submit" id="btnSalvaDatiContabili" class="btn rai-btn-primary disable" onclick="SubmitModificaContabili(@Model.ID_DIPENDENTE)">Prosegui</button>
            </div>
        </div>
    </div>
</form>

<script language="javascript">
    InitDatePicker();
</script>
