@using myRaiCommonModel.Gestionale
@model List<CessazioneModel>

<section class="panel ">
    <header class="panel-heading">
        <h2 id="lblNextApp" class="panel-title">Prossimi appuntamenti</h2>
        <div class="panel-actions">
            <button onclick="javascript:AggiornaAppuntamenti()" class="btn-action-icon" type="button"><i class="fa fa-refresh"></i></button>
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblNextApp" aria-expanded="true"></a>
        </div>
    </header>

    <div class="panel-body @(Model.Count()>0?"no-padding":"")" style="overflow-y:auto;overflow-x:hidden">
        @if (Model.Count() == 0)
        {
            <div class="row">
                <div class="col-sm-12">
                    <label class="text-bold">Nessun appuntamento programmato</label>
                </div>
            </div>
        }
        else
        {
            <div class="row bg-neutrals-xl-10 " style="padding-top:5px;padding-bottom:5px;">
                <div class="col-sm-12  text-right">
                    <a href="@Url.Action("ExportAppuntamenti", "Incentivazione")" class="interactive-primary-color" target="_blank">Esporta appuntamenti</a>
                </div>
            </div>


            <table class="rai js-table-sections table rai-table rai-table-panel" role="grid">
                @foreach (var item in Model.GroupBy(x=>x.Pratica.SEDE.ToUpper().Contains("ROMA")?"ROMA":x.Pratica.SEDE).OrderBy(x=>x.Key))
                {
                    <tbody class="rai js-table-sections-header">
                        <tr>
                            <td>
                                <label class="rai-font-md">
                                    @item.Key
                                </label>
                            </td>
                            <td class="rai-table-td-toggle">
                                <span class="rai-notification">@item.Count() </span>
                            </td>
                            <td class="rai-table-td-toggle">
                                <i class="fa fa-chevron-down"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="tbodydata">
                        <tr>
                            <td colspan="3" class="no-padding">
                                @Html.Partial("subPartial/Widget_calendario_sede", item.ToList())
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        }
    </div>
</section>