@using myRaiHelper;
@using myRaiData.Incentivi
@using myRaiGestionale.Controllers

@{
    /**/

    List<DateTime> elencoDateConteggio = CessazioneController.GetElencoDate(IncStato.Conteggio, CessazioneTipo.Incentivazione);
    List<DateTime> elencoDateVerbale = CessazioneController.GetElencoDate(IncStato.VerbaleCaricato, CessazioneTipo.Incentivazione);

    List<DateTime> elencoDateConteggioRC = CessazioneController.GetElencoDate(IncStato.Conteggio, CessazioneTipo.RisoluzioneConsensuale);
    List<DateTime> elencoDateVerbaleRC = CessazioneController.GetElencoDate(IncStato.VerbaleCaricato, CessazioneTipo.RisoluzioneConsensuale);
}


@using (Html.BeginPanel(PanelType.PanelNoPadding, "Documenti Incentivazione"))//, panelAttributes: new RaiAttributes() { new RaiAttribute("class", "panel-collapsed") }))
{
    <table class="table rai-table rai-table-panel rai-table-vcenter">
        <tbody class="js-table-sections-header">
            <tr>
                <td width="100%">
                    <label>Provvista totale</label>
                </td>
                <td>
                    <a href="@Url.Action("Provvista", "Cessazione")" class="btn rai-btn-small">Vedi</a>
                </td>
                <td class="rai-table-td-toggle">
                    <i class="fa fa-chevron-down"></i>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" class="no-padding">
                    <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">
                        @foreach (var item in elencoDateConteggio.OrderByDescending(x=>x))
                        {
                            <tr>
                                <td width="100%">
                                    <label class="">Provvista Cessati @item.ToString("dd/MM/yyyy")</label>
                                </td>
                                <td style="padding-right:48px;">
                                    <a href="@Url.Action("Provvista", "Cessazione", new { data = item })" class="btn rai-btn-small">Vedi</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tbody>

        <tbody class="js-table-sections-header">
            <tr>
                <td width="100%">
                    <label>Riepilogo SIBA</label>
                </td>
                <td>
                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione")" class="btn rai-btn-small">Vedi</a>
                </td>
                <td class="rai-table-td-toggle">
                    <i class="fa fa-chevron-down"></i>
                </td>
            </tr>
        </tbody>
        <tdbody>
            <tr>
                <td colspan="3" class="no-padding">
                    <table class="table rai-table rai-table-panel rai-table-vcenter  table-striped">
                        @foreach (var item in elencoDateVerbale.OrderByDescending(x=>x))
                        {
                            <tr>
                                <td width="100%">
                                    <label class="">Riepilogo SIBA @item.ToString("dd/MM/yyyy")</label>
                                </td>
                                <td style="padding-right:48px;">
                                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { data = item })" class="btn rai-btn-small">Vedi</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tdbody>


        <tbody class="js-table-sections-header">
            <tr>
                <td width="100%">
                    <label>Riepilogo SIBA XLSX</label>
                </td>
                <td>
                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { exportType = "xlsx" })" class="btn rai-btn-small">Vedi</a>
                </td>
                <td class="rai-table-td-toggle">
                    <i class="fa fa-chevron-down"></i>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" class="no-padding">
                    <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">
                        @foreach (var item in elencoDateVerbale.OrderByDescending(x=>x))
                        {
                            <tr>
                                <td width="100%">
                                    <label class="">Riepilogo SIBA @item.ToString("dd/MM/yyyy")</label>
                                </td>
                                <td style="padding-right:48px;">
                                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { exportType = "xlsx", data = item })" class="btn rai-btn-small">Vedi</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

@using (Html.BeginPanel(PanelType.PanelNoPadding, "Documenti Risoluzione consensuale"))//, panelAttributes: new RaiAttributes() { new RaiAttribute("class", "panel-collapsed") }))
{
    <table class="table rai-table rai-table-panel rai-table-vcenter js-table-sections">
        <tbody class="js-table-sections-header">
            <tr>
                <td width="100%">
                    <label>Provvista totale</label>
                </td>
                <td>
                    <a href="@Url.Action("Provvista", "Cessazione", new { tipo = CessazioneTipo.RisoluzioneConsensuale })" class="btn rai-btn-small">Vedi</a>
                </td>
                <td class="rai-table-td-toggle">
                    <i class="fa fa-chevron-down"></i>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" class="no-padding">
                    <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">
                        @foreach (var item in elencoDateConteggioRC.OrderByDescending(x => x))
                        {
                            <tr>
                                <td width="100%">
                                    <label class="">Provvista Cessati @item.ToString("dd/MM/yyyy")</label>
                                </td>
                                <td style="padding-right:48px;">
                                    <a href="@Url.Action("Provvista", "Cessazione", new { data = item,tipo = CessazioneTipo.RisoluzioneConsensuale })" class="btn rai-btn-small">Vedi</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td width="100%">
                    <label>Riepilogo SIBA</label>
                </td>
                <td>
                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { tipo = CessazioneTipo.RisoluzioneConsensuale })" class="btn rai-btn-small">Vedi</a>
                </td>
                <td class="rai-table-td-toggle">
                    <i class="fa fa-chevron-down"></i>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" class="no-padding">
                    <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">
                        @foreach (var item in elencoDateVerbaleRC.OrderByDescending(x => x))
                        {
                            <tr>
                                <td width="100%">
                                    <label class="">Riepilogo SIBA @item.ToString("dd/MM/yyyy")</label>
                                </td>
                                <td style="padding-right:48px;">
                                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { data = item,tipo = CessazioneTipo.RisoluzioneConsensuale })" class="btn rai-btn-small">Vedi</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tbody>
        <tbody class="js-table-sections-header">
            <tr>
                <td width="100%">
                    <label>Riepilogo SIBA XLSX</label>
                </td>
                <td>
                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { exportType = "xlsx",tipo = CessazioneTipo.RisoluzioneConsensuale })" class="btn rai-btn-small">Vedi</a>
                </td>
                <td class="rai-table-td-toggle">
                    <i class="fa fa-chevron-down"></i>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3" class="no-padding">
                    <table class="table rai-table rai-table-panel rai-table-vcenter table-striped">
                        @foreach (var item in elencoDateVerbaleRC.OrderByDescending(x => x))
                        {
                            <tr>
                                <td width="100%">
                                    <label class="">Riepilogo SIBA @item.ToString("dd/MM/yyyy")</label>
                                </td>
                                <td style="padding-right:48px;">
                                    <a href="@Url.Action("RiepilogoPagamenti", "Cessazione", new { exportType = "xlsx", data = item,tipo = CessazioneTipo.RisoluzioneConsensuale })" class="btn rai-btn-small">Vedi</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}