@model List<myRaiCommonModel.cvModels.cvModel.Formazione>

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();

    string matricola = myRaiHelper.UtenteHelper.EsponiAnagrafica()._matricola;

    List<myRai.Data.CurriculumVitae.V_CVCorsiRai> corsiRai = new List<myRai.Data.CurriculumVitae.V_CVCorsiRai>();
    corsiRai = cvEnt.V_CVCorsiRai.Where(m => m.matricola == matricola).ToList();
         
}
@*<div class="push">*@
 <!--a class="mb-xs mt-xs mr-xs btn btn-default pull-right" data-toggle="modal" data-target="#modalFormazione"  id="aggiungi">   <!-- class="mb-xs mt-xs mr-xs modal-sizes"  onclick="PulisciFormFormazione()" ;;;;;; class="modal-with-form btn btn-default pull-right" href="#modalFormazione"   -->
     <!--i class="fa fa-plus text-experiences push-5-l push-5-r"></!--i> <span >Aggiungi</span> 
@*<button class="btn btn-default pull-right" type="button"><i class="fa fa-plus text-experiences push-5-l push-5-r"></i> <span >Aggiungi</span></button>*@

        <!--/a-->
@*</div>*@
<section class="panel" id="Corsi">
    <header class="panel-heading">
					<div class="panel-actions">
					
					</div>

					<h2 class="panel-title">Elenco corsi</h2>
				</header>
    <div class="block panel-body no-padding" id="evidenzeblock">
     <ul class="nav nav-tabs nav-tabs-alt nav-justified" id="tabContent">
            <li class="active"><a href="#corsirai" data-toggle="tab">Corsi RAI</a></li>
            <li><a href="#corsiprivati" data-toggle="tab">Corsi Privati</a></li>
        </ul>

        <div class="tab-content">
        
        <div class="tab-pane active" id="corsirai">
             <div class="control-group"> 
            @*  freak - Elenco dei corsi di formazione RAI, presi dalla vista v_CVCorsiRai *@
                <table class="table table-vcenter table-hover" style="width: 100%">
                    <thead class="hidden-xs hidden-sm bg-primary">
                    <tr>
                        <th style="width: 40%" class="text-center"><span>Titolo Corso</span></th>
                        <th style="width: 20%" class="text-center"><span>Anno/Periodo</span></th>
                        <th style="width: 10%" class="text-center"><span>Durata</span></th>
                        <th style="width: 30%" class="text-center"><span>Azienda</span></th>
                    </tr>
                    </thead>
                    @{
                        foreach (var elem in corsiRai)
                        {
                            <tr class="hidden-xs hidden-sm">
                                <td style="width: 40%" class="text-center"><span>@elem.TitoloCorso</span></td>
                                <td style="width: 20%" class="text-center"><span>@elem.DataInizio - @elem.DataFine</span></td>
                                <td style="width: 10%" class="text-center"><span>@elem.Durata</span></td>
                                <td style="width: 30%" class="text-center"><span>@elem.Societa</span></td>
                            </tr>
                        }
                    }
                </table>
          
               
           </div>
        </div>
        
        
        <div class="tab-pane" id="corsiprivati">
            @* freak - Elenco dei corsi di formazione "privati" - dalla tabella TCVFormExRai *@
             <div class="control-group">
            @*  freak - Elenco dei corsi di formazione RAI, presi dalla vista v_CVCorsiRai *@
                <table class="table table-vcenter table-hover" style="width: 100%">
                    <thead class="hidden-xs hidden-sm bg-primary">
                    <tr>
                        <th style="width: 30%" class="text-center"><span>Titolo Corso</span></th>
                        <th style="width: 10%" class="text-center"><span>Anno</span></th>
                        <th style="width: 15%" class="text-center"><span>Durata</span></th>
                        <th style="width: 30%" class="text-center"><span>Azienda</span></th>
                         <th style="width: 15%" class="text-center"><span>Azioni</span></th>
                    </tr>
                    </thead>
                    @{
                        foreach (var elem in Model)
                        {
                            <tr class="hidden-xs hidden-sm">
                                <td style="width: 30%" class="text-center"><span>@elem._corso</span></td>
                                <td style="width: 10%" class="text-center"><span>@elem._anno</span></td>
                                <td style="width: 15%" class="text-center"><span>@elem._durata</span></td>
                                <td style="width: 25%" class="text-center"><span>@elem._presso</span></td>
                                <td style="width: 20%" class="text-center">
                                    <span class="h3 font-w300 push"><a class="icons icon-pencil h4 " href="#" data-toggle="modal" data-target="#frk_modificaFormazione" onclick="ModificaFormazione(@myRaiHelper.CommonHelper.TransformDates(Json.Encode(elem)))"></a></span> @* ModificaFormazione(@Json.Encode(elem)) *@
                                    &nbsp;&nbsp; 
                                    <span class="h3 font-w300"><a class="icons icon-trash h4  " href="#" onclick="ConfermaCancellazione_Formazione('@elem._matricola', '@elem._prog')"></a></span>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div> 
        
    </div>
    </div>

</section>
    

   
