@model List<myRaiCommonModel.cvModels.cvModel.CompetenzeRAI>
@using myRai.Business
@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
    int j=-1;
}

<div class="rai modal fade right modalCheck" id="modalCompetenzeRaiInserimento"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="rai modal-content">

            @using (Html.BeginModal("Indicaci le attività svolte in Azienda e le competenze di area editoriale"))
            {
            <form id="frm-insertCompetenzeRai" name="frm-insertCompetenzeRai" method="post" action="/CV_Online/EditCompetenzeRai">
                @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, "", false))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped mb-none rai-table rai-table-vcenter">
                                <thead>
                                    <tr>
                                        <th style="width:60%">
                                            <label>Attività ricoperta</label>
                                        </th>
                                        <th style="width:15%">
                                            <label>Principale</label>
                                        </th>
                                        <th style="width:15%">
                                            <label>Secondario</label>
                                        </th>
                                        <th style="width:10%">
                                            <label>Extra Rai</label>
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var elem in Model)
                                {
                                    j++;
                                    string checkP, checkS, checkCodConProf, checkExtraRai;
                                    checkCodConProf = "";
                                    if (elem._flagExtraRai == "1")
                                    {
                                        checkExtraRai = "checked=\"checked\"";
                                        checkCodConProf = "checked=\"checked\"";
                                    }
                                    else
                                    {
                                        checkExtraRai = "";
                                    }
                                    checkP = "";
                                    checkS = "";

                                    switch (elem._flagChoice)
                                    {
                                        case "P":
                                            checkP = "checked=\"checked\"";
                                            checkCodConProf = "checked=\"checked\"";
                                            break;
                                        case "S":
                                            checkS = "checked=\"checked\"";
                                            checkCodConProf = "checked=\"checked\"";
                                            break;
                                        default:
                                            checkS = "";
                                            checkP = "";
                                            break;

                                    }
                                    <tr>
                                        <td style="width:60%">

                                            <div class="rai-checkbox">
                                                @* css-input css-checkbox css-checkbox-success *@
                                                <input type="checkbox" name="compRai[@j]._codConProf" id="compRai[@j]._codConProf" value="@elem._codConProf" @checkCodConProf class="select-check-@j" onchange="controlCheck('frm-insertCompetenzeRai .select-check-@j', 'frm-insertCompetenzeRai .radio-item-@j', 'frm-insertCompetenzeRai .control-radio-@j')" />
                                                <label for="compRai[@j]._codConProf" class="rai-caption" data-toggle="tooltip" title="@elem.descrittiva_lunga">@elem._descConProf</label>
                                            </div>
                                            <input type="hidden" name="compRai[@j]._matricola" value="@elem._matricola" />

                                        </td>
                                        <td style="width:15%">
                                            <div class="rai-radio">
                                                <input type="radio" name="compRai[@j]._flagChoice" id="compRai[@j]._flagChoice" value="P" class="radio-item-@j control-radio-@j" onchange="controlRadio('frm-insertCompetenzeRai .select-check-@j')" @checkP />
                                                <label for="compRai[@j]._flagChoice"></label>
                                            </div>
                                        </td>
                                        <td style="width:15%">
                                            <div class="rai-radio">
                                                <input type="radio" name="compRai[@j]._flagChoice" id="compRai[@j]._flagChoice" value="S" class="control-radio-@j" onchange="controlRadio('frm-insertCompetenzeRai .select-check-@j')" @checkS />
                                                <label for="compRai[@j]._flagChoice"></label>
                                            </div>
                                        </td>
                                        <td style="width:10%">
                                            <div class="rai-checkbox">
                                                <input type="checkbox" id="compRai[@j]._flagExtraRai" name="compRai[@j]._flagExtraRai" value="1" @checkExtraRai class="control-radio-@j" onchange="controlRadio('frm-insertCompetenzeRai .select-check-@j')" />
                                                <label for="compRai[@j]._flagExtraRai"></label>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </table>
                        </div>
                    </div>

                    <div class="row push-20-t">
                        <div class="col-sm-12 text-center">
                            <a href="@Html.Raw(Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/cv_online/pdf")" target="_blank" target="_blank"><p class="text-bold">Visualizza l'anteprima del tuo CV</p></a><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn rai-btn-primary full-width" type="submit" onclick="submit_CompetenzeRai(this)">Salva</button>
                        </div>
                    </div>
                    <div id="savedbcomprai" class="alert alert-info" style="position:fixed;bottom:10px;right:10px;display:none;z-index:100">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-refresh fa-spin"></i> Salvataggio in corso
                    </div>
                }

            </form>
            }





        </div>
    </div>
</div>

