@using myRaiGestionale.Controllers
@using myRaiCommonModel
@using myRaiHelper
@model DettaglioDematerializzazioneVM

<div class="tab-pane active" id="" role="tabpanel">
    <div class="block block-transparent block-content-table">
        <div class="block-header block-content-mini">
            @{
                <label class="block-title">DATI AGGIUNTIVI</label>
            }
            <div class="block-options">
                @{
                    if (Model.AbilitaAggiuntaInfoJson && Model.AttributiAggiuntiWKF != null && Model.AttributiAggiuntiWKF.Any())
                    {
                        <button id="btn_aggiunta_json" class="btn rai-btn-small" onclick="Dematerializzazione_AbilitaDivAttributiAggiuntiWKF()">Aggiungi info</button>
                    }
                    else if (Model.AbilitaModificaInfoJson)
                    {
                        <button id="btn_modifica_json" class="btn rai-btn-small" onclick="Dematerializzazione_AbilitaModificaDivAttributiAggiuntiWKF('@(Model.Matricola)', '@Model.IdPersona', '@(Model.Richiesta.Documento.Id)', '@(Model.ApprovazioneEnabled)', '@(Model.PresaInCaricoEnabled)', '@(Model.PresaInVisioneEnabled)')">Modifica info</button>
                    }
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="widget-summary">
                @Html.Partial("~/Views/Dematerializzazione/subpartial/_viewCustomData.cshtml", Model.Attributi)
            </div>
        </div>
        @{
            if (Model.AttributiAggiuntiWKF != null && Model.AttributiAggiuntiWKF.Any())
            {
                DematerializzazioneCustomDataView attWKFModel = new DematerializzazioneCustomDataView();
                attWKFModel.Nominativo = Model.Nominativo;
                attWKFModel.Attributi = Model.AttributiAggiuntiWKF;
                attWKFModel.IdPersona = Model.IdPersona;
                attWKFModel.Matricola = Model.Matricola;
                attWKFModel.SviluppoOrizzontale = true;
                <div id="dematerializzazione_div_AttributiAggiuntiWKF" class="" style="display:none;">
                    @Html.Partial("~/Views/Dematerializzazione/subpartial/_tabCustomData.cshtml", attWKFModel)
                    <div class="row push-20-t">
                        <div class="col-sm-12">
                            <div class="rai-btn-fill">
                                @{
                                    if (Model.AbilitaAggiuntaInfoJson && Model.AttributiAggiuntiWKF != null && Model.AttributiAggiuntiWKF.Any())
                                    {
                                        <button id="btn_annulla_aggiunta_json" class="btn btn-md btn-action-icon text-danger btn-action-icon-text" style="display:none;" onclick="Dematerializzazione_AbilitaDivAttributiAggiuntiWKF()">Annulla</button>
                                    }
                                    else if (Model.AbilitaModificaInfoJson)
                                    {
                                        <button id="btn_annulla_modifica_json" class="btn btn-md btn-action-icon text-danger btn-action-icon-text" style="display:none;" onclick="Dematerializzazione_AnnullaModificaDivAttributiAggiuntiWKF('@(Model.Matricola)', '@Model.IdPersona', '@(Model.Richiesta.Documento.Id)', '@(Model.ApprovazioneEnabled)', '@(Model.PresaInCaricoEnabled)', '@(Model.PresaInVisioneEnabled)')">Annulla</button>
                                    }
                                }
                                <button type="button" id="btns-fase1-custom-next" onclick="Dematerializzazione_SalvaAttributiAggiuntiWKF('@(Model.Matricola)', '@Model.IdPersona', '@(Model.Richiesta.Documento.Id)', '@(Model.ApprovazioneEnabled)', '@(Model.PresaInCaricoEnabled)', '@(Model.PresaInVisioneEnabled)')" class="btn btn-md btn-action-icon text-success btn-action-icon-text disable">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>