@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiHelper;
@using Newtonsoft.Json;
@using myRaiCommonManager;

@model myRaiCommonModel.XR_DEM_DOCUMENTI_EXT
@{
    var r = Model;
}


<tr>
    @{
        if (r.Id_Stato > 5 && r.Id_Stato < 40)
        {
            <td>
                <div class="col-sm-12">
                    <div class="rai-checkbox">
                        <input id="dem-check-@r.Id" name="dem-check" type="checkbox" value="@r.Id">
                        <label class="rai-caption" for="">&nbsp;</label>
                    </div>
                </div>
            </td>
        }
        else if (r.AlmenoUnCheck)
        {
            <td>
                <div class="col-sm-12">&nbsp;</div>
            </td>
        }
    }

    <td style="width: 30%;">
        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRow_Destinatario.cshtml", r)
    </td>
    <td>
        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRow_Descrizione.cshtml", r)
    </td>
    <td class="text-right">
        <button class="btn rai-btn-small" aria-label="Visualizza" onclick="GetDettaglio_Approvatore(@r.Id)" title="Visualizza" style="min-width:80px;">
            Visualizza
        </button>
        @{
            if (r.Id_Stato > 5 && r.Id_Stato < 40)
            {
                <button class="rai button-approva btn-action-icon" aria-label="Rifiuta" onclick="Dematerializzazione_RifiutaDocumento(@UtenteHelper.Matricola(),0,@r.Id)" title="Rifiuta">
                    <i class="glyphicon glyphicon-remove feedback-error-color"></i>
                </button>

                <button class="rai button-approva btn-action-icon" aria-label="Rifiuta" onclick="Dematerializzazione_ApprovaDocumento(@UtenteHelper.Matricola(),0,@r.Id)" title="Approva">
                    <i class="fa fa-fw fa-check feedback-success-color"></i>
                </button>
            }
        }
    </td>
</tr>