@using myRaiHelper;
@using myRaiCommonModel;
@using Newtonsoft.Json;
@using myRaiCommonManager;

@model myRaiCommonModel.XR_DEM_DOCUMENTI_EXT
@{
    var r = Model;
}

<tr>
    <td>
        <div class="col-sm-12">
            <div class="rai-checkbox">
                <input id="dem-check-@r.Id" name="dem-check" type="checkbox" data-tab="@r.Tab" value="@r.Id">
                <label class="rai-caption" for="">&nbsp;</label>
            </div>
        </div>
    </td>
    <td style="width: 30%;">
        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRow_Destinatario.cshtml", r)
    </td>
    <td>
        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRow_Descrizione.cshtml", r)
    </td>
    <td class="text-right">
        <button class="btn rai-btn-small" aria-label="Visualizza" onclick="Dematerializzazione_GetDettaglio(@r.Id, @(r.NascondiBottoniPrendiInCarico ? "true" : "false"))" title="Visualizza" style="min-width:80px;">
            Visualizza
        </button>
    </td>
</tr>