@using myRaiGestionale.Controllers
@using myRaiCommonModel
@using myRaiHelper
@model DettaglioDematerializzazioneVM

<div class="row" style="background: #fff; margin-top: -15px; padding-top: 15px; margin-left: -15px; margin-right: -15px;">
    <div class="col-sm-12">
        <div id="newwizard" style="margin-top:0px" class="rai wizard-progress wizard-progress-llg wiznew remove-margin-t" role="tablist">
            <ul class="wizard-steps">
                @{
                    int count = 0;
                    foreach (var t in Model.Tabs)
                    {
                        string classe = (!t.Attivo ? "disable" : "");
                        classe = classe.Trim();
                        classe += (t.Completato ? " completed" : "");
                        classe = classe.Trim();
                        classe += (t.Fallito ? " failed" : "");
                        classe = classe.Trim();
                        count++;
                        <li class="@(classe)" id="tab-dem-@(count)" role="presentation" style="max-width:none">
                            <a role="tab" aria-label="@(t.Title)" aria-controls="validation-classic-step@(count)" id="hTab@(count)" onclick="" href="#" data-toggle="tab" aria-selected="true" tabindex="0">
                                <span>@(count)</span>
                                <p class="rai-font-sm-bold">
                                    @(t.Descrizione)
                                </p>
                                <p class="rai-font-sm-neutral" style="margin-top:-20px;">
                                    @(t.SottoTitolo)
                                </p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>