@using myRaiGestionale.Controllers
@using myRaiCommonModel
@using myRaiHelper
@using Newtonsoft.Json
@using System.Web.Script.Serialization

@model AttributiAggiuntivi

@{
    Layout = null;
}

@{
    var a = Model;
    // calcola la dimensione del singolo div inline
    string dimensioneDiv = "";
    int elementi = a.InLine.Count();
    int parti = 12 / elementi;

    // se sono tutti bottoni
    bool allButtons = a.InLine.Count(w => w.Tipo == TipologiaAttributoEnum.ActionButton || w.Tipo == TipologiaAttributoEnum.Button) == a.InLine.Count();

    if (allButtons)
    {
        parti = 12;
    }

    dimensioneDiv = "col-xs-" + parti.ToString();

    if (allButtons)
    {
        <div class="text-right">
            @{
                foreach (var subA in a.InLine)
                {
                    @Html.Partial("~/Views/Dematerializzazione/subpartial/_tabCustomDataInLineInternal.cshtml", subA)
                }
            }
        </div>
    }
    else
    {
        foreach (var subA in a.InLine)
        {
            if (subA.InLine != null && subA.InLine.Any())
            {
                <div id="@(subA.Id)" class="@(dimensioneDiv)">
                    @Html.Partial("~/Views/Dematerializzazione/subpartial/_tabCustomDataInLine.cshtml", subA)
                </div>
            }
            else
            {
                <div class="@(dimensioneDiv)">
                    @Html.Partial("~/Views/Dematerializzazione/subpartial/_tabCustomDataInLineInternal.cshtml", subA)
                </div>
            }
        }
    }
}