@using myRaiGestionale.Controllers
@using myRaiCommonModel
@using myRaiHelper
@using myRaiData.Incentivi

@model DematerializzazioneBozza

@{
    string title = "Bozza mail";
}

@using (Html.BeginModal(title))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-group" id="form-bozza">
                        @Html.HiddenFor(m => m.IdDocumento)
                        @Html.HiddenFor(m => m.IdBozza)



                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Indirizzi cc aggiuntivi</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.IndirizziCC, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Bozza mail selezionata</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.TemplateBozza, new { @class = "form-control" })
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Testo</label>
                                @if (!String.IsNullOrWhiteSpace(Model.HtmlTextLastMod))
                                {
                                    <i class="rai-font-sm-neutral">
                                        @Model.HtmlTextLastMod
                                    </i>
                                }
                                @if (Model.IsViewMode || !Model.AbilitaGestione)
                                {
                                    @Html.TextAreaFor(m => m.HtmlText, new { @class = "form-control html-editor", cols = "20", rows = "10", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => m.HtmlText, new { @class = "form-control html-editor", cols = "20", rows = "20" })
                                }

                            </div>
                        </div>

                        <div class="row form-button" id="btnBozzaMail">
                            <div class="col-sm-12 rai-btn-fill">
                                <button class="btn rai-btn-secondary" onclick="SubmitBozza(false, 0)">Salva modifiche</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(".html-editor").summernote({
        height: 400,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            //['view', ['fullscreen', 'codeview', 'help']],
        ]
    });
</script>