@using myRaiGestionale.Controllers
@using myRaiCommonModel
@using myRaiHelper
@using myRaiData.Incentivi

@model Dematerializzazione_TRFileUploadVM

@{
    if ( Model != null && Model.Allegati != null && Model.Allegati.Any( ) )
    {
        foreach (var m in Model.Allegati)
        {
            <tr id="riga-allegato-@m.Id" data-id="@m.Id" data-isprincipal="@(Model.Principale ? "1" : "0")" data-tipo="@(m.TipoFile)">
                <td class="col-sm-8">
                    <div class="widget-summary push-10">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon" style=" font-size: 2rem;
                                                width: 36px;
                                                height: 36px;
                                                line-height: 36px;
                                                text-align: center;
                                                background-color: #c2cfd6;
                                                color: #516c7b;
                                                -webkit-border-radius: 50%;
                                                border-radius: 50%;">
                                <i class="fa fa-file"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <span id="nome-file-VSDIP-@m.Id" class="rai-font-md-bold" style="word-break: break-word;">@m.NomeFile</span>
                                <br />
                                <span id="total-VSDIP-@m.Id" class="rai-font-sm-neutral" style="word-break: break-word;">@(m.Length / 1000) KB</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="col text-right">
                    <button class="btn rai-btn-small" id="visualizza-VSDIP-@m.Id" onclick="Dematerializzazione_VisualizzaDocumentoTemporaneo('@m.Id')" aria-label="Visualizza" title="Visualizza" style="min-width:80px; margin-right: 5px;">Visualizza</button>

                    @{
                        if (!Model.SkipSalvataggioCompleto)
                        {
                            if (Model.InModifica)
                            {
                                <button class="btn-action-icon" style="margin-right: 5px;" data-isprincipal="@(m.IsPrincipal ? "1" : "0")" id="remove-VSDIP-@m.Id" onclick="Dematerializzazione_CancellaUplVirtuale('@m.Id')"><i class="fa fa-trash-o"></i></button>
                            }
                            else
                            {
                                <button class="btn-action-icon" style="margin-right: 5px;" data-isprincipal="@(m.IsPrincipal ? "1" : "0")" id="remove-VSDIP-@m.Id" onclick="Dematerializzazione_CancellaUpl('@m.Id')"><i class="fa fa-trash-o"></i></button>
                            }
                        }

                        //Controllo che il documento non sia il Principale e che i documenti sia Allegati (Tab1) e non Documenti a supporto (TabInformazioni)
                        if (!Model.Principale && Model.TipologiaDocumento == 1)
                        {
                            <input type="checkbox" id="chkSigla-@m.Id" onclick="Dematerializzazione_UpdateperSiglaperAllegato(@m.Id)">
                            <label for="chkSiglaLbl-@m.Id">Sigla</label>
                        }
                    }
                </td>
            </tr>
        }
    }
}