@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model SedeGappModel

<form id="form-sede-gapp" class="js-form1 validation form-horizontal" method="post" action="/sedi/updateSede">
    <div style="padding: 10px">

        @Html.HiddenFor( m => m.sedeDB.id )

        <div class="row">
            <div class="col-sm-6">
                <label>Codice Sede</label>
                @Html.TextBoxFor( m => m.sedeDB.cod_sede_gapp , new { disabled = "disabled" , @class = "form-control" } )
            </div>

            <div class="col-sm-6">
                <label>Descrizione Sede</label>
                @Html.TextBoxFor( m => m.sedeDB.desc_sede_gapp , new { disabled = "disabled" , @class = "form-control" } )
            </div>

        </div>


        <div class="row">

            <div class="col-sm-6">
                <label>Minimo Carenza</label>
                @Html.TextBoxFor( m => m.sedeDB.minimo_car , new { @class = "form-control" , maxlength = "4" } )
                @Html.ValidationMessageFor( m => m.sedeDB.minimo_car )
            </div>
            <div class="col-sm-6">
                <label>Giorno inizio settimana</label>
                @Html.DropDownListFor( m => m.sedeDB.giorno_inizio_settimana , Model.GiorniList , "Seleziona..." , new { @class = "form-control" } )
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <label>Importo rimborso</label>
                @Html.TextBoxFor( m => m.sedeDB.importo_rimborso , new { @class = "form-control" , maxlength = "7" } )
                @Html.ValidationMessageFor( m => m.sedeDB.importo_rimborso )
            </div>
            <div class="col-sm-6">
                <label>Intervallo mensa</label>
                @Html.TextBoxFor( m => m.sedeDB.intervallo_mensa , new { @class = "form-control" , maxlength = "9" } )
                @Html.ValidationMessageFor( m => m.sedeDB.intervallo_mensa )
            </div>

        </div>


        <div class="row">

            <div class="col-sm-6">
                <label>Data patrono</label>
                @*  <input type="text" class="form-control js-datetimepicker" data-format="DD/MM/YYYY" data-locale="it" id="datacheck" placeholder="Data da verificare...">*@

                <input class="form-control  js-datetimepicker" data-format="DD/MM/YYYY" data-locale="it"
                       name="sedeDB.Data_Patrono" id="sedeDB_Data_Patrono" value="@(Model.sedeDB.Data_Patrono==null?"":((DateTime)Model.sedeDB.Data_Patrono).ToString("dd/MM/yyyy"))" />


            </div>
            <div class="col-sm-6">
                <label>Calendario di Sede</label>
                @Html.TextBoxFor( m => m.sedeDB.CalendarioDiSede , new { @class = "form-control" , maxlength = "7" } )
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <label>Periodo mensa</label>
                @Html.TextBoxFor( m => m.sedeDB.periodo_mensa , new { @class = "form-control" , maxlength = "3" } )
                @Html.ValidationMessageFor( m => m.sedeDB.periodo_mensa )
            </div>
            <div class="col-sm-6">
                <label>Intervallo mensa serale</label>
                @Html.TextBoxFor( m => m.sedeDB.intervallo_mensa_serale , new { @class = "form-control" , maxlength = "9" } )
                @Html.ValidationMessageFor( m => m.sedeDB.intervallo_mensa_serale )
            </div>

        </div>


        <div class="row">

            <div class="col-sm-6">
                <label>Intervallo RMTR</label>
                @Html.TextBoxFor( m => m.sedeDB.RMTR_intervallo , new { @class = "form-control" , maxlength = "9" } )
                @Html.ValidationMessageFor( m => m.sedeDB.RMTR_intervallo )
            </div>
            <div class="col-sm-6">
                <label>Disponibilità mensa</label>
                @Html.DropDownListFor( m => m.sedeDB.mensa_disponibile , Model.MensaDisponibileList , "Seleziona..." , new { @class = "form-control" } )
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 text-left" style="margin-top:30px">
                <button onclick="UpdateSede()" type="button" class="btn btn-primary">Salva i dati della sede</button>
            </div>

        </div>
    </div>
</form>
<script>
    InitDatePicker();
    $.validator.unobtrusive.parse(document);

</script>


