@using myRaiCommonModel
@using myRaiHelper
@model AnagNoDipIban
@{
    AnagNoDipIbanModel current = null;
    if (Model.Elenco != null && Model.Elenco.Any())
    {
        current = Model.Elenco.OrderBy(x => x.DataInizio).ThenBy(x => x.DataFine).LastOrDefault();
    }
}

@using (Html.BeginPanel(PanelType.Panel, "Dati bancari", true))
{
    if (current != null)
    {
        if (Model.Elenco.Count() > 1)
        {
            <div class="row push-10" style="padding-left:15px;padding-right:15px;">
                <div class="col-sm-12 bg-neutrals-xl-10" style="padding-top:15px;padding-bottom:15px;">
                    <span class="rai-font-sm-neutral">Ultima variazione effettuate il @current.LastModifiedTime <a href="#" onclick="AnagNoDipOpenStoricoIban(@current.IdAnag)">Visualizza storico</a></span>
                </div>
            </div>
        }


        <div class="rai-table-info push-20">
            <div class="row push-10-t">
                <div class="col-sm-4 col-md-3 col-xl-2">
                    <span>IBAN</span>
                </div>
                <div class="col-sm-8 col-md-9 col-xl-10">
                    <span>@current.IBAN</span>
                </div>
            </div>
            <div class="row push-10-t">
                <div class="col-sm-4 col-md-3 col-xl-2">
                    <span>Intestatario</span>
                </div>
                <div class="col-sm-8 col-md-9 col-xl-10">
                    <span>@current.Intestatario</span>
                </div>
            </div>
            <div class="row push-10-t">
                <div class="col-sm-4 col-md-3 col-xl-2">
                    <span>Agenzia</span>
                </div>
                <div class="col-sm-8 col-md-9 col-xl-10">
                    <span>@current.Agenzia</span>
                </div>
            </div>
            <div class="row push-10-t">
                <div class="col-sm-4 col-md-3 col-xl-2">
                    <span>Indirizzo agenzia</span>
                </div>
                <div class="col-sm-8 col-md-9 col-xl-10">
                    <span>@current.IndirizzoAgenzia</span>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="row push-10">
            @Html.Partial("_NoDatiDiv")
        </div>
    }

    if (Model.CanAdd)
    {
        <div class="row">
            <div class="col-sm-12">
                <button class="btn rai-btn-small full-width" onclick="AnagNoDipModalIban(0)">Aggiungi nuove coordinate</button>
            </div>
        </div>
    }
}