@using myRaiCommonModel
@model AnagNoDipIndirizzi

@{
    AnagNoDipIndirizziModel current = null;
    if (Model.Elenco != null && Model.Elenco.Any())
    {
        current = Model.Elenco.OrderBy(x => x.IndDataInizio).ThenBy(x => x.IndDataFine).LastOrDefault();
    }
}

@using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Indirizzi"))
{
    if (current != null)
    {
        if (Model.Elenco.Count() > 1)
        {
            <div class="row push-10" style="padding-left:15px;padding-right:15px;">
                <div class="col-sm-12 bg-neutrals-xl-10" style="padding-top:15px;padding-bottom:15px;">
                    <span class="rai-font-sm-neutral">Ultima variazione effettuate il @current.LastModifiedTime <a href="#" onclick="AnagNoDipOpenStoricoIndirizzi(@current.IdAnag)">Visualizza storico</a></span>
                </div>
            </div>
        }

        <div class="row push-10-t">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <span class="rai-font-md-neutral-bold">Decorrenza</span>
            </div>
            <div class="col-sm-4 col-md-3 col-xl-2">
                <span>@current.Residenza.Decorrenza.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="col-sm-4 col-md-6 col-xl-8 text-right">
                @if (Model.CanModify)
                {
                <button class="btn btn-action-icon" onclick="AnagNoDipModalResDom('@current.IndDataInizio.ToString("dd/MM/yyyy")')"><i class="fa fa-pencil"></i></button>
                }
            </div>
        </div>

        using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Residenza"))
        {
            <div class="rai-table-info">
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>Indirizzo</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Residenza.Indirizzo</span>
                    </div>
                </div>
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>Città</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Residenza.Citta</span>
                    </div>
                </div>
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>CAP</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Residenza.CAP</span>
                    </div>
                </div>
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>Stato</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Residenza.Stato</span>
                    </div>
                </div>
            </div>
        }

        using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Domicilio"))
        {
            <div class="rai-table-info">
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>Indirizzo</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Domicilio.Indirizzo</span>
                    </div>
                </div>
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>Città</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Domicilio.Citta</span>
                    </div>
                </div>
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>CAP</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Domicilio.CAP</span>
                    </div>
                </div>
                <div class="row push-10-t">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <span>Stato</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@current.Domicilio.Stato</span>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row push-10">
            @Html.Partial("_NoDatiDiv")
        </div>
    }

    if (Model.CanAdd)
    {
        <div class="row">
            <div class="col-sm-12">
                <button class="btn rai-btn-small full-width" onclick="AnagNoDipModalResDom(null)">Aggiungi nuovo indirizzo</button>
            </div>
        </div>
    }
}
