@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model PresenzaDipendenti

@for ( int i = 0 ; i < Model.ListaDipendenti.Count ; i++ )
{
    @Html.HiddenFor( model => model.ListaDipendenti[i].DescrizioneSedeGap )
    @Html.HiddenFor( model => model.ListaDipendenti[i].SedeGapp )
    var sede = Model.ListaDipendenti[i];

    <div class="panel-accordion" style="border-right: none; border-left: none; border-top: none; margin-top: 2px">
        <div class="panel-heading" style="background-color: #f6f6f6">
            <h4 class="panel-title">
                <a class="accdip collapsed del" data-toggle="collapse" href="#id@(sede.SedeGapp)" aria-expanded="false">
                    <span style="font-weight: bold;">@sede.SedeGapp</span>
                    - @sede.DescrizioneSedeGap
                </a>
            </h4>
            <div class="panel-actions">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div id="id@(sede.SedeGapp)" class="accordion-body collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body" style="padding: 0px">
                <table class="table">
                    <tbody>
                        @for ( int k = 0 ; k < sede.ListaDipendentiPerSede.Count ; k++ )
                        {
                            <tr>
                                <td class="font-w600 text-muted" colspan="3">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="widget-profile-info">
                                                <div class="profile-picture" style="position: relative">
                                                    <img style="width: 50px; height: 50px" src="@(CommonHelper.GetUrlFoto(Model.ListaDipendenti[i].ListaDipendentiPerSede[k].matricola.Substring(1)))">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" style="padding-left: 30px">
                                            <span class="font-w200 col-xs-12" style="font-weight: bold; margin-top: 14px">
                                                @Model.ListaDipendenti[i].ListaDipendentiPerSede[k].Nominativo
                                            </span>
                                            <span class="col-xs-12" style="font-style: italic"></span>
                                        </div>
                                        <div class="col-sm-3 font-w600 text-muted text-primary">
                                            <div class="checkbox-custom checkbox-default" style="margin-top: 14px">
                                                <input type="checkbox" value="true" class="cb-dip"
                                                       name="ListaDipendenti[@i].ListaDipendentiPerSede[@k].SelezionatoPerDelega" />
                                                <label for="checkboxExample2"></label>
                                            </div>
                                            @Html.HiddenFor( x => x.ListaDipendenti[i].ListaDipendentiPerSede[k].matricola )
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}