@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model DelegheModel

@{
    Layout = "~/Views/Shared/_layout2.cshtml";
}
<section class="body">
    @Html.Partial( "../Shared/header2" , new myRaiCommonModel.NotifichePopupModel( CommonHelper.GetCurrentUserMatricola( ) ) )
    <div class="inner-wrapper">
        @Html.Partial( "../Shared/sidebar3" , myRaiHelper.UtenteHelper.getSidebarModel( appType: myRaiHelper.ApplicationType.Gestionale ) )
        <section role="main" class="content-body">
            <!-- start: page -->
            <!-- Main Container -->
            <main id="main-container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-8">
                            @{bool GappChiuso = false;}
                            @if ( !UtenteHelper.GappChiuso( ) )
                            {
                                @Html.AsyncPartial( "deleghe" , "deleghe" , null , TempData )
                            }
                            else
                            {
                                @Html.Partial( "_cics_chiuso" )
                                GappChiuso = true;
                            }
                        </div>
                        <div class="col-sm-4">
                            @Html.RenderWidget(WidgetType.Normal, "Inserisci una delega" , "icon icon-doc" , "Vuoi inserire una nuova delega?" , action:
                                new ActionTemplate()
                                {
                                    Href = "JavaScript:AggiungiDelega();" ,
                                    Text = "Aggiungi delega"
                                })
                        </div>
                    </div>
                </div>
                <div class="modal fade right" id="doc-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-dialog-popin modal-lg">
                        <div class="block-header bg-cdf" style="height: 0px; padding:0px;">
                            <ul class="block-options visible-xs">
                                <li>
                                    <button data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                                </li>
                            </ul>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-content" id="pdfcontent" style="text-align :center">
                            <iframe style="width:100%;margin:8px;border:none" id="docframe"></iframe>
                        </div>
                    </div>
                </div>
            </main>
            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px;">
            </div>
        </div>
        <div class="nano-pane" style="opacity: 1; visibility: visible;">
            <div class="nano-slider" style="height: 583px; transform: translate(0px, 0px);"></div>
        </div>
    </aside>
</section>

@section afterjs {
    @Html.Raw( TempData["script"] )
}

@Html.Partial( "popupDeleghe" , new PresenzaDipendenti( ) )

<div class="modal fade" id="giornata-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
</div>
<div class="modal fade" id="richiesta-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
</div>
<!-- FINE Partial view per modali -->

<div id="pg-visible-xs" class="visible-xs"></div>
<div id="pg-visible-sm" class="visible-sm"></div>
<div id="pg-visible-md" class="visible-md"></div>
<div id="pg-visible-lg" class="visible-lg"></div>