@using System.Globalization;
@using myRaiCommonModel;

@{
    Layout = null;
    var cultureInfo = CultureInfo.GetCultureInfo("it-IT");
}

@model DettaglioDirezioneVM

<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h2 class="panel-title">Riepilogo organico</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null && Model.RiepilogoOrganico != null)
                                {
                                    var riepOrg = Model.RiepilogoOrganico;
                                    <tr>
                                        <td><h5>Organico gestionale attuale</h5></td>
                                        <td><h5>@riepOrg.OrgGestAttuale</h5></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Organico ai fini della ripartizione del budget</h5></td>
                                        <td><h5>@riepOrg.OrgFiniBudget</h5></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Organico gestionale alla data del xxxxxxxx</h5></td>
                                        <td><h5>@riepOrg.OrgAllaData</h5></td>
                                    </tr>
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h2 class="panel-title">Budget</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        @{ 
                            DateTime d = DateTime.Now;
                            int cYear = d.Year;
                            int oldYear = cYear - 1;
                        }
                        <thead>
                            <tr>
                                <th></th>
                                @*<th><h5>@oldYear</h5></th>*@
                                <th><h5>@cYear</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null && Model.BudgetRiepilogo != null &&
                                    Model.BudgetRiepilogo.Any())
                                {
                                    foreach (var bud in Model.BudgetRiepilogo)
                                    {
                                        <tr>
                                            <td><h5>@bud.Descrizione</h5></td>
                                            @*<td><h5>@(String.Format(cultureInfo, "€ {0:N2} ", bud.AnnoPrecedente))</h5></td>*@
                                            <td><h5>@(String.Format(cultureInfo, "€ {0:N2} ", bud.AnnoCorrente))</h5></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h2 class="panel-title">DATI DI ORGANICO</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><h5>Personale</h5></th>
                                <th><h5>Totale</h5></th>
                                <th><h5>% su Organico</h5></th>
                                <th><h5>Donne</h5></th>
                                <th><h5>%  su Organico Categoria Professionale</h5></th>
                                <th><h5>Uomini</h5></th>
                                <th><h5>%  su Organico Categoria Professionale</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null &&
                                    Model.DettaglioDatiOrganico != null &&
                                    Model.DettaglioDatiOrganico.Any())
                                {
                                    foreach (var dettOrg in Model.DettaglioDatiOrganico)
                                    {
                                        <tr>
                                            <td><h5>@dettOrg.Personale</h5></td>
                                            <td><h5>@dettOrg.Totale</h5></td>
                                            <td><h5>@String.Format("{0}%", dettOrg.PercSuOrg)</h5></td>
                                            <td><h5>@dettOrg.Donne</h5></td>
                                            <td><h5>@String.Format("{0}%", dettOrg.PercOrgCatProfDonne)</h5></td>
                                            <td><h5>@dettOrg.Uomini</h5></td>
                                            <td><h5>@String.Format("{0}%", dettOrg.PercOrgCatProfUomini)</h5></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h2 class="panel-title">PROVVEDIMENTI IPOTIZZATI</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><h5>Tipologia</h5></th>
                                <th><h5>N°</h5></th>
                                <th><h5>% su Organico</h5></th>
                                <th><h5>Donne</h5></th>
                                <th><h5>%  su Provv.</h5></th>
                                <th><h5>Uomini</h5></th>
                                <th><h5>%  su Provv.</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null &&
                                    Model.ProvvedimentiIpotizzati != null &&
                                    Model.ProvvedimentiIpotizzati.Any())
                                {
                                    foreach (var provv in Model.ProvvedimentiIpotizzati)
                                    {
                                        <tr>
                                            <td><h5>@provv.Personale</h5></td>
                                            <td><h5>@provv.Totale</h5></td>
                                            <td><h5>@String.Format("{0}%", provv.PercSuOrg)</h5></td>
                                            <td><h5>@provv.Donne</h5></td>
                                            <td><h5>@String.Format("{0}%", provv.PercOrgCatProfDonne)</h5></td>
                                            <td><h5>@provv.Uomini</h5></td>
                                            <td><h5>@String.Format("{0}%", provv.PercOrgCatProfUomini)</h5></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h2 class="panel-title">IPOTESI POLITICHE RETRIBUTIVE 2017 E COSTI</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><h5>Provvedimenti richiesti</h5></th>
                                <th><h5>N° Provvedimenti</h5></th>
                                <th><h5>Costo annuo 2017</h5></th>
                                <th><h5>Costo 2018 con rec. straordinari</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null &&
                                    Model.IpotesiPoliticheRetributiveECosti != null &&
                                    Model.IpotesiPoliticheRetributiveECosti.Any())
                                {
                                    foreach (var ipotesi in Model.IpotesiPoliticheRetributiveECosti)
                                    {
                                        <tr>
                                            <td><h5>@ipotesi.ProvvedimentoRichiesto</h5></td>
                                            <td><h5>@ipotesi.NumeroProvvedimenti</h5></td>
                                            <td><h5>@(String.Format(cultureInfo, "€ {0:0} ", ipotesi.CostoAnnoPrecedente))</h5></td>
                                            <td><h5>@(String.Format(cultureInfo, "€ {0:0} ", ipotesi.CostoAnnoCorrenteConRecStraor))</h5></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
    </div>
</div>