@using myRaiHelper
@model ModalTemplateBody

@{
    bool hasContent = !Model.OnlyHeader && !Model.OnlyFooter;
}

@*<div class="block block-transparent no-margin-bottom">
        <div class="block-header">
            <label class="rai-font-modal-heading">@(Model.Title)</label>
            <div class="block-options">
                <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
        <div class="block-content">
            @Html.Partial(Model.ViewUrl, Model.Model)
        </div>
    </div>*@



@if (hasContent || Model.OnlyHeader)
{
    @Html.Raw("<div class=\"block block-transparent no-margin-bottom\">")
    <div class="block-header">
        <label class="rai-font-modal-heading">@(Model.Title)</label>
        <div class="block-options">
            <button id="aggiorna-scheda" style="display:none" onclick="DecodLivCat()" aria-label="" class="btn btn-action-icon" type="button" data-toggle="block-option"><i class="fa fa-refresh"></i></button>
            <button data-dismiss="modal" class="btn btn-action-icon" onclick="$(this).parent('.modal').css('z-index', '');"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    @Html.Raw("<div class=\"block-content\">")
}

@if (hasContent)
{
    @Html.Partial(Model.ViewUrl, Model.Model)
}

@if (hasContent || Model.OnlyFooter)
{
    @Html.Raw("</div></div>")
}




