@using myRaiCommonModel.Approvatore;

@model WidgetElencoRichieste

@{
    Layout = null;
}

@{
    var richieste = Model.Richieste;
    int totTutte = richieste.Sum( w => w.TotRichieste );
    int totUrgenti = richieste.Sum( w => w.TotRichiesteUrgenti );
    int totScadute = richieste.Sum( w => w.TotRichiesteScadute );
    int totOrdinarie = richieste.Sum( w => w.TotRichiesteOrdinarie );
}

<div class="block-content no-padding">
    <div class="block no-padding" style="margin-bottom:0px;">
        <ul class="hidden-xs nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist" id="ul-da-app">
            <li class=" text-center active" role="presentation">
                <a role="tab" class="font-w600 rai-badge-anchor" tabindex="0" aria-selected="true" aria-controls="tab-0" href="#tab-0">
                    TUTTE
                    <div class="rai-badge-tab bg-neutrals-xl-10">
                        <span class="text-smaller text-bold ">@(totTutte )</span>
                    </div>
                </a>
            </li>
            <li class=" text-center" role="presentation">
                <a role="tab" class="font-w600 rai-badge-anchor" tabindex="-1" aria-selected="false" aria-controls="tab-1" href="#tab-1">
                    URGENTI
                    <div class="rai-badge-tab bg-neutrals-xl-10">
                        <span class="text-smaller text-bold ">@(totUrgenti )</span>
                    </div>
                </a>
            </li>
            <li class=" text-center" role="presentation">
                <a role="tab" class="font-w600 rai-badge-anchor" tabindex="-1" aria-selected="false" aria-controls="tab-2" href="#tab-2">
                    SCADUTE
                    <div class="rai-badge-tab bg-neutrals-xl-10">
                        <span class="text-smaller text-bold ">@(totScadute )</span>
                    </div>
                </a>
            </li>
            <li class=" text-center" role="presentation">
                <a role="tab" class="font-w600 rai-badge-anchor" tabindex="-1" aria-selected="false" aria-controls="tab-3" href="#tab-3">
                    ORDINARIE
                    <div class="rai-badge-tab bg-neutrals-xl-10">
                        <span class="text-smaller text-bold ">@(totOrdinarie )</span>
                    </div>
                </a>
            </li>
        </ul>

        <div class="block-content tab-content">
            <div role="tabpanel" class="tab-pane tab-filtro active" id="tab-0">
                <div class="divall" style="width: 100%; text-align: right; display: none;margin-bottom:4px;padding-bottom:8px">
                    <button class="button-approva-tutti btn rai-btn-secondary" type="submit">APPROVA SELEZIONATI</button>
                    <button class="button-rifiuta-tutti btn rai-btn-secondary" type="submit">RIFIUTA SELEZIONATI</button>
                </div>
                @*@if ( Request.QueryString["nome"] != "" || Request.QueryString["sede"] != "" ||
                         Request.QueryString["stato"] != "" || Request.QueryString["eccezione"] != "" ||
                         Request.QueryString["data_da"] != "" || Request.QueryString["data_a"] != "" ||
                         Request.QueryString["livelloDip"] != "" )
                    {
                        <div class="block">
                            <div class="row">
                                <div class="col-sm-9">
                                    Hai Cercato:
                                    @if ( Request.QueryString["nome"] != "" )
                                    {<b>@Request.QueryString["nome"], </b>}
                                    @if ( Request.QueryString["sede"] != "" )
                                    {<b>@Request.QueryString["sede"], </b>}
                                    @if ( Request.QueryString["stato"] != "" )
                                    {<b>@Request.QueryString["stato"], </b>}
                                    @if ( Request.QueryString["eccezione"] != "" )
                                    {<b>@Request.QueryString["eccezione"], </b>}
                                    @if ( Request.QueryString["data_da"] != "" && Request.QueryString["data_a"] == "" )
                                    {<b>@Request.QueryString["data_da"] - @DateTime.Now.ToShortDateString( ), </b>}
                                    @if ( Request.QueryString["data_da"] != "" && Request.QueryString["data_a"] != "" )
                                    {<b>@Request.QueryString["data_da"] - @Request.QueryString["data_a"], </b>}
                                    @if ( Request.QueryString["livelloDip"] != "" )
                                    {<b>dipendenti di livello @Request.QueryString["livelloDip"]</b>}
                                </div>
                                <div class="col-sm-3">
                                    <a href="#">TORNA ALL'ELENCO</a>
                                </div>
                            </div>
                        </div>
                    }*@
                <table class="js-table-sections table table-hover rai-table" role="grid">
                    <thead>
                        <tr>
                            <th style="width: 3%;"></th>
                            <th style="width: 3%;"></th>
                            <th style="width: 8%;"></th>
                            <th style="width: 15%;"></th>
                            <th style="width: 25%;"></th>
                            <th style="width: 25%;"></th>
                            <th style="width: 20%;"></th>
                        </tr>
                    </thead>
                    @{
                        foreach ( var r in richieste )
                        {
                            <tbody class="js-table-sections-header">
                                <tr role="row" tabindex="0" aria-label="" aria-expanded="false" onclick="javascript:CaricaDettaglioRichieste('@(r.CodiceSedeGapp)')">
                                    <td class="hidden-xs text-center no-padding-right">
                                        <i class="fa fa-angle-right interactive-primary-color">&nbsp;</i>
                                    </td>
                                    <td colspan="4" class="hidden-xs">
                                        <span style="" class="rai-font-md-bold">
                                            @(r.CodiceSedeGapp)
                                            <span class="rai-font-md"> - @(r.DescrizioneSedeGapp)</span>
                                            <br />
                                            <span class="base-text text-smaller text-italic">@(r.Reparto)</span>
                                        </span>
                                    </td>
                                    <td colspan="2" class="text-right hidden-xs">
                                        <span class="base-text rai-text-bold-12 rai-alert-dot">
                                            @(r.TotRichieste) richiest@(( r.TotRichieste == 1 ) ? "a" : "e")
                                        </span>
                                    </td>
                                    <td class="visible-xs text-center no-padding-right" style="vertical-align:top;">
                                        <i class="fa fa-angle-right interactive-primary-color">&nbsp;</i>
                                    </td>
                                    <td colspan="6" class="visible-xs">
                                        <div class="row">
                                            <div class="col-xs-12 no-padding-left">
                                                <span style="" class="cod-sede">
                                                    @(r.CodiceSedeGapp)
                                                    <span class="desc-sede"> - @(r.DescrizioneSedeGapp)</span>
                                                    <br />
                                                    <span class="base-text text-smaller text-italic">@(r.Reparto)</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="base-text rai-text-bold-12 rai-alert-dot">
                                                    @(r.TotRichieste) richiest@(( r.TotRichieste == 1 ) ? "a" : "e")
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody class="tbodydata rai-tbody-striped" id="dettaglioRichieste_@(r.CodiceSedeGapp)">
                                <tr class="hidden-xs">
                                    <td colspan="2" class="text-center" style="padding-top: 0px;padding-bottom: 0px; width:5%">
                                        <label class="css-input css-checkbox css-checkbox-rounded css-checkbox-sm css-checkbox-info">
                                            <input class="seltutti" type="checkbox" onchange="">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td colspan="5"><span class="text-bold rai-text-color">SELEZIONA TUTTI</span></td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CaricaDettaglioRichieste(sedegapp) {
        $.ajax({
            url: '@(Url.Action( "CaricaDettaglioRichieste" , "Approvatore"))',
            type: "GET",
            data: { codiceSedeGapp: sedegapp },
            async: true,
            success: function (data) {
                $('#dettaglioRichieste_' + sedegapp).html(data);
            },
            error: function (result) {
            }
        });
    }
</script>