@using myRaiCommonModel.Approvatore

@model List<L2D_SEDE_GAPP_EXT>

@{
    if ( Model != null && Model.Any( ) )
    {
        <div class="panel-group" style="margin: 0px">
            @foreach ( var sede in Model )
            {
                <div id="cont_@(sede.id)" class="panel-accordion" style="border-right: none; border-left: none; border-top: none">
                    <div class="panel-heading" style="background-color: transparent; padding: 0px;">
                        <h4 class="panel-title">
                            <a class="accdip collapsed" data-toggle="collapse" href="#id@(sede.cod_sede_gapp)" onclick="javascript:CaricaDipendentiSedeGapp('@(sede.cod_sede_gapp)')">
                                <i class="fa fa-calendar interactive-primary-color" title="Visualizza piano ferie" onclick="javascript:MostraPianoFerie('@(sede.cod_sede_gapp)');"></i>
                                <span class="rai-font-md-bold">@(sede.cod_sede_gapp) </span><span class="rai-font-md">- @myRai.Business.CommonManager.ToTitleCase( sede.desc_sede_gapp )</span>
                            </a>
                        </h4>
                        <div class="panel-actions">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div id="id@(sede.cod_sede_gapp)" class="accordion-body collapse ">
                        <div class="panel-body rai-scrollh" style="padding: 0px" data-presenza="">
                            <div class="rai-scrollh-200" id="dipendenti_@(sede.cod_sede_gapp)">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

<script type="text/javascript">
    function CaricaDipendentiSedeGapp(sedegapp) {
        if (!$('#id' + sedegapp).hasClass('collapse in')) {
            $.ajax({
                url: '@(Url.Action( "CaricaDipendentiPerSede" , "Approvatore"))',
                type: "GET",
                data: { codiceSedeGapp: sedegapp },
                async: true,
                success: function (data) {
                    $('#dipendenti_' + sedegapp).html(data);
                },
                error: function (result) {
                }
            });
        }
    }
</script>