@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model List<Omaggio>

@{
    ViewBag.Title = "Gestione Omaggi";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    var oggi = DateTime.Today.ToString("dd/MM/yyyy");
}

<div class="content-body">
    <div class="col-md-8">
        <section class="panel" id="elencoomaggi">
            @Html.Partial("../RaiPlace/Omaggi/subpartial/_elencoOmaggiAdmin")
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel" id="panelRicercaOmaggio">
            <header class="panel-heading">
                <h2 class="panel-title">Ricerca Omaggio</h2>
            </header>
            <div class="panel-body">
                <form class="js-form-search form-group" id="fricercaomaggio" action="javascript:cercaOmaggi('Admin');" novalidate="novalidate">
                    @Html.Hidden("Matricola")
                    <div class="row push-10">
                        <div class="col-sm-12">
                            <label class="rai-caption">Utente</label>
                            <select class="js-example-basic-single form-control" id="utentiOmaggio" onchange="javascript:setMatricola();">
                                @{
                                    var utenti = Model.Select(x => x.Utente).GroupBy(x => new { x.Matricola, x.Cognome, x.Nome }).Select(x => x.Key);
                                }
                                <option selected value="0">Tutti gli utenti</option>
                                @foreach (var utente in utenti)
                                {
                                    <option value="@utente.Matricola">@utente.Cognome @utente.Nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row push-10">
                        <div class="col-sm-12">
                            <label class="rai-caption">Tipo omaggio</label>
                            <select class="form-control" id="tipoOmaggio">
                                @{
                                    var tipi = Model.Select(x => x.Tipo).GroupBy(x => new { x.Text, x.Value }).Select(x => x.Key);
                                }
                                <option selected value="0">Tutti i tipi</option>
                                @foreach (var tipo in tipi)
                                {
                                    <option value="@tipo.Value">@tipo.Text</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="rai-caption">Data ricezione</label>
                        </div>
                        <div class="col-md-12 col-lg-6 push-10">
                            <div class="input-group">
                                <span onclick="$('#datada').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datada" name="datada" placeholder="Dal">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 push-10">
                            <div class="input-group">
                                <span onclick="$('#dataal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al">
                            </div>
                        </div>
                    </div>
                    <div class="row push-10">
                        <div class="col-lg-6">
                            <label class="rai-caption" for="Valoreda">Valore da</label>
                            <input class="form-control" id="Valoreda" name="Valoreda" onkeypress="return onlyNumeric(event,'Valoreda');" type="text" value="">
                        </div>
                        <div class="col-lg-6">
                            <label class="rai-caption" for="Valorea">Valore a</label>
                            <input class="form-control" id="Valorea" name="Valorea" onkeypress="return onlyNumeric(event,'Valorea');" type="text" value="">
                        </div>
                    </div>

                    <div class="row push-5-t">
                        <div class="col-sm-12 ">
                            <input type="submit" id="btnCercaOmaggio" class="btn rai-btn-primary full-width" title="Cerca" value="Cerca" />
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>

</div>



@Html.RenderModal("omaggio")




