@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model List<HotelSingoloModel>

@if ( Model.Count( ) == 0 )
{
    <label><em>Nessun albergo trovato</em></label>
    <br />
    //Questo campo è utile ai fini della validazione
    <input type="text" style="border:0px;width:0px;height:0px;" name="dom-id-@ViewData["IdDomanda"]" required />
}

@foreach ( var item in Model )
{
    bool ischecked = ( ViewData.ContainsKey( "isSingle" ) && ( bool ) ViewData["isSingle"] );
    string hotelDescription = item.hotel.Nome + " - " + item.hotel.Indirizzo + " - " + item.hotel.Città.Nome_Città + " (" + item.hotel.Città.Province.Sigla_Provincia + ")";
    <div class="col-xs-12 col-sm-6 col-xl-4">
        <div class="rai-radio">
            <input type="radio" id="radio-@item.hotel.Id_Hotel" required @(ischecked ? "checked" : "")
                   data-text="@hotelDescription" class="radio-risposta" data-domandaid="@ViewBag.IdDomanda"
                   name="dom-id-@ViewData["IdDomanda"]" value="@item.hotel.Id_Hotel">
            <label for="radio-@item.hotel.Id_Hotel">
                <strong>@item.hotel.Nome</strong>
                <br />
                @item.hotel.Indirizzo - @item.hotel.Città.Nome_Città (@item.hotel.Città.Province.Sigla_Provincia)
                <br />
                @for (int i = 0; i < @item.hotel.Categoria.Simbolo_Categoria.Trim().Length; i++)
                {
                    <i class="fa fa-star" style="color: #ddd" aria-hidden="true"></i>
                }
            </label>
        </div>
    </div>
}
