@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model HotelModel
<!-- Icone -->
@{
    Layout = "~/Views/Shared/_layoutContent.cshtml";
    ViewBag.Title = "Rai Per Me - Alberghi";
}


<section role="main" class="content-body">


    <!-- start: page -->
    <!-- Main Container -->

    <main id="main-container">

        <div class="content">

            <div class="row">
                <div class="col-sm-8">


                    @Html.Partial("ricercaHotel", Model)


                </div>
                <div class="col-sm-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="row">
                                <h2 class="panel-title">News</h2>
                            </div>
                        </header>
                        <div class="panel-body panel-row-bordered">
                            @{
                                bool afterFirst = false;
                            }
                            @foreach (var item in Model.listaNews)
                            {
                                <div class="row push-5-t">
                                    <div class="col-sm-12">
                                        @if (afterFirst)
                                        {
                                            <br />
                                        }
                                        <span class="rai-font-md-bold" style="padding-top:5px;">Dal @item.Data_Inizio.Substring(6, 2)/@item.Data_Inizio.Substring(4, 2)/@item.Data_Inizio.Substring(0, 4) al @item.Data_Fine.Substring(6, 2)/@item.Data_Fine.Substring(4, 2)/@item.Data_Fine.Substring(0, 4)</span>
                                        <br />
                                        <span class="rai-font-md">@item.Testo_News</span>
                                    </div>
                                </div>

                                afterFirst = true;
                            }

                        </div>
                    </section>
                    @if (Model.AlberghiVisitati.Count > 0)
                    {
                        int counter = 0;

                        <section class="panel">
                            <header class="panel-heading">
                                <div class="row">
                                    <h2 class="panel-title">Alberghi visitati</h2>
                                </div>
                            </header>
                            <div class="panel-body">
                                @foreach (var albergo in Model.AlberghiVisitati)
                                {
                                    <div class="row">
                                        <div class="col-xl-2 col-md-2 no-padding-right ">
                                            <div class="week-day">@albergo.DataVisita.ToString("dd")</div>
                                            <div class="week-month bg-primary">@albergo.DataVisita.ToString("MMM").ToUpper()</div>
                                        </div>
                                        <div class="col-xl-10 col-md-10">
                                            <label>
                                                <strong>@albergo.Albergo.Nome</strong>
                                                @for (int i = 0; i < @albergo.Albergo.Categoria.Simbolo_Categoria.Trim().Length; i++)
                                                {
                                                    <i class="fa fa-star" style="color: #ddd" aria-hidden="true"></i>
                                                }
                                                <br />
                                                @(albergo.Albergo.Indirizzo + " - " + albergo.Albergo.Città.Nome_Città + " (" + albergo.Albergo.Città.Province.Sigla_Provincia + ")")<br />
                                                <a href="@(Url.Action("fill","formUser", new {idForm=6, idHotel=albergo.CodAlbergo}))">Lascia un feedback!</a>
                                            </label>
                                        </div>
                                    </div>
                                    if (++counter < Model.AlberghiVisitati.Count)
                                    {
                                        <hr style="margin:10px 0 10px 0;" />
                                    }
                                }
                            </div>
                        </section>
                    }
                </div>
            </div>
        </div>
    </main>

    <!-- end: page -->
</section>

<!-- FINE Partial view per modali -->

<div id="pg-visible-xs" class="visible-xs"></div>
<div id="pg-visible-sm" class="visible-sm"></div>
<div id="pg-visible-md" class="visible-md"></div>
<div id="pg-visible-lg" class="visible-lg"></div>
