@model myRai.Models.Bonus100EVM
<div id="Bonus100ContainerDiv">
    @{

        if ( Model != null && Model.HaDiritto && !Model.GiaScelto )
        {
            <section class="rai-widget" id="panelBoxBonus100">
                <div class="rai-widget-body bg-base">
                    <div class="rai-widget-cta">
                        <div class="rai-widget-cta-title">
                            <label class="rai-title interactive-primary-color">@Html.Raw( Model.Messaggio )</label>
                            <span id="Bonus100SubTitle" class="rai-font-sm-bold"></span>
                        </div>
                        <div class="rai-widget-cta-action">
                            <a id="btnbonus100Action" href="javascript:showBoxBonus100Form('@(Model.Anno)');" aria-label="Vedi" class="btn rai-btn-small">Compila</a>
                        </div>
                    </div>
                </div>
            </section>
        }
        else if ( Model != null && Model.HaDiritto && Model.GiaScelto )
        {
            <section class="rai-widget" id="panelBoxBonus100">
                <div class="rai-widget-body bg-base">
                    <div class="rai-widget-cta">
                        <div class="rai-widget-cta-title">
                            <label class="rai-title interactive-primary-color">@Html.Raw( Model.Messaggio )</label>
                            <span id="Bonus100SubTitle" class="rai-font-sm-bold">Compilato ed inviato in data @(Model.DataCompilazione.GetValueOrDefault().ToString("dd/MM/yyyy"))</span>
                        </div>
                        <div class="rai-widget-cta-action">
                            <a id="btnbonus100Action" href="javascript:showBoxBonus100PDF('@(Model.Anno)', '@(Model.Scelta)');" aria-label="Vedi" class="btn rai-btn-small">Visualizza</a>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
</div>