@using myRaiCommonModel

@model WidgetModuloBox

@{

    if ( Model != null && Model.IsPreview )
    {
        <section class="rai-widget" id="panelBox@(Model.WidgetId)">
            <div class="rai-widget-body bg-base">
                <div class="rai-widget-cta">
                    <div class="rai-widget-cta-title">
                        <label class="rai-title interactive-primary-color my-card-loading-block"></label>
                    </div>
                    <div class="rai-widget-cta-action">
                    </div>
                </div>
            </div>
        </section>
    }
    else if ( Model != null && Model.HaDiritto && !Model.GiaScelto )
    {
        <section class="rai-widget" id="panelBox@(Model.WidgetId)">
            <div class="rai-widget-body bg-base">
                <div class="rai-widget-cta">
                    <div class="rai-widget-cta-title">
                        <label id="@(Model.WidgetId)_Title" class="rai-title interactive-primary-color">@Html.Raw( Model.Titolo )</label>
                        <span id="@(Model.WidgetId)_SubTitle" class="rai-font-sm-bold">@Html.Raw( Model.Sottotitolo )</span>
                    </div>
                    <div class="rai-widget-cta-action">
                        @{
                            if ( Model.Bottoni != null && Model.Bottoni.Any( ) )
                            {
                                foreach ( var btn in Model.Bottoni )
                                {
                                    <a id="@(btn.BottoneId)" href="javascript:showBoxModulo('@(btn.UrlBottone)@(btn.UrlBottoneParametri)');" aria-label="Vedi" class="btn rai-btn-small">@(btn.TestoBottone)</a>
                                }
                            }
                        }
                    </div>
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.Sottotitolo2))
                {
                    <div class="rai-widget-cta">
                        <div class="rai-widget-cta-title">
                            <span class="rai-font-sm-neutral">@Html.Raw(Model.Sottotitolo2)</span>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
    else if ( Model != null && Model.HaDiritto && Model.GiaScelto )
    {
        <section class="rai-widget" id="panelBox@(Model.WidgetId)">
            <div class="rai-widget-body bg-base">
                <div class="rai-widget-cta">
                    <div class="rai-widget-cta-title">
                        <label id="@(Model.WidgetId)_Title" class="rai-title interactive-primary-color">@Html.Raw( Model.Titolo )</label>
                        <span id="@(Model.WidgetId)_SubTitle" class="rai-font-sm-bold">@Html.Raw( Model.Sottotitolo )</span>
                    </div>
                    <div class="rai-widget-cta-action">
                        @{
                            if ( Model.Bottoni != null && Model.Bottoni.Any( ) )
                            {
                                foreach ( var btn in Model.Bottoni )
                                {
                                    <a id="@(btn.BottoneId)" href="javascript:showBoxModulo('@(btn.UrlBottone)@(btn.UrlBottoneParametri)');" aria-label="Vedi" class="btn rai-btn-small">@(btn.TestoBottone)</a>
                                }
                            }
                        }
                    </div>
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.Sottotitolo2))
                {
                    <div class="rai-widget-cta">
                        <div class="rai-widget-cta-title">
                            <span class="rai-font-sm-neutral">@Html.Raw(Model.Sottotitolo2)</span>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
}