@model myRaiCommonModel.SectionMetersModel


<div>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6" style="text-align:center">
            <span class="rai-font-md-bold">FERIE</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <span class="rai-font-md-bold">RECUPERI</span>
        </div>
    </div>
    <div class="row" style="margin-bottom:16px">

        <div class="col-sm-3" style="padding-top:43px">
            <span class="font-w600">Da pianificare</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <span class="rai-font-md">100% spettanza</span>
            <div style="width:98%; background-color:#eee; height:2px;margin-top: 10px;margin-bottom: 10px;"></div>
            <span class="rai-font-lg-bold">@Model.CalendarioFerieModel.PianoFerieDip.PF_InteroSuSpettanza</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <span class="rai-font-md">15% arretrati (@Model.CalendarioFerieModel.PianoFerieDip.PF_TotaleArretrati)</span>
            <div style="width:98%; background-color:#eee; height:2px;margin-top: 10px;margin-bottom: 10px;"></div>
            <span class="rai-font-lg-bold">@Model.CalendarioFerieModel.ArretratiFE15</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <span class="rai-font-md">15% RR+RN (@(Model.CalendarioFerieModel.resocontoFerie.recuperiMancatiRiposiRimanenti + Model.CalendarioFerieModel.resocontoFerie.recuperiNonLavoratiRimanenti))</span>
            <div style="width:98%; background-color:#eee; height:2px;margin-top: 10px;margin-bottom: 10px;"></div>
            <span class="rai-font-lg-bold">@Model.CalendarioFerieModel.ArretratiRRRN15</span>
        </div>
    </div>
    <div class="row" style="padding-top:16px;border-top: solid 2px #eee;margin-bottom: 16px;">
        <div class="col-sm-3">
            <span class="font-w600">Entro 30 giugno*</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            @if (Model.CalendarioFerieModel.ArretratiRRRN15 + Model.CalendarioFerieModel.ArretratiFE15 > 10)
            {
                <span class="rai-font-lg-bold">10</span>
            }
            else
            {
                <span class="rai-font-lg-bold">@(Model.CalendarioFerieModel.ArretratiRRRN15 + Model.CalendarioFerieModel.ArretratiFE15)</span>
            }

        </div>
    </div>
    <div class="row" style="margin-top:16px">
        <div class="col-sm-3">
            <span class="font-w600">Entro 30 settembre**</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <span class="rai-font-lg-bold">@Model.CalendarioFerieModel.PianoFerieDip.PF_Intero75percento</span>
        </div>


    </div>
    <div class="row" style="margin-top:16px;padding-bottom: 16px;border-bottom: solid 2px #eee;">
        <div class="col-sm-3">
            <span class="font-w600">Entro 31 dicembre***</span>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <span class="rai-font-lg-bold">@(Model.CalendarioFerieModel.PianoFerieDip.PF_InteroSuSpettanza + Model.CalendarioFerieModel.ArretratiFE15 + Model.CalendarioFerieModel.ArretratiRRRN15)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="rai-font-sm-neutral">* Arretrati Ferie e/o Recuperi</span><br />
            <span class="rai-font-sm-neutral">** 75% spettanza annua</span><br />
            <span class="rai-font-sm-neutral">*** Spettanza ed arretrati</span><br />

        </div>
    </div>
</div>