@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model SectionMetersModel

<div style="width: 100%">
    <section class="rai panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            </div>
            <h2 class="panel-title">Situazione Ferie e Permessi</h2>
        </header>

        <div class="panel-body" style="display: block;">
            @*ROW 3 GRAFICI -------------------------------------------------------------------------------------*@

            <div class="row">

                @*------------- BOX GRAFICO 1/3 - FERIE ---------*@

                @{
                    if ( Model.DatiScostamento != null )
                    {
                        <div class="row push-20">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding-left no-padding-right">
                                <div class="block block-transparent block-content-table no-margin-bottom">
                                    <div class="block-header block-content-mini">
                                        <label class="rai-font-md">Giorni pianificati ad oggi</label>
                                    </div>
                                    <div class="block-content block-content-mini">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                @{
                                                    string tx = String.Format( "{0} di {1}" , Model.DatiScostamento.GiorniPianificatiAdOggi , Model.DatiScostamento.GiorniPianificati );
                                                }
                                                <label style="font-weight: 600; font-size: 24px;">@(tx)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding-left no-padding-right">
                                <div class="block block-transparent block-content-table no-margin-bottom">
                                    <div class="block-header block-content-mini">
                                        <label class="rai-font-md">Giorni effettivi ad oggi</label>
                                    </div>
                                    <div class="block-content block-content-mini">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <label style="font-weight: 600; font-size: 24px;">@(Model.DatiScostamento.GiorniEffettivi)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding-left no-padding-right">
                                <div class="block block-transparent block-content-table no-margin-bottom">
                                    <div class="block-header block-content-mini">
                                        <label class="rai-font-md">Percentuale rispetto al piano ferie</label>
                                    </div>
                                    <div class="block-content block-content-mini">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="rai progress progress-chart progress-xl light" style="height: 23px;">
                                                    @{
                                                        int percentuale = Model.DatiScostamento.Percentuale;
                                                        int scostamento = Model.DatiScostamento.Scostamento;
                                                        string txScostamento = "";

                                                        txScostamento = Model.DatiScostamento.Scostamento.ToString( ) + "%";

                                                        if ( Model.DatiScostamento.Scostamento < 100 )
                                                        {
                                                            int nuovo = ( percentuale * ( int ) scostamento ) / 100;
                                                            <div class="progress-bar rai-bg-primary" role="progressbar" aria-valuenow="@nuovo" aria-valuemin="0" aria-valuemax="100" tabindex="0">
                                                                <span class="sottotitolettoBox progress-bar-tooltip" id="span_before" style="line-height: 23px; font-size: 21px;">@(txScostamento)</span>
                                                            </div>

                                                            int nuovaPercentuale = percentuale - nuovo;

                                                            <div class="progress-bar rai-bg-primary" role="progressbar" aria-valuenow="@(nuovaPercentuale.ToString())" aria-valuemin="0" aria-valuemax="100" tabindex="0">
                                                                <span class="sottotitolettoBox progress-bar-tooltip" id="span_before" style="line-height: 23px; font-size: 21px;"></span>
                                                            </div>

                                                            int diffRimasta = 100 - ( nuovaPercentuale + nuovo );

                                                            <div class="progress-bar rai-bg-primary" role="progressbar" aria-valuenow="@(diffRimasta)" aria-valuemin="0" aria-valuemax="100" tabindex="0">
                                                                <span class="sottotitolettoBox progress-bar-tooltip" id="span_before" style="line-height: 23px; font-size: 21px;"></span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="progress-bar rai-bg-primary" role="progressbar" aria-valuenow="@(percentuale.ToString())" aria-valuemin="0" aria-valuemax="100" tabindex="0">
                                                                <span class="sottotitolettoBox progress-bar-tooltip" id="span_before" style="line-height: 23px; font-size: 21px;">@(txScostamento)</span>
                                                            </div>

                                                            int diffRimasta = 100 - percentuale;

                                                            <div class="progress-bar rai-bg-primary" role="progressbar" aria-valuenow="@(diffRimasta.ToString())" aria-valuemin="0" aria-valuemax="100" tabindex="0">
                                                                <span class="sottotitolettoBox progress-bar-tooltip" id="span_before" style="line-height: 23px; font-size: 21px;"></span>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }


                <div class="col-sm-6 col-xs-12 text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-12  text-center">
                            <span class="h5">FERIE</span>
                            <div class="rai-chart scrivania graf">
                                <div class="ct-chart ct-golden-section ct-negative-labels"></div>
                            </div>
                            <script>
                            @{
                                //percentuali per donut (somma 100):
                                // float tot = Model.ferie.ferieSpettanti + Model.ferie.ferieAnniPrecedenti;
                                float tot = Model.ferie.feriePianificate + Model.ferie.ferieRimanenti + Model.ferie.ferieUsufruite;
                                int s1 = ((int)(((Model.ferie.feriePianificate) / tot) * 100));
                                int s2 = ((int)((Model.ferie.ferieRimanenti / tot) * 100));
                                int s3 = ((int)((Model.ferie.ferieUsufruite / tot) * 100));
                                int s4 = ((int)((Model.ferie.ferieAnniPrecedenti / tot) * 100));
                                Model.ferie.ferieRimanenti =(float)Math.Round(Model.ferie.ferieRimanenti,1);
                             }

                                var graf = new Chartist.Pie('.ct-chart', {
                                    series: [
                                              @s3,@s1,@s2
                                ]
                            },
                            {
                                donut: true,
                                donutWidth: 30,
                                startAngle: 270,
                                total: 200,
                                showLabel: false
                            });
                            graf.on("created", function () {
                                var svg = document.getElementsByTagName('svg')[0];
                                svg.setAttribute("transform", "scale(1.6)");
                                svg.setAttribute("style", "margin-top:55px");
                                var newElementText = document.createElementNS("http://www.w3.org/2000/svg", 'text');
                                var newElementTspan = document.createElementNS("http://www.w3.org/2000/svg", 'tspan');
                                newElementText.setAttribute("y", "50%");
                                newElementText.setAttribute("font-size", "1.4em");
                                newElementText.setAttribute("fill", "#333");
                                newElementTspan.setAttribute("x", (svg.clientWidth / 2).toString());
                                newElementTspan.setAttribute("text-anchor", "middle");
                                newElementTspan.textContent = "@Model.ferie.ferieRimanenti";
                                newElementText.appendChild(newElementTspan);
                                svg.appendChild(newElementText)
                            });

                            </script>
                        </div>
                    </div>

                    <div class="row">
                        <div class="ìcol-xs-10 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-20 td-graf">

                                        <div class="graf-square-legenda scrivania ct-series-a"></div>
                                    </td>
                                    <td class="td-30 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.ferieUsufruite</b> FRUITE</td>
                                    <td class="td-10 td-graf">
                                        <div class="graf-square-legenda scrivania ct-series-b"></div>
                                    </td>
                                    <td class="td-40 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.feriePianificate</b> PIANIFICATE</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-top: 10px">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-20 td-graf">
                                        <div class="graf-square-legenda scrivania ct-series-c"></div>
                                    </td>
                                    <td class="td-30 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.ferieRimanenti</b> NON PIAN.</td>
                                    <td class="td-10 td-graf"></td>
                                    <td class="td-40 td-graf" style="font-size: 0.9em;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="hidden-sm row">
                        <p>&nbsp;</p>
                    </div>
                </div>


                @* ------------------------ BOX GRAFICO 2/3 - PF o PX --------------------------------*@

                @*SE HA PERMESSI EX FESTIVITA *@

                @if ( Model.pianoF.dipendente.ferie.visualizzaFC )
                {
                    <div class="col-sm-3 col-xs-12 text-center">
                        <div class="row">
                            <span class="h5">PERM.RETR.(EX F.NAZ.)</span>
                            <div class="chart1" style="margin-top: 15px;" data-percent="@( (Model.ferie.exFestivitaRimanenti / (Model.ferie.exFestivitaRimanenti + Model.ferie.exFestivitaUsufruite)) * 100)">
                            </div>
                            <span class="graph-center-value">
                                @Model.ferie.exFestivitaRimanenti
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div class="row">
                                    <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                                        <table style="width: 100%">
                                            <tr>
                                                <td class="td-20 td-graf">
                                                    <div class="graf-square-legenda bg-default"></div>
                                                </td>
                                                <td class="td-80 td-graf" style="font-size:0.9em;">
                                                    <b>@Model.ferie.exFestivitaUsufruite</b>
                                                    FRUITE
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-top: 10px">
                                        <table style="width: 100%">
                                            <tr>
                                                <td class="td-20 td-graf">
                                                    <div class="graf-square-legenda bg-cdf"></div>
                                                </td>
                                                <td class="td-80 td-graf" style="font-size:0.9em;">
                                                    <b>@Model.ferie.exFestivitaRimanenti</b> NON PIAN.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="hidden-sm row">
                    <p>&nbsp;</p>
                </div>



                @if ( Model.pianoF.dipendente.ferie.visualizzaPermessiGiornalisti )
                {
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 text-center">
                            <span class="h5">PERM.STRAORD.  GIORNALISTI</span>
                            <div class="chart1" style="margin-top: 15px;"
                                 data-percent="@( (Model.ferie.permessiGiornalistiRimanenti / (Model.ferie.permessiGiornalistiRimanenti + Model.ferie.permessiGiornalistiUsufruiti)) * 100)">
                            </div>
                            <span class="graph-center-value">@Model.ferie.permessiGiornalistiRimanenti</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                                    <table style="width: 100%">
                                        <tr>
                                            <td class="td-20 td-graf">
                                                <div class="graf-square-legenda bg-default"></div>
                                            </td>
                                            <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.permessiGiornalistiUsufruiti</b> FRUITI</td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-top: 10px">
                                    <table style="width: 100%">
                                        <tr>
                                            <td class="td-20 td-graf">
                                                <div class="graf-square-legenda bg-cdf"></div>
                                            </td>
                                            <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.permessiGiornalistiRimanenti</b> NON PIAN.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="hidden-sm row">
                    <p>&nbsp;</p>
                </div>

                @*-------------------------------------------------------------------------*@


                @* ----------------------- BOX GRAFICO 3/3 - PR o MR ----------------------*@



                @if ( Model.pianoF.dipendente.ferie.visualizzaPermessi )
                {
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 text-center">
                            <span class="h5">PERMESSO RETRIBUITO</span>
                            <div class="chart2" style="margin-top: 15px;" data-percent="@( ( Model.ferie.permessiRimanenti / ( Model.ferie.permessiRimanenti + Model.ferie.permessiUsufruiti ) ) * 100)">
                            </div>
                            <span class="graph-center-value">@Model.ferie.permessiRimanenti</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                                    <table style="width: 100%">
                                        <tr>
                                            <td class="td-20 td-graf">
                                                <div class="graf-square-legenda bg-default"></div>
                                            </td>
                                            <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.permessiUsufruiti</b> FRUITE</td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-top: 10px">
                                    <table style="width: 100%">
                                        <tr>
                                            <td class="td-20 td-graf">

                                                <div class="graf-square-legenda bg-cdf"></div>
                                            </td>
                                            <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.permessiRimanenti</b> NON PIAN.</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if ( Model.pianoF.dipendente.ferie.visualizzaRecuperoRiposi )
                {
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 text-center">
                            <span class="h5">MANCATO</span><br />
                            <span class="h5">RIPOSO</span>
                            <div class="chart2" style="margin-top: 15px;" data-percent="@( ( Model.ferie.recuperiMancatiRiposiRimanenti / ( Model.ferie.recuperiMancatiRiposiRimanenti + Model.ferie.recuperiMancatiRiposiUsufruiti ) ) * 100)">
                            </div>
                            <span class="graph-center-value">@Model.ferie.recuperiMancatiRiposiRimanenti</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                                    <table style="width: 100%">
                                        <tr>
                                            <td class="td-20 td-graf">
                                                <div class="graf-square-legenda bg-default"></div>
                                            </td>
                                            <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.recuperiMancatiRiposiUsufruiti</b> FRUITI</td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-top: 10px">
                                    <table style="width: 100%">
                                        <tr>
                                            <td class="td-20 td-graf">

                                                <div class="graf-square-legenda bg-cdf"></div>
                                            </td>
                                            <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@Model.ferie.recuperiMancatiRiposiRimanenti</b> NON PIAN.</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="hidden-sm row">
                <p>&nbsp;</p>
            </div>

            @if ( Model.IsGiornalista && ( Model.PXCVisibili || Model.MNVisibili ) )
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                        <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">
                            @{
                                if ( Model.PXCVisibili )
                                {
                                    <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="padding: 15px;margin-bottom: 0px;">
                                        <div class="col-xs-1 col-md-offset-4">
                                            <pie class=""></pie>
                                        </div>
                                        <div class="col-xs-7 col-md-offset-1" style="margin-top: 12px;text-align: left;">
                                            HAI DIRITTO A @(Model.TotalePXC) PXC
                                        </div>
                                    </div>
                                }
                                if ( Model.MNVisibili )
                                {
                                    <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="padding: 15px;margin-bottom: 0px;">
                                        <div class="col-xs-1 col-md-offset-4">
                                            <pie class=""></pie>
                                        </div>
                                        <div class="col-xs-7 col-md-offset-1" style="margin-top: 12px;text-align: left;">
                                            @{
                                                double totale = Model.MNAnnoPrecedente + Model.TotaleMN;
                                                string testo = "";
                                                testo = String.Format( "HAI DIRITTO A {0} MN" , totale );

                                                if ( Model.MNAnnoPrecedente > 0 )
                                                {
                                                    testo = String.Format( "HAI DIRITTO A {0} MN DI CUI {1} CON SCADENZA IL {2}" ,
                                                    totale ,
                                                    Model.MNAnnoPrecedente ,
                                                    Model.ScadenzaMNAnnoPrecedente.GetValueOrDefault( ).ToString( "dd/MM/yyyy" ) );
                                                }

                                            }
                                            @testo
                                        </div>
                                    </div>
                                }
                            }


                        </div>

                    </div>
                </div>
            }



            @if ( Model.spettanzapg == "1" )
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                        <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">

                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="padding: 15px;margin-bottom: 0px;">
                                <div class="col-xs-1 col-md-offset-4">
                                    <pie class=""></pie>
                                </div>
                                <div class="col-xs-7" style="margin-top: 12px;text-align: left;">
                                    HAI DIRITTO AL PG
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }

            @if ( Model.spettanzapg == "2" )
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                        <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">
                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="padding: 15px;margin-bottom: 0px;">
                                <div class="col-xs-1 col-md-offset-4">
                                    <pie class="fifty"></pie>
                                </div>
                                <div class="col-xs-7" style="margin-top: 12px;text-align: left;">
                                    HAI ANCORA UN QUARTO DI PG
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if ( Model.spettanzapg == "3" )
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                        <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">
                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="padding: 15px;margin-bottom: 0px;">
                                <div class="col-xs-1 col-md-offset-4">
                                    <pie class=""></pie>
                                </div>
                                <div class="col-xs-7" style="margin-top: 12px;text-align: left;">
                                    HAI GIÀ USUFRUITO DEL PG
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="panel-footer text-right bg-white" style="display: block;margin-top:20px">
                <a class="btn btn-default bg-puls_dash btn-scriv @(Model.HaAssenzeIngiustificate ? "disable" : "")" style="margin-right: 10px;" href="/Feriepermessi">VEDI RIEPILOGO</a>

                @if ( myRai.Models.Utente.IsAbilitatoGapp( ) )
                {
                    <a class="btn btn-default bg-puls_dash btn-scriv @(Model.HaAssenzeIngiustificate ? "disable" : "")" href="javascript:ShowPopup('',1)">CHIEDI PERMESSI O FERIE</a>
                }
            </div>
        </div>
    </section>
</div>