@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@model List<myRaiData.MyRai_Notifiche>
@*<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblNotifiche" aria-expanded="true"></a>
        </div>
        <h2 id="lblNotifiche" class="panel-title">Notifiche</h2>
    </header>
    <div class="panel-body" style="padding:0px">*@
        <div data-nano="true" class="nano notifiche">
            <div class="nano-content">
                <table class="table rai-table rai-table-vcenter" role="grid">
                    <tbody>
                        @if ( Model != null && Model.Count > 0 )
                        {
                            int row = 0;
                            foreach ( var item in Model )
                            {
                                row++;
                                <tr @(item.categoria == "RifiutoEccezione" ? "class=scadute" : item.categoria == "ApprovazioneEccezione" ? "class=approvate" : "") role="row" onfocus="onFocusRow(this)" tabindex="@(row==1?"0":"-1")" aria-label="@item.descrizione">
                                    <td >
                                        <a role="link" tabindex="-1" class=" @(item.data_letta.HasValue ? "rai-font-md-bold" : "rai-font-md-neutral" )" href="/notifiche?tipo=@(item.tipo==null?"2":item.tipo.ToString())" aria-label="Gestisci">@item.descrizione</a>
                                    </td>
                                    <td class="rai-table-td-action">
                                        <button role="link" tabindex="-1" onclick="CancellaNotifica(@item.id , $(this).closest('tr'), $(this).closest('table'), $(this)  )"
                                                type="button" class="btn btn-action-icon feedback-error-color" data-dismiss="alert" aria-hidden="true" aria-label="Cancella notifica"
                                                ><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            @Html.Partial( "_nodati" )
                        }

                    </tbody>
                </table>
            </div>
        </div>
    @*</div>
</section>*@