@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model myRaiCommonModel.ModelDash

<!-- Icone -->
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    string[] mess = CommonHelper.GetParametri<string>( EnumParametriSistema.MessaggioChiusura );
}

<div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

<!-- Container di Pagina -->

<div id="page-container" class="sidebar-l sidebar-mini sidebar-o header-navbar-fixed">
    @Html.Partial( "../Shared/sidebar3" , myRaiHelper.UtenteHelper.getSidebarModel(  ) )
    @Html.Partial( "../Shared/header" )
    <!-- Main Container -->
    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    @if ( !UtenteHelper.GappChiuso( ) )
                    {
                        if ( UtenteHelper.IsBoss( CommonHelper.GetCurrentUserPMatricola()) )
                        {
                            @Html.Partial( "../Responsabile/da_approvare" )
                        }
                    }
                    else
                    {
                        <div class="alert alert-warning alert-dismissable ">
                            <h3 class="font-w300 push-15 text-black ">@mess[0]</h3>
                            <p class="text-black">@mess[1]</p>
                        </div>
                    }
                </div>
                <div class="col-sm-4">
                    @Html.Partial( "../home/today" )
                </div>
            </div>
        </div>
    </main>
    <!-- FINE Main Container -->
</div>
<!-- FINE Page Container -->
<!-- Partial view per modali -->
@Html.Partial( "../Richieste/_nuovarichiesta" , Model.Raggruppamenti )
@Html.Partial( "../Richieste/richiestapermesso" )
@Html.Partial( "../Richieste/_motivoRifiuto" )
@Html.Partial( "../Richieste/_validarifiutatutti" )
@Html.Partial( "../Richieste/richiestamaggiorazione" )
@Html.Partial( "../Richieste/_popupInizialePreSelezione" )

<div class="modal fade" id="giornata-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
</div>
<div class="modal fade" id="richiesta-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
</div>

<!-- FINE Partial view per modali -->

<div id="pg-visible-xs" class="visible-xs"></div>
<div id="pg-visible-sm" class="visible-sm"></div>
<div id="pg-visible-md" class="visible-md"></div>
<div id="pg-visible-lg" class="visible-lg"></div>