@model myRaiCommonModel.Gestionale.TAlberoSezioneModel

<tr>
    <td style="width:26px">
        @if (Model.HasChild)
        {
            <i class="fa fa-chevron-down"></i>
        }

    </td>
    <td style="width:100px">@Model.codice_visibile</td>
    <td>@Model.descrizione_lunga</td>
    <td style="width:160px">
        @if (Model.Incarichi.Any())
        {
            foreach (var i in Model.Incarichi)
            {
                @Html.Raw(i.Responsabile)
                <br />
            }
        }
    </td>
    <td style="width:160px">
        @if (Model.Incarichi.Any())
        {
            foreach (var i in Model.Incarichi)
            {
                @Html.Raw(i.Incarico)
                <br />
            }
        }
    </td>
    <td style="width:160px">
        @if (Model.Incarichi.Any())
        {
            foreach (var i in Model.Incarichi)
            {
                if (i.DataInizioIncarico != null)
                {
                    @Html.Raw(i.DataInizioIncarico.Value.ToString("dd/MM/yyyy"))
                    <br />
                }

            }
        }
    </td>
</tr>


