@model myRaiCommonModel.Gestionale.TAlberoSezioneModel

<tr style="height:48px">
    <td style="width:26px">
        @if (Model.HasChild)
        {
            <i class="fa fa-chevron-down"></i>
        }

    </td>
    @*<td style="width:100px">@Model.codice_visibile</td>*@
    @{
        if (Model.descrizione_lunga.Trim().ToUpper() == "CONSIGLIO DI AMMINISTRAZIONE")
        {
            <td>Presidente</td>
        }
        else
        {
            <td>@Model.descrizione_lunga</td>
        }
    }
            <td style="width:520px">
                @if (Model.Incarichi.Any())
                {
                    foreach (var i in Model.Incarichi)
                    {
                        if (Model.descrizione_lunga == i.Incarico || (i.Incarico != null && i.Incarico.ToLower().Trim() == "responsabile")
                            || (i.Incarico != null && i.Incarico.ToLower().Trim() == "presidente"))
                        {
                            @Html.Raw(i.Responsabile)
                        }
                        else
                        {   //Chief Financial Officer
                            if (i.Incarico.Trim().ToUpper().Equals("DIRETTORE"))
                            {
                                @Html.Raw(i.Responsabile + " (Dir)")
                            }
                            else if (i.Incarico.Trim().ToUpper().Equals("VICE DIRETTORE"))
                            {
                                @Html.Raw(i.Responsabile + " (VD)")
                            }
                            else if (i.Incarico.Trim().ToUpper().Equals("DIRETTORE AD INTERIM"))
                            {
                                @Html.Raw("Interim: " + i.Responsabile)
                            }
                            else if (i.Incarico.Trim().ToUpper().Equals("RESPONSABILE AD INTERIM"))
                            {
                                @Html.Raw("Interim: " + i.Responsabile)
                            }
                            else if (i.Incarico.Trim().ToUpper().Contains("DIRETTORE") && i.Incarico.Trim().ToUpper().Contains("INTERIM"))
                            {
                                @Html.Raw("Interim: " + i.Responsabile)
                            }
                            else if (i.Incarico.Trim().ToUpper().Equals("CHIEF FINANCIAL OFFICER"))
                            {
                                @Html.Raw(i.Responsabile + " (CFO)")
                            }
                            else if (i.Incarico.Trim().ToUpper().Equals("CHIEF TECHNOLOGY OFFICER"))
                            {
                                @Html.Raw(i.Responsabile + " (CTO)")
                            }
                            else
                            {
                                @Html.Raw(i.Incarico + ": " + i.Responsabile)
                            }
                        }

                        <br />
                    }
                }
            </td>
    @*<td style="width:160px">
            @if (Model.Incarichi.Any())
            {
                foreach (var i in Model.Incarichi)
                {
                    @Html.Raw(i.Incarico)
                    <br />
                }
            }
        </td>*@
    <td style="width:160px">

        @*@if (! String.IsNullOrWhiteSpace(Model.mission))
            {
                <button id="butt-@Model.id" class="btn rai-btn-small open-mission" data-idsez="@Model.id" aria-label="Vedi Mission"
                        title="Vedi Mission" style="min-width:80px;">
                    Vedi Mission
                </button>
            }*@



        @*@if (Model.Incarichi.Any())
            {
                foreach (var i in Model.Incarichi)
                {
                    if (i.DataInizioIncarico != null)
                    {
                        @Html.Raw(i.DataInizioIncarico.Value.ToString("dd/MM/yyyy"))
                        <br />
                    }

                }
            }*@
    </td>
</tr>
@if (! String.IsNullOrWhiteSpace(Model.mission))
{
    <tr id="miss-@Model.id" style="display:none">
        <td></td>
        <td colspan="4">
            <div class="rai-font-md-neutral-bold">
                @Html.Raw(Model.mission)
            </div>

        </td>
    </tr>
}



