@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model ModelDash

<h3 class="block-title">
    <i class="si si-calendar text-muted"></i>Settimana in corso
</h3>

<div class="block block-rounded block-opt-refresh-icon8 push-5-t">
    <div class="block-content text-center">
        <div class="row items-push push-10-t">
            <div class="col-md-6">
                @for ( var i = 0 ; i < Model.dettaglioSettimanaleModel.Settimana.Count ; i++ )
                {

                    @*@{ var elem = Model.listaPresenzeSettimanali.periodi.First(); }
                        @for (int i = 0; i < 4; i++)
                        {
                            var a = elem.giornate[i];

                    *@<div class="col-md-2 col-lg-3">
                        <a class="block block-bordered block-link-hover3 text-center" href="#" data-toggle="modal" data-target="#giornata-modal">
                            <div class="block-content block-content-full bg-gray-lighter border-b">
                                <div class="text-muted">
                                    <small class="text-info">@Html.Label( Model.dettaglioSettimanaleModel.Settimana.ElementAt( i ).GiornoSettimana )</small>
                                </div>
                                <h2 class="font-w300">@Html.Label( Model.dettaglioSettimanaleModel.Settimana.ElementAt( i ).GiornoData.ToString( ) )</h2>
                                @*<h2 class="font-w300">@a.data.ToString("dd/MM")</h2>*@
                                <div class="h5 text-danger">@Html.LabelFor( m => m.dettaglioSettimanaleModel.Settimana[i].Carenza )</div>
                                <div class="h5 text-success">@Html.Label( Model.dettaglioSettimanaleModel.Settimana.ElementAt( i ).MaggiorPresenza )</div>
                            </div>
                            <div class="block-content block-content-full block-content-mini">

                                <i class="si si-plus fa-2x text-success"></i>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-6">
                @* @for (int i = 4; i < 7; i++)
                {
                    var a = elem.giornate[i];      
                                  
	@*<div class="col-md-2 col-lg-3">
        <a class="block block-bordered block-link-hover3 text-center" href="javascript:void(0)">
            <div class="block-content block-content-full bg-gray-lighter border-b">
                <div class="text-muted">
                    <small class="text-info">@a.giornoSettimana </small>
                </div>
                <h2 class="font-w300">@a.data.ToString("dd/MM")</h2>
                <div class="h5 text-danger">@a.carenza</div>
                <div class="h5 text-success">@a.maggiorPresenza</div>
            </div>
            <div class="block-content block-content-full block-content-mini">

                <i class="si si-plus fa-2x text-success"></i>
            </div>
        </a>
    </div>*@

                <div class="col-xs-2 col-lg-3 push-20-t">
                    <a class="block block-bordered block-link-hover3 text-center" href="javascript:void(0)">
                        <div class="block-content block-content-full bg-gray-lighter border-b">
                            <div class="h5 text-info">TOTALI</div>
                            <div class="h1 font-w200 push-20-t"><i class="si si-calculator"></i></div>

                            @*@if (Model.listaPresenzeSettimanali.periodi[0].deltaTotale.Substring(0, 1) == "+")*@
                            @if ( Model.dettaglioSettimanaleModel.DeltaTotale.Substring( 0 , 1 ) == "+" )
                            {
                                <div class="h5 text-danger">
                                    <div class="h5 text-success">@Html.Label( Model.dettaglioSettimanaleModel.DeltaTotale )</div>
                                </div>
                            }
                            else
                            {
                                <div class="h5 text-danger">
                                    <div class="h5 text-danger">@Html.Label( Model.dettaglioSettimanaleModel.DeltaTotale )</div>
                                </div>
                            }
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END Multiple Avatars -->