@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model ModelDash

@{
    DateTime dtStart = Model.dettaglioSettimanaleModel.Settimana.FirstOrDefault().GiornoData;
    DateTime dtStop = Model.dettaglioSettimanaleModel.Settimana.LastOrDefault().GiornoData;
}

<div id="detsetwidget"
     data-from="@dtStart.ToString("dd/MM/yyyy")"
     data-to="@dtStop.ToString("dd/MM/yyyy")">

    <section class="rai panel" id="inevidenza">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            </div>
            <h2 class="panel-title">Riepilogo Settimanale</h2>
        </header>
            

            <div class="panel-body" style="padding: 0px;">
            <div class="block-content " id="widgetcontent" style="padding: 0px;">
                @{string pullStyle = "pull-t";}
                @if (Model.dettaglioSettimanaleModel != null)
                {
                    pullStyle = "";
                    <div class="list-group" style="margin-bottom: 0px;">
                        @for (var i = 0; i < Model.dettaglioSettimanaleModel.Settimana.Count; i++)
                        {
                            var Giornata = Model.dettaglioSettimanaleModel.Settimana.ElementAt(i);
                                string mpStyle = "", carStyle;
                                //if (Giornata.GiornoData == DateTime.Today)
                                //{
                                //    if ((Giornata.MaggiorPresenza.Trim() != "00:00") ||
                                //        (Giornata.Carenza.Trim() != "00:00"))
                                //    {
                                //        if (Giornata.MaggiorPresenza.Trim() == "00:00")
                                //        { mpStyle = "badge bg-white text-info"; }
                                //        else
                                //        {
                                //            mpStyle = "badge bg-white text-success";
                                //        }

                                //        if (Giornata.Carenza.Trim() == "00:00")
                                //        { carStyle = "badge bg-white text-info"; }
                                //        else
                                //        {
                                //            carStyle = "badge bg-white text-danger";
                                //        }
@*<a class="list-group-item" href="javascript:void(0)">
    <span class="@mpStyle">@Html.Label(Giornata.MaggiorPresenza)</span>
    <span class="@carStyle">@Html.Label(Giornata.Carenza)</span>
    @Html.Label("OGGI")

</a>*@
                                //}

                                //else
                                //{
                                //    if (string.IsNullOrEmpty(Giornata.CodiceEccezione))
                                //    {
@*<a class="list-group-item" href="javascript:void(0)">
    <span class="badge bg-white text-info">@Html.Label(Giornata.CodiceOrario)</span>
    @Html.Label(Giornata.GiornoData.ToString("dd/MM"))
                        @Html.Label(" ")
                        @Html.Label(Giornata.GiornoSettimana)
</a>*@
                                //}

                                //else
                                //{
@*<a class="list-group-item" href="javascript:void(0)">
    <span class="badge bg-white text-info">@Html.Label(Giornata.CodiceEccezione)</span>
    @Html.Label(Giornata.GiornoData.ToString("dd/MM"))
                        @Html.Label(" ")
                        @Html.Label(Giornata.GiornoSettimana)
</a>*@
                                //        }
                                //    }
                                //}

                                //else
                                //{
                                //if (string.IsNullOrEmpty(Giornata.CodiceEccezione))
                                //{
                                //if (Giornata.MaggiorPresenza.Trim() == "00:00")
                                //{ mpStyle = "badge bg-white text-info"; }
                                //else
                                //{
                                //    mpStyle = "badge bg-white text-success";
                                //}

                                //if (Giornata.Carenza.Trim() == "00:00")
                                //{ carStyle = "badge bg-white text-info"; }
                                //else
                                //{
                                //    carStyle = "badge bg-white text-danger";
                                //}

                            string dato;

                                //dato = (Giornata.Delta != "00:00" || Giornata.Delta != null) ? Giornata.Delta : 
                                //    Giornata.EccezioneAssenzaIngiustificata != "" ? 
                                //    Giornata.EccezioneAssenzaIngiustificata : "+ 00:00";


                            if (Giornata.Delta != "+ 00:00" && Giornata.Delta != null)
                            { dato = Giornata.Delta; }
                            else
                            {
                                dato = "+ 00:00";
                            }


                                //if (Giornata.Delta != "+ 00:00")
                                //{ dato = Giornata.Delta; }

                            if (dato.Substring(0, 1) == "-")
                            { mpStyle = "badge bg-white text-danger"; }
                            else
                            {
                                if (dato == "+ 00:00")
                                { mpStyle = "badge bg-white text-muted"; }
                                else
                                { mpStyle = "badge bg-white text-success"; }
                            }
                                //string href = "";
                                //if (String.IsNullOrWhiteSpace(Model.dettaglioSettimanaleModel.EvidenzaBloccanteTipo))
                                //{
                                //    href = "JavaScript:ShowPopup('','','"+@Giornata.GiornoData.ToString("dd/MM/yyyy")+"','',false,false,RefreshDettSett2);";
                                //}
                                //if (Model.dettaglioSettimanaleModel.EvidenzaBloccanteTipo == "SW")
                                //{
                                //    href = "javascript:ShowPopupIniziale('test',true)";
                                //    //href = "JavaScript:CancellaRichiestaDaSegnalazioni ("+Model.dettaglioSettimanaleModel.EvidenzaBloccanteIDSWdaStornare+" ,true )";
                                //}
                                //if (Model.dettaglioSettimanaleModel.EvidenzaBloccanteTipo == "ASSEN")
                                //{
                                //    href = "javascript:ShowPopupIniziale('test',true)";

                                //  //  href = "javascript:ShowPopup('','','"+((DateTime)Model.dettaglioSettimanaleModel.EvidenzaBloccanteData).ToString("dd/MM/yyyy")+"','"+ ((DateTime)Model.dettaglioSettimanaleModel.EvidenzaBloccanteData).ToString("dd/MM/yyyy") + "')";
                                //}
                            <a class="list-group-item" style="border-left: none; border-right: none; border-bottom: none" href="javascript:ShowPopupInizialeGoDate('',false,'@Giornata.GiornoData.ToString("dd/MM/yyyy")')">

                                @*CancellaRichiestaDaSegnalazioni (2004203,true )*@

                                @*<span class="@mpStyle">
        @Html.Label(Giornata.MaggiorPresenza)</span>
                <span class="@carStyle">@Html.Label(Giornata.Carenza)</span>*@
                                <div class="@mpStyle col-xs-3">
                                    @Html.Label(dato, new { @class = "h4", @style = "font-weight: 300;" })
                                    @*<span class="@mpStyle">@Html.Label(dato)</span>*@
                                        </div>
                                <div>
                                    <div>
                                        @*<span>*@
                                        @Html.Label(Giornata.GiornoData.ToString("dd/MM"), new { @class = "text-center h4 font-w400" })
                                        @Html.Label(" ")
                                        @Html.Label(Giornata.GiornoSettimana, new { @class = "text-center h5 font-w300" })
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-7">
                                            @if (!string.IsNullOrEmpty(Giornata.EccezioneAssenzaIngiustificata))
                                            {<small><span style="font-weight: 300;">@Giornata.EccezioneAssenzaIngiustificata</span></small> }
                                            else
                                            {
                                                if (Giornata.CodiceOrario != null)
                                                {
                                                <small>@Html.Label(Giornata.CodiceOrario, new { @style = "font-weight: 300;" })</small>
                                                }
                                            }
                                    </div>
                                        <div class="col-sm-5" style="text-align:right;font-size: 11px;padding-right: 2px;margin-top:-5px ">
                                            <span style="color:#ec394a">-@Giornata.Carenza</span> /
                                            <span style="color:#47a447">+@Giornata.MaggiorPresenza</span>
                                        </div>
                                    </div>
                                    @*</span>*@
                                </div>
                            </a>
                    
                    
                                //}

@*else
                    {
                    <a class="list-group-item" href="javascript:void(0)">
                        <span class="badge bg-white text-info">@Html.Label(Giornata.CodiceEccezione)</span>
                        @Html.Label(Giornata.GiornoData.ToString("dd/MM"))
                        @Html.Label(" ")
                        @Html.Label(Giornata.GiornoSettimana)
                    </a>
                                }*@

                                //}
                        }
                    </div>
                }
                    @{var classicon = ""; var coloricon = ""; var colorpanelborder = "";}
                @if (Model.dettaglioSettimanaleModel != null && Model.dettaglioSettimanaleModel.DeltaTotale != "+ 00:00" && Model.dettaglioSettimanaleModel.DeltaTotale.Substring(0, 1) == "+")
                {
                        classicon = "si-check"; coloricon = "text-success"; colorpanelborder = "panel-border-success";
                }
                else if (Model.dettaglioSettimanaleModel != null && Model.dettaglioSettimanaleModel.DeltaTotale != "+ 00:00" && Model.dettaglioSettimanaleModel.DeltaTotale.Substring(0, 1) == "-")
                {
                        classicon = "si-arrow-down"; coloricon = "text-danger"; colorpanelborder = "panel-border-danger";
                }
                else if (Model.dettaglioSettimanaleModel != null && Model.dettaglioSettimanaleModel.DeltaTotale == "+ 00:00")
                {
                        classicon = "si-check"; coloricon = "text-muted"; colorpanelborder = "panel-border-muted";
                }
                <div class="panel-featured-left push @pullStyle @colorpanelborder" style="margin-bottom: 0px;">
                        <table class="block-table text-center bg-gray-lighter border-b">
                        <tbody>
                            <tr class="border-top">
                                <td>
                                        <div class="push-30 push-30-t">
                                            <div class="h4">Totale Settimana</div>
                                    </div>
                                </td>
                                <td class="border-r " style="width: 50%;">
                                        <div class="h1 @classicon @coloricon font-w200">
                                        @if (Model.dettaglioSettimanaleModel != null)
                                        {
                                            @Model.dettaglioSettimanaleModel.DeltaTotale
                                        }

                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                          <div class="row" style="padding-bottom:10px;">
                              @{
                                  bool showNext = dtStop < DateTime.Now.Date;
                              }
                        <div class="col-sm-1">
                            <a href="javascript:DettSettimanaleScorri('i')">
                                <span style="font-size: 10px" class="glyphicon glyphicon-triangle-left text-muted"></span>
                            </a>
                </div>
                         <div class="col-sm-6" style="text-align:center">
                             <span id="det-set-range" style="font-size: 1em;">@dtStart.ToString("dd/MM") - @dtStop.ToString("dd/MM")</span>
                             <span style="display:none" id="det-set-wait"><i class="fa fa-spinner fa-spin"></i> Attendi</span>
                        </div>
                        <div class="col-sm-1" >
                            @if (showNext)
                            { 
                                <a href="javascript:DettSettimanaleScorri('a')">
                                    <span style="font-size: 10px" class="glyphicon glyphicon-triangle-right text-muted"></span>

                                </a>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="col-sm-3" >
                            @if (showNext)
                            {
                                <a href="javascript:DettSettimanaleScorri('t')">
                                    <span style="font-size: 1em" class="text-muted">OGGI</span>
                                </a>
                            }
                            else
                            {
                                <span>&nbsp;</span>   
                            }
                        </div>
                    </div>
                    </div>

                  
            </div>
        </div>
    </section>
</div>