@model myRaiCommonModel.AssegnazioneAmmModel

@{


}

@if (Model.PossibileAssegnare || Model.PuoiPrendereIncarico || Model.PuoiRilasciare)
{
 
    <div class="block block-content-table block-transparent remove-margin-bottom">
        <div class="block-header collapsed" href="#collapse-assegna" data-toggle="collapse" aria-expanded="false" data-block-toggle>
            <label class="block-title">ASSEGNAZIONE</label>
            <div class="block-options">
                <i data-toggle="collapse" class="fa fa-chevron-down"></i>
            </div>
        </div>
        <div class="block-content collapse in" id="collapse-assegna">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">

                            @if (Model.PuoiPrendereIncarico)
                            {
                                if (Model.InCaricoACollegaAssente)
                                {
                                    <span class="rai-font-sm">
                                        Questa pratica è in carico ad un collega assente. Clicca qui sotto per prenderla in carico.
                                    </span>
                                }
                                else
                                {
                                    <span class="rai-font-sm">
                                        Questa pratica non è stata assegnata. Clicca qui sotto per prenderla in carico o assegnarla ad un operatore
                                    </span>
                                }

                                <div class="col-sm-12" style="padding:0px;margin-top:12px">
                                    <button id="button-prendi" type="button" class="btn rai-btn-secondary full-width" onclick="@(Model.FunzioneJSPrendiInCarico)(@Model.Richiesta.ID)" style="height:44px">Prendi in carico</button>
                                    @*<span class="text-primary" style="cursor:pointer">Prendi in carico</span>*@
                                </div>
                            }
                            @if (Model.PuoiRilasciare)
                            {

                                <span class="rai-font-sm">
                                    Questa pratica è assegnata a te. Clicca qui sotto per rilasciarla o assegnarla ad un operatore.
                                </span>
                                <div class="col-sm-12" style="padding:0px;margin-top:12px">
                                    @*<span class="text-primary" style="cursor:pointer" onclick="@(Model.FunzioneJSRilascia)(@Model.Richiesta.ID)">Rilascia pratica</span>*@
                                    <button id="button-prendi" type="button" class="btn rai-btn-secondary full-width" onclick="@(Model.FunzioneJSRilascia)(@Model.Richiesta.ID)" style="height:44px">Rilascia</button>
                                </div>


                            }

                            @if (Model.PossibileAssegnare)
                            {
                                <div class="col-sm-12" style="padding:0px;margin-top:12px;padding-top:20px">
                                    <span class="rai-font-md" style="font-weight:bold">ASSEGNA RICHIESTA</span>
                                </div>
                                <div class="col-sm-12" style="padding:0px;margin-top:12px">
                                    <select onchange="AbilitaButtonAssegna()" class="form-control" id="assegna-operatori">
                                        <option value="">Seleziona operatore</option>
                                        @foreach (var item in Model.AssegnatariPossibili)
                                        {
                                            <option value="@item.Matricola">@item.Cognome @item.Nome</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-12" style="padding:0px;margin-top:12px">
                                    <button id="button-assegna" type="button" class="disable btn rai-btn-primary full-width" onclick="@(Model.FunzioneJSAssegna)(@Model.Richiesta.ID)" style="height:44px">Assegna ad operatore</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


