@model myRaiCommonModel.DettaglioCedolinoItemModel

@{
    bool RedazionaleHidden = Model.Etichetta == "Redazionale" && Model.IsGiornalista;
  
}
@if (Model.ValoreHRDW != -1 )
{
<div class="row row-cedo" style="@(RedazionaleHidden?"border:none":"")">
   
    <div class="col-sm-8">
        @if (RedazionaleHidden == false)
        {
            <span class="rai-font-md">@Model.Etichetta</span>
        }
    </div>
    <div class="col-sm-4" style="text-align:right">
        @if (RedazionaleHidden)
        {
            <input name="@Model.NameAttuale" type="text" data-calcolo="@Model.CellaCalcoloDaExcel"
                   class="form-control voci-cedolino" style="display:none"
                   value="@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())" />
        }
        else
        {
            <span class="rai-font-md-neutral-bold" style="margin-right:6px">Euro</span>
            if (Model.ModificaAbilitata)
            {
                if (Model.NameHRDW != null)
                {
                    <input type="hidden" name="@Model.NameHRDW"
                           value="@(String.Format("{0:0.00}", Model.ValoreHRDW).Trim())" />
                }


                <input name="@Model.NameAttuale" type="text" data-calcolo="@Model.CellaCalcoloDaExcel"
                       class="form-control voci-cedolino"
                       value="@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())" />

            }
            else
            {
                <label class="importo-cedo">@(String.Format("{0:0.00}", Model.ValoreAttuale))</label>
                <input name="@Model.NameAttuale" type="text" data-calcolo="@Model.CellaCalcoloDaExcel"
                       class="form-control voci-cedolino" style="display:none"
                       value="@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())" />
            }
        }


    </div>
</div>
}