@model myRaiCommonModel.DettaglioCedolinoItemCalcolatoModel
@{
    bool IsSTR = Model.NameAttuale == "str_precedente";
}
<div class="row row-cedo">
    @if (IsSTR && Model.DettagliSTR != null && Model.DettagliSTR.Any())
    {
        
    <div style="margin-top:3px">


        <table class="js-table-sections table  rai-table" role="grid">
            <tbody class="rai js-table-sections-header">
                <tr role="row" tabindex="0">

                    <td style="padding-top: 9px;width:20px" class="interactive-primary-color text-center">
                        <i class="fa fa-angle-down" style="font-size:20px"></i>
                    </td>
                    <td>
                        @if (Model.GiorniEccezione == null)
                        {
                            <div class="col-sm-7" style="padding-left:0px">
                                <span class="rai-font-md">@Model.Etichetta  </span>
                            </div>
                            <div class="col-sm-5" style="text-align:right;padding-right:6px">
                                <span class="rai-font-md-neutral-bold" style="margin-right:6px">Euro</span>

                                <label data-formacontrattok="@Model.IsFromFormaContrattoK" id="@Model.id_label" class="importo-cedo">@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())</label>
                                <input type="hidden" id="@Model.id_hidden" name="@Model.NameAttuale"
                                       value="@(String.Format("{0:0.00}", Model.ValoreAttuale ).Trim())" />

                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4">
                                <span class="rai-font-md">@Model.Etichetta  </span>
                            </div>


                            <div class="col-sm-4" style="text-align:right">
                                <span class="rai-font-md-neutral-bold" style="margin-right:6px">Giorni</span>

                                <label id="giorni-@Model.NameAttuale" class="importo-cedo">@(String.Format("{0:0.00}", Model.GiorniEccezione).Trim())</label>
                            </div>


                            <div class="col-sm-4" style="text-align:right">
                                <span class="rai-font-md-neutral-bold" style="margin-right:6px">Euro</span>

                                <label data-formacontrattok="@Model.IsFromFormaContrattoK" id="@Model.id_label" class="importo-cedo">@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())</label>
                                <input type="hidden" id="@(Model.NameAttuale)hid" name="@Model.NameAttuale"
                                       value="@(String.Format("{0:0.00}", Model.ValoreAttuale ).Trim())" />

                            </div>
                        }
                    </td>
                </tr>
            </tbody>
            <tbody class="tbodydata">
                <tr>
                    <td colspan="2" style="padding-top:30px">
                        <table class="table rai-table">
                            <thead>
                                <tr>
                                    <th>Mese/Anno</th>
                                    <th>Costi</th>
                                    <th>Voce cedolino</th>
                                    <th>Importo</th>
                                    <th>IV</th>
                                    <th>Ore</th>
                                    <th>Giorni</th>
                                </tr>
                            </thead>
                            <tbody class="rai-font-sm">
                                @foreach (var item in Model.DettagliSTR)
                                {
                                    <tr>
                                        <td>
                                            @(item.Mese_Competenza)/@item.Anno
                                        </td>
                                        <td>
                                            @if (item.FromArretratiSuTabella==true)
                                            {
                                                @item.desc_aggregato_costi
                                            }
                                            else
                                            {
                                                 @(item.cod_aggregato_costi+ "-"+ item.desc_aggregato_costi)
                                            }
                                            @*@(item.cod_aggregato_costi)-@item.desc_aggregato_costi*@
                                        </td>
                                        <td>
                                            @(item.cod_voce_cedolino)-@item.desc_voce_cedolino
                                        </td>
                                        <td>
                                            @(Math.Round( item.Importo,2))
                                        </td>
                                        <td>
                                            @(item.IV_Cedolino)
                                        </td>
                                        <td>
                                            @(item.Ore)
                                        </td>
                                        <td>
                                            @(item.Giorni)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
    else
    {
        if (Model.GiorniEccezione == null)
        {
            <div class="col-sm-8">
                <span class="rai-font-md">@Model.Etichetta  </span>
            </div>
            <div class="col-sm-4" style="text-align:right">
                <span class="rai-font-md-neutral-bold" style="margin-right:6px">Euro</span>

                <label data-formacontrattok="@Model.IsFromFormaContrattoK" id="@Model.id_label" class="importo-cedo">@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())</label>
                <input type="hidden" id="@Model.id_hidden" name="@Model.NameAttuale"
                       value="@(String.Format("{0:0.00}", Model.ValoreAttuale ).Trim())" />

            </div>
        }
        else
        {
            <div class="col-sm-4">
                <span class="rai-font-md">@Model.Etichetta  </span>
            </div>


            <div class="col-sm-4" style="text-align:right">
                <span class="rai-font-md-neutral-bold" style="margin-right:6px">Giorni</span>

                <label id="giorni-@Model.NameAttuale" class="importo-cedo">@(String.Format("{0:0.00}", Model.GiorniEccezione).Trim())</label>
            </div>


            <div class="col-sm-4" style="text-align:right">
                <span class="rai-font-md-neutral-bold" style="margin-right:6px">Euro</span>

                <label data-formacontrattok="@Model.IsFromFormaContrattoK" id="@Model.id_label" class="importo-cedo">@(String.Format("{0:0.00}", Model.ValoreAttuale).Trim())</label>
                <input type="hidden" id="@(Model.NameAttuale)hid" name="@Model.NameAttuale"
                       value="@(String.Format("{0:0.00}", Model.ValoreAttuale ).Trim())" />

            </div>
        }
    }


</div>
