@using myRaiCommonManager
@model myRaiCommonModel.ContentRowModel

@{
    var r = Model.Richiesta;
    var opstati = r.XR_WKF_MATCON_OPERSTATI.ToList();
}

<tr>
    <td>
        <div class="rai-profile-widget"
             
             @if (Model.hideImage)
             {
                 @:style="display:none"
             }
              >
            <div class="rai-profile-image">
                <img src="@(myRaiHelper.CommonHelper.GetUrlFotoExternal(r.MATRICOLA))" class="">
            </div>
            <div class="rai-profile-info">

                <span class="rai-font-md-bold ">@r.NOMINATIVO</span>

                <br>
                <span class="rai-font-sm">Matricola @r.MATRICOLA</span>
            </div>
        </div>
    </td>
    <td>
        <label style="display:block">@r.XR_MAT_CATEGORIE.TITOLO</label>
        @if (r.INIZIO_GIUSTIFICATIVO != null)
        {
            <label class="rai-font-sm">@r.INIZIO_GIUSTIFICATIVO.Value.ToString("dd/MM/yyyy") - @r.FINE_GIUSTIFICATIVO.Value.ToString("dd/MM/yyyy")</label>
        }
        else if (r.DATA_INIZIO_MATERNITA != null)
        {
            <label class="rai-font-sm">@r.DATA_INIZIO_MATERNITA.Value.ToString("dd/MM/yyyy") - @r.DATA_FINE_MATERNITA.Value.ToString("dd/MM/yyyy")</label>
        }

    </td>
    <td>

        @if (r.XR_MAT_PROMEMORIA.Any())
        {
            <span id="po-@r.ID" data-html="true" style="font-weight:bold" data-promemoria="@r.XR_MAT_PROMEMORIA.First().DATA.ToString("dd/MM/yyyy")" class="promemoria text-warning icons icon-clock" data-idrichiesta="@r.ID"></span>
        }
        @if (r.DATA_SCADENZA != null && r.DATA_SCADENZA < DateTime.Now)
        {
            <span data-idrichiesta="@r.ID" id="alert-@r.ID" data-html="true" class="scaduta text-danger fa fa-warning"></span>
        }
        @if (r.DATA_SCADENZA != null)
        {
            <label>@(((DateTime)r.DATA_SCADENZA).ToString("dd/MM/yyyy"))</label>
        }
    </td>
    @*<td>
        @if (r.XR_MAT_SEGNALAZIONI.Any(x => x.RISOLTA == false))
        {
            <i class="fa fa-circle circle-orange" aria-hidden="true"></i>
            <label>In sospeso</label>
        }
        else
        {
            <i class="fa fa-circle circle-green" aria-hidden="true"></i>
            <label>In lavorazione</label>
        }
    </td>*@
    <td>
        @{
            var statoInCarico =
                 opstati.Where(x =>
                 x.ID_STATO == (int)myRaiCommonManager.MaternitaCongediManager.EnumStatiRichiesta.InCaricoAmmin)
             .FirstOrDefault();
            if (statoInCarico == null)
            {
                statoInCarico =
             opstati.Where(x =>
             x.ID_STATO == (int)myRaiCommonManager.MaternitaCongediManager.EnumStatiRichiesta.InCaricoGestione)
         .FirstOrDefault();
            }

        }
      

        @Html.Partial("_profiloimage", new myRaiCommonModel.ProfiloImageModel() {
       InServizio=null,
       Matricola=(statoInCarico!=null ? statoInCarico.COD_USER :""),
       Row1 = (statoInCarico != null ? statoInCarico.NOMINATIVO:""),
       Row2 ="Matricola " + (statoInCarico != null ? statoInCarico.COD_USER : ""),
       NascondiImage=true
   })


      
    </td>
    <td colspan="2" class="text-right">
        @{
            int stato = opstati.OrderByDescending(x => x.ID_STATO).Select(x => x.ID_STATO).FirstOrDefault();
        }

        @if (Model.IDSTATOricercato == null)
        {
            if (stato == (int)MaternitaCongediManager.EnumStatiRichiesta.Inviata
            || stato == (int)MaternitaCongediManager.EnumStatiRichiesta.InCaricoGestione)
            {
                <button class="btn rai-btn-small" aria-label="Visualizza"
                        onclick="VisualizzaGestione(@r.ID)"
                        title="Visualizza" style="min-width:80px;">
                    Visualizza
                </button>
            }
            if (stato == (int)MaternitaCongediManager.EnumStatiRichiesta.ApprovataGestione
                || stato == (int)MaternitaCongediManager.EnumStatiRichiesta.InCaricoUffPers)
            {
                <button class="btn rai-btn-small" aria-label="Visualizza"
                        onclick="VisualizzaUffPersonale(@r.ID)"
                        title="Visualizza" style="min-width:80px;">
                    Visualizza
                </button>
            }
            if (stato == (int)MaternitaCongediManager.EnumStatiRichiesta.ApprovataUffPers
                || stato == (int)MaternitaCongediManager.EnumStatiRichiesta.InCaricoAmmin)
            {
                <button class="btn rai-btn-small" aria-label="Visualizza"
                        onclick="VisualizzaAmm('@r.XR_MAT_CATEGORIE.TITOLO', @r.ID)"
                        title="Visualizza" style="min-width:80px;">
                    Visualizza
                </button>
            }
        }
        else
        {
            if (Model.MyOffice == myRaiHelper.MaternitaCongediHelper.MaternitaCongediUffici.Gestione)
            {
                <button class="btn rai-btn-small" aria-label="Visualizza"
                        onclick="VisualizzaGestione(@r.ID)"
                        title="Visualizza" style="min-width:80px;">
                    Visualizza
                </button>
            }
            if (Model.MyOffice == myRaiHelper.MaternitaCongediHelper.MaternitaCongediUffici.Personale)
            {
                <button class="btn rai-btn-small" aria-label="Visualizza"
                        onclick="VisualizzaUffPersonale(@r.ID)"
                        title="Visualizza" style="min-width:80px;">
                    Visualizza
                </button>
            }
            if (Model.MyOffice == myRaiHelper.MaternitaCongediHelper.MaternitaCongediUffici.Amministrazione)
            {
                <button class="btn rai-btn-small" aria-label="Visualizza"
                        onclick="VisualizzaAmm('@r.XR_MAT_CATEGORIE.TITOLO', @r.ID)"
                        title="Visualizza" style="min-width:80px;">
                    Visualizza
                </button>
            }
        }


    </td>
</tr>
