@model myRaiData.MyRai_Regole_SchedeEccezioni
@using myRaiGestionale.Controllers


<div class="row" style="display:flex">
    <div class="col-sm-8" style="padding-top:30px">


        <input type="hidden" id="descrittiva-breve" value="@Model.descrittiva (@Model.codice)" />
        @{
            var campodef = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_DEFINIZIONE).ToList();
            var campocri = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_CRITERI_DI_INSERIMENTO).ToList();
            var campoall = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_ALLEGATI).ToList();
            var campodoc = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_DOCUMENTAZIONE).ToList();
            var campofon = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_FONTI_DELLA_DISCIPLINA).ToList();
            var camponot = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_NOTE).ToList();
            var campopre = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_PRESUPPOSTI_E_PROCEDURE).ToList();
            var campotra = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_TRATTAMENTO_ECONOMICO).ToList();
            var campoult = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == (int)myRaiCommonManager.EnumPosizioniCampo.Prima_del_campo_ULTERIORI_INFORMAZIONI).ToList();
            var campoNoPos = Model.MyRai_Regole_CampiDinamici.ValidToday().Where(x => x.Posizione == null).ToList();

        }
        @if (!String.IsNullOrWhiteSpace(Model.descrittiva_libera))
        {
            <input type="hidden" id="descrittiva-estesa" value="@Html.Raw(Model.descrittiva_libera)" />

        }


        @foreach (var item in campodef)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (!String.IsNullOrWhiteSpace(Model.definizione))
        {
            <h3 class="dett-ecc2">DEFINIZIONE</h3>
            @Html.Raw(Model.definizione)
        }







        @foreach (var item in campotra)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (!String.IsNullOrWhiteSpace(Model.trattamento_economico))
        {
            <h3 class="dett-ecc2">TRATTAMENTO ECONOMICO</h3>
            @Html.Raw(Model.trattamento_economico)
        }



        @foreach (var item in campodoc)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (!String.IsNullOrWhiteSpace(Model.presupposti_documentazione))
        {
            <h3 class="dett-ecc2">DOCUMENTAZIONE</h3>
            @Html.Raw(Model.presupposti_documentazione)
        }



        @foreach (var item in campopre)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (!String.IsNullOrWhiteSpace(Model.presupposti_procedure))
        {
            <h3 class="dett-ecc2">PRESUPPOSTI E PROCEDURE</h3>
            @Html.Raw(Model.presupposti_procedure)
        }



        @{
            string dest = String.Join(", ", Model.MyRai_Regole_SchedeEccezioni_Destinatari.ValidToday()
                            .Select(x => x.MyRai_Regole_Destinatari.destinatario).ToArray());
        }

        @if (!String.IsNullOrWhiteSpace(dest))
        {
            <h3 class="dett-ecc2">DESTINATARI</h3>
            @dest
        }

        @foreach (var item in campocri)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (!String.IsNullOrWhiteSpace(Model.criteri_inserimento))
        {
            <h3 class="dett-ecc2">CRITERI DI INSERIMENTO</h3>
            @Html.Raw(Model.criteri_inserimento)
        }


        @foreach (var item in campofon)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (Model.MyRai_Regole_SchedeEccezioni_Fonti.ValidToday().Count() > 0)
        {
            <h3 class="dett-ecc2">FONTI DELLA DISCIPLINA</h3>
            foreach (var item in Model.MyRai_Regole_SchedeEccezioni_Fonti.ValidToday())
            {
                <a style="text-decoration:underline"
                   @if (!String.IsNullOrWhiteSpace(item.url)) { @: href="@item.url"
                   }
                   target="iflank">@item.descrizione</a><br />
            }
        }




        @foreach (var item in camponot)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }
        @if (!String.IsNullOrWhiteSpace(Model.note))
        {
            <h3 class="dett-ecc2">NOTE</h3>
            @Html.Raw(Model.note)
        }





        @foreach (var item in campoNoPos)
        {
            <h3 class="dett-ecc2">@(item.chiave != null ? item.chiave.ToUpper() : "") </h3>
            @Html.Raw(item.valore)
        }

        <br /><br />
        <span style="font-size:90%">Versione N.@Model.versione</span><br />
        <span style="font-size:90%">Ultima modifica @Model.data_inizio_validita.ToString("dd/MM/yyyy HH.mm")</span>
    </div>
 

    <div class="col-sm-4 bg-cel" style="padding-top:40px;padding-left:0px;padding-right:0px">
        <div style="padding-left:16px">
            <span><b>Codice</b></span><br />
            <span>@Model.codice</span><br /><br />

            <span><b>Area Tematica</b></span><br />
            <span>
                @String.Join(", ",Model.MyRai_Regole_SchedeEccezioni_Tematiche.ValidToday()
                                   .Select (x=>x.MyRai_Regole_Tematiche .tematica).ToArray())

            </span><br /><br />

            @if (Model.MyRai_Regole_TipoAssenza.id != 4)
            {
                <span><b>Tipo Assenza</b></span><br />
                <span>@Model.MyRai_Regole_TipoAssenza.tipo_assenza</span><br /><br />
            }



            <span><b>Utenti</b></span><br />
            <span>
                @String.Join(", ",Model.MyRai_Regole_SchedeEccezioni_Utenti.ValidToday()
                                   .Select (x=>x.MyRai_Regole_Utenti .utente).ToArray())

            </span><br /><br />

            @if (Model.MyRai_Regole_TipiDocumentazione.id != 3)
            {
                <span><b>Tipo Documentazione</b></span><br />
                <span>@Model.MyRai_Regole_TipiDocumentazione.TipoDocumentazione</span><br /><br />
            }


            @if (!String.IsNullOrWhiteSpace(Model.EccezioniCollegate))
            {
                <span><b>Rinvii</b></span><br />
                foreach (string e in Model.EccezioniCollegate.Split(','))
                {
                    if (!String.IsNullOrWhiteSpace(e))
                    {
                        <a class="rinvio-ecc" href="javascript:showDettaglioEccezione('@e.Trim()')">@e.Trim()</a>
                    }
                }
                <br /> <br />

            }
            @foreach (var item in campoall)
            {
                <span><b>@(item.chiave != null ? item.chiave.ToUpper() : "") </b></span><br />
                <span>@Html.Raw(item.valore)</span><br /><br />
            }

        </div>

        <div class="bg-cdf dett-ecc2" style="
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left:16px;
            ">ALLEGATI</div>

        <div style="padding-left:16px;padding-top:20px">

            @foreach (var alle in Model.MyRai_Regole_Allegati.OrderBy(x => x.progressivo).ThenBy(x => x.nomefile).ValidToday())
            {
                <div class="alleg-div">
                    <a target="_blank" href="/maternitacongedi/getdoc?idAllegato=@alle.id">
                        <i class="icons icon-doc text-primary" style="font-size:130%"></i>
                        @alle.nomefile
                    </a>
                </div>
            }
        </div>



    </div>





</div>



