@model myRaiCommonModel.SingolaNotaModel


<div id="dettagli-note" @*style="margin-top: 16px; background-color: #fff;padding: 6px;"*@ class="">
    <div class="row">
        <div class="col-sm-12">
            <textarea name="testo" id="nota-mod-@Model.nota.ID" onkeyup="AbilitaButtonModNota(@Model.nota.ID)" placeholder="Aggiungi una nota alla richiesta che potrà essere visualizzata da altri operatori"
                      style="    padding: 8px;    border: solid 1px #ccc;    border-radius: 4px;    width: 100%;    resize: none;"
                      rows="4">@Model.nota.TESTO</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a id="get-alle-@Model.nota.ID" href="#" onclick="AllegaDocNotaModificata(@Model.nota.ID)">Allega documento</a>
            <input name="file" style="display:none" type="file" id="file-nota-@Model.nota.ID" onchange="FileNotaChangedModificata(@Model.nota.ID, this)" />
            <div class="text-primary" id="nomefile-container-@Model.nota.ID" style="display:none">
                <span class="fa fa-download"></span>
                <span style="margin-left:8px" id="nomefile-nota-@Model.nota.ID"></span>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="rai-radio rai-radio-inline" style="margin:15px;margin-left:0px;">
                <input type="radio" name="visibilita-@Model.nota.ID" value="*"
                       @if (Model.nota.VISIBILITA == null || Model.nota.VISIBILITA == "*") { @: checked="checked"
                       }>
                <label for="">Visibile a tutti gli uffici</label>
            </div>
            <div class="rai-radio rai-radio-inline" style="margin:15px;margin-left:0px;">
                <input type="radio" name="visibilita-@Model.nota.ID" value="1"
                       @if (Model.nota.VISIBILITA != null && Model.nota.VISIBILITA != "*") { @: checked="checked"
                       }>
                <label for="">Visibile solo a questo ufficio</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="rai-btn-fill">

                <button type="button" id="mod-nota-@Model.nota.ID" class="btn rai-btn-small" onclick="ModificaNota(@Model.nota.ID)">Salva modifiche</button>

                <button type="button"  class="btn rai-btn-small" onclick="CaricaNote(@Model.nota.XR_MAT_RICHIESTE.ID)">Annulla</button>
            </div>
        </div>
    </div>

</div>