@model myRaiData.Incentivi.XR_MAT_NOTE

@{
var item=Model;
}
<div style="padding-top: 16px;" data-idnota="@item.ID" id="nota-container-@item.ID">


    @Html.Partial("_profiloimage", new myRaiCommonModel.ProfiloImageModel()
   {
       Matricola = item.MATRICOLA_OPERATORE,
       Row1 = myRaiHelper.BatchManager.GetUserData(item.MATRICOLA_OPERATORE).nominativo,
       Row2 = item.XR_MAT_RICHIESTE.DATA_INVIO_RICHIESTA.ToString("dd/MM/yyyy") + "," + item.XR_MAT_RICHIESTE.DATA_INVIO_RICHIESTA.ToString("HH.mm"),
       InServizio = myRaiCommonManager.HomeManager.IsInServizio(item.XR_MAT_RICHIESTE.NOMINATIVO)

   })
    <div class="row" style="margin-top:16px;margin-bottom:16px">
        <div class="col-sm-12">
            <span class="">
                @item.TESTO
            </span>
        </div>
    </div>
    @if (item.FILE_CONTENT != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <span class="fa fa-download"></span>
                <a href="/maternitacongedi/getpdfnote?id=@item.ID" target="_blank" style="margin-left:8px">@item.FILE_NAME</a>
            </div>
        </div>
    }
    <div class="row" style="margin-top:16px;margin-bottom:16px">
        <div class="col-sm-12">
            <span class="fa fa-eye" style="margin-right:8px; color:#aaa"></span>
            @if (item.VISIBILITA == "*")
            {
                <span class="rai-font-sm-neutral">Tutti gli uffici</span>
            }
            else if (item.VISIBILITA == "A")
            {
                <span class="rai-font-sm-neutral">Ufficio Amministrazione</span>
            }
            else if (item.VISIBILITA == "P")
            {
                <span class="rai-font-sm-neutral">Ufficio Personale</span>
            }
            else if (item.VISIBILITA == "G")
            {
                <span class="rai-font-sm-neutral">Ufficio Gestione</span>
            }
            @if (item.MATRICOLA_OPERATORE == myRaiHelper.CommonHelper.GetCurrentUserMatricola())
            {
                <div style="float:right">
                    <button onclick="ModificaNotaCongedi(@item.ID , @item.ID_RICHIESTA)" class="btn btn-action-icon"><span class="fa fa-pencil"></span></button>
                    <button onclick="CancellaNotaCongedi(@item.ID , @item.ID_RICHIESTA)" class="btn btn-action-icon"><span class="fa fa-trash"></span></button>
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div style="background-color: #eee;height: 1px;margin-top: 11px;"></div>
        </div>
    </div>
</div>