@model myRaiCommonModel.TaskTracciatoExpModel

<input class="tracc" type="hidden" name="model[@Model.counter].tracciatointero" value="@(Model.TracciatoEsploso!=null? Model.TracciatoEsploso.TracciatoIntero:"")" />

@if (Model.TracciatoEsploso != null)
{
    foreach (var campo in Model.TracciatoEsploso.Campi)
    {
        <div class="row" style="margin-top:6px;margin-bottom:6px">
            <div class="col-sm-4">
                @campo.NomeCampo
            </div>
            <div class="col-sm-4">
                <span class="rai-font-sm-neutral">@campo.TipoCampo (@campo.LunghezzaCampo)</span>
            </div>
            <div class="col-sm-4" style="text-align:right">
                <span class="err-tracc rai-font-sm" style="font-size: 76%;color: red;margin-right: 5px;display:block"></span>
                @if (campo.NomeCampo != "MATRICOLA RAI" && Model.EditPermesso)
                {
                    <input size="@campo.LunghezzaCampo" maxlength="@campo.LunghezzaCampo"
                           class="form-control campo-tracc-edit"
                           data-campo-posizione="@campo.PosizioneTracciato"
                           data-campo-lunghezza="@campo.LunghezzaCampo"
                           data-campo-codicetipocampo="@campo.CodiceTipoCampo"
                           data-campo-nome="@campo.NomeCampo"
                           data-mese="@Model.TracciatoEsploso.mese"
                           data-anno="@Model.TracciatoEsploso.anno"
                           style="width:auto;float:right;height:36px;text-align:right"
                           value="@campo.ContenutoCampo" />
                }
                else
                {
                    <input type="hidden" size="@campo.LunghezzaCampo" maxlength="@campo.LunghezzaCampo"
                           class="form-control campo-tracc-edit"
                           data-campo-posizione="@campo.PosizioneTracciato"
                           data-campo-lunghezza="@campo.LunghezzaCampo"
                           data-campo-codicetipocampo="@campo.CodiceTipoCampo"
                           data-campo-nome="@campo.NomeCampo"
                             data-mese="@Model.TracciatoEsploso.mese"
                           data-anno="@Model.TracciatoEsploso.anno"
                           style="width:auto;float:right;height:36px;text-align:right"
                           value="@campo.ContenutoCampo" />

                    if (campo.ContenutoCampo.Trim() == "")
                    {
                        <label class="campo-no-edit">
                            @foreach (var c in campo.ContenutoCampo)
                            {
                                @:&nbsp;
                            }
                        </label>
                    }
                    else
                    {
                        <label class="campo-no-edit">@campo.ContenutoCampo</label>
                    }

                }


            </div>
        </div>
    }
}