@model List<myRaiCommonModel.ItemDocumentoPersonale>


<div class="row push-10-t">
    <div class="col-sm-12">
        <div style="max-height:200px;overflow:hidden;overflow-y:auto;">
            <table class="table rai-table rai-table-vcenter">
                <thead>
                    <tr>
                        <th>Prg</th>
                        <th>Data</th>
                        <th>Collocazione</th>
                        <th>Protocollo</th>
                        <th>Emittente</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Any())
                        {

                            foreach (var item in Model)
                            {
                                string data = "";
                                DateTime dataConv;
                                string[] format = { "yyyyMMdd" };
                                if (DateTime.TryParseExact(item.Data_Doc, format, System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out dataConv))
                                {
                                    data = dataConv.ToString("dd/MM/yyyy");
                                }
                                string urlDoc = string.Format(ViewBag.urlDoc,
                                                item.Matricola,
                                                item.Progressivo,
                                                item.Data_Doc,
                                                item.Cod_Tipologia,
                                                item.Collocazione,
                                                item.Protocollo,
                                                item.Pagine_Tot);
                                <tr>
                                    <td>
                                        <span class="rai-font-md-neutral">@item.Progressivo</span>
                                    </td>
                                    <td>
                                        <span class="rai-font-md-neutral">@data</span>
                                    </td>
                                    <td>
                                        <span class="rai-font-md-neutral"> @item.Collocazione</span>
                                    </td>
                                    <td>
                                        <span class="rai-font-md-neutral">@item.Protocollo</span>
                                    </td>
                                    <td>
                                        <span class="rai-font-md-neutral">@item.Emittente</span>
                                    </td>
                                    <td>
                                        <a href="@urlDoc">
                                            <i class="fa fa-file-o" style="font-size:18px;" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Apri documento"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





