@using myRaiHelper
@using myRaiCommonModel
@model BaseEventiContainerModel

@{
    bool isFirst = true;
}

<div class="row push-10-t">
    <div class="col-sm-12">
        <div style="max-height:200px;overflow:hidden;overflow-y:auto;">
            <table class="table rai-table rai-table-vcenter">
                <thead>
                    <tr>
                        <th>Inizio</th>
                        <th>Fine</th>
                        <th>Evento</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evento in Model.Eventi)
                    {
                        <tr>
                            <td>
                                <span class="rai-font-md-neutral-bold">@evento.DataInizio.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td>
                                <span class="rai-font-md-neutral-bold">@evento.DataFine.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td style="width:50%">
                                <span class="rai-font-md-bold">@evento.Descrizione</span>
                            </td>
                            <td style="width:50%">
                                <span class="rai-font-sm-neutral">@evento.DescrizioneEvento</span>
                            </td>
                            <td>
                                @if (Model.CanModify)
                                {
                                    <button class="btn rai-btn-small" onclick="@(Model.ModifyAction)('@evento.Matricola', @evento.IdEvento)">Modifica</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*@foreach (var evento in Model.Eventi)
    {
        if (!isFirst)
        {
            <hr  class="between-row margin-10-t margin-10-b"/>
        }

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-xl-1">
                <span class="rai-font-md-neutral-bold">@evento.DataInizio.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="col-xs-6 col-sm-3 col-xl-1">
                <span class="rai-font-md-neutral-bold">@evento.DataFine.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-xl-5">
                <span class="rai-font-md-bold">@evento.Descrizione</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-xl-5">
                <span class="rai-font-sm-neutral">@evento.DescrizioneEvento</span>
            </div>
        </div>

        isFirst = false;
    }*@
