@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.DocFirmaModels;
@using MVCProject.Custom_Helpers;

@model PDFmodel

@using (Html.BeginModal(Model.titolo))
{
    <div class="row" style="margin-top: 30px;margin: 10px;padding-top: 8px;padding-bottom: 8px;">
        <div class="col-sm-4" id="dataCompetenza" style="padding-left:0">Data Competenza: <b> @Model.datacompetenza</b></div>
        <div class="col-sm-4" id="" style=""></div>
        <div class="col-sm-4 text-right" id="dataPubblicazione" style="style="padding-right:0"">Data Pubblicazione: <b> @Model.datapubblicazione</b></div>
    </div>
    <div class="row" style="    margin-top: 20px;">
        <div class="col-sm-3" style="padding-left:3px">
            <button class="btn rai-btn-secondary"
                    style="margin-top: -25px;margin-left: 10px;" type="button" id="pdfprev"
                    onclick="PdfDocPrev()">
                &lt; Precedente
            </button>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 TitoloWidget" id="int2" style=" margin-top: -7px;    text-align: center;">@Model.datacontabile</div>
            <div class="col-sm-12 text-bold" id="attesa" style="text-align: center;">
                <i class="fa fa-refresh fa-spin fa-fw"></i>
                Attendere
            </div>
        </div>
        <div class="col-sm-3" style="text-align:right;">

            <button class="btn  rai-btn-secondary "
                    style="margin-top: -25px;"
                    type="button" id="pdfnext" onclick="PdfDocNext()">
                Successivo &gt;
            </button>
        </div>
    </div>
    <div class="bg-primary-dark" style="padding: 8px;">
        <input type="hidden" id="idpdfcurrent" value="@Model.idDocumento" />
        <input type="hidden" id="tipodoc" value="00" />
        <iframe id="myframe" style="width:100%;height:60%" onload="onMyFrameLoad(this)" src="/ANAGRAFICA/ScaricaDocumentoPersonale?id=@Model.idDocumento&matricola=@ViewBag.matricola" />
        <div class="row" style="margin-top:0px" id="pdfDivNota">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <h3 class="title NoteDoc text-center" style="word-break:break-word;">   @Model.nota</h3>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div>
}