@using myRaiHelper
@using myRaiCommonModel
@model RichiestaAnag

@{
    var title = "";
    switch (Model.Tipologia)
    {
        case TipoRichiestaAnag.IBAN:
            title = "Dettagli IBAN";
            break;
        default:
            break;
    }
}

@using (Html.BeginModal("Convalida richiesta di modifica"))
{
    <div class="row">
        <div class="col-sm-12">
            @if (Model.HasError)
            {
                using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, ""))
                {
                    <div class="row push-20-t push-10">
                        <div class="col-sm-12 text-center">
                            <i class="fa ti-face-sad font-s48"></i>
                        </div>
                    </div>
                    <div class="row push-20">
                        <div class="col-sm-12 text-center">
                            <span>@Model.ErrorMsg</span>
                        </div>
                    </div>
                }
            }
            else
            {
                using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dati modificati"))
                {
                    using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, title))
                    {
                        if (Model.Tipologia == TipoRichiestaAnag.IBAN)
                        {
                            IbanModel iban = (IbanModel)Model.ObjInfo;
                            <div class="rai-table-info">
                                <div class="row push-10">
                                    <div class="col-sm-3">
                                        <span>Operazione</span>
                                    </div>
                                    <div class="col-sm-9">
                                        @if (iban.OperazioneRichiesta == "MODCC")
                                        {
                                            <span><b>Modifica</b></span>
                                        }
                                        else if (iban.OperazioneRichiesta == "INSCC")
                                        {
                                            <span><b>Inserimento</b></span>
                                        }
                                        else if (iban.OperazioneRichiesta == "DELCC")
                                        {
                                            <span><b>Cancellazione</b></span>
                                        }
                                    </div>
                                </div>
                                <div class="row push-10">
                                    <div class="col-sm-3">
                                        <span>Tipologia</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <span><b>@iban.Tipologia.GetAmbientValue()</b></span>
                                    </div>
                                </div>
                                <div class="row push-10">
                                    <div class="col-sm-3">
                                        <span>IBAN</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <span>@iban.DatiRichiesta.IBAN</span>
                                    </div>
                                </div>
                                <div class="row push-10">
                                    <div class="col-sm-3">
                                        <span>Intestatario</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <span>@iban.DatiRichiesta.Intestatario</span>
                                    </div>
                                </div>
                                <div class="row push-10">
                                    <div class="col-sm-3">
                                        <span>Agenzia</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <span>@iban.DatiRichiesta.Agenzia</span>
                                    </div>
                                </div>
                                <div class="row push-10">
                                    <div class="col-sm-3">
                                        <span>Indirizzo</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <span>@iban.DatiRichiesta.IndirizzoAgenzia</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row push-20-t">
                                <div class="col-sm-12">
                                    <div class="rai-btn-fill">
                                        <button class="btn btn-action-icon btn-action-icon-text" onclick="Delete_ModIban('@iban.Matricola', @iban.IdRichiestaMod)">
                                            <i class="fa fa-times feedback-error-color">&nbsp;</i><span class="feedback-error-color">Elimina richiesta</span>
                                        </button>
                                        <button class="btn btn-action-icon btn-action-icon-text" onclick="Convalida_ModIBan('@iban.Matricola', @iban.IdRichiestaMod" )>
                                            <i class="fa fa-check feedback-success-color">&nbsp;</i><span class="feedback-success-color">Convalida</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
}
