@using myRaiGestionale.Controllers
@using myRaiCommonModel
@model AnagraficaRecapiti

@{
    bool check = true;
}

@using (Html.BeginModal("Modifica recapiti"))
{
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, "Dati di recapito", false))
            {
                using (Html.BeginForm("Save_Recapiti", "Anagrafica", FormMethod.Post, new { id = "form-dati-recapiti" }))
                {
                    @Html.HiddenFor(m => m.IdPersona)
                    @Html.HiddenFor(m => m.Matricola)

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12  push-10">
                                @Html.LabelFor(m => m.Telefono, "Telefono", new { @class = "rai-caption" })
                                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", type="tel" })
                                @Html.ValidationMessageFor(m => m.Telefono)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 push-10">
                                @Html.LabelFor(m => m.Cellulare, "Cellulare", new { @class = "rai-caption" })
                                @Html.TextBoxFor(m => m.Cellulare, new { @class = "form-control",type="tel" })
                                @Html.ValidationMessageFor(m => m.Cellulare)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 push-10">
                                @Html.LabelFor(m => m.Email, "Email", new { @class = "rai-caption" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type="email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 push-10">
                                @Html.LabelFor(m => m.Fax, "Fax", new { @class = "rai-caption" })
                                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", type="tel" })
                                @Html.ValidationMessageFor(m => m.Fax)
                            </div>
                        </div>
                        <div class="row form-button">
                            <div class="col-sm-12">
                                <div class="rai-btn-fill">
                                    <button class="btn rai-btn-primary" onclick="Save_DatiRecapito(this, '@Model.Matricola')">Salva</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}

<script>
    InitDatePicker();
    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }
    });
    $.validator.unobtrusive.parse('#form-dati-recapiti');
</script>