@using myRaiCommonModel
@using myRaiHelper
@model AnagraficaDatiFamiliari

<style>
    .th1 {
        width:33%;
    }
    .th2 {
        width: 15%;
    }
    .th3 {
        width: 12%;
    }
    .th4 {
        width: 15%;
    }
    .th5 {
        width: 10%;
    }
    .th6 {
        width: 15%;
    }
</style>
@if (Model.RecordsCensimento.Any(x => x.GRADO_PARENTELA == "F"))
{
    <div class="block block-transparent block-content-table">
        <div class="block-header block-content-mini" style="margin:0px">
            <label class="block-title">FIGLI</label>
        </div>
        <div class="block-content block-content-mini"  style="margin:0px">

            <table class="table table-hover rai-table rai-table-vcenter" id="table-eventi-3">
                <thead>
                    <tr>
                        <th class="th1">Nominativo / CF</th>
                        <th class="th2">Data nascita</th>
                        <th class="th3">% Carico</th>
                        <th class="th4">Dal mese</th>
                        <th class="th5">Disabile</th>
                        <th class="th6">In affido</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.RecordsCensimento.Where(x => x.GRADO_PARENTELA == "F"))
                    {
                        string carico = "0 %";
                        if (item.CARICO == "999")
                        { carico = "Non a carico"; }
                        else if (String.IsNullOrWhiteSpace(item.CARICO))
                        { carico = "0 %"; }
                        else  
                        { carico = item.CARICO +" %"; }
                        <tr>
                            <td><b>@item.NOMINATIVO</b><br />@item.CF</td>
                            <td>@item.DATA_NASCITA.ToString("dd/MM/yyyy")</td>
                            <td>@carico</td>
                            <td>@(item.DATA_INIZIO_CARICO != null ? item.DATA_INIZIO_CARICO.Value.ToString("MM/yyyy") :"-")</td>
                            <td>@(item.DISABILE ? "Sì" : "-")</td>
                            <td>@(item.DATA_AFFIDAMENTO != null ? "Dal " + item.DATA_AFFIDAMENTO.Value.ToString("dd/MM/yyyy") : "-")</td>
                        </tr>
                    }

                </tbody>
            </table>



        </div>
    </div>
}


@if (Model.RecordsCensimento.Any(x => x.GRADO_PARENTELA == "C"))
{
    <div class="block block-transparent block-content-table">
        <div class="block-header block-content-mini"  style="margin:0px">
            <label class="block-title">ALTRO GENITORE</label>
        </div>
        <div class="block-content block-content-mini"  style="margin:0px">

            <table class="table table-hover rai-table rai-table-vcenter" id="table-eventi-3">
                <thead>
                    <tr>
                        <th class="th1">Nominativo / CF</th>
                        <th class="th2">Data nascita</th>
                        <th class="th3">% Carico</th>
                        <th class="th4">Dal mese</th>
                        <th class="th5">Disabile</th>
                        <th class="th6"></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.RecordsCensimento.Where(x => x.GRADO_PARENTELA == "C"))
                    {
                        string carico = "0 %";
                        if (item.CARICO == "999")
                        { carico = "Non a carico"; }
                        else if (String.IsNullOrWhiteSpace(item.CARICO))
                        { carico = "0 %"; }
                        else
                        { carico = item.CARICO + " %"; }
                    <tr>
                        <td><b>@item.NOMINATIVO</b><br />@item.CF</td>
                        <td>@item.DATA_NASCITA.ToString("dd/MM/yyyy")</td>
                        <td>@carico</td>
                        <td>@(item.DATA_INIZIO_CARICO != null ? item.DATA_INIZIO_CARICO.Value.ToString("MM/yyyy") : "-")</td>
                        <td>@(item.DISABILE ? "Sì" : "-")</td>
                        <td></td>
                    </tr>
                    }

                </tbody>
            </table>



        </div>
    </div>
}

@if (Model.RecordsCensimento.Any(x => x.GRADO_PARENTELA == "A"))
{
    <div class="block block-transparent block-content-table">
        <div class="block-header block-content-mini"  style="margin:0px">
            <label class="block-title">ALTRI FAMILIARI</label>
        </div>
        <div class="block-content block-content-mini"  style="margin:0px">

            <table class="table table-hover rai-table rai-table-vcenter" id="table-eventi-3">
                <thead>
                    <tr>
                        <th class="th1">Nominativo / CF</th>
                        <th class="th2">Data nascita</th>
                        <th class="th3">% Carico</th>
                        <th class="th4">Dal mese</th>
                        <th class="th5">Disabile</th>
                        <th class="th6"></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.RecordsCensimento.Where(x => x.GRADO_PARENTELA == "A"))
                    {
                    <tr>
                        <td><b>@item.NOMINATIVO</b><br />@item.CF</td>
                        <td>@item.DATA_NASCITA.ToString("dd/MM/yyyy")</td>
                        <td>@(item.CARICO != "999" ? item.CARICO + " %" : "Non a carico")</td>
                        <td>@(item.DATA_INIZIO_CARICO != null ? item.DATA_INIZIO_CARICO.Value.ToString("MM/yyyy") : "-")</td>
                        <td>@(item.DISABILE ? "Sì" : "-")</td>
                        <td></td>
                    </tr>
                    }

                </tbody>
            </table>



        </div>
    </div>
}

    <div class="row">
        <div class="col-sm-12">

            @if (Model.RecordsCensimento.Any() && Model.OrigineDati == "CENS")
            {
                <span class="rai-font-sm-neutral">Dati provenienti dal censimento compilato il @Model.DataCompilazioneCensimento.Value.ToString("dd/MM/yyyy")</span>
            }
            else if (Model.RecordsCensimento.Any() && Model.OrigineDati == "AIMP")
            {
                <span class="rai-font-sm-neutral">Dati AIMP (censimento non ancora compilato)</span>
            }
            else
            {
                <span class="rai-font-sm-neutral">Nessun dato trovato</span>
            }
        </div>
    </div>