@using myRaiCommonModel
@using myRaiHelper
@model AnagraficaSpeseProduzione

@{
    Layout = null;
    bool isAperte = false;
    if (Model.statoSpese == "aperte")
    {
        isAperte = true;
    }
    // string[] associa = CommonManager.GetParametri<string>(EnumParametriSistema.AssociaFoglioSP);


}



@{ if (!Model.SpeseProduzione.Any())
    {
        <tr>
            <td colspan="6">
                @Html.Partial("~/Views/Shared/_NoDati.cshtml")
            </td>
        </tr>
    }
    else
    {
        int rowCount = 1;
        <input id="speseproduzione_pagina@(Model.statoSpese)" type="hidden" value=@Model.Page />
        <input id="speseproduzione_elementi@(Model.statoSpese)" type="hidden" value=@Model.Size />
        <input id="speseproduzione_hasnext@(Model.statoSpese)" type="hidden" value=@Model.HasNext />

        foreach (var item in Model.SpeseProduzione)
        {

            <tr id="spesa_@(rowCount)">
                <td>
                    <a class="text-bold">@item.Id_FoglioSpese - @item.Titolo</a><br />
                    <span class="rai-font-sm-bold">@item.MP_Data</span><br />
                    <span class="rai-font-sm-neutral"></span>@(item.Località != String.Empty ? item.Località.ToLower() : "Nessuna descrizione da visualizzare" )  <br /><br />
                    @if (item.TipoTarghetta.Equals("DI"))
                    {


                    }
                    else
                    {

                        <span class="rai-label" id="tipoTarghetta">@(item.TipoTarghetta == "CO" ? "In contabilità" : item.TipoTarghetta == "SE" ? "In segreteria" : item.TipoTarghetta == "PE" ? "All'ufficio del personale" : "") </span>
                    }
                </td>
                <td>
                    <span class="rai-font-sm">@item.MP_Importo €</span>
                </td>
                <td>
                    <span class="rai-font-sm" id="rendiconto">@item.MA_Importo_In_Euro €</span>
                </td>

                <td>
                    <span class="rai-font-sm">@item.Saldo</span>
                </td>
                <td>


                    <button class="btn rai-btn-small" onclick="DettaglioFoglioSpese(@item.Id_FoglioSpese)">Dettagli</button>

                </td>
            </tr>

            rowCount++;
        }


    }
}











