@using myRaiCommonModel
@model AnagraficaFormazione


<div style="max-height:300px;overflow:hidden;overflow-y:auto;">
    <table class="table rai-table rai-table-vcenter">
        <thead>
            <tr>
                <th>Inizio</th>
                <th>Fine</th>
                <th>Titolo</th>
                <th>Società</th>
                <th>Durata</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CorsiFatti.OrderByDescending(x => x.DataInizioDate))
            {
                <tr>
                    <td>
                        <span class="rai-font-md-neutral-bold">@item.DataInizio</span>
                    </td>
                    <td>
                        <span class="rai-font-md-neutral-bold">@item.DataFine</span>
                    </td>
                    <td>
                        <span class="rai-font-md-bold">@item.TitoloCorso</span>
                    </td>
                    <td>
                        <span class="rai-font-md-neutral-bold">@item.Societa</span>
                    </td>
                    <td class="text-right">
                        <span class="rai-font-md-neutral-bold">@item.Durata ore</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>