@using myRaiCommonModel
@*@model AnagraficaModel*@

@{
    myRaiServiceHub.it.rai.servizi.hrpaga.ListaNavBar lista = (myRaiServiceHub.it.rai.servizi.hrpaga.ListaNavBar)ViewBag.lista;
    bool mostraDocAmministrativi = (bool)ViewBag.documentiAmministrativi;
    bool mostraDocPersonali = (bool)ViewBag.documentiPersonali;
    string cls = mostraDocAmministrativi ? "" : "active";
}


<div class="block" style="margin-bottom:0px;">

    <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
        @if (mostraDocAmministrativi)
        {
            <li class="active" role="presentation">
                <a href="#docAmministrativi" class="rai-badge-anchor" id="hrefDocAmm" tabindex="0" role="tab" aria-selected="true" aria-controls="docAmm">
                    Documenti amministrativi
                </a>
            </li>
        }
        @if (mostraDocPersonali)
        {

            <li class="@cls" role="presentation">
                <a href="#docPersonali" class="rai-badge-anchor" id="hreDocPer" tabindex="0" role="tab" aria-selected="false" aria-controls="docPer">
                    Documenti personali
                </a>
            </li>
        }
    </ul>

    <div class="block-content tab-content" style="padding:15px 15px 0px 15px">
        @if (mostraDocAmministrativi)
        {
            <div class="tab-pane active" id="docAmministrativi" role="tabpanel">
                <div class="block-content block-content-mini">
                    <div>
                        <div class="row">
                            <div class="col-sm-7">
                                <label class="rai-font-sm-neutral">Tipo di documento</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="rai-font-sm-neutral">Anno</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                @Html.DropDownList("DocAmm_TipoDocumento", (SelectList)ViewBag.listaTipiDocumento, string.Empty, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-2">
                                @Html.DropDownList("DocAmm_AnnoDocumento", (SelectList)ViewBag.listaAnni, null, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3 rai-btn-fill">
                                <button class="btn btn-primary" onclick="LoadDocumentiAmministrativi();">Cerca documenti</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content" style="padding:15px 15px 30px 15px">
                    <div class="tab-pane active rai-loading" id="divListaDocumentiAmministrativi" role="tabpanel">
                    </div>
                </div>
            </div>
        }
        @if (mostraDocPersonali)
        {

            <div class="tab-pane @cls" id="docPersonali" role="tabpanel">
                <div class="block-content block-content-mini">
                    <div>
                        <div class="row">
                            <div class="col-sm-7">
                                <label class="rai-font-sm-neutral">Tipo di documento</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                @Html.DropDownList("DocPer_TipoDocumento", (SelectList)ViewBag.listaTipiDocumentoPersonali, string.Empty, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-3 rai-btn-fill">
                                <button class="btn btn-primary" onclick="LoadDocumentiPersonali();">Cerca documenti</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content" style="padding:15px 15px 30px 15px">
                    <div class="tab-pane active rai-loading" id="divListaDocumentiPersonali" role="tabpanel">
                    </div>
                </div>
            </div>
        }
    </div>
</div>
