@using myRaiHelper;
@model myRaiCommonModel.cvModels.cvModel.Experiences
@using MVCProject.Custom_Helpers
@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();

    string isGiornalista;
    isGiornalista = Model._isGiornalista;

}

<div class="rai form-group" id="EsperienzaExtraRai">
    <input type="hidden" name="_codLocalitaEsp" value="" />

    <div class="row">
        <div class="col-md-6" data-tourdb="tour-extrarai-periodo1" @Html.TourAttributes(Model.TourElements, "tour-extrarai-periodo1")>
            <div class="col-md-12  no-padding">
                <label class="rai-caption">Dal <span class="campoObbligatorio">*</span></label>
            </div>
            <div class="col-md-4  push-10 day-box">
                <select id="_giornoInizio" name="_giornoInizio" class="rai form-control">
                    @foreach (var item in Model.GetGiorni())
                    {
                        <option value="@item.Value" @if (Model._giornoInizio != null && Model._giornoInizio.ToString() == item.Value) { @: selected
                                }>
                            @item.Text
                            </option>
                        }
                </select>
            </div>
            <div class="col-md-4  push-10 month-box">
                <select id="_meseInizio" name="_meseInizio" class="rai form-control">
                    @foreach (var item in Model.GetMesi())
                    {
                        <option value="@item.Value" @if (Model._meseInizio != null && Model._meseInizio.ToString() == item.Value) { @: selected
                                }>
                            @item.Text
                            </option>
                        }
                </select>
            </div>
            <div class="col-md-4  push-10 year-box">
                <input type="text" placeholder="Anno" class="js-datetimepicker rai form-control  start required-min"
                       data-format="YYYY" data-locale="it" id="_annoInizio" name="_annoInizio" value="@Model._annoInizio" />
            </div>
        </div>
        <div class="col-md-6" data-tourdb="tour-extrarai-periodo2" @Html.TourAttributes(Model.TourElements, "tour-extrarai-periodo2")>
            <div class="col-md-12 no-padding">
                <label class="rai-caption">Al <span class="campoObbligatorio">*</span></label>
            </div>
            <div class="col-md-4  push-10 day-box">
                <select id="_giornoFine" name="_giornoFine" class="rai form-control">
                    @foreach (var item in Model.GetGiorni())
                    {
                        <option value="@item.Value" @if (Model._giornoFine != null && Model._giornoFine.ToString() == item.Value) { @: selected
                                }>
                            @item.Text
                            </option>
                        }
                </select>
            </div>
            <div class="col-md-4  push-10 month-box">
                <select id="_meseFine" name="_meseFine" class="rai form-control">
                    @foreach (var item in Model.GetMesi())
                    {
                        <option value="@item.Value" @if (Model._meseFine != null && Model._meseFine.ToString() == item.Value) { @: selected
                                }>
                            @item.Text
                            </option>
                        }
                </select>
            </div>
            <div class="col-md-4  push-10 year-box">
                <input type="text" placeholder="Anno" class="js-datetimepicker rai form-control  start required-min"
                       data-format="YYYY" data-locale="it" id="_annoFine" name="_annoFine" value="@Model._annoFine" />
            </div>
        </div>


        <div class="col-md-3 push-10">&nbsp;</div>
        <div class="col-md-3 push-10">&nbsp;</div>
    </div>

    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-nomeaz"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-nomeaz")>

            @Html.LabelForRequiredObbl(model => model._societa, "Nome azienda", new { @class = "rai-caption" })
            @Html.TextBoxFor(model => model._societa, new { @id = "_societa", @class = "rai form-control ", @placeholder = "Inserisci il nome dell'Azienda, Società, Ente pubblico o privato" })
            @Html.ValidationMessageFor(model => model._societa)

        </div>
    </div>
    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-settore"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-settore")>

            <input type="hidden" id="_industry" name="_industry" value="" />
            <label for="_codIndustry" class="rai-caption">Settore</label>
            <select class="js-select2 rai form-control textable-select" id="_codIndustry" name="_codIndustry" style="width: 100%" data-allow-insert="true">
                <option></option>
                @{
                    var industry = cvEnt.DTabellaCV.Where(x => x.NomeTabella == "Settore").OrderBy(y => y.Ordine).ToList();
                    foreach (var elem in industry)
                    {
                        <option value="@elem.Codice">@(elem.Descrizione)</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-figprof"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-figprof")>
            <input type="hidden" id="_figProExtra" name="_figProExtra" value="" />
            <label for="_codFigProExtra" class="rai-caption">Figura professionale</label>
            <select class="js-select2 rai form-control textable-select" id="_codFigProExtra" name="_codFigProExtra" style="width: 100%" data-allow-insert="true">
                <option></option>
                @{
                    var figproextra = cvEnt.DTabellaCV.Where(x => x.NomeTabella == "FigProExtra").OrderBy(y => y.Ordine).ToList();
                    foreach (var elem in figproextra)
                    {
                        <option value="@elem.Codice">@(elem.Descrizione)</option>
                    }
                }
            </select>
        </div>
    </div>
    @if (isGiornalista == "1")
    {
        <div class="push-10 col-md-12">
            <label for="_codRedazione" class="rai-caption">Redazione</label>
            <select class="js-select2 rai form-control input-validation-error " data-val="true" data-val-required="Campo obbligatorio" id="_codRedazione" name="_codRedazione" style="width: 100%">
                <option></option>
                @{
                    var redazione = cvEnt.DRedazione.OrderBy(x => x.DesRedazione);
                    foreach (var elem in redazione)
                    {
                        <option value="@elem.CodRedazione">@(elem.DesRedazione)</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(x => x._codRedazione)
        </div>
    }
    <div class="row">
        <div class="push-10 col-md-6" data-tourdb="tour-extrarai-citta"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-citta")>
            <label for="_localitaEsp" class="rai-caption">Città</label>
            <input type="text" class="rai form-control " id="_localitaEsp" name="_localitaEsp" style="width: 100%" placeholder="Inserisci la città" />
        </div>

        <div class="push-10 col-md-6" data-tourdb="tour-extrarai-paese"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-paese")>
            <label for="_nazione" class="rai-caption">Paese</label>
            <select class="js-select2 rai form-control " id="_nazione" name="_nazione" style="width: 100%">
                <option></option>
                @{
                    var nazione = cvEnt.DNazione.OrderBy(x => new { x.QTA_ORDINE, x.DES_NAZIONE });
                    foreach (var elem in nazione)
                    {
                        <option value="@elem.DES_NAZIONE">@elem.DES_NAZIONE.TitleCase()</option>
                    }
                }
            </select>

        </div>
    </div>
    @if (isGiornalista == "1")
    {
        <div class="push-10 col-md-6">
            <label for="_codContinente" class="rai-caption">Continente</label>
            <select class="js-select2 rai form-control" id="_codContinente" name="_codContinente" style="width: 100%">
                <option></option>
                @{
                    var continente = cvEnt.DContinente;
                    foreach (var elem in continente)
                    {
                        <option value="@elem.CodContinente">@(elem.DesContinente)</option>
                    }
                }
            </select>

        </div>
    }
    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-area"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-area")>
            @Html.LabelForRequiredObbl(model => model._areaAtt, "Ambito di attività", new { @class = "rai-caption" })
            @Html.TextBoxFor(model => model._areaAtt, new { @id = "_areaAtt", @class = "rai form-control ", @placeholder = "Inserisci l'ambito di attività. Es. Insegnamento, Pubbliche relazioni, Sanità " })
            @Html.ValidationMessageFor(model => model._areaAtt)

        </div>
    </div>


    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-incarico"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-incarico")>

            @Html.LabelForRequiredObbl(model => model._ultRuolo, "Attività", new { @class = "rai-caption" })
            @Html.TextBoxFor(model => model._ultRuolo, new { @id = "_ultRuolo", @class = "rai form-control ", @placeholder = "Inserisci l'attività. Es. Insegnante, Tecnico specializzato" })
            @Html.ValidationMessageFor(model => model._ultRuolo)

        </div>
    </div>
    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-titolo"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-titolo")>
            <label for="_titoloEspQual" class="rai-caption">Titolo esperienza qualificante</label>
            <input type="text" class="rai form-control " style="width: 100%" id="_titoloEspQual" name="_titoloEspQual" placeholder="Inserisci un titolo che riassume l'esperienza. Es. Rapporti con la stampa" />
        </div>
    </div>

    <div class="row">
        <div class="push-10 col-md-12" data-tourdb="tour-extrarai-desc"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-desc")>
            <label for="_descrizioneEsp" class="rai-caption">Descrizione sintetica dell'esperienza</label>
            <textarea maxlength="1000" id="_descrizioneEsp" name="_descrizioneEsp" rows="5" class="rai form-control" style="width: 100%" placeholder="Descrivere sinteticamente l'esperienza utilizzando al massimo 1000 caratteri"></textarea>

        </div>
    </div>
    <div class="row">
        <div class="push-10 col-md-6" data-tourdb="tour-extrarai-budget"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-budget")>
            <label for="_budgetGest " class="rai-caption">Budget Gestito</label>
            <select class="js-select2 rai form-control" id="_budgetGest" name="_budgetGest" style="width: 100%" placeholder="Scegliere una opzione">
                <option></option>
                @{
                    var budget = cvEnt.DTabellaCV.Where(x => x.NomeTabella == "Budget").OrderBy(y => y.Ordine).ToList();
                    foreach (var elem in budget)
                    {
                        <option value="@elem.Codice">@(elem.Descrizione)</option>
                    }
                }
                @*                <option value="0">Fino a 500 mila euro</option>
                    <option value="1">Fino a 1 milione di euro</option>
                    <option value="2">Oltre 1 milione di euro</option>*@
            </select>
            @*<input type="text" class="rai form-control" style="width: 100%" id="_budgetGest" name="_budgetGest" placeholder="Inserisci a testo libero" />*@
        </div>
        <div class="push-10 col-md-6" data-tourdb="tour-extrarai-procura"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-procura")>
            <label for="_ultRuolo" class="rai-caption">Procura</label>
            <select class="js-select2 rai form-control" id="_procura" name="_procura" style="width: 100%" placeholder="Scegliere una opzione">
                <option></option>
                <option value="0">SI</option>
                <option value="1">NO</option>
            </select>
            @*<input type="text" class="rai form-control" style="width: 100%" id="_procura" name="_procura" placeholder="Inserisci a testo libero" />*@
        </div>
    </div>



    <div class="row">
        <div class="push-10 col-md-6" data-tourdb="tour-extrarai-risorse"
             @Html.TourAttributes(Model.TourElements, "tour-extrarai-risorse")>
            <label for="_risorseGest " class="rai-caption">Risorse Gestite/Coordinate</label>
            <select class="js-select2 rai form-control" id="_risorseGest" name="_risorseGest" style="width: 100%" placeholder="Scegliere una opzione">
                <option></option>
                @{
                    var risorse = cvEnt.DTabellaCV.Where(x => x.NomeTabella == "Risorse").OrderBy(y => y.Ordine).ToList();
                    foreach (var elem in risorse)
                    {
                        <option value="@elem.Codice">@(elem.Descrizione)</option>
                    }
                }
                @*                <option value="0">Fino a 10</option>
                    <option value="1">Fino a 100</option>
                    <option value="2">Oltre 100</option>*@
            </select>
            @*<input type="text" class="rai form-control" style="width: 100%" id="_risorseGest" name="_risorseGest" placeholder="Inserisci a testo libero" />*@
        </div>
    </div>


</div>

<!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
