@using myRaiCommonModel
@model SceltaDestinazioneTfrAllegatoViewModel

@if (Model != null)
{
    <tr id="riga-allegato-@Model.Id" data-id="@Model.Id" data-tipo="@Model.Tipo.ToString()">
        <td class="col-sm-9">
            <div class="widget-summary push-10">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon" style=" font-size: 2rem;
                                                width: 36px;
                                                height: 36px;
                                                line-height: 36px;
                                                text-align: center;
                                                background-color: #c2cfd6;
                                                color: #516c7b;
                                                -webkit-border-radius: 50%;
                                                border-radius: 50%;">
                        <i class="fa fa-file"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <span id="nome-file-tfr-@Model.Id" class="rai-font-md-bold" style="word-break: break-word;">@Model.Nome</span>
                        <br />
                        <span id="total-tfr-@Model.Id" class="rai-font-sm-neutral" style="word-break: break-word;">@(Model.Lunghezza / 1000) KB</span>
                    </div>
                </div>
            </div>
        </td>
        <td class="col-sm-3 text-right">

            @if (Model.Tipo == TipoAllegato.PdfCompilato)
            {
                <button class="btn rai-btn-small"
                        id="visualizza-tfr-@Model.Id"
                        onclick="visualizzaFilePdfCompilato('@Model.Id')"
                        aria-label="Visualizza"
                        title="Visualizza"
                        style="min-width:80px; margin-right: 5px;">
                    Visualizza
                </button>
            }
            else
            {
                <button class="btn rai-btn-small"
                        id="visualizza-tfr-@Model.Id"
                        onclick="visualizzaFile('@Model.Id')"
                        aria-label="Visualizza"
                        title="Visualizza"
                        style="min-width:80px; margin-right: 5px;">
                    Visualizza
                </button>
            }


            @if (Model.IsCancellabile)
            {
                <button class="btn-action-icon"
                        id="remove-tfr-@Model.Id"
                        onclick="eliminaFile('@Model.Id')">
                    <i class="fa fa-trash-o"></i>
                </button>
            }
        </td>
    </tr>
}
