@using myRaiCommonModel
@model SceltaDestinazioneTfrViewModel

@* Media query inserita perchè per scermi piccoli vengono mostrati solo i primi 3 steps. In questo modo tutti gli steps vengono mostrati *@
<style>
    @@media only screen and (max-width: 1303px) {
        #tfr-wizard ul.wizard-steps li,
        #tfr-wizard .tabheadrich.completed {
            display: block !important;
            padding-top: 3rem !important;
            margin: 0 auto !important;
        }
    }
</style>

@if (Model != null && Model.Steps != null)
{
    int contatore = 0;

    <div id="tfr-wizard"
         style="margin-top:0px;"
         class="rai wizard-progress wizard-progress-llg wiznew remove-margin-t"
         role="tablist">
        <ul class="wizard-steps">
            @foreach (var step in Model.Steps)
            {
                contatore++;

                <li class="tabhead tabheadrich disable @(step.IsCorrente ? "active" : "") @(step.IsCompletato ? "completed" : "")"
                    id="tab-mat-@contatore"
                    role="presentation"
                    style="max-width:none">
                    <a role="tab"
                       aria-label="@step.Step.ToString()"
                       aria-controls="validation-classic-step1"
                       id="@("tab" + contatore)"
                       onclick=""
                       href="#validation-classic-step"
                       data-toggle="tab"
                       aria-selected="@(contatore == 1 ? "true" : "false")"
                       @(contatore == 1 ? "tabindex=\"0\"" : "")
                       aria-expanded="true"><span>@contatore</span>@step.Step.ToString()</a>
                </li>
            }
        </ul>
    </div>
}

@if (Model != null && Model.StepsHrisValidazione != null)
{
    int contatore = 0;

    <div id="tfr-wizard"
         style="margin-top:3rem"
         class="rai wizard-progress wizard-progress-llg wiznew remove-margin-t"
         role="tablist">
        <ul class="wizard-steps">
            @foreach (var step in Model.StepsHrisValidazione)
            {
                contatore++;

                <li class="tabhead tabheadrich disable @(step.IsCorrente ? "active" : "") @(step.IsCompletato ? "completed" : "")"
                    id="tab-mat-@contatore"
                    role="presentation"
                    style="max-width:none">
                    <a role="tab"
                       aria-label="@step.Step.ToString()"
                       aria-controls="validation-classic-step1"
                       id="@("tab" + contatore)"
                       onclick=""
                       href="#validation-classic-step"
                       data-toggle="tab"
                       aria-selected="@(contatore == 1 ? "true" : "false")"
                       @(contatore == 1 ? "tabindex=\"0\"" : "")
                       aria-expanded="true">
                        <span>@contatore</span>@step.Step.ToString().Replace('_', ' ')
                        <br /><br />
                        @(step.DataEvento.HasValue ? step.DataEvento.Value.ToShortDateString() : "")
                    </a>
                </li>
            }
        </ul>
    </div>
}

