@using myRaiHelper
@using myRaiCommonManager
@using myRaiData.Incentivi
@model List<RegolaVoceMenu>

@{
    ActionTemplate actionNew = new ActionTemplate()
    {
        OnClick = "AbilRegolaDett(0, 'Nuova regola');",
        Icon = "fa fa-plus"
    };

    RaiAttributes attributes = new RaiAttributes()
    {
        new RaiAttribute("class","panel-collapsed"),
        new RaiAttribute("bodystyle","display:none")
    };
}

@using (Html.BeginPanel(myRaiHelper.PanelType.PanelNoPadding, "Regole voci menu", actions: new List<ActionTemplate>() { actionNew }, panelAttributes: attributes))
{
    <div @*style="max-height:50vh;overflow:hidden;overflow-y:auto"*@>
        <table class="table rai-table rai-table-vcenter rai-table-panel">
            @if (Model.Any())
            {
                foreach (var item in Model.OrderBy(x => x.Regola.ID_REGOLA))
                {
                    <tr>
                        <td>
                            @if (item.VoceMenu != null)
                            {
                                <span class="rai-font-md-bold">@item.VoceMenu.Titolo</span>
                            }
                            else
                            {
                                <span class="rai-font-md text-error">@item.Regola.ID_VOCE_MENU</span>
                            }
                            @if (!String.IsNullOrWhiteSpace(item.Regola.CONTESTO) && item.Regola.CONTESTO != "*")
                            {
                                <br />
                                foreach (var cont in item.Regola.CONTESTO.Split(','))
                                {
                                    <span class="rai-label">@cont</span>
                                }
                            }
                        </td>
                        <td>
                            @if (item.VoceMenu != null)
                            {
                                <span class="rai-font-md-bold">@item.VoceMenu.customView</span>
                            }
                        </td>
                        <td>
                            @if (item.VoceMenu != null)
                            {
                                <span class="rai-font-md">@item.VoceMenu.codiceMy</span>
                            }
                        </td>
                        <td class="rai-table-td-action">
                            @if (item.VoceMenu != null)
                            {
                                <button class="btn btn-action-icon" onclick="AbilRegolaDett(@item.Regola.ID_REGOLA, 'Regola @item.VoceMenu.Titolo')"><i class="fa fa-pencil"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-action-icon" onclick="AbilRegolaDett(@item.Regola.ID_REGOLA, 'Regola @item.Regola.ID_VOCE_MENU')"><i class="fa fa-pencil"></i></button>
                            }
                        </td>
                        <td class="rai-table-td-action">
                            
                        </td>
                    </tr>
                }
            }
            else
            {
                @Html.Partial("_NoDati")
            }
        </table>
    </div>
}
