@using myRaiDataTalentia
@using myRaiCommonManager
@using myRaiCommonModel
@using myRaiHelper
@model AbilAbilitazione

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dati abilitazione", false))
        {
            using (Html.BeginForm("Save_AbilPers", "Abilitazioni", FormMethod.Post, new { id = "form-abil-pers", @class = "form-group" }))
            {
                @Html.HiddenFor(m => m.ID_ABIL)
                @Html.HiddenFor(m => m.ID_SUBFUNZ)
                @Html.HiddenFor(m => m.ID_PROFILO)
                @Html.HiddenFor(m => m.ID_DELEGA)

                <div class="row">
                    <div class="col-sm-12 push-10">
                        @Html.LabelFor(m => m.MATRICOLA, "Matricola", new { @class = "rai-caption" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.MATRICOLA, new { @class = "form-control", @readonly = "readonly" })
                            <div class="input-group-addon"><span class="fa fa-lock"></span></div>
                        </div>
                    </div>
                </div>
                if (Model.ID_SUBFUNZ != null || Model.ID_PROFILO != null)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <em class="rai-font-md">Seleziona un modello o imposta i parametri dell'abilitazione</em>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-8 push-10">
                        @Html.LabelFor(m => m.ARY_MODELLI, "Modello", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_MODELLI, AbilitazioniManager.GetListModelli(), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_MODELLI)
                    </div>
                    <div class="col-sm-4 push-10">
                        @Html.LabelFor(m => m.COD_CONDITION, "Condizione modelli", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.COD_CONDITION, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.COD_CONDITION)
                    </div>
                </div>
                if (Model.ID_SUBFUNZ != null || Model.ID_PROFILO != null)
                {
                    <div class="row">
                        <div class="col-sm-12 push-10">
                            @Html.LabelFor(m => m.ARY_GR_CATEGORIE, "Gruppi categorie", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_GR_CATEGORIE, AnagraficaManager.GetGruppiCat(), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_GR_CATEGORIE)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 push-10">
                            @Html.LabelFor(m => m.ARY_GR_AREA, "Aree", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_GR_AREA, AnagraficaManager.GetGruppiArea(), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_GR_AREA)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_CAT_INCLUSE, "Categorie incluse", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_CAT_INCLUSE, AnagraficaManager.GetCategorie("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_CAT_INCLUSE)
                        </div>
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_CAT_ESCLUSE, "Categorie escluse", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_CAT_ESCLUSE, AnagraficaManager.GetCategorie("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_CAT_ESCLUSE)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10">
                            @*@Html.LabelFor(m => m.ARY_SEDI_INCLUSE, "Sedi incluse", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_SEDI_INCLUSE, AnagraficaManager.GetSedi("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_SEDI_INCLUSE)*@
                            @Html.LabelFor(m => m.SEDI_INCLUSE, "Sedi incluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.SEDI_INCLUSE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SEDI_INCLUSE)
                        </div>
                        <div class="col-sm-6 push-10">
                            @*@Html.LabelFor(m => m.ARY_SEDI_ESCLUSE, "Sedi escluse", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_SEDI_ESCLUSE, AnagraficaManager.GetSedi("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_SEDI_ESCLUSE)*@
                            @Html.LabelFor(m => m.SEDI_ESCLUSE, "Sedi escluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.SEDI_ESCLUSE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SEDI_ESCLUSE)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_DIR_INCLUSE, "Servizi inclusi", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_DIR_INCLUSE, AnagraficaManager.GetServizi("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_DIR_INCLUSE)
                        </div>
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_DIR_ESCLUSE, "Servizi esclusi", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_DIR_ESCLUSE, AnagraficaManager.GetServizi("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_DIR_ESCLUSE)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_SOC_INCLUSE, "Società incluse", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_SOC_INCLUSE, AnagraficaManager.GetSocieta("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_SOC_INCLUSE)
                        </div>
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_SOC_ESCLUSE, "Società escluse", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_SOC_ESCLUSE, AnagraficaManager.GetSocieta("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_SOC_ESCLUSE)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_CNT_INCLUSI, "Contratti inclusi", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_CNT_INCLUSI, AnagraficaManager.GetTipiContratto("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_CNT_INCLUSI)
                        </div>
                        <div class="col-sm-6 push-10">
                            @Html.LabelFor(m => m.ARY_CNT_ESCLUSI, "Contratti esclusi", new { @class = "rai-caption" })
                            @Html.RaiSelectFor(m => m.ARY_CNT_ESCLUSI, AnagraficaManager.GetTipiContratto("", "", true), multiple: true)
                            @Html.ValidationMessageFor(m => m.ARY_CNT_ESCLUSI)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10 ">
                            @Html.LabelFor(m => m.MATR_INCLUSE, "Matricole incluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.MATR_INCLUSE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MATR_INCLUSE)
                        </div>
                        <div class="col-sm-6 push-10 ">
                            @Html.LabelFor(m => m.MATR_ESCLUSE, "Matricole escluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.MATR_ESCLUSE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MATR_ESCLUSE)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 push-10 ">
                            @Html.LabelFor(m => m.TIP_INCLUSE, "Tipologie incluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.TIP_INCLUSE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TIP_INCLUSE)
                        </div>
                        <div class="col-sm-6 push-10 ">
                            @Html.LabelFor(m => m.TIP_ESCLUSE, "Tipologie escluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.TIP_ESCLUSE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TIP_ESCLUSE)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 push-10 ">
                            @Html.LabelFor(m => m.TIP_DOC_INCLUSI, "Tipologie documentali incluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.TIP_DOC_INCLUSI, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TIP_DOC_INCLUSI)
                        </div>
                        <div class="col-sm-6 push-10 ">
                            @Html.LabelFor(m => m.TIP_DOC_ESCLUSI, "Tipologie documentali escluse", new { @class = "rai-caption" })
                            @Html.TextBoxFor(m => m.TIP_DOC_ESCLUSI, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TIP_DOC_ESCLUSI)
                        </div>
                    </div>

                }
                <div class="row">
                    <div class="col-sm-6 push-10 ">
                        @Html.LabelFor(m => m.DTA_INIZIO, "Data inizio", new { @class = "rai-caption" })
                        @if (Model.ID_DELEGA.HasValue)
                        {
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.TextBoxFor(m => m.DTA_INIZIO, new { @class = "form-control js-datetimepicker", data_format = "DD/MM/YYYY", @readonly = "readonly" })
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.DTA_INIZIO, new { @class = "form-control js-datetimepicker", data_format = "DD/MM/YYYY", })
                        }
                        @Html.ValidationMessageFor(m => m.DTA_INIZIO)
                    </div>
                    <div class="col-sm-6 push-10 ">
                        @Html.LabelFor(m => m.DTA_FINE, "Data fine", new { @class = "rai-caption" })
                        @if (Model.ID_DELEGA.HasValue)
                        {
                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.TextBoxFor(m => m.DTA_FINE, new { @class = "form-control js-datetimepicker", data_format = "DD/MM/YYYY", @readonly = "readonly" })
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.DTA_FINE, new { @class = "form-control js-datetimepicker", data_format = "DD/MM/YYYY" })

                        }
                        @Html.ValidationMessageFor(m => m.DTA_FINE)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 push-10 push-10-t">
                        <div class="rai-checkbox">
                            @if (Model.ID_DELEGA.HasValue)
                            {
                                @Html.CheckBoxFor(m => m.IND_ATTIVO, new { id = "IND_ATTIVO_AS", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => m.IND_ATTIVO, new { id = "IND_ATTIVO_AS" })
                            }
                            <label for="IND_ATTIVO_AS">Attivo</label>
                        </div>
                    </div>
                </div>
                <div class="row form-button">
                    <div class="col-sm-12 ">
                        <button class="btn rai-btn-primary full-width" onclick="SaveAbilPers(this)">Salva</button>
                    </div>
                </div>
            }
        }

    </div>
</div>

<script>
    InitDatePicker();
    function SaveAbilPers(button) {
        event.preventDefault();

        var idForm = 'form-abil-pers';

        $(button).addClass("disable");

        var form = $("#" + idForm).first();
        var validator = $(form).validate();

        if (!$(form).valid()) {
            $(button).removeClass("disable");
            return false;
        }

        var formData = new FormData($(form)[0]);

        $(form).parent().addClass("rai-loader");

        $.ajax({
            url: $(form).attr("action"),
            processData: false,
            contentType: false,
            type: "POST",
            data: formData,
            dataType: 'json',
            success: function (data) {
                if (data.esito) {
                    swal({ title: "Abilitazione salvata con successo", type: 'success', customClass: 'rai' });

                    var matr = $('#MATRICOLA').val();
                    var idSubFunz = $('#ID_SUBFUNZ').val();
                    var idProfilo = $('#ID_PROFILO').val();
                    var idModello = $('#ID_MODELLO').val();

                    if (idSubFunz == undefined || idSubFunz == '') {
                        idSubFunz = null;
                    }
                    if (idProfilo == undefined || idProfilo == '') {
                        idProfilo = null;
                    }

                    if (idModello == undefined || idModello == '') {
                        idModello = null;
                    }

                    if (idProfilo != null) {
                        RaiUpdateWidget("box-profili", "/Abilitazioni/ElencoProfili", "html", null);
                    } else if (idSubFunz != null) {
                        RaiUpdateWidget("box-funzioni", "/Abilitazioni/ElencoFunzioni", "html", null);
                    }

                    if ($('#nav-abil-profilo').length > 0)
                        RaiUpdateWidget('nav-abil-profilo', '/Abilitazioni/Modal_Profilo', "html", { id: idProfilo }, false, null, false, 'POST');
                    else if ($('#nav-abil-subfunc').length > 0) {
                        RaiUpdateWidget('nav-abil-subfunc', '/Abilitazioni/Modal_Sottofunzione', "html", { idFunz: $('#ID_FUNZIONE').val(), idSubFunz: idSubFunz }, false, null, false, 'POST');
                        RaiUpdateWidget('nav-abil-funz', '/Abilitazioni/Modal_Funzione', "html", { id: $('#ID_FUNZIONE').val() }, false, null, false, 'POST');
                    }
                    else if ($('#nav-abil-pers').length > 0)
                        RaiUpdateWidget('nav-abil-pers', '/Abilitazioni/Modal_Persona', "html", { matricola: matr }, false, null, false, 'POST');
                    else if ($('#nav-abil-modello').length > 0)
                        RaiUpdateWidget('nav-abil-modello', '/Abilitazioni/Modal_Modello', "html", { idModello: idModello }, false, null, false, 'POST');


                    RaiOPRemovePage('nav-abil', 'nav-abil-dett');

                } else {
                    swal({ title: "Ops...", text: data.message, type: 'error', customClass: 'rai' });
                }
                $(button).removeClass("disable");
                $(form).parent().removeClass("rai-loader");
            },
            error: function (a, b, c) {
                swal({ title: "Ops...", text: ' ' + b + ' ' + c, type: 'error', customClass: 'rai' });
                $(button).removeClass("disable");
                $(form).parent().removeClass("rai-loader");
            }
        })
    }
</script>