@using myRaiDataTalentia
@using myRaiCommonManager
@using myRaiCommonModel
@using myRaiHelper
@model AbilModello

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Dati modello", false))
        {
            using (Html.BeginForm("Save_Modello", "Abilitazioni", FormMethod.Post, new { id = "form-abil-modello", @class = "form-group" }))
            {
                @Html.HiddenFor(m => m.ID_MODELLO)

                <div class="row">
                    <div class="col-sm-12 push-10">
                        @Html.LabelFor(m => m.CODICE, "Codice", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.CODICE, new { @class = "form-control", maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.CODICE)
                    </div>
                    <div class="col-sm-12 push-10">
                        @Html.LabelFor(m => m.ARY_GR_CATEGORIE, "Gruppi categorie", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_GR_CATEGORIE, AnagraficaManager.GetGruppiCat(), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_GR_CATEGORIE)
                    </div>
                    <div class="col-sm-12 push-10">
                        @Html.LabelFor(m => m.ARY_GR_AREA, "Aree", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_GR_AREA, AnagraficaManager.GetGruppiArea(), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_GR_AREA)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_CAT_INCLUSE, "Categorie incluse", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_CAT_INCLUSE, AnagraficaManager.GetCategorie("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_CAT_INCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_CAT_ESCLUSE, "Categorie escluse", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_CAT_ESCLUSE, AnagraficaManager.GetCategorie("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_CAT_ESCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @*@Html.LabelFor(m => m.ARY_SEDI_INCLUSE, "Sedi incluse", new { @class = "rai-caption" })
        @Html.RaiSelectFor(m => m.ARY_SEDI_INCLUSE, AnagraficaManager.GetSedi("", "", true), multiple: true)
        @Html.ValidationMessageFor(m => m.ARY_SEDI_INCLUSE)*@
                        @Html.LabelFor(m => m.SEDI_INCLUSE, "Sedi incluse", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.SEDI_INCLUSE, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SEDI_INCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @*@Html.LabelFor(m => m.ARY_SEDI_ESCLUSE, "Sedi escluse", new { @class = "rai-caption" })
        @Html.RaiSelectFor(m => m.ARY_SEDI_ESCLUSE, AnagraficaManager.GetSedi("", "", true), multiple: true)
        @Html.ValidationMessageFor(m => m.ARY_SEDI_ESCLUSE)*@
                        @Html.LabelFor(m => m.SEDI_ESCLUSE, "Sedi escluse", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.SEDI_ESCLUSE, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SEDI_ESCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_DIR_INCLUSE, "Servizi inclusi", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_DIR_INCLUSE, AnagraficaManager.GetServizi("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_DIR_INCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_DIR_ESCLUSE, "Servizi esclusi", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_DIR_ESCLUSE, AnagraficaManager.GetServizi("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_DIR_ESCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_SOC_INCLUSE, "Società incluse", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_SOC_INCLUSE, AnagraficaManager.GetSocieta("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_SOC_INCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_SOC_ESCLUSE, "Servizi esclusi", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_SOC_ESCLUSE, AnagraficaManager.GetSocieta("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_SOC_ESCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_CNT_INCLUSI, "Contratti inclusi", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_CNT_INCLUSI, AnagraficaManager.GetTipiContratto("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_CNT_INCLUSI)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.ARY_CNT_ESCLUSI, "Contratti esclusi", new { @class = "rai-caption" })
                        @Html.RaiSelectFor(m => m.ARY_CNT_ESCLUSI, AnagraficaManager.GetTipiContratto("", "", true), multiple: true)
                        @Html.ValidationMessageFor(m => m.ARY_CNT_ESCLUSI)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.MATR_INCLUSE, "Matricole incluse", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.MATR_INCLUSE, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MATR_INCLUSE)
                    </div>
                    <div class="col-sm-6 push-10">
                        @Html.LabelFor(m => m.MATR_ESCLUSE, "Matricole escluse", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.MATR_ESCLUSE, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MATR_ESCLUSE)
                    </div>
                    <div class="col-sm-6 push-10 ">
                        @Html.LabelFor(m => m.TIP_INCLUSE, "Tipologie incluse", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.TIP_INCLUSE, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TIP_INCLUSE)
                    </div>
                    <div class="col-sm-6 push-10 ">
                        @Html.LabelFor(m => m.TIP_ESCLUSE, "Tipologie escluse", new { @class = "rai-caption" })
                        @Html.TextBoxFor(m => m.TIP_ESCLUSE, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TIP_ESCLUSE)
                    </div>
                    <div class="col-sm-12 push-10 push-10-t">
                        <div class="rai-checkbox">
                            @Html.CheckBoxFor(m => m.IND_ATTIVO, new { id = "IND_ATTIVO_M" })
                            <label for="IND_ATTIVO_M">Attivo</label>
                        </div>
                    </div>
                </div>
                <div class="row form-button">
                    <div class="col-sm-12 ">
                        <button class="btn rai-btn-primary full-width" onclick="SaveAbilModello(this)">Salva</button>
                    </div>
                </div>
            }
        }

    </div>
    <div class="col-md-4">
        @if (Model.ID_MODELLO > 0)
        {
            var ricModel = new CercaDipendenteModel()
            {
                Provenienza = "ABIL",
                Action = "AbilAbilPers(0, null, null, " + Model.ID_MODELLO + ", '$matricola', '$matricola')",
                ActionText = "Abilita"
            };

            @Html.Partial("~/Views/CercaDipendente/Index.cshtml", ricModel)

            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("ElencoAbilitazioni", Model.XR_HRIS_ABIL)
                </div>
            </div>
        }
    </div>
</div>

<script>
    function SaveAbilModello(button) {
        event.preventDefault();

        var idForm = 'form-abil-modello';

        $(button).addClass("disable");

        var form = $("#" + idForm).first();
        var validator = $(form).validate();

        if (!$(form).valid()) {
            $(button).removeClass("disable");
            return false;
        }

        var formData = new FormData($(form)[0]);

        formData.append('CAT_INCLUSE', $('#ARY_CAT_INCLUSE').val());
        formData.append('CAT_ESCLUSE', $('#ARY_CAT_ESCLUSE').val());
        formData.append('DIR_INCLUSE', $('#ARY_DIR_INCLUSE').val());
        formData.append('DIR_ESCLUSE', $('#ARY_DIR_ESCLUSE').val());
        formData.append('SEDI_INCLUSE', $('#ARY_SEDI_INCLUSE').val());
        formData.append('SEDI_ESCLUSE', $('#ARY_SEDI_ESCLUSE').val());

        $(form).parent().addClass("rai-loader");

        $.ajax({
            url: $(form).attr("action"),
            processData: false,
            contentType: false,
            type: "POST",
            data: formData,
            dataType: 'json',
            success: function (data) {
                if (data.esito) {
                    var codice = $('#CODICE').val();

                    swal({ title: "Modello salvato con successo", type: 'success', customClass: 'rai' });
                    RaiUpdateWidget("box-modelli", "/Abilitazioni/ElencoModelli", "html", null);
                    RaiOPNavGoToNext('nav-abil', 'nav-abil-modello', codice, '/Abilitazioni/Modal_Modello', { idModello: data.idModello }, 'POST');
                } else {
                    swal({ title: "Ops...", text: data.message, type: 'error', customClass: 'rai' });
                }
                $(button).removeClass("disable");
                $(form).parent().removeClass("rai-loader");
            },
            error: function (a, b, c) {
                swal({ title: "Ops...", text: ' ' + b + ' ' + c, type: 'error', customClass: 'rai' });
                $(button).removeClass("disable");
                $(form).parent().removeClass("rai-loader");
            }
        })
    }
</script>