@using myRaiHelper;
@using myRaiCommonModel.Detassazione;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model DetassazioneGraficiModel

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center no-gutters">
        <span class="h5">MODULO 1C</span>
        <div class="chart1" style="margin-top: 15px;" aria-label="Rinuncia" tabindex="0" data-percent="@(Model.Percentuale1C)"></div>
        <span class="graph-center-value">@String.Format( "{0:N2}%" , Model.Percentuale1C )</span>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td class="td-20 td-graf">
                        <div class="graf-square-legenda bg-default"></div>
                    </td>
                    <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@(Model.Tot1C - Model.TotCompilato1C)</b><br />NON INVIATI</td>

                    <td class="td-20 td-graf">
                        <div class="graf-square-legenda bg-cdf"></div>
                    </td>
                    <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@(Model.TotCompilato1C)</b><br />INVIATI</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center no-gutters">
        <span class="h5">MODULO 2C</span>
        <div class="chart2" style="margin-top: 15px;" tabindex="0" aria-label="Richiesta" data-percent="@(Model.Percentuale2C)"></div>
        <span class="graph-center-value">@String.Format( "{0:N2}%" , Model.Percentuale2C )</span>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td class="td-20 td-graf">
                        <div class="graf-square-legenda bg-default"></div>
                    </td>
                    <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@(Model.Tot2C - Model.TotCompilato2C)</b><br />NON INVIATI</td>

                    <td class="td-20 td-graf">
                        <div class="graf-square-legenda bg-cdf"></div>
                    </td>
                    <td class="td-80 td-graf" style="font-size: 0.9em;"><b>@(Model.TotCompilato2C)</b><br />INVIATI</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var color = "#0088CC";

    if (document.getElementsByClassName("bg-cdf").length) {
        var style = window.getComputedStyle(document.getElementsByClassName("bg-cdf")[0], null);
        if (style.length) {
            var rgb = style["background-color"];
            if (rgb.length) {
                var color = rgb.replace('rgb(', '').replace(')', '').split(',');

                var r, g, b;
                r = parseInt(color[0].trim());
                g = parseInt(color[1].trim());
                b = parseInt(color[2].trim());

                color = "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
            }
        }
    }

    $(function () {
        $('.chart1').easyPieChart({
            "barColor": color, "delay": 300, scaleColor: false, lineWidth: 8, size: 125
        });

        $('.chart2').easyPieChart({
            "barColor": color, "delay": 300, scaleColor: false, lineWidth: 8, size: 125
        });
    })
</script>