@using myRaiHelper
@using System.Globalization
@model myRaiCommonModel.Gestionale.Lettera

@{
    string title = String.Format("Modifica lettera {0} {1}", Model.DipSurname.Trim(), Model.DipName.Trim());
}
<div class="block block-transparent no-margin-bottom">
    <div class="block-header">
        <label class="rai-font-modal-heading">
            @title
        </label>
        <div class="block-options">
            <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
        </div>

    </div>
    @using (Html.BeginForm("SaveModificaLettera", "PoliticheRetributive", FormMethod.Post, new { @id = "form-modifica-lettera" }))
    {
        <div class="block-content">
            <div class="row">
                <div class="col-xs-12">
                    @Html.HiddenFor(m => m.IdPratica)
                    <div class="form-group">
                        <div class="row push-10">
                            <div class="col-sm-5">
                                @Html.TextAreaFor(m => m.HeaderText, new { @class = "form-control", rows = 4, style = "width:100%" })
                            </div>
                            <div class="col-sm-3">
                                &nbsp;
                            </div>
                            <div class="col-sm-4">
                                <span><u>RISERVATA PERSONALE</u></span><br />
                                <span>@Model.DipName <span class="text-bold">@Model.DipSurname</span></span><br />
                                <span>RAI-Radiotelevisione italiana</span>
                            </div>
                        </div>
                        <div class="row push-100">
                            <div class="col-sm-1">
                                <span>Roma, </span>
                            </div>
                            <div class="col-sm-3">
                                <div id="calendario_container" class="input-group">
                                    <span onclick="$('#data').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>                                    
                                    @Html.TextBoxFor(m=> m.Data, new { @class= "js-datetimepicker form-control", data_format = "DD/MM/YYYY", data_locale = "it", @Value = @Model.Data.ToString("dd/MM/yyyy") })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                &nbsp;
                            </div>
                            <div class="col-sm-4">
                                <span><u>ROMA</u></span>
                            </div>
                        </div>
                        <div class="row push-10">
                            <div class="col-sm-12">
                                @Html.TextAreaFor(m => m.BodyText, new { @class = "form-control", rows = 7, style = "width:100%" })
                            </div>
                        </div>
                        <div class="row push-10">
                            <div class="col-sm-6">
                                @Html.TextAreaFor(m => m.FooterText, new { @class = "form-control", rows = 1, style = "width:100%" })
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row push-10">
                            <div class="col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-sm-6 text-center">
                                @if (!String.IsNullOrWhiteSpace(Model.SignText))
                                {
                                    @Html.Raw(Model.SignText.Replace("\r", "").Replace("\n", "<br/>"))
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="width:100%;height:60px;position:absolute;bottom:0px;text-align:center; border-top: none;">
            <div class="row" style="margin-top: -8px;">
                <div class="col-sm-12">
                    <div class="rai-btn-fill">
                        <button type="button" class="btn rai-btn-secondary" data-dismiss="modal">Annulla</button>
                        <button type="submit" class="btn rai-btn-primary" onclick="GestSaveModificaLettera(this, 'form-modifica-lettera')">Salva</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    InitDatePicker();
</script>
