@model myRaiCommonModel.cvModels.cvModel.Studies
@using MVCProject.Custom_Helpers 

@{string contesto = ViewBag.contesto;}


  <div class="row">@* --------------------VOTO SCALA-----------------*@
    
     <div class="col-md-6 push-10" 
            @Html.TourAttributes(Model.TourElements,"tour-studio-"+contesto+"-voto")
            >
    <label for="_voto" class="titleElements rai-caption rai-caption">Voto</label>
    @Html.TextBoxFor(m => m._voto, new { @class="rai form-control ", placeholder="Inserisci la votazione", onkeypress="return onlyNumeric(event);", id="_voto" })
    @Html.ValidationMessageFor(m => m._voto)
    </div>


    <div class="col-md-6 push-10" 
        @Html.TourAttributes(Model.TourElements,"tour-studio-"+contesto+"-scala")
        >
        <label for="_scala" class="titleElements rai-caption rai-caption">Scala</label>
        @Html.TextBoxFor(m => m._scala, new { @class="rai form-control ", 
        placeholder=contesto=="diploma"? "Scala (in cifre). Es. 60 o 100" : "Scala (in cifre). Es. 110", 
       onkeypress="return onlyNumeric(event);",  id="_scala" })
        @Html.ValidationMessageFor(m => m._scala)
    </div>


</div>
