@using MVCProject.Custom_Helpers;

@{
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

<!-- Container di Pagina -->

<section class="body">

    @Html.Partial("../Shared/header2", new myRai.Models.NotifichePopupModel())

    <div class="inner-wrapper">

        @Html.Partial("../Shared/sidebar3", myRai.Models.Utente.getSidebarModel())
        <section role="main" class="content-body" style="padding-top: 10px">


            <!-- start: page -->
            <!-- Main Container -->

            <main id="main-container">

                <div class="content">
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <section class="panel ">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        @*<a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblWeekPlan" aria-expanded="true"></a>*@
                                    </div>
                                    <h2 id="lblWeekPlan" class="panel-title">Attività programmate</h2>
                                </header>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label style="margin-top:5px;">Periodo</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <a href="javascript:attSettimanaPrec()" aria-label="Vai alla settimana precedente">
                                                <span style="font-size: 10px;top:7px;" class="glyphicon glyphicon-triangle-left text-muted"></span>
                                            </a>
                                        </div>
                                        <div class="col-sm-3" style="padding:0 5px;">
                                            <div class="input-group mb-md">
                                                <span class="input-group-addon" style="cursor: pointer" onclick="$('#datada').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                                                <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datada" name="datada" placeholder="Dal" value="@startDate.ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="padding:0 5px;">
                                            <div class="input-group mb-md">
                                                <span class="input-group-addon" style="cursor: pointer" onclick="$('#dataal').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                                                <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al" value="@endDate.ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <a href="javascript:attSettimanaSucc()" aria-label="Vai alla settimana successiva">
                                                <span style="font-size: 10px;top:7px;" class="glyphicon glyphicon-triangle-right text-muted"></span>
                                            </a>
                                        </div>
                                        <div class="col-sm-2" style="text-align:right;">
                                            <button class="btn btn-md btn-primary" onclick="ChooseRangeActivity()">Vai</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div id="ElencoAttivitaExt">
                                        <div id="ElencoAttivita">
                                            @Html.AsyncPartial("Attivita", "GetAttivita", "~/Views/Attivita/subpartial/elencoAttivita_skeleton.cshtml", TempData)
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                        <div class="col-sm-4">
                            @Html.AsyncPartial("Attivita", "GetAttivitaOggi", "~/Views/Attivita/subpartial/attivitaOggi_skeleton.cshtml", TempData)
                        </div>
                    </div>
                </div>
            </main>

            <!-- end: page -->
        </section>
    </div>


    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px;">
            </div>
        </div>
        <div class="nano-pane" style="opacity: 1; visibility: visible;">
            <div class="nano-slider" style="height: 583px; transform: translate(0px, 0px);"></div>
        </div>
        </div>
    </aside>



</section>

@section afterjs {
    @Html.Raw(TempData["script"])
}

@Html.Partial("../Richieste/_nuovarichiesta", myRai.Business.HomeManager.GetRaggruppamenti())