@using myRaiCommonModel
@model GruppoAd

<table class="table rai-table rai-table-vcenter rai-table-panel table-striped">
    <thead>
        <tr>
            <th style="width:1%;white-space:nowrap">
                <div class="rai-checkbox">
                    <input type="checkbox" id="gr-@Model.Nome-all" data-check-group-all="@Model.Nome" onclick="RaiToggleCheckBoxAll('@Model.Nome')"/><label></label>
                </div>
            </th>
            <th style="width:1%;white-space:nowrap">Matricola</th>
            <th>Nominativo</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Persone.OrderBy(x => x.Nominativo))
        {
            <tr>
                <td>
                    <div class="rai-checkbox">
                        <input type="checkbox" id="gr-@Model.Nome-all" data-check-group="@Model.Nome" onclick="RaiUpdateCheckBoxAll('@Model.Nome')" /><label></label>
                    </div>
                </td>
                <td>@item.Matricola</td>
                <td>@item.Nominativo</td>
                <td>@item.Mail</td>
            </tr>
        }
    </tbody>
</table>