@using myRaiCommonModel
@using myRai.Controllers

@model ModuloVM

<div class="block block-themed block-transparent remove-margin-b">

    <div class="block-header">
        <label class="rai-font-modal-heading">
            MODELLO INCENTIVAZIONE 2021
        </label>
        <div class="block-options">
            <button id="@(Model.WidgetId)_ChiudiModale" data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>

    <div class="row no-margin-left-right">
        <!-- Colonna -->
        <div class="col-sm-12 no-pad-left no-pad-right border-right ">
            <div class="block-content block-content-full boxdate" style="margin-bottom: 0px; padding-bottom:5px; overflow-y: auto; height: 80vh">
                <div class="row">
                    <div class="col-xs-12" id="modulo-content-body" style="margin-left:5%; width:90%;">
                        <br />
                        <br />
                        <div class="row">
                            <span class="rai-font-text-heading">
                                @{
                                    string txSott = "";
                                    string txNato = "";
                                    if (Model.Sesso == "M")
                                    {
                                        txSott = "Io sottoscritto";
                                        txNato = "Nato a";
                                    }
                                    else
                                    {
                                        txSott = "Io sottoscritta";
                                        txNato = "Nata a";
                                    }
                                }
                                @(txSott) @(Model.IncentivazioneWidgetData.Cognome) @(Model.IncentivazioneWidgetData.Nome)
                                Matr. Aziendale @(Model.Matricola), @(txNato) @(Model.LuogoNascita)
                                il @(Model.DataNascita.GetValueOrDefault().ToString("dd/MM/yyyy")) Codice fiscale @(Model.CodiceFiscale)
                                dipendente dell’azienda @Model.IncentivazioneWidgetData.Azienda
                                in applicazione, ed ai sensi, della circolare prot. @(Model.IncentivazioneWidgetData.EtichettaProtocollo)

                            </span>
                        </div>
                        <br />
                        <div class="row">
                            <center>
                                <span class="rai-font-text-heading">
                                    DICHIARA
                                </span>
                            </center>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-12">
                                <span class="rai-font-text-heading">
                                    con la presente la volontà di aderire all’iniziativa di incentivazione all’esodo su base volontaria alle condizioni
                                    e con le modalità definite nella citata circolare.
                                    Allo scopo, manifesta l’intenzione di cessare dal servizio in data

                                    <select id="dataScadenza" name="IncentivazioneWidgetData.DataSelezionata" required="required" style="width:250px;">
                                        @{
                                            foreach (var o in Model.IncentivazioneWidgetData.Date)
                                            {
                                                <option value="@(o.Value)">@(o.Text)</option>
                                            }
                                        }
                                    </select>

                                    (u.g.s.), previa valutazione aziendale di compatibilità con le esigenze produttive.
                                    Inoltre, al fine di individuare la sua appartenenza ad una delle due platee definite dalla circolare e
                                    comunque la propria complessiva anzianità assicurativa e contributiva nell’obiettivo di verificare la data di
                                    raggiungimento dei requisiti pensionistici, ovvero il possesso degli stessi, sotto la propria responsabilità
                                </span>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <center>
                                <span class="rai-font-text-heading">
                                    DICHIARA
                                </span>
                            </center>
                        </div>
                        <br />
                        @{
                            string txCheckedTrue = "checked=\"checked\"";
                        }
                        @{
                            int sup = 1;
                        }
                        <div class="row">
                            <div class="rai-checkbox-container ">
                                @{
                                    if (!Model.IncentivazioneWidgetData.IsGiornalista && Model.IncentivazioneWidgetData.Compie62Anni)
                                    {
                                        <div class="col-sm-12 no-padding push-10">
                                            <div class="rai-checkbox">
                                                <div class="form-check radio-custom radio-info primary" style="margin-left:10px; margin-top:10px;">
                                                    <input name="sceltaPrincipale" data-check-group="scelta-filter" type="radio" id="Scelta1" value="1" />
                                                    <label for="Scelta1" class="rai-font-md">
                                                        di aver conseguito o di conseguire nel corso del 2021 i requisiti per la pensione anticipata “in quota 100”@*<sup>@sup</sup>*@;
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        sup++;
                                    }
                                }

                                @{
                                    if (Model.IncentivazioneWidgetData.Compie61Anni)
                                    {
                                        <div class="col-sm-12 no-padding push-10">
                                            <div class="rai-checkbox">
                                                <div class="form-check radio-custom radio-info primary" style="margin-left:10px; margin-top:10px;">
                                                    <input name="sceltaPrincipale" data-check-group="scelta-filter" type="radio" id="Scelta2" value="2" />
                                                    <label for="Scelta2" class="rai-font-md">
                                                        di non avere/non poter conseguire i requisiti per la pensione anticipata in “quota 100”,
                                                        ma di conseguire quale primo trattamento pensionistico utile:
                                                    </label>
                                                </div>
                                                <div class="col-sm-4 no-padding push-5">
                                                    <div class="form-check radio-custom radio-info primary" style="margin-left:10px; margin-top:10px;">
                                                        <input disabled="disabled" name="scelta2" data-check-group="scelta-filter" type="radio" id="Scelta2_1" value="21" @(Model.Scelta7_1 ? txCheckedTrue : "") />
                                                        <label for="Scelta2_1" class="rai-font-md">
                                                            la pensione di vecchiaia<sup>@sup</sup>
                                                        </label>
                                                    </div>
                                                </div>
                                                @{
                                                    sup++;
                                                }

                                                <div class="col-sm-4 no-padding push-5">
                                                    <div class="form-check radio-custom radio-info primary" style="margin-left:10px; margin-top:10px;">
                                                        <input disabled="disabled" name="scelta2" data-check-group="scelta-filter" type="radio" id="Scelta2_2" value="22" @(Model.Scelta7_2 ? txCheckedTrue : "") />
                                                        <label for="Scelta2_2" class="rai-font-md">
                                                            la pensione anticipata<sup>@sup</sup>
                                                        </label>
                                                    </div>
                                                </div>
                                                @{
                                                    sup++;
                                                }
                                                <div class="col-sm-4 no-padding push-5">
                                                    <div class="form-check radio-custom radio-info primary" style="margin-left:10px; margin-top:10px;">
                                                        <input disabled="disabled" name="scelta2" data-check-group="scelta-filter" type="radio" id="Scelta2_3" value="23" @(Model.Scelta7_3 ? txCheckedTrue : "") />
                                                        <label for="Scelta2_3" class="rai-font-md">
                                                            la pensione di anzianità<sup>@sup</sup>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    }
                                }

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <center>
                                <span class="rai-font-text-heading">
                                    SI IMPEGNA
                                </span>
                            </center>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="rai-font-text-heading">
                                    Nell’obiettivo di consentire la verifica di quanto sopra attestato, quale condizione di ammissione
                                    all’incentivazione ad acquisire sollecitamente ed a trasmettere ai competenti settori aziendali,
                                    mediante la casella di posta elettronica dedicata esodi2021@rai.it, la propria posizione contributiva
                                    complessiva (estratti contributivi), con riferimento a tutti i regimi previdenziali di assicurazione
                                    nel corso dell’intera vita lavorativa.
                                </span>
                            </div>
                            <div class="col-sm-12">
                                <span class="rai-font-text-heading">
                                    E’ consapevole che fino alla consegna della suddetta documentazione la propria posizione e dunque
                                    la propria istanza non potrà essere oggetto di compiuta valutazione da parte dell’azienda.
                                </span>
                            </div>
                        </div>
                        <br />
                        <br />
                        @{
                            int supBis = 1;
                        }
                        <br />
                        <hr />
                        @{
                            @*if ( !Model.IncentivazioneWidgetData.IsGiornalista && Model.IncentivazioneWidgetData.Compie62Anni )
                                {
                                    <div class="row">
                                        <span class="rai-font-sm-bold">
                                            <sup>@supBis</sup> Si ricorda che i giornalisti sono esclusi dalla pensione in “quota 100”
                                            non avendo l’INPGI recepito la relativa normativa.
                                        </span>
                                    </div>
                                    supBis++;
                                }*@
                        }

                        @{
                            if (Model.IncentivazioneWidgetData.Compie61Anni)
                            {

                                <div class="row">
                                    <span class="rai-font-sm-bold">
                                        <sup>@supBis</sup> I requisiti minimi per tutti, giornalisti inclusi, sono pari a 67 anni
                                        di età con almeno 20 anni di anzianità assicurativa (dal primo contributo accreditato)
                                        e contributiva (numero di contributi effettivi, di qualunque tipologia).
                                    </span>
                                </div>
                                supBis++;
                                <div class="row">
                                    <span class="rai-font-sm-bold">
                                        <sup>@supBis</sup> I requisiti della pensione anticipata ordinaria per operai,
                                        impiegati e quadri sono di 42 anni e 10 mesi di anzianità assicurativa e contributiva
                                        per gli uomini e 41 anni e 10 mesi per le donne.
                                    </span>
                                </div>
                                supBis++;
                                <div class="row">
                                    <span class="rai-font-sm-bold">
                                        <sup>@supBis</sup> Solo per i giornalisti: i requisiti sono di almeno 62 anni e 5 mesi
                                        di età ed almeno 40 anni e 5 mesi di anzianità assicurativa e contributiva,
                                        salvo per chi ha maturato i vecchi requisiti (62 anni e 35 di contributi;
                                        ovvero 40 anni di contributi a prescindere dall’età; ovvero almeno 57 anni di età e 35
                                        di contributi con penalizzazioni) entro il 31 dicembre 2016).
                                    </span>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <!-- Fine colonna -->
    </div>
</div>
<div class="modal-footer" style="width:100%;height:60px;position:absolute;bottom:0px;text-align:center;border-top:none;">
    <button type="button" class="btn btn-primary" onclick="@(Model.WidgetId)_ConfermaScelta();">Conferma</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
</div>

<script type="text/javascript">


    $('#Scelta1').on('click', function () {
        $('input[id^="Scelta2"]').each(function () {
            $(this).prop('checked', false);
        });
        $('input[id^="Scelta2_"]').each(function () {
            $(this).attr('disabled', 'disabled');
            $(this).prop('checked', false);
        });
    });

    $('#Scelta2').on('click', function () {
        $('#Scelta1').prop('checked', false);
        $('input[id^="Scelta2_"]').each(function () {
            $(this).removeAttr('disabled');
            $(this).prop('checked', false);
        });
    });

    function @(Model.WidgetId)_ConfermaScelta() {
        var almenoUnoSelezionato = $('input[data-check-group="scelta-filter"]:checked').length > 0;

        if (typeof almenoUnoSelezionato === "undefined" ||
            almenoUnoSelezionato == null ||
            almenoUnoSelezionato == "" ||
            almenoUnoSelezionato == false) {
            swal({
                title: 'E\' necessario selezionare una delle opzioni',
                type: 'error',
                confirmButtonClass: "btn btn-primary btn-lg",
                confirmButtonText: 'Ok',
                customClass: 'rai'
            });
            return false;
        }

        var isChecked1 = $('#Scelta1').is(':checked');
        var isChecked2 = $('#Scelta2').is(':checked');
        var dataScadenza = $('#dataScadenza').val();

        if (isChecked2) {
            var almenoUnoSelezionato2 = $('input[id^= "Scelta2_"]:checked').length > 0;
            if (typeof almenoUnoSelezionato2 === "undefined" ||
                almenoUnoSelezionato2 == null ||
                almenoUnoSelezionato2 == "" ||
                almenoUnoSelezionato2 == false) {
                swal({
                    title: 'E\' necessario selezionare almeno una delle sottovoci',
                    type: 'error',
                    confirmButtonClass: "btn btn-primary btn-lg",
                    confirmButtonText: 'Ok',
                    customClass: 'rai'
                });

                return false;
            }
        }

        if (dataScadenza == "") {
            swal({
                title: 'E\' necessario selezionare la data',
                type: 'error',
                confirmButtonClass: "btn btn-primary btn-lg",
                confirmButtonText: 'Ok',
                customClass: 'rai'
            });
            return false;
        }

       swal({
            title: 'Conferma selezione',
            html: "<br><p class='rai-font-md'>Sicuro di voler continuare?</p><p class='rai-font-md'>Si ricorda che non è possibile modificare la scelta.</p>",
            showCancelButton: true,
            confirmButtonClass: "btn btn-primary btn-lg",
            confirmButtonText: "Si",
            cancelButtonClass: "btn btn-secondary btn-lg",
            cancelButtonText: "No",
            closeOnConfirm: true,
            customClass: 'rai',
            reverseButtons: true
        }).then(function () {
            var selezione = "";
            $('input[data-check-group="scelta-filter"]:checked').each(function () {
                selezione += $(this).val() + ";";
            });

            $.ajax({
                url: '@Url.Action("SalvaIncentivazione012021", "Moduli")',
                type: "POST",
                dataType: "html",
                data: {
                    scelta: selezione,
                    dateSelezionate: dataScadenza
                },
                success: function (data) {
                    switch (data) {
                        case "OK":
                            $('#@(Model.WidgetId)_ChiudiModale').click();
                            $.ajax({
                                type: "POST",
                                cache: false,
                                async: false,
                                contentType: "application/json; charset=utf-8",
                                dataType: 'html',
                                url: '@Url.Action( "RicaricaWidgetIncentivazione012021" , "Moduli")',
                                success: function (data) {
                                    $('#ContainerDiv_WdgIncentivazione012021').html(data);
                                },
                                error: function (parm1, parm2, parm3) {
                                }
                            });
                            swal({
                                title: 'Modulo compilato con successo',
                                type: 'success',
                                confirmButtonClass: "btn btn-primary btn-lg",
                                showConfirmButton: true,
                                confirmButtonText: 'Ok',
                                customClass: 'rai'
                            });
                            break;
                        default:
                            swal({
                                title: data,
                                type: 'error',
                                confirmButtonClass: "btn btn-primary btn-lg",
                                confirmButtonText: 'Ok',
                                customClass: 'rai'
                            });
                            break;
                    }
                },
                error: function (parm1, parm2, parm3) {
                }
            });
        });
    }
</script>