@using myRaiCommonModel

@model ModuloVM

<div class="block block-themed block-transparent remove-margin-b">
    <div class="block-header">
        <label class="rai-font-modal-heading">
            MODULO ACCORDO SMART WORKING
        </label>
        <div class="block-options">
            <button id="@(Model.WidgetId)_ChiudiModale" data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>

    <div class="row no-margin-left-right">
        <!-- Colonna -->
        <div class="col-sm-12 no-pad-left no-pad-right border-right ">
            <div class="block-content block-content-full boxdate" style="margin-bottom: 0px; padding-bottom:5px; overflow-y: auto; height: 80vh">
                <div class="row">
                    <div class="col-xs-12" id="modulo-content-body" style="margin-left:5%; width:90%;">
                        <br />
                        <div class="row">
                            <p class="rai-font-text-heading">
                                Dopo una prima fase emergenziale, in ragione del miglioramento della situazione sanitaria sul piano nazionale e nella prospettiva di garantire la graduale e piena ripresa dell’attività produttiva,
                                l’Azienda sta realizzando un graduale, progressivo e sicuro rientro del personale presso le sedi di appartenenza, sempre nel più assoluto rispetto delle disposizioni vigenti in materia di sicurezza dei luoghi di lavoro.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                Il <b>15 ottobre p.v.</b> avrà termine, salvo proroga, lo stato di emergenza,
                                in forza del quale i datori di lavoro hanno potuto collocare il personale
                                in <i>smart working</i> sulla base di una semplice comunicazione unilaterale al singolo lavoratore.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                Visto l’attuale contesto sanitario, l’Azienda ritiene comunque ancora essenziale
                                continuare a ricorrere a tale modalità di svolgimento della prestazione lavorativa
                                come misura di prevenzione del contagio da COVID – 19, così da poter attuare il
                                necessario distanziamento all’interno dei locali aziendali, dovendo l’attività
                                produttiva svolgersi nel pieno rispetto della disciplina in materia di salute e
                                sicurezza sui luoghi di lavoro.
                            </p>

                            @{
                                string dataOra = Model.DataCompilazione.GetValueOrDefault( ).ToString( "dd/MM/yyyy HH:mm:ss" );
                                if ( Model.Scelta1 )
                                {
                                    <p class="rai-font-text-heading text-justify">
                                        Ciò premesso e considerando, altresì, che, in base alla disciplina ordinaria
                                        in materia, il ricorso al lavoro agile risulta subordinato alla conclusione
                                        di un accordo individuale con il singolo dipendente interessato, ai sensi dell’art. 18
                                        della legge 22 maggio 2017, n. 81, <b>ha accettato in data @(dataOra) di rendere la Sua attività lavorativa in regime di <i>smart working</i> dal 16 ottobre 2020 fino al 31 gennaio 2021</b>,
                                        salve ulteriori proroghe che potranno esserLe comunicate successivamente.
                                    </p>
                                }
                                else
                                {
                                    <p class="rai-font-text-heading text-justify">
                                        Ciò premesso e considerando, altresì, che, in base alla disciplina ordinaria
                                        in materia, il ricorso al lavoro agile risulta subordinato alla conclusione
                                        di un accordo individuale con il singolo dipendente interessato, ai sensi dell’art. 18
                                        della legge 22 maggio 2017, n. 81, <b>ha rifiutato in data @(dataOra) di rendere la Sua attività lavorativa in regime di <i>smart working</i> dal 16 ottobre 2020 fino al 31 gennaio 2021</b>,
                                        salve ulteriori proroghe che potranno esserLe comunicate successivamente.
                                    </p>
                                }
                            }

                            <p class="rai-font-text-heading text-justify">
                                Le forme, le modalità e l'articolazione della prestazione, determinate in forza
                                delle esigenze organizzative e produttive manifestate dalla Sua Struttura/Direzione
                                di appartenenza, restano quelle già in essere ovvero Le saranno comunicate con
                                anticipo in caso di loro eventuale modifica oppure in caso di prima collocazione o
                                successiva ricollocazione in <i>smart working</i>.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                Fatta peraltro salva l’ipotesi di <i>smart working</i> continuativo - relativo
                                cioè alla prestazione “da remoto” per l’intero orario di lavoro settimanale -,
                                anche legata a particolari condizioni del lavoratore oggetto di specifica tutela,
                                laddove, in relazione alle esigenze organizzative e produttive della struttura/Direzione
                                di appartenenza, sia necessaria un’alternanza tra attività lavorativa “in presenza” ed
                                attività “da remoto” su base settimanale/plurisettimanale, ecc., tale alternanza, così
                                come pianificata dal Responsabile di riferimento, sarà comunicata al singolo dipendente
                                con preavviso a mezzo e-mail, non appena disponibile la relativa programmazione.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                È, in generale, confermata la possibilità, durante lo <i>smart working</i>,
                                sempre nel rispetto delle norme in materia distanziamento sui luoghi di
                                lavoro e delle altre misure di prevenzione, di chiamare comunque il lavoratore
                                a rendere la prestazione “in presenza”, a fronte di sopravvenute esigenze lavorative,
                                da parte del Responsabile di riferimento, anche in giornate diverse da quelle pianificate;
                                le eventuali giornate che possano richiedere la prestazione “in presenza” saranno
                                rese note con preavviso.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                L’attività lavorativa da remoto potrà essere svolta presso l’abitazione
                                del dipendente ovvero altro luogo dallo stesso ritenuto idoneo, con le
                                dovute cautele ed accortezze necessarie in questa fase ancora emergenziale.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                Per quanto concerne la disciplina applicabile alla prestazione in regime
                                di <i>smart working</i>, si rimanda, oltre che agli artt. 18 e ss. Legge 22 maggio 2017, n. 81,
                                all’apposito Regolamento disponibile nell’intranet aziendale, che abbiamo provveduto
                                ad aggiornare in alcuni passaggi, alla luce delle sopravvenute novità normative,
                                lo scorso luglio. Cogliamo, altresì, l’occasione per ribadire la necessità di
                                costante consultazione della apposita sezione di RAI Place dedicata allo <i>smart working</i>,
                                anche sotto i profili relativi alla salute e sicurezza, ricordando che, in quella sezione,
                                è possibile trovare tutta la documentazione aziendale allo scopo rilevante ed i
                                supporti tecnici necessari.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                L’Azienda si riserva, in generale, la possibilità di far cessare anticipatamente
                                lo <i>smart working</i> rispetto alla data comunicata - dandone adeguato preavviso -,
                                a fronte di esigenze produttive e organizzative che richiedano, in modo costante,
                                lo svolgimento della prestazione lavorativa “in presenza”.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                Resta fermo che, laddove venga prorogato lo stato di emergenza, ai sensi
                                dell’art. 90 del D.L. n. 34/2020, convertito nella L. n. 77/2020,
                                la presente proposta cesserà di avere efficacia e l’Azienda potrà esercitare
                                la facoltà di disporre in via unilaterale la proroga o la collocazione in <i>smart working</i>.
                            </p>

                            <p class="rai-font-text-heading text-justify">
                                Da ultimo, rammentiamo che il lavoratore in <i>smart working</i> è comunque tenuto alla fruizione
                                delle ferie secondo la pianificazione a suo tempo presentata ed approvata dal Responsabile.
                            </p>

                            @{
                                if ( Model.Scelta1 )
                                {
                                    <p class="rai-font-text-heading text-justify">
                                        La mancata adesione, nel termine e nelle forme sopra indicate, sarà considerata
                                        quale tacito rifiuto della proposta medesima e pertanto Lei sarà tenuto a rendere
                                        la prestazione “in presenza” per tutto il suo normale orario settimanale fin
                                        dal 16 ottobre p.v., salvo che non stia fruendo di ferie o di altre causali giustificative
                                        di assenza, e sarà chiamato alla scrupolosa osservanza di tutte le disposizioni in materia
                                        di prevenzione del contagio da Covid-19 in vigore in ciascun insediamento aziendale.
                                        Ove non lo avesse già fatto, è invitato dunque a prendere visione su RAI Place del documento
                                        “Emergenza Coronavirus – Regole di comportamento per i lavoratori” e del documento
                                        “Gestione dei casi positivi, sospetti, guariti – Percorsi operativi”.
                                    </p>
                                }
                                else
                                {
                                    <p class="rai-font-text-heading text-justify">
                                        Avendo rifiutato la proposta aziendale di rendere la sua attività lavorativa in regime di smart working in data @(dataOra)
                                        Lei è tenuto a rendere la prestazione “in presenza” per tutto il suo normale orario settimanale
                                        fin dal 16 ottobre p.v., salvo che non stia fruendo delle ferie o di altre causali giustificative di assenza, 
                                        ed è chiamato alla scrupolosa osservanza di tutte le disposizioni in materia di prevenzione dal contagio 
                                        Covid-19 in vigore in ciascun insediamento aziendale.
                                        Ove non lo avesse già fatto, è invitato a prendere visione su RAI Place del documento “Emergenza Coronavirus – Regole di comportamento per i lavoratori” e del documento “Procedure per la gestione dei casi positivi o sospetti”.
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fine colonna -->
    </div>
</div>
<div class="modal-footer" style="width:100%;height:60px;position:absolute;bottom:0px;text-align:center;border-top:none;">
    <button type="button" class="btn rai-btn-secondary" data-dismiss="modal" style="min-height:32px; padding: 6px 12px;">Chiudi</button>
</div>

<script type="text/javascript">

    function AccettaRifiuta(azione) {

        var messaggio = "Sicuro di voler continuare?<br>Si ricorda che non è possibile modificare la scelta.";

        swal({
            title: 'Conferma selezione',
            html:
                '<div id="swal2-content" class="swal2-content" style="display: block;">' + messaggio + '</div>' +
                '<br>' +
                '<div class="rai-btn-fill">'+
                '<a id="btnConferma" class="btn rai-btn-primary full-width" style="padding: 12px 6px;">Si</a>' +
                '<a id="btnNo" class="btn rai-btn-secondary full-width">No</a>' +
                '</div> ' +
                '<button type="button" class="swal2-confirm btn btn-primary btn-lg" style="display: none;">Salva</button>' +
                '<button type="button" class="swal2-cancel" style="display: none;">Cancel</button>' +
                '<span class="swal2-close" style="display: none;">×</span>',
            showCloseButton: false,
            showCancelButton: false,
            showConfirmButton: false,
            confirmButtonText: 'Salva',
            confirmButtonClass: 'btn btn-primary btn-lg',
            buttonsStyling: false,
        });

        $('#btnNo').on('click', function () {
            $('button[type="button"][class="swal2-cancel"]').click();
        });

        $('#btnConferma').on('click', function () {
            $.ajax({
                url: '@Url.Action("SalvaSceltaProroga", "Moduli")',
                type: "POST",
                dataType: "html",
                data: {
                    scelta: azione
                },
                success: function (data) {
                    switch (data) {
                        case "OK":
                            $('#@(Model.WidgetId)_ChiudiModale').click();
                            $.ajax({
                                type: "POST",
                                cache: false,
                                async: false,
                                contentType: "application/json; charset=utf-8",
                                dataType: 'html',
                                url: '@Url.Action( "RicaricaProrogaSWWidget" , "Moduli")',
                                success: function (data) {
                                    $('#ContainerDiv_WdgProrogaSmartWorking').html(data);
                                },
                                error: function (parm1, parm2, parm3) {
                                }
                            });
                            swal('PROROGA PER L’ESERCIZIO DEL DIRITTO ALLO SMART WORKING', "Modulo compilato con successo", "success");
                            break;
                        default:
                            swal("Oops...", data, 'error');
                            break;
                    }
                },
                error: function (parm1, parm2, parm3) {
                }
            });

        });
    }
</script>