@model myRaiData.MyRai_FormDomande
 
<div class="row">
        <div class="col-sm-12">
            @foreach (var item in Model.MyRai_FormRispostePossibili)
            { 
                <div class="rai-checkbox">
                    <input type="checkbox" 
                        @if (Model.max_scelte != null && Model.max_scelte != 0)
                        {
                            @:data-maxscelte="@Model.max_scelte" onchange="checkMaxScelte(this)"
                        }
                        @(Model.obbligatoria ? "required" : "") 
                        data-text="@item.item_risposta"
                        id="checkbox-@item.id" 
                                              
                        name="dom-id-@Model.id" value="risp-id-@item.id" aria-labelledby="item-risposta-@item.id">
                    <label for="checkbox-@item.id" id="item-risposta-@item.id">@item.item_risposta</label>
                </div>
            }
            @if (Model.permetti_altro)
            {
                <div class="rai-checkbox">
                    <input type="checkbox" id="checkbox-altro-@Model.id" name="dom-id-@Model.id" value="" 
                        class="checkbox-altro" aria-label="Altro">
                    <label for="checkbox-altro-@Model.id">Altro</label>
                    <input id="tb-altro-@Model.id" type="text" class="form-control textbox-altro" 
                            @if (Model.max_scelte != null && Model.max_scelte != 0)
                        {
                            @:data-maxscelte="@Model.max_scelte" onchange="checkMaxScelte(this)"
                        }
                                name="dom-id-@Model.id-altro" required disabled="disabled"
                            style="width:70%;display:none" />
                </div>
                                       
            }
        </div>
    </div>
