@using myRaiCommonModel
@model List<SpeseProduzioneViewModel>
@{
   
    var ant = "";


}
@if (Model.Count() == 0)
{
    @Html.Partial("~/Views/Shared/_NoDatidiv.cshtml")
}  
else
{

    foreach (var item in Model)
    {
        using (Html.BeginModal("Foglio Spese numero " + item.Id_FoglioSpese))
        {
            <div class="row">
                <div class="col-sm-12">
                    @if (item.SenzaAnticipo)
                    {
                        ant = "con anticipo";
                    }
                    else
                    {
                        ant = "senza anticipo";
                    }
                    <div id="" class="panel rai">
                        <div class="panel-heading">
                            <label class="rai-font-table-heading">DATI GENERALI</label>
                        </div>
                        <div class="panel-body">
                            <div id="">
                                <div class="rai-table-info">
                                    <div class="row" id="">
                                        <div class="col-xs-5"><span>Foglio Spese n </span></div>
                                        <div class="col-xs-7"><span>@(item.Id_FoglioSpese)</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5"><span>WBS</span></div>
                                        <div class="col-xs-7"><span>@(item.WBS) - @(item.Titolo)</span></div>
                                    </div>
                                    <div class="row" id="">
                                        <div class="col-xs-5"><span>Periodo </span></div>
                                        <div class="col-xs-7"><span>Dal @(item.Periodo_Dal.Date.ToShortDateString())- Al @(item.Periodo_Al.Date.ToShortDateString())</span></div>
                                    </div>
                                    <div class="row" id="">
                                        <div class="col-xs-5"><span>Destinazione </span></div>
                                        <div class="col-xs-7"><span>@item.Località</span></div>
                                    </div>
                                    <div class="row" id="">
                                        @if (item.TipoTarghetta.Equals("DI"))
                                        {

                                        }
                                        else
                                        {
                                            <div class="col-xs-5"><span>Fase della lavorazione </span></div>

                                            <div class="col-xs-7"><span>@(item.TipoTarghetta == "CO" ? "In contabilità" : item.TipoTarghetta == "SE" ? "In segreteria" : item.TipoTarghetta == "PE" ? "All'ufficio del personale" : "")</span></div>
                                        }
                                    </div>
                                    @*<div class="row" id="">
                                            <div class="col-xs-5"><span>Tipo FSP </span></div>
                                            <div class="col-xs-7"><span>@item.Tipo  @ant</span></div>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-xs-5"><span>Data consegna rendiconto </span></div>
                                        <div class="col-xs-7"><span>@item.DataConsegna </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5"><span>Procuratore anticipo</span></div>
                                        <div class="col-xs-7"><span>@item.ProcuratoreAnticipo </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5"><span>Procuratore rendiconto</span></div>
                                        @if (string.IsNullOrEmpty(item.ProcuratoreRendiconto))
                                        {
                                            <div class="col-xs-7"><span>@item.ProcuratoreAnticipo </span></div>
                                        }
                                        else
                                        {
                                            <div class="col-xs-7"><span>@item.ProcuratoreRendiconto </span></div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                   <!--Another partial-->
                    <div id="dettaglioSpese">

                    </div>
              
                </div>
            </div>
        }
    }
}
