@using myRai.Business
@using myRaiHelper

@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<style>
    .section-bottom {
        height: 0px;
    }
</style>
<input id="page" type="hidden" value="1" />
<input id="size" type="hidden" value="25" />
<script src="@Url.Content("~/assets/js/myRaiV2.js")"></script>

<section role="main" class="content-body">
    <div class="row">
        <div class="col-md-8">
            <section class="rai panel" style="margin-bottom: 50px;">
                <header class="panel-heading">
                    <h2 class="panel-title">Spese produzione</h2>
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblNotifiche" aria-expanded="true"></a>
                    </div>
                </header>
                <div class="block" style="margin-bottom:0px;">
                    <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1" onclick="LoadTabAperta()">
                                Aperte
                            </a>
                        </li>
                        <li class="" role="presentation">
                            <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2" onclick="LoadTabConclusa()">
                                Concluse
                            </a>
                        </li>
                    </ul>
                    <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
                        <div class="tab-pane active" id="tab1" role="tabpanel">
                            <div id="tblContainerSpeseAperte">
                                <div class="panel-body  panel-body-nopadding" id="">
                                    <div id="sez_FoglioSpese">
                                        <table class="rai-table rai-loader table trasferte" id="table_FSpeseAperte">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-5" style=" line-height:14px;">Foglio spese</th>
                                                    <th class="col-xs-2" style=" line-height:14px;">Anticipo</th>
                                                    <th class="col-xs-3" style="padding-bottom: 20px; line-height:14px;">Spese<br />Rendicontate</th>
                                                    <th class="col-xs-3" style=" line-height:14px;">Saldo</th>
                                                    <th class="col-xs-0 text-right" style="padding-bottom: 0px; line-height:14px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="speseAperte"></tbody>
                                        </table>

                                        <div class="text-center">
                                            <i id="divCaricamentoInCorsoAltreSpeseAperte" class="rai-loader" style="height:50px;display:none;"></i>
                                        </div>
                                        <div class="section-bottom">
                                            <a href="" style="top:20px; display:none;" id="btnAltreSpeseAperte" data-tourdb="tour-index-arrowdown" onclick="LoadAperteNext()" data-step="7" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Quando trovi questo simbolo puoi espandere la sezione. Ci sono altre trasferte che non vedi dalla pagina principale.</p>" data-toggle="collapse" data-target="" class="apri-panel"><i class="fa fa-2x push-7-t font-w600 fa-angle-down text-white" style="display:none;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2" role="tabpanel">
                            <div id="tblContainerSpeseChiuse">
                                <div class="panel-body  panel-body-nopadding" id="">
                                    <div id="sez_FoglioSpese">
                                        <table class="rai-table rai-loader table trasferte" id="table_FSpeseChiuse">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-5" style=" line-height:14px;">Foglio spese</th>
                                                    <th class="col-xs-2" style=" line-height:14px;">Anticipo</th>
                                                    <th class="col-xs-3" style="padding-bottom: 20px; line-height:14px;">Spese<br />Rendicontate</th>
                                                    <th class="col-xs-3" style=" line-height:14px;">Saldo</th>
                                                    <th class="col-xs-0 text-right" style="padding-bottom: 0px; line-height:14px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="speseChiuse"></tbody>
                                        </table>
                                        <div id="trAltreSpeseChiuse" class="text-center">
                                            <div class="section-bottom">
                                                <i id="divCaricamentoInCorsoAltreSpeseChiuse" class="rai-loader" style="height:50px; display:none;"></i>
                                                <a href="" id="btnAltreSpeseChiuse" style="top:20px;display:none;" data-tourdb="tour-index-arrowdown" onclick="LoadConcluseNext()" data-step="7" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Quando trovi questo simbolo puoi espandere la sezione. Ci sono altre trasferte che non vedi dalla pagina principale.</p>" data-toggle="collapse" data-target="" class="apri-panel"><i class="fa fa-2x push-7-t font-w600 fa-angle-down text-white"></i></a>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>


        <div class="col-md-4" id="sez_Ricerca">
            @*@Html.RenderWidget(WidgetType.Normal, "Inserimento documento", "fa-fa-doc", "Aggiungi documento", action: new ActionTemplate() { OnClick = "aggiungiDoc()", Text = "Aggiungi" })*@

            <section class="rai panel" id="panelRicercaFoglioSpese">
                <header class="panel-heading">
                    <h2 class="panel-title">Ricerca Foglio spese</h2>
                </header>
                <div class="panel-body">
                    <form id="formCercaFoglioSpese">
                        <div class="rai form-group">
                            <div class="row no-margin-left-right">
                                <div class="params col-md-12">
                                    <p style="margin:0 0 -1px">
                                        <label class="rai-caption" for="selectStato">Stato</label>
                                    </p>
                                    <div class="dropdown">
                                        <select id="selectStato" class="form-control form-control-sm">
                                            <option value="">- Seleziona uno stato -</option>
                                            @foreach (var item in ViewBag.ListaStati)
                                            {
                                                if (item.MA_Stato.Equals("A"))
                                                {
                                                    <option value='@item'>In Sospeso</option>
                                                }
                                                else if (item.MA_Stato.Equals("C"))
                                                {
                                                    <option value='@item'>Contabilizzato</option>
                                                }
                                                else if (item.MA_Stato.Equals("K"))
                                                {
                                                    <option value='@item'>Anticipo incassato</option>
                                                }
                                                else if (item.MA_Stato.Equals("X"))
                                                {
                                                    <option value='@item'>Annullato</option>

                                                }
                                                else
                                                {
                                                    <option style="display:none"></option>
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row no-margin-left-right">
                                <div class="params col-md-12">
                                    <p style="margin:0 0 -1px">
                                        <label class="rai-caption" for="selectStato">Numero FSP</label>
                                    </p>
                                    <input type="number" class="form-control" id="numero_fsp" name="numero_fsp" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6" @*style="padding-top: 16px;padding-left: 4px;padding-right: 0px;"*@>
                                    <label class="rai-caption">Dal</label>
                                    <div class="input-group mb-md">
                                        <span onclick="$('#datadal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                        <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datadal" name="datadal" placeholder="Dal">
                                    </div>
                                </div>
                                <div class="col-sm-6" @*style="padding-top: 16px;padding-left: 4px;padding-right: 0px;"*@>
                                    <label class="rai-caption">Al</label>
                                    <div class="input-group mb-md">
                                        <span onclick="$('#dataal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                        <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="rai-btn-fill">
                                    <input type="button" id="btnResetFoglioSpese" class="btn rai-btn-secondary" title="Ripristina" value="Ripristina" onclick="LoadAperte()" />
                                    <input type="button" id="btnCercaFoglioSpese" class="btn rai-btn-primary" title="Cerca" value="Cerca" onclick="LoadSpeseProduzioneFilter();" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="rai panel" id="RiepilogoFoglioSpese">
                <header class="panel-heading">
                    <h2 class="panel-title">Riepilogo foglio spese</h2>
                </header>
                <div class="rai-loader panel-body" id="get_RiepiogoMEseCorrente">
                    &nbsp;
                </div>
            </section>
        </div>
    </div>
</section>
@Html.RenderModal("AggiungiDocumento", ModalPosition.Right, ModalSize.Half)




@Html.RenderModal("DettaglioFoglioSpese", ModalPosition.Right, ModalSize.Half)
@section afterjs{
    <script type="text/javascript">
@Html.Raw(TempData["script"])
    var tipoTarghetta = $('#tipoTarghetta').text();
    var pageIndexAperta = 1;
    var pageIndexConclusa = 1;
    $(function () {
        $('#divCaricamentoInCorsoRiepilogo').show();
        getRiepilogo();
        LoadAperte();
    });



        function aggiungiDoc() {
            RaiOpenAsyncModal("modal-AggiungiDocumento",'@Url.Action("AggiungiDocumento", "SpeseProduzione")' , null);
        }
    function getRiepilogo() {
            $.ajax({
                data: {},
                url: '@Url.Action("GetRiepilogoImportoMeseCorrente", "SpeseProduzione")',
                type: "GET",
                success: function (data) {
                    $('#get_RiepiogoMEseCorrente').html(data);
                },
                error: function (e) {
                    console.log(e);
                },
                complete: function () {
                    $('#get_RiepiogoMEseCorrente').removeClass('rai-loader');
                }
            });
        }
    function LoadTabAperta() {
        $('#table_FSpeseAperte').addClass('rai-loader');
        $('#speseAperte').html(" ");
        pageIndexAperta = 1;
        LoadAperte(pageIndexAperta)
    }
    function LoadTabConclusa() {
        $('#table_FSpeseAperte').addClass('rai-loader');
        $('#speseChiuse').html(" ");
        pageIndexConclusa= 1;
        LoadConcluse(pageIndexConclusa)
    }
    function LoadAperte(pageIndex) {
        $('#formCercaFoglioSpese').resetForm();
        $('#speseAperte').html(' ');
        if (!pageIndex)
            pageIndex = pageIndexAperta
        LoadSpeseProduzione(true,pageIndex);
    }
    function LoadAperteNext() {
        pageIndexAperta++;
        LoadSpeseProduzione(true,pageIndexAperta);
    }
    function LoadConcluse(pageIndex) {
        if (!pageIndex)
            pageIndex = pageIndexConclusa
        console.log("chiuse");
        LoadSpeseProduzione(false,pageIndex);
    }
    function LoadConcluseNext() {
        pageIndexConclusa++;
        LoadSpeseProduzione(false,pageIndexConclusa);
    }
    function LoadSpeseProduzioneFilter() {

        if (($('#datadal').val()).length === 0 || ($('#dataal').val()).length === 0 && ($('#selectStato option:selected').val()).length === 0 && ($('#numero_fsp').val().length ===0)) {
            swal("Filtri assenti", 'Per procedere con la ricerca è necessario inserire il filtro delle date.', 'info')
            document.getElementById("dataal").style = "border : 1px solid red";
            document.getElementById("datadal").style = "border : 1px solid red";
            return false;
        }
        document.getElementById("dataal").style = "border: 1px solid #ccc";
        document.getElementById("datadal").style = "border : 1px solid #ccc";
        if ($("#tab1").hasClass("active")) {
            pageIndex = pageIndexAperta;
            $('#speseAperte').html(" ");
            $('#table_FSpeseAperte').addClass("rai-loader");
        } else {
            pageIndex = pageIndexConclusa;
            $('#speseChiuse').html(" ");
            $('#table_FSpeseChiuse').addClass("rai-loader");
        }
        LoadSpeseProduzione($("#tab1").hasClass("active"), pageIndex);
    }
        function LoadSpeseProduzione(isAperte, pageIndex) {
            $.ajax({
                url: '@Url.Action("LoadTableSpese","SpeseProduzione")',
                data: {
                    isAperte: isAperte,
                    page: pageIndex,
                    datadal: $('#datadal').val(),
                    dataal: $('#dataal').val(),
                    stato: $('#selectStato option:selected').val(),
                    idFSP: $('#numero_fsp').val(),
                },
                type: "POST",
                success: function (data) {
                    if (isAperte) {

                        $('#table_FSpeseAperte').removeClass('rai-loader');
                        $('#divCaricamentoInCorsoAltreSpeseAperte').hide();
                        $('#divCaricamentoInCorso').hide();
                        $('#speseAperte').append(data);
                    }
                    else {

                        $('#table_FSpeseChiuse').removeClass('rai-loader');
                        $('#divCaricamentoInCorso').hide();
                        $('#divCaricamentoInCorsoAltreSpeseChiuse').hide();
                        $('#speseChiuse').append(data);
                    }
                },
                error: function (e) {
                    console.log(e);
                },

        } );
        }

        function openModalDettaglioFoglioSpese(id, anticipo, rendiconto) {
            console.log(anticipo, rendiconto);
            RaiOpenAsyncModal('modal-DettaglioFoglioSpese', '@Url.Action("GetDettaglioFoglioSpese", "SpeseProduzione")', { id_FoglioSpese: id, isAperte: $("#tab1").hasClass("active") }, function () {
                $.ajax({
                    url: '@Url.Action("GetDescrizioneModalDettaglio","SpeseProduzione")',
                    data: { id_FoglioSpese: id },
                    success: function (data) {

                        console.log(data);
                        $('#dettaglioSpese').html(data);
                    }

                });
            });
    }
    </script>
}
