@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;

@model CalendarioCorsi

<div id="div-cal" style="width: 100%" data-async="/raiacademy/getcalendario">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblCalendario" tabindex="0" aria-expanded="true"></a>
            </div>
            <h2 class="panel-title" id="lblCalendario">Il mio calendario</h2>
        </header>

        <div class="panel-body" data-currentmonth="@Model.Mese" data-currentyear="@Model.Anno">
            <div class="text-center row" id="calendarmensa">
                <div class="col-xs-12">

                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            @if ( Model.ShowPreviousButton )
                            {
                                <a href="javascript:ShowCalCorsi(@Model.MesePrev, @Model.AnnoPrev)">
                                    <span style="font-size: 10px; margin-top:15px;" class="glyphicon glyphicon-triangle-left  text-primary text-muted"></span>
                                </a>
                            }
                        </div>
                        <div class="col-xs-8">
                            <h4 class="text-primary text-center">
                                <span id="cal-mese">@CommonHelper.ToTitleCase( Model.MeseCorrente )</span>
                                <span style="display:none" id="cal-wait"><i class="fa fa-spinner fa-spin"></i> Attendi</span>
                            </h4>
                        </div>
                        <div class="col-xs-2" style="text-align: left">
                            @if ( Model.ShowNextButton )
                            {
                                <a href="javascript:ShowCalCorsi(@Model.MeseNext, @Model.AnnoNext)" style="margin-top:20px;">
                                    <span style="font-size: 10px; margin-top:15px;" class="glyphicon glyphicon-triangle-right  text-primary text-muted"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="divday">Lun</div>
                <div class="divday">Mar</div>
                <div class="divday">Mer</div>
                <div class="divday">Gio</div>
                <div class="divday">Ven</div>
                <div class="divday">Sab</div>
                <div class="divday">Dom</div>

                @foreach ( var d in Model.DaysShowed )
                {
                    <div class="divday-cont">
                        <span class="span-day @(!d.isCurrentMonth?"cal-other-month":"")">
                            @if ( d.isCurrentMonth )
                            {
                                <b> @d.giorno.Day</b>
                            }
                            else
                            {
                                @d.giorno.Day
                            }

                        </span>

                        @if ( d.Frazione == 0 )
                        {
                            <pie class="pie-cal @(d.Stato==AppuntamentoStato.DaApprovare?"stato-da-approv":"") academy-white-tooltip" data-toggle="tooltip" data-html="true" title="@d.Tooltip"></pie>
                        }
                        @if ( d.Frazione == 50 )
                        {
                            <pie class="pie-cal fifty @(d.Stato==AppuntamentoStato.DaApprovare?"stato-da-approv":"") academy-white-tooltip" data-toggle="tooltip" title="@d.Tooltip"></pie>
                        }
                        @if ( d.Frazione == 100 )
                        {
                            <pie class="pie-cal full @(d.Stato==AppuntamentoStato.DaApprovare?"stato-da-approv":"") academy-white-tooltip" data-toggle="tooltip" title="@d.Tooltip"></pie>
                        }


                    </div>
                }

            </div>
        </div>

    </section>
</div>