@model myRaiCommonModel.Gestionale.Campagna


@{
    string idForm = "form-modal-campagna";
}



@using (Html.BeginForm("Save_Campagna", "Valutazioni", FormMethod.Post, new { @id = idForm }))
{
    @Html.HiddenFor(m => m.ID);
    @Html.HiddenFor(m => m.ValidStart);
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                @Html.LabelForRequiredObbl(m => m.Name, "Nome", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nome", required = "required" })
                @Html.ValidationMessageFor(m=>m.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.LabelForRequiredObbl(m => m.Description, "Descrizione", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Descrizione", required = "required" })
                @Html.ValidationMessageFor(m=>m.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(m=>m.Tipologia, "Tipologia", new { @class = "rai-caption" })
                @{
                    var listTipologia = new List<SelectListItem>()
                    {
                        new SelectListItem(){Value="",Text="Generica"},
                        new SelectListItem(){Value="MBO",Text="MBO"}
                    };
                }
                @Html.RaiSelectFor(m=>m.Tipologia, listTipologia)
                @Html.ValidationMessageFor(m=>m.Tipologia)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelForRequiredObbl(m => m.DateStart, "Data inizio", new { @class = "rai-caption" })
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer" onclick="$('#_dataStart').datetimepicker('show')"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.DateStart, new { @class = "js-datetimepicker  form-control required-min", data_format = "DD/MM/YYYY", data_locale = "it", id = "_dataStart", placeholder = "Selezionare una data", autocomplete = "off" })
                </div>
                @Html.ValidationMessageFor(m=>m.DateStart)
            </div>
            <div class="col-sm-6">
                @Html.LabelForRequiredObbl(m => m.DateEnd, "Data fine", new { @class = "rai-caption" })
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer" onclick="$('#_dataEnd').datetimepicker('show')"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.DateEnd, new { @class = "js-datetimepicker  form-control required-min", data_format = "DD/MM/YYYY", data_locale = "it", id = "_dataEnd", placeholder = "Selezionare una data", autocomplete = "off" })
                </div>
                @Html.ValidationMessageFor(m=>m.DateEnd)
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="rai-btn-fill">
                <button class="btn rai-btn-primary" onclick="ValSalvaCampagna(this, '@idForm', @Model.ID)">Salva</button>
            </div>
        </div>
    </div>
}


<script language="javascript">
    InitDatePicker();
    //$('#_dataStart').data("DateTimePicker").minDate(moment());
    //$('#_dataEnd').data("DateTimePicker").minDate(moment());
</script>