@using myRaiCommonModel.Gestionale

@model List<Sheet>

@{
    string boxTitle = "Schede di valutazione";
}

@if (Model != null && Model.Count > 0)
{


    <section class="panel" id="panelApriScheda">
        <header class="panel-heading">
            <h2 class="panel-title">@boxTitle</h2>
            <div class="panel-actions ">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
            </div>
        </header>
        <div class="panel-body no-padding" style="">
            <table class="table rai-table rai-table-panel rai-table-vcenter" role="grid" id="TableSheet">
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <div class="rai-group-info">
                                <span class="rai-font-md-bold">@item.Name</span>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-action-container">
                                <a href="#" class="btn btn-action-icon" title="Anteprima" onclick="ValAnteprimaScheda(@item.IdSheet)"><div class="fa fa-eye"></div></a>
                                <a href="#" class="btn btn-action-icon" title="Modifica" onclick="ValModificaScheda(@item.IdSheet)"><div class="fa fa-pencil"></div></a>
                                <a href="#" class="btn btn-action-icon" title="Elimina" onclick="ValCancellaScheda(@item.IdSheet)"><div class="fa fa-trash"></div></a>
                            </div>
                        </td>
                    </tr>

                }

            </table>
        </div>
        <div class="panel-footer">
            <div class="rai-btn-fill">
                <a href="#" class="btn rai-btn-small" onclick="ValCreazioneScheda()">Crea scheda di valutazione</a>
            </div>
        </div>
    </section>
}
else
{ 
    @Html.RenderWidget(myRaiHelper.WidgetType.Normal, boxTitle, "fa fa-pencil", "Crea una nuova scheda", idWidget: "panelApriScheda", action: new myRaiHelper.ActionTemplate() { OnClick = "ValCreazioneScheda()", Text = "Crea scheda" })
}