@using myRaiData.Incentivi
@model XR_HRIS_LOG

@using (Html.BeginModal("Dettaglio log"))
{
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, ""))
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="rai-caption">Data</label><br />
                            <label>@Model.TMS_TIMESTAMP.Value.ToString("dd/MM/yyyy HH:mm:ss")</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="rai-caption">Matricola</label><br />
                            <label>@Model.COD_MATRICOLA</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="rai-caption">Operazione</label><br />
                            <label>@Model.DES_OPERAZIONE</label>
                        </div>
                    </div>
                    <div class="row push-10 push-10-t">
                        <div class="col-sm-12">
                            @Html.RaiCheckBoxLabelFor(m => m.IND_ESITO, "Esito", "")
                        </div>
                    </div>
                    @if (!String.IsNullOrWhiteSpace(Model.NOT_PARAMETRI))
                    {
                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Parametri</label><br />
                                @Html.TextAreaFor(m => m.NOT_PARAMETRI, new { @readonly = "readonly", rows = "5", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.NOT_ERRORE))
                    {
                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Errore</label><br />
                                @Html.TextAreaFor(m => m.NOT_ERRORE, new { @readonly = "readonly", rows = "5", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.NOT_ESITO))
                    {
                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Esito</label><br />
                                @Html.TextAreaFor(m => m.NOT_ESITO, new { @readonly = "readonly", rows = "5", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.NOT_ADDITIONAL_INFO))
                    {
                        string infoAgg = Model.NOT_ADDITIONAL_INFO.StartsWith("*") ? Model.NOT_ADDITIONAL_INFO.Substring(1) : Model.NOT_ADDITIONAL_INFO;
                        if (Model.NOT_ADDITIONAL_INFO.StartsWith("*"))
                        {
                            <div class="row push-10">
                                <div class="col-sm-12">
                                    <div class="rai-checkbox disable">
                                        <input type="checkbox" checked="checked" readonly="readonly" />
                                        <label>Matricola simulata</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-caption">Info aggiuntive</label><br />
                                @Html.TextArea("NOT_ADDITIONAL_INFO", infoAgg, new { @readonly = "readonly", rows = "5", @class = "form-control" })
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}