@using myRaiData.Incentivi
@model List<XR_TSK_TASK>


<div class="block block-content-table block-transparent remove-margin-bottom">
    <div class="block-header">
        <label class="block-title">Elenco</label>
        <div class="block-options">
            <span class="rai-notification">@Model.Count()</span>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-sm-12">
                <div style="overflow:hidden;overflow-y:auto;overflow-x:auto;max-height:500px;padding-right:2px;">
                    <table class="table rai-table rai-table-vcenter table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Tipologia
                                </th>
                                <th>
                                    Sottotipologia
                                </th>
                                <th>
                                    Esito
                                </th>
                                <th class="rai-table-td-action">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    @Html.Partial("_NoDati")
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.OrderByDescending(x => x.DATA_CREAZIONE))
                                {
                                    <tr>
                                        <td class="ws-nowrap" style="width:1%">
                                            @item.DATA_CREAZIONE.ToString("dd/MM/yyyy")
                                            <br />
                                            @item.DATA_CREAZIONE.ToString("HH:mm:ss")
                                        </td>
                                        <td class="ws-nowrap" style="width:1%">@item.COD_TIPOLOGIA</td>
                                        <td class="ws-nowrap" style="width:1%">@item.COD_SOTTOTIPOLOGIA</td>
                                        <td>
                                            @if (item.IND_RUNNING.GetValueOrDefault())
                                            {
                                                <i class="fa fa-comment text-primary"></i>
                                            }
                                            else if (item.IND_ESITO.HasValue)
                                            {
                                                if (item.IND_ESITO.Value)
                                                {
                                                    <i class="fa fa-check feedback-success-color"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-times feedback-error-color"></i>
                                                }
                                            }
                                            else
                                            {
                                                <i class="fa fa-clock-o neutrals-md-40-color"></i>
                                            }
                                        </td>
                                        <td><button class="btn btn-action-icon" onclick="HrisTaskDetail(@item.ID)"><i class="fa fa-search"></i></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  