@using myRaiData.Incentivi
@model List<XR_HRIS_LOG>


<div class="block block-content-table block-transparent remove-margin-bottom">
    <div class="block-header">
        <label class="block-title">Elenco</label>
        <div class="block-options">
            <span class="rai-notification">@Model.Count()</span>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-sm-12">
                <div style="overflow:hidden;overflow-y:auto;overflow-x:auto;max-height:460px;padding-right:2px;">
                    <table class="table rai-table rai-table-vcenter table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Data
                                </th>
                                <th>Operazione</th>
                                <th>
                                    Matricola
                                </th>
                                <th>
                                    Parametri
                                </th>
                                <th class="rai-table-td-action">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    @Html.Partial("_NoDati")
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.OrderByDescending(x => x.TMS_TIMESTAMP))
                                {
                                    <tr>
                                        <td class="ws-nowrap" style="width:1%">
                                            @item.TMS_TIMESTAMP.Value.ToString("dd/MM/yyyy")
                                            <br />
                                            @item.TMS_TIMESTAMP.Value.ToString("HH:mm:ss")
                                        </td>
                                        <td class="ws-nowrap" style="width:1%">@item.DES_OPERAZIONE</td>
                                        <td class="ws-nowrap" style="width:1%">@item.COD_MATRICOLA</td>
                                        <td>
                                            <div style="max-width:25vw;max-height:2rem;text-overflow:ellipsis; overflow:hidden;">
                                                @Html.Raw(item.NOT_PARAMETRI)
                                            </div>
                                        </td>
                                        <td><button class="btn btn-action-icon" onclick="HrisLogDetail(@item.ID_LOG)"><i class="fa fa-search"></i></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  