@using myRaiGestionale.Controllers
@using myRaiDataTalentia
@model HrisSegnFilter

@{
   
}

@using (Ajax.BeginForm("Elenco_Segn", "DashboardController", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnBegin = "$('#hris-segn').addClass('rai-loader');",
    UpdateTargetId = "hris-segn",
    OnSuccess = "$('#hris-segn').removeClass('rai-loader');"
}, new { id = "form-ricerca-segn", @class = "", role = "search" }))
{
    <div class="form-group">
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Ambito, "Ambito", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Ambito, new { @class = "form-control" })
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.MatricolaIns, "Matricola inserimento ", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.MatricolaIns, new { @class = "form-control" })
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Testo, "Testo", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Testo, new { @class = "form-control" })
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.DataDa, "Inserito da", new { @class = "rai-caption" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DataDa, new { @class = "js-datetimepicker  form-control", data_format = "DD/MM/YYYY", data_locale = "it", placeholder = "Inserito da", autocomplete = "off" })
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.DataA, "Inserito a", new { @class = "rai-caption" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DataA, new { @class = "js-datetimepicker  form-control", data_format = "DD/MM/YYYY", data_locale = "it", placeholder = "Inserito a", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row form-button">
            <div class="col-sm-12 rai-btn-fill">
                <input type="reset" class="btn rai-btn-secondary" />
                <input type="submit" class="btn rai-btn-primary" value="Cerca"/>
            </div>
        </div>
    </div>
}
