@using myRaiGestionale.Controllers
@using myRaiData.Incentivi
@model HrisLogFilter

@{ 
    IncentiviEntities db = new IncentiviEntities();
    List<SelectListItem> list = new List<SelectListItem>()
    {
        new SelectListItem(){Value="",Text="Tutte"}
    };
    list.AddRange(db.XR_HRIS_LOG.Select(x => x.DES_OPERAZIONE).Distinct().OrderBy(x=>x).Select(x=>new SelectListItem() { Value = x, Text = x }));
}

@using (Ajax.BeginForm("Elenco_Log", "DashboardController", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnBegin = "$('#hris-log').addClass('rai-loader');",
    UpdateTargetId = "hris-log",
    OnSuccess = "$('#hris-log').removeClass('rai-loader');"
}, new { id = "form-ricerca-log", @class = "", role = "search" }))
{
    <div class="form-group">
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Operazione, "Operazione", new { @class = "rai-caption" })
                @Html.RaiSelectFor(m=>m.Operazione, list)
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Matricola, "Matricola", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Matricola, new { @class = "form-control" })
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Parametri, "Parametri", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Parametri, new { @class = "form-control" })
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Errore, "Errore", new { @class = "rai-caption" })
                @Html.TextBoxFor(m => m.Errore, new { @class = "form-control" })
            </div>
        </div>
        <div class="row push-10">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.DataDa, "Periodo da", new { @class = "rai-caption" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DataDa, new { @class = "js-datetimepicker  form-control", data_format = "DD/MM/YYYY", data_locale = "it", placeholder = "Periodo da", autocomplete = "off" })
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.DataA, "Periodo a", new { @class = "rai-caption" })
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DataA, new { @class = "js-datetimepicker  form-control", data_format = "DD/MM/YYYY", data_locale = "it", placeholder = "Periodo a", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row form-button">
            <div class="col-sm-12 rai-btn-fill">
                <input type="reset" class="btn rai-btn-secondary" />
                <input type="submit" class="btn rai-btn-primary" value="Cerca" />
            </div>
        </div>
    </div>
}
