@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model ModelDash

<!-- Icone -->
@{
    ViewBag.Title = "Gestione eventi";
    Layout = "~/Views/Shared/_layoutContent.cshtml";
}

<section role="main" class="content-body">

    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <section class="panel" id="listaEventi">
                        @Html.Partial("../Tabelle/subpartial/listaeventi")
                    </section>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("~/Views/RaiPlace/Eventi/Evento/_ricerca.cshtml", new EventsModel())
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.RenderWidget(WidgetType.Normal, "Nuovo evento", "icons icon-settings", "Da qui puoi inserire un nuovo evento", idWidget:"panelAggiungiEvento",
                           action: new ActionTemplate()
                           {
                               OnClick= "ShowPopUpEvento()",
                               Text="Inserisci evento"
                           })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</section>

@Html.Partial("~/Views/RaiPlace/Eventi/Evento/_nuovoEvento.cshtml", Model)

@Html.Partial("~/Views/RaiPlace/Eventi/Evento/_modificaEvento.cshtml", Model)



