@model myRaiCommonModel.cvModels.cvModel.Formazione

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
}

<form class="js-form2 form-horizontal form-modificaFormazione" action="/CurriculumVitae/ModificaFormazione" method="post">
    @Html.HiddenFor(x => x._matricola)
    @Html.HiddenFor(x => x._prog)
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
              <div class=" block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                <h3 class="block-title">Altra Lingua</h3>
              </div>
              <div class="modal-body" id="edit-content">
    <div class="form-group">
        <!-- Composizione della FORM -->
        <div class="col-md-12"> @*col-md-8 col-sm-offset-2*@
            <div class="">    @*form-material*@
                <div class="push-10">
                    <label for="_corso">Titolo corso</label>
                    <input class="form-control" type="text" id="_corso" name="_corso"  placeholder="Inserire a testo libero il titolo del corso" value="@Model._corso"/>
                </div>
                @Html.ValidationMessageFor(x => x._corso)
                <div class="row">
                    <div>
                        <div class="col-md-6 push-10">
                                <div class="form-material input-group date" style="position: relative">
                                    <label>Anno</label>
                                    <input class="js-datetimepicker form-control" data-format="YYYY" data-locale="it" type="text" id="_anno" name="_anno" placeholder="Selezionare un anno" value="@Model._anno" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            @Html.ValidationMessageFor(x => x._anno)
                        </div>
                        <div class="col-md-6 push-10">
                        <div>
                                <div class="form-material input-group date" style="position: relative">
                                    <label >Durata</label>
                                    <input class="form-control"type="text" id="_durata" name="_durata" placeholder="Inserire a testo libero la durata" value="@Model._durata" />
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row push-10">
                    <div class="col-md-12">
                        <label for="_presso">Nome società o ente erogatore della formazione</label>
                        <input class="form-control" type="text" id="_presso" name="_presso" placeholder="Inserire a testo libero il nome della società" value="@Model._presso"/>
                    </div>
                    @Html.ValidationMessageFor(x => x._presso)
                </div> 
                <div class="push-10">
                    <label for="_localitaStudi">Città</label>
                    <input class="form-control" type="text" id="_localitaCorso" name="_localitaCorso" placeholder="Inserire a testo libero la città dove si è svolto il corso" value="@Model._localitaCorso"/>
                </div>
                <div class="push-10">
                    <label for="_codNazione">Paese</label>
                    <select class="js-select2 form-control"  id="_codNazione" name="_codNazione" style="width: 100%;"  data-placeholder="Selezionare dalla lista">
                        <option></option><!-- necessario per il placeholder con Select2 plugin -->
                        @{
                            var naz = (from nazione in cvEnt.DNazione
                                        orderby nazione.DES_NAZIONE
                                        select nazione).ToList();
                        }
                        @foreach (var elem in naz)
                        {
                            string selected = "";
                            if (Model._codNazione == elem.COD_SIGLANAZIONE)
                            {
                                selected = "selected=\"selected\"";
                            }
                            <option value="@elem.COD_SIGLANAZIONE" @selected>@elem.DES_NAZIONE</option>
                        }
                    </select>
                </div>
                <div class="row push-10">
                    <div class="col-md-12">
                        <label for="_note">Principali competenze acquisite</label>
                        <textarea class="form-control" id="_note" name="_note" rows="5" placeholder="Descrivere sinteticamente le principali competenze acquisite utilizzando al massimo 250 caratteri">@Model._note</textarea>
                    </div>
                    @Html.ValidationMessageFor(x => x._note)
                </div>

            </div>
        </div>
        <!-- fine form -->
    </div> <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
              </div>
                  <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-warning"  data-dismiss="modal" type="button"><i class="fa fa-arrow-circle-o-left"></i> Indietro</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick="submit_modificaFormazione()"><i class="fa fa-check-circle-o"></i> Invia</button> 
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span onclick="ConfermaCancellazione_Formazione('@Model._matricola', '@Model._prog')">Elimina</span></button>
                        </div>
                    </div>
                  </div>
          </div>
        </div>

    </div>

</form>
