@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model WeekPlan

@{Layout = null;}

@if ( Model.Days.Any( x => x.Activities.Count > 0 ) )
{
    <table class="js-table-sections table table-hover rai-table rai-table-vcenter" style="margin-top: -16px" role="grid">
        <thead>
            <tr>
                <th style="width: 10%"></th>
                <th style="width: 15%"></th>
                <th style="width: 45%"></th>
                <th style="width: 25%"></th>
                <th style="width: 5%"></th>
            </tr>
        </thead>

        @foreach ( var day in Model.Days )
        {
            if ( day.Activities.Count > 0 )
            {

                <tbody class="js-table-sections-header" aria-expanded="false">
                    <tr tabindex="0" aria-label="" role="row">
                        <td>
                            <div class="rai-day-card">
                                <div class="rai-day-number">
                                    @day.Date.Day
                                </div>
                                <div class="rai-day-name">
                                    @day.Date.ToString("ddd")
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <label class="rai-font-lg">
                                @day.Date.ToString( "dddd d MMMM" ).TitleCase( ) - @day.Activities.Count attività
                                @{
                                    int countRichPerDay = day.Activities.Sum( x => x.Eccezioni );
                                    if ( countRichPerDay == 1 )
                                    {
                                        <small class="text-italic"> - 1 richiesta</small>
                                    }
                                    else if ( countRichPerDay > 1 )
                                    {
                                        <small class="text-italic"> - @countRichPerDay richieste</small>
                                    }
                                }
                            </label>

                        </td>
                        <td style="width: 40px; padding-top: 15px" class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    @foreach ( var activity in day.Activities )
                    {
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <div class="rai-font-md-neutral">Dalle @activity.StartTime.ToString( @"hh\:mm" ) alle @activity.EndTime.ToString( @"hh\:mm" )</div>
                                <div style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;"><a href="javascript:ShowPopup('', '', '@day.Date.ToString("dd/MM/yyyy")', '@day.Date.ToString("dd/MM/yyyy")', true, true, null)">@activity.MainActivity - @activity.Title</a></div>
                                <div class="rai-font-sm-neutral">@activity.Location</div>
                                @if ( !String.IsNullOrWhiteSpace( activity.Note ) )
                                {
                                    <div class="rai-font-sm">Note: @activity.Note</div>
                                }
                                @if ( activity.Eccezioni == 1 )
                                {
                                    <div class="rai-font-sm">Hai 1 richiesta</div>
                                }
                                else if ( activity.Eccezioni > 1 )
                                {
                                    <div class="rai-font-sm">Hai @activity.Eccezioni richieste</div>
                                }
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            }
        }
    </table>
}
else
{
    <h4 style="text-align:center;">Nessun attività programmata</h4>
}