@model myRaiCommonModel.TEtabModel

<div>
    <div class="panel-body  panel-body-nopadding" id="">
        <div>
            <div class="table-responsive">
                
                    @if (!Model.ListaRichieste.Any())
                    {
                        <div style="text-align:center;margin-bottom:12px">
                            <span class="rai-font-md-neutral-bold">Nessun dato da visualizzare</span>
                        </div>
                    }
                    else
                    {
                        <table id="table-te-@Model.index"  class="rai-table  table  rai-table-vcenter rai-table-high-row rai-table-panel">
                            <thead class="thead1">
                                <tr>
                                    <th>Nominativo</th>
                                    <th style="width:auto;">Tipo richiesta</th>
                                    <th>Inviata</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaRichieste)
                                {
                                    <tr>
                                        <td>
                                            @Html.Partial("~/Views/maternitacongedi/_profiloimage.cshtml", new                                                                  myRaiCommonModel.ProfiloImageModel() {
                                         InServizio = null,
                                         Matricola = item.Richiesta.MATRICOLA,
                                         Row1 = item.Richiesta.NOMINATIVO,
                                         Row2 = "Matricola " + item.Richiesta.MATRICOLA,
                                         display="inline"

                                     })
                                        </td>
                                        <td>
                                            <label>
                                                @item.Richiesta.XR_MAT_CATEGORIE.TITOLO
                                            </label>
                                        </td>
                                        <td> @item.Richiesta.DATA_INVIO_RICHIESTA.ToString("dd/MM/yyyy")</td>
                                        <td></td>
                                        <td style="text-align:right">
                                            <button class="btn rai-btn-small" aria-label="Visualizza" onclick="VisualizzaTE(@item.Richiesta.ID, @(item.TaskAvviati?"true":"false"))" title="Visualizza" style="min-width:80px;">
                                                Visualizza
                                            </button>
                                            @if (item.TaskAvviati)
                                            {
                                                <input type="hidden" id="taskavviati-@item.Richiesta.ID" value="1"/>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                 
            </div>

        </div>
    </div>

</div>
