@model myRaiCommonModel.PopupTeModel

<section class="rai panel">
    <header class="panel-heading">
        <div class="row" style="width:100%">
            <div class="col-sm-8">
                <h2 id="cat-te" class="panel-title">@Model.Richiesta.XR_MAT_CATEGORIE.TITOLO</h2>
            </div>
            <div class="col-sm-4" style="text-align:right;padding-right:0px">
                <div class="rai-panel-actions">

                    <a id="refresh-te" class="btn-action-icon" style="cursor: pointer; display: block;" onclick="GetPopupContentCentro(@Model.Richiesta.ID);">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="panel-body">
        <div id="page1-amm" class="panel-row-bordered">
            @if (Model.ListaAttributiJson != null && Model.ListaAttributiJson.Any())
            {
                foreach (var att in Model.ListaAttributiJson.Where(x => !x.Id.ToLower().StartsWith("eccezione")))
                {
                    if (att.Id == "dt_inline")
                    {
                        foreach (var item in att.InLine)
                        {
                            <div class="row" style="padding-top:15px;padding-bottom:15px;">
                                <div class="col-sm-4">
                                    <span class="rai-font-md-neutral-bold">@item.Label.ToUpper()</span>
                                </div>
                                <div class="col-sm-8">
                                    <span data-jsonid="@item.Id" data-jsonlabel="@item.Label">
                                        @item.Valore
                                        @if (!String.IsNullOrWhiteSpace(item.Title))
                                        {
                                            @: - @att.Title
                                        }
                                    </span>
                                </div>
                            </div>
                        }
                        continue;
                    }

                    if (att.Tipo.ToString() == "Radio" && att.Checked == false)
                    {
                        continue;
                    }
                    <div class="row" style="padding-top:15px;padding-bottom:15px;">
                        <div class="col-sm-4">
                            <span class="rai-font-md-neutral-bold">@att.Label.ToUpper()</span>
                        </div>
                        <div class="col-sm-8">
                            <span data-jsonid="@att.Id" data-jsonlabel="@att.Label">
                                @att.Valore
                                @if (!String.IsNullOrWhiteSpace(att.Title))
                                {
                                    @: - @att.Title
                                }
                            </span>
                        </div>
                    </div>
                }
            }
            @if (Model.InCaricoAMe)
            {
                <div class="row" style="margin-top:30px">
                    <div class="col-sm-12" style="padding-bottom:16px">
                        <div class="rai-btn-fill">
                            <button class="btn rai-btn-secondary" type="button" onclick="$('#popupview-te').modal('hide')">Annulla </button>

                            <button id="conferma-avanti-te" type="button" class="btn rai-btn-primary"
                                    onclick="ConfermaModificheTE(@Model.Richiesta.ID)">
                                Avanti
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="page2-amm" style="display:none">
            <div id="page2-container">

            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-sm-12" style="padding-bottom:16px">
                    <span style="margin-bottom:18px;display:block" class="rai-font-sm-neutral">Una volta avviate le operazioni automatiche non sarà più possibile bloccarle o modificare i dettagli del cedolino</span>
                    <div class="rai-btn-fill">

                        <button class="btn rai-btn-secondary " type="button" onclick="ShowTEpage1()">Indietro </button>
                        <button id="avvia-pratica" type="button" class="btn rai-btn-primary"
                                onclick="SendFormTaskTE(@Model.Richiesta.ID)">
                            Avvia operazioni
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div id="page3-amm" style="display:none">
            <div id="task-recap-te">

            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-sm-12" style="padding-bottom:16px">
                    <div class="rai-btn-fill">

                        <button class="btn rai-btn-secondary " type="button" onclick="ConfermaModificheTE(@Model.Richiesta.ID)">Indietro </button>
                        <button id="concl-pratica" type="button" class="btn rai-btn-primary disable "
                                onclick="ConcludiPraticaTE(@Model.Richiesta.ID)">
                            Concludi pratica
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>