@model List<MyRaiServiceInterface.it.rai.servizi.svilruoesercizio.ScadenzarioMeseAnnoItem>

@using (Html.BeginPanel(myRaiHelper.PanelType.PanelNoPadding, "Scadenzario"))
{
<div style="overflow:hidden;overflow-y:auto;max-height:300px;">
    <table class="table rai-table rai-table-vcenter rai-table-high-row">
        @if (Model == null || !Model.Any())
        {
            @Html.Partial("_NoDati")
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="rai-day-card">
                            <div class="rai-day-number">@item.data_scadenza.Day</div>
                            <div class="rai-day-name">@item.data_scadenza.ToString("MMM").ToUpper()</div>
                        </div>
                    </td>
                    <td>
                        <div class="rai-block-info">
                            <span class="rai-font-md">@item.attivita</span>
                            @if (item.ora.HasValue)
                            {
                                <br />
                                <span class="rai-font-sm">Orario: @(item.ora.Value.ToString("00")):00</span>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>
}