@model myRaiCommonModel.OnBoardingModel
<div class="modal-dialog modal-dialog-popout" style="width: 70%">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">


            <div class="block-content block-content-full block-content-mini bg-gray-light"
                style="background-color: #f5f5f5; border-radius: 20px 20px 0 0;">

                <div class="row">
                    <div class="col-sm-6">
                        <h2 style="font-weight: 100; font-size: 180%;">Benvenuto nel nuovo curriculum RAI</h2>
                    </div>
                    <div class="col-sm-6" style="padding-top:12px;text-align:right">
                        @if (Model.idPrevItem > 0)
                        {
                            <div  class="tasto-boarding" onclick="ShowModalBoarding(@Model.idPrevItem)">
                                <span
                                    style="font-size: 10px;" class="glyphicon glyphicon-triangle-left text-muted"></span>
                            </div>
                        }
                        @if (Model.idNextItem > 0)
                        { 
                            <div  class="tasto-boarding" onclick="ShowModalBoarding(@Model.idNextItem)" >
                                <span
                                    style="font-size: 10px;" class="glyphicon glyphicon-triangle-right text-muted"></span>
                            </div>
                        }
                        else
                        {
                            <div class="tasto-boarding" onclick="EndModalBoarding()">
                                <span
                                    style="font-size: 13px;" class="text-muted">OK</span>
                            </div>
                        }
                    </div>
                </div>


            </div>


            <br />

            <div class="row">
                <div class="col-sm-6" style="padding:10px;text-align:center">
                    <img style="height:300px;max-width:100%" src="/assets/img/boarding/@Model.ItemSelected.nome_immagine" />
                </div>
                <div class="col-sm-5">
                    <h2 class="text-primary" style="font-weight: 600; font-size: 36px;">@Model.ItemSelected.titolo</h2>
                    <span style="font-size: 18px; line-height: 1.7em;">@Html.Raw(Model.ItemSelected.testo)</span>
                </div>
            </div><br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="text-align: center">
                    @foreach (var it in Model.ItemList)
                    {
                        if (Model.ItemSelected.id == it.id)
                        {
                        <div class="boarding-item-sel"></div>
                        }
                        else
                        { 
                        <div class="boarding-item"></div>
                        }


                    }
                </div>
                <div class="col-sm-4"></div>


                <input type="hidden" id="obnext" value="@Model.idNextItem"/>
                <input type="hidden" id="obprev" value="@Model.idPrevItem"/>

            </div>

     

        </div>
    </div>
</div>











