@model myRaiCommonModel.cvModels.cvModel
<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>myRai</title>

    <meta name="description" content="myRai">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Icone -->

    <link rel="shortcut icon" href="~/assets/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon-180x180.png">
    <!-- Fine Icone -->
    <!-- Fogli di stile -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <link href="/assets/js/plugins/slick/slick.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/slick/slick-theme.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/bootstrap-datepaginator/css/bootstrap-datepaginator.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/bootstrap-jasny_mask/jasny-bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/select2/select2.min.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/select2/select2-bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/UIRai.css" rel="stylesheet"/>
    <link href="/assets/css/myrai.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/sweetalert2/sweetalert2.css" rel="stylesheet"/>

    <!-- Si può aggiungere un foglio di stile custom, tipo: -->
    <!-- <link rel="stylesheet" id="css-theme" href="~/assets/css/themes/digigapp.min.css"> -->
    <!-- Fine Fogli di stile -->
</head>
<body>
    <div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

    <!-- Container di Pagina -->

    <div id="page-container" class="sidebar-l sidebar-mini sidebar-o header-navbar-fixed">

                <aside id="side-overlay">
                    <div class="side-header side-content">
                    <button class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                    <i class="fa fa-times"></i>
                    </button>


                        <div class="block pull-r-l pull-t">
                                <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Titoli di studio</h3>
                                </div>
                                <div class="block-content block-content-full">
                                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                </div>

                                <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Diploma</h3>
                                </div>
                                <div class="block-content block-content-full">
                                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                </div>

                                 <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Laurea</h3>
                                </div>
                                <div class="block-content block-content-full">
                                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                </div>
                        </div>



                        
                    </div>
                </aside>
        @Html.Partial("../Shared/sidebar",Model.menuSidebar)
        @Html.Partial("../Shared/header")  
        <!-- Main Container -->
        <main id="main-container">
			<div class="content">
				<div class="row">
                    
            <div class="col-sm-6 col-lg-3">
         
            <div class="remove-padding" id="inbox-nav">
            <div class="block">

                 @Html.Partial("partials/_box_anagrafico")
            </div>


            </div>
            </div>
						<div class="col-sm-6 col-lg-9">
                           <div class="block card cardB ">
                                        <div class="block-header bg-gray-lighter ">
                                            <ul class="block-options">
                                        <li>
                                                    
                                        </li>
                                        </ul>
                                            <h3 class="block-title">Privacy Policy</h3>
                                        </div>
                                        <div class="block-content ">
                                                   
                        
                                                <div class="col-xs-12 block-content-full push"> 
                                               <h3><b> INFORMATIVA AI SENSI DELL’ART. 13 DEL D.LGS.196/2003 E CONSENSO AL TRATTAMENTO DEI DATI PERSONALI</b></h3>
                                                    <br /><br />

La informiamo che i dati personali, che Lei  fornirà attraverso la compilazione del Curriculum Vitae al fine dell’acquisizione da parte dell’Azienda degli elementi che concorrono al Suo complessivo profilo professionale, verranno utilizzati dalla RAI-Radiotelevisione Italiana S.p.a., (Titolare del trattamento) -  con sede legale in Roma, Viale Mazzini, 14 e Codice fiscale e P.IVA n. 06382641006   nel rispetto delle disposizioni e dei principi di cui al D.lgs. 196/2003 e in adempimento agli obblighi di legge, a mezzo inserimento in una banca dati informatica gestita dall’Azienda Rai medesima ai fini della ricognizione di fabbisogni formativi e della progettazione di percorsi professionali, con modalità di gestione sia digitale che cartacea.<br /><br />
            Il conferimento dei dati in questione è facoltativo, ma molto importante per poter completare e migliorare le conoscenze relative alle Sue esperienze formative e professionali.<br /><br />
            Il mancato conferimento dei dati e del consenso al loro trattamento potrebbe comportare l’impossibilità per la RAI di acquisire importanti elementi conoscitivi, inerenti alla Sua professionalità.<br /><br />
            I dati personali acquisiti potranno essere trattati esclusivamente dalla Direzione Risorse Umane e Organizzazione (Responsabile del trattamento) e/o dalle competenti strutture del personale delegate delle Direzioni Produzione TV e Radio, nonché dai presidi di personale che operano nell’ambito delle diverse Direzioni aziendali.
Gli stessi dati saranno conservati per tutta la durata del contratto e i successivi due anni dalla cessazione.  Salvi i limiti derivanti dalla natura obbligatoria del trattamento dei dati personali, Lei può, in ogni momento, esercitare i diritti di cui all’art. 7 del d.lgs. 196/2003 (tra cui, a mero titolo esemplificativo, la rettificazione, l’integrazione e la cancellazione dei dati), accedendo al Suo CV attraverso la Sua personale password, ovvero rivolgendosi alla Rai titolare del trattamento. <br /><br />
Al riguardo, La informiamo che il Curriculum Vitae può visualizzare anche informazioni che la riguardano estrapolati dalle banche dati aziendali quali ad esempio i corsi di formazione aziendali, gli impegni editoriali per i programmisti registi e gli assistenti ai programmi, i dati di residenza e domicilio, ecc. <br /><br />
In merito ad eventuali chiarimenti, può contattare l’ufficio personale di riferimento. <br /><br />
Per le informazioni invece spontaneamente ed unilateralmente fornite da Lei richiamiamo la Sua attenzione in merito al fatto che si assume la totale responsabilità rispetto alla veridicità delle stesse. Inoltre, Le rappresentiamo che ogniqualvolta lo ritenesse necessario ai fini sopra descritti, sarà Suo onere e cura aggiornare il presente Curriculum Vitae.<br /><br />

<br />      
                                                </div>                                                                                                
                                                <a href="/CurriculumVitae/">
                                                <button type="button" class="btn btn-block btn-lg bg-study push-20  text-uppercase push-t text-white"><small>Registra</small></button>
                                               </a>
                                        </div>
                                    </div>
                        </div
                            
						<!--div-- class="col-sm-6 col-lg-9">

                            @*
                           @foreach (myRai.Models.cvModels.cvModel.Box box in Model.listaBox)
                           {
                           <div class="col-sm-6 col-lg-6 ">
                                <div class="block block-themed">
                                <div class="block-header bg-@box._colore">
                                    <ul class="block-options">
                                        <li>
                                         <i class="@box._icon fa-2x text-white"></i>
                                        </li>
                                    </ul>
                                     <h3 class="block-title">@box._titolo</h3>
                                </div>
                                    <div class="block-content height-70">
                                       <p>@box._sottotitolo</p>
                                    </div>
                                    <div class="block-content block-content-full block-content-mini">
                                         <a class="btn btn-minw btn-default" href="~/CurriculumVitae/@box._url">Accedi</a>
                                        </div>
                                </div>
                            </div>
                            } 

						</div>*@
					</!--div-->
				</div>
			</main>
        <!-- FINE Main Container -->
        <div id="inner" class="inner"></div>
    </div>
    <!-- FINE Page Container -->

    <!-- Partial view per modali -->

      @Html.Partial("partials/_popupSelezione")

    <!-- FINE Partial view per modali -->

    <!-- UIRai Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie e App.js -->

        <script src="~/assets/js/core/jquery.min.js"></script>
     <script src="~/assets/js/core/bootstrap.min.js"></script>
     <script src="~/assets/js/core/jquery.slimscroll.min.js"></script>
     <script src="~/assets/js/core/jquery.scrollLock.min.js"></script>
     <script src="~/assets/js/core/jquery.appear.min.js"></script>
     <script src="~/assets/js/core/jquery.countTo.min.js"></script>
     <script src="~/assets/js/core/jquery.countTo.min.js"></script>
     <script src="~/assets/js/core/jquery.placeholder.min.js"></script>
     <script src="~/assets/js/core/js.cookie.min.js"></script>
     <script src="~/assets/js/core/moment.js"></script>
     <script src="~/assets/js/core/JSRai.js"></script>

    <!-- Plugins JS di pagina  + Codice JS di pagina -->

    <script src="~/assets/js/plugins/bootstrap-year-calendar/bootstrap-year-calendar.js"></script>
    <script src="~/\assets\js\core\jquery.slimscroll.min.js"></script>
    <script language="javascript">
        UIRai.initHelpers('strumenti-table');

        //numero eccezioni per chiamata ------------------------------------------------


        $(document).ready(function () {
           // jQuery('#modal-popup-iniziale').modal('show');
            
        });

        
    </script>
    <script src="assets/js/UIRai.min.js"></script>


</body>

</html>
