@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model PeriodoPDF

<tr class="trdata visible-lg bgrow @(Model.inFirma?"infirma":"")" data-idpdf="@Model.idPdf">
    <td class="text-center">
    </td>
    <td class="font-w600 font90">
        DAL @Model.DateStart.ToString( "dd/MM/yyyy" )
    </td>
    <td class="font-w600 font90">
        AL @Model.DateEnd.ToString( "dd/MM/yyyy" )
    </td>
    <td class="font-w600">
        <em>Tipo @Model.tipoPDF <br />Versione @Model.Versione</em>
    </td>
    <td class="font-w600">
        @if ( Model.Data_generazione != null )
        {
            <small> Generato <br /></small>
            @( ( ( DateTime ) Model.Data_generazione ).ToString( "dd/MM/yyyy ore HH.mm" ))
        }
    </td>
    <td class="text-right" style="width: 100px;">
        <a href="#" onclick="ShowPdfFromFirma(@Model.idPdf, '@Model.DateStart','@Model.DateEnd','@Model.codSede')"
           class="btn btn-default btn-scriv text-uppercase bg-puls_dash button-viewpdf">
            @(Model.statoPDF == "S_OK" ? "VISUALIZZA" : "VEDI PDF")
        </a>
    </td>
</tr>

<tr class="trdata hidden-lg" data-idpdf="@Model.idPdf">
    <td class="text-center"></td>
    <td class="font-w600 text-info">
        DAL @Model.DateStart.ToString( "dd/MM/yyyy" )
    </td>
    <td class="font-w600 text-info">
        AL @Model.DateEnd.ToString( "dd/MM/yyyy" )
    </td>
    <td class="text-right" style="width: 100px;">
        <a href="#" onclick="ShowPdfFromFirma(@Model.idPdf, '@Model.DateStart','@Model.DateEnd','@Model.codSede')"
           class="btn btn-default btn-scriv text-uppercase bg-puls_dash button-viewpdf">
            ANTEPRIMA
        </a>
    </td>
</tr>