@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model List<Sede>
<section id="dafirmarePF" class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>

        </div>

        <h2 class="panel-title">Piani ferie </h2>


    </header>
    <div class="panel-body no-padding">
        <div class="block" id="my-block-pf">

            <div id="appr" class="block-content ">

                <div class="tab-pane active" id="tab-1pf">

                    <div id="approvpf">

                        @if ( ViewBag.ricercati != null && ViewBag.ricercati != "" && ViewBag.ricercati != "STATO S" )
                        {
                            <div class="row" style="height: 50px;border: none;padding-top:10px">
                                <div class="col-sm-9" style="text-align:left">Hai cercato <b> @ViewBag.ricercati</b></div>
                                <div class="col-sm-3" style="text-align:right"><a href="javascript:ResetRicercaPdf()">TORNA ALL'ELENCO</a></div>
                            </div>
                        }

                        <table id="tabapp" class="js-table-sections table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 2%;"></th>
                                    <th style="width: 20%;"></th>
                                    <th class="hidden-xs" style="width: 20%;"></th>
                                    <th style="width: 15%;"></th>
                                    <th class="text-center" style="width: 25%;"></th>
                                </tr>
                            </thead>


                            @if ( Model.Any( a => a.ListaPianiFerie != null && a.ListaPianiFerie.Count > 0 ) )
                            {


                                foreach ( var sede in Model )
                                {
                                    if ( sede.ListaPianiFerie == null || sede.ListaPianiFerie.Count == 0 )
                                    {
                                        continue;
                                    }

                                    //intestazione sede + totale richieste
                                    <tbody id="@(sede.CodiceSede)" class="@(sede.ListaPianiFerie != null && sede.ListaPianiFerie.Count() > 0 ? "js-table-sections-header " : "js-table-sections-header")">
                                        <tr>
                                            <td style="width:40px"
                                                @*    onclick="$('#@(sede.CodiceSede)').toggleClass('open')" *@
                                                class="text-center">
                                                <i class="fa fa-angle-right"></i>
                                            </td>
                                            <td colspan="4"
                                                @* onclick="$('#@(sede.CodiceSede)').toggleClass('open')"*@>
                                                <h5><b>@sede.CodiceSede</b> - @sede.DescrizioneSede  </h5>
                                            </td>
                                            <td style="width:100px">

                                                <i class="font80 m-r-4 fa fa-circle green"></i>

                                                @{
                                                    int pfCount = 0;
                                                    if ( sede.ListaPianiFerie != null && sede.ListaPianiFerie.Any( ) )
                                                    {
                                                        pfCount = sede.ListaPianiFerie.Count( );
                                                    }
                                                }
                                                <span class="text-info">@( pfCount)  doc@(pfCount > 1 ? "s" : "")</span>
                                            </td>

                                        </tr>
                                    </tbody>

                                    <tbody class="tbodydata">


                                        @*stampa row documento*@

                                        @if ( sede.ListaPianiFerie != null && sede.ListaPianiFerie.Any( ) )
                                        {
                                            foreach ( var pf in sede.ListaPianiFerie )
                                            {
                                                @Html.Partial( "~/Views/Responsabile/_TRdafirmarePF.cshtml" , pf )
                                            }
                                        }

                                    </tbody>
                                }
                            }
                            else
                            {
                                @Html.Partial( "_nodati" );
                            }

                        </table>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

