@model myRaiCommonModel.cvModels.cvModel.Studies
@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
}


  <div class="modal-dialog modal-lg">
    <form class="form-horizontal mb-lg form-modificacv" action="/CurriculumVitae/ModificaCV" method="post">
        @Html.HiddenFor(m => m._matricola)
        @Html.HiddenFor(m => m._tableTarget)
        <input type="hidden" name="_codTipoTitolo" value="-1" />
        <input type="hidden" name="_corsoLaurea" value="-1" />
        <input type="hidden" name="_titoloSpecializ" value="-1" />
    <div class="modal-content">
             <div class="block-header bg-cdf" style="height: 58px;">
                        <ul class="block-options visible-xs">
                            <li>
                                <button data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                            </li>
                        </ul>
                        <h4 class="lead" style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">Modifica CV
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

              </div>
              <div class="modal-body row height100" id="edit-content">
    <div class="form-group">
        <div class="col-sm-6 no-pad-left no-pad-right border-right"> @*col-md-8 col-sm-offset-2*@
                <div class="col-md-12 frk_codTitolo push-10">
                <label for="_codTitolo" class="frk_codTitolo_text">Diploma</label>
                   @Html.HiddenFor(m => m._codTitolo)
                    <label class="form-control">@Model._descTitolo</label>
                </div>
                <div class=""> <!-- col-md-12 -->
                    <div class="stile-anno">
                        <div class="col-md-6 push-10">
@*                                                                <label for="_dataInizio" class="frk_dataInizio"></label>
                            <input class="form-control" type="text" id="_dataInizio" name="_dataInizio" placeholder="Selezionare una data" />*@
                                <label class="frk_dataInizio" id="label-data-eccez" for="example-datetimepicker6">Anno di Inizio</label>                  
                                <div class="input-group date" style="position: relative">
                                    <span class="input-group-addon" onclick="$('.annoinizio').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                                    @*<input class="js-datetimepicker form-control annoinizio" data-format="YYYY" data-locale="it" type="text" id="" name="" placeholder="Scegli una data">*@
                                    @Html.TextBoxFor(m => m._dataInizio, new { @class="js-datetimepicker form-control annoinizio", data_format="YYYY", placeholder="Scegli una data", id="_dataInizio"})
                                    @Html.ValidationMessageFor(m => m._dataInizio)
                                    
                                </div>
                                                                
                        </div>
                        <div class="col-md-6 push-10">
@*                                                                <label for="_dataFine" class="frk_dataFine"></label>
                            <input class="form-control" type="text" id="_dataFine" name="_dataFine" placeholder="Selezionare una data" />*@

                        @*<div class="stile-anno">*@
                            <label class="frk_dataFine" id="label-data-eccez" for="example-datetimepicker6">Anno Conseguimento</label>
                                <div class="input-group date" style="position: relative">
                                    <span class="input-group-addon" onclick="$('.annofine').datetimepicker('show')"><i class="icons icon-calendar"></i></span>
                                    @*<input class="js-datetimepicker form-control annofine" data-format="YYYY" data-locale="it" type="text" id="" name="" placeholder="Scegli una data">*@
                                    @Html.TextBoxFor(m => m._dataFine, new { @class="js-datetimepicker form-control annofine", data_format="YYYY", placeholder="Scegli una data", id="_dataFine"})
                                    @Html.ValidationMessageFor(m => m._dataFine)
                                    
                                </div>
                        @*</div>*@
                        </div>
                    </div>
                    <span class="col-md-12 push-10 _customDataInizioFineError field-validation-error">La data di inizio deve essere minore della data di conseguimento</span>    
                    <div class="col-md-6 push-10">
                        <label for="_voto">Voto</label>
                        @*<input class="form-control" type="text" id="_voto" name="_voto" placeholder="Inserire votazione" onkeypress="return onlyNumeric(event);"/>*@
                        @Html.TextBoxFor(m => m._voto, new { @class="form-control", placeholder="Inserire votazione", onkeypress="return onlyNumeric(event);", id="_voto" })
                        @Html.ValidationMessageFor(m => m._voto)
                        <!-- FREAK - test validazionre campo -->
                    </div>
                    <div class="col-md-6 push-10">
                        <label for="_scala">Scala</label>
                        @*<input class="form-control" type="text" id="_scala" name="_scala"  placeholder="Scala (in cifre)" onkeypress="return onlyNumeric(event);" />*@
                        @Html.TextBoxFor(m => m._scala, new { @class="form-control", placeholder="Scala (in cifre)", onkeypress="return onlyNumeric(event);",  id="_scala" })
                        @Html.ValidationMessageFor(m => m._scala)
                    </div>
                    <span class="col-md-12 push-10 _customVotoScalaError field-validation-error">Il voto deve essere minore o uguale all scala</span>
                </div>
                <!-- Termine parte "VARIABILE" e la parte inserimento dettaglio titolo -->
                <!-- PARTE RELATIVA ALL'ISTITUTO COMUNE A TUTTE E TRE LE TIPOLOGIE -->
                <!-- FINE PARTE ISTITUTO -->
                <h5 class="col-md-12 push-20-t push-10">Dettaglio istituto o ente erogatore</h5>
                <div class="col-md-12 push-10">
                    <label for="_istituto">Nome</label>
                    @*<input class="form-control" type="text" id="_istituto" name="_istituto" placeholder="Inserire a testo libero" />*@
                    @Html.TextBoxFor(m => m._istituto, new { @class="form-control", placeholder="Inserire a testo libero", id="_istituto" })
                    @Html.ValidationMessageFor(m => m._istituto)
                </div>
                <div class="col-md-12 push-10">
                    <label for="_localitaStudi">Città</label>
                    @*<input class="form-control" type="text" id="_localitaStudi" name="_localitaStudi" placeholder="Inserire a testo libero" />*@
                    @Html.TextBoxFor(m => m._localitaStudi, new { @class="form-control", placeholder="Inserire a testo libero", id="_localitaStudi" })
                    @Html.ValidationMessageFor(m => m._localitaStudi)
                </div>
                <div class="col-md-12 push-10">
                    <label for="_codNazione">Paese</label>
                    <select class="js-select2 form-control"  id="_codNazione" name="_codNazione" style="width: 100%;"  data-placeholder="Selezionare dalla lista">
                        <option></option><!-- necessario per il placeholder con Select2 plugin -->
                        @{
                            var naz = (from nazione in cvEnt.DNazione
                                        orderby nazione.DES_NAZIONE
                                        select nazione).ToList();
                        }
                        @foreach (var elem in naz)
                        {
                            string selected;
                            if (elem.COD_SIGLANAZIONE == Model._codNazione)
                            {
                                selected = "selected=\"selected\"";
                            }
                            else
                            {
                                selected = "";
                            }
                            <option value="@elem.COD_SIGLANAZIONE" @selected>@elem.DES_NAZIONE</option>
                        }
                    </select>
                </div>
                <div class="col-md-12 push-10">
                    <label for="_indirizzoStudi">Indirizzo</label>
                    @*<input class="form-control" type="text" id="_indirizzoStudi" name="_indirizzoStudi" placeholder="Inserire a testo libero" />*@
                    @Html.TextBoxFor(m => m._indirizzoStudi, new { @class="form-control", placeholder="Inserire a testo libero", id="_indirizzoStudi" })
                    @Html.ValidationMessageFor(m => m._indirizzoStudi)
                </div>
                  <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-default">
                                @*<span onclick="ConfermaCancellazione_Experencies('@Model._matricola', '@Model._prog')">Elimina</span>*@
                    @{
                    if (Model._logo.ToLower() == "master"){
                        <span onclick="ConfermaCancellazione_Studies('@Model._logo.ToLower()', '@Model._matricola', '@Model._prog')">Elimina</span>
                    }
                    else{
                        <span onclick="ConfermaCancellazione_Studies('@Model._logo.ToLower()', '@Model._matricola', '@Model._codTitolo')">Elimina</span>
                    }
                    }

                            </button>
                            @*<button class="btn btn-warning"  data-dismiss="modal" type="button"><i class="fa fa-arrow-circle-o-left"></i> Indietro</button>*@
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick="FormModificaCV()"><i class=""></i> Invia</button>  @* fa fa-check-circle-o *@
                        </div>
                    </div>
                  </div>
           
        </div>
    </div> <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
              </div>
@*              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="FormModificaCV()">Salva Modifiche</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    @{
                    if (Model._logo.ToLower() == "master"){
                        <span onclick="ConfermaCancellazione_Studies('@Model._logo.ToLower()', '@Model._matricola', '@Model._prog')">Elimina</span>
                    }
                    else{
                        <span onclick="ConfermaCancellazione_Studies('@Model._logo.ToLower()', '@Model._matricola', '@Model._codTitolo')">Elimina</span>
                    }
                    }

                </button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
              </div>*@
          
        </div>
      </form>
  </div>



                               