@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model GraficiFerieModel

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" tabindex="0" aria-label="Riepilogo ferie e permessi" aria-expanded="true"></a>
        </div>
        <h2 class="panel-title">Ferie e permessi</h2>
    </header>

    <div class="panel-body">
        <div class="row">

            @if (Model.PianoFerie.dipendente.ferie.visualizzaFerie &&
                Model.PianoFerie.dipendente.ferie.ferieSpettanti +
                Model.PianoFerie.dipendente.ferie.ferieAnniPrecedenti > 0
                )
            {
                <div class="col-sm-4 no-padding text-center rel" tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.ferieRimanenti ferie rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.ferieRimanenti</div>
                    <h5 class="fe-tit">FE</h5>
                    <div class="chart-small-fe"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.ferieRimanenti/(Model.PianoFerie.dipendente.ferie.ferieSpettanti+Model.PianoFerie.dipendente.ferie.ferieAnniPrecedenti))*100)"></div>
                </div>
            }

            @if (Model.PianoFerie.dipendente.ferie.visualizzaFC &&
                Model.PianoFerie.dipendente.ferie.exFestivitaSpettanti +
                Model.PianoFerie.dipendente.ferie.exFestivitaAnniPrecedenti > 0
                )
            {
                <div class="col-sm-4  no-padding text-center rel " tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.exFestivitaRimanenti ex festività rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.exFestivitaRimanenti</div>
                    <h5 class="fe-tit">PF</h5>
                    <div class="chart-small-pf"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.exFestivitaRimanenti/Model.PianoFerie.dipendente.ferie.exFestivitaSpettanti)*100)"></div>

                </div>
            }
            @if (Model.PianoFerie.dipendente.ferie.visualizzaPermessi &&
                Model.PianoFerie.dipendente.ferie.permessiSpettanti > 0
                )
            {
                <div class="col-sm-4 no-padding text-center rel" tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.permessiSpettanti permessi rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.permessiRimanenti</div>
                    <h5 class="fe-tit">PR</h5>
                    <div class="chart-small-pr"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.permessiRimanenti/Model.PianoFerie.dipendente.ferie.permessiSpettanti)*100)"></div>

                </div>
            }

            @if (Model.PianoFerie.dipendente.ferie.visualizzaPermessiGiornalisti &&
                Model.PianoFerie.dipendente.ferie.permessiGiornalistiSpettanti +
                Model.PianoFerie.dipendente.ferie.permessiGiornalistiAnniPrecedenti > 0
                )
            {
                <div class="col-sm-4 no-padding text-center rel" tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.permessiGiornalistiRimanenti permessi giornalisti rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.permessiGiornalistiRimanenti</div>
                    <h5 class="fe-tit">PX</h5>
                    <div class="chart-small-pg"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.permessiGiornalistiRimanenti/(Model.PianoFerie.dipendente.ferie.permessiGiornalistiSpettanti + Model.PianoFerie.dipendente.ferie.permessiGiornalistiAnniPrecedenti))*100)"></div>
                </div>
            }


            @if (Model.PianoFerie.dipendente.ferie.visualizzaRecuperoNonLavorati &&
                Model.PianoFerie.dipendente.ferie.mancatiNonLavoratiSpettanti
                + Model.PianoFerie.dipendente.ferie.mancatiNonLavoratiAnniPrecedenti > 0
                )
            {
                <div class="col-sm-4 no-padding text-center rel" tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.recuperiNonLavoratiRimanenti recuperi non lavorati rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.recuperiNonLavoratiRimanenti</div>
                    <h5 class="fe-tit">RN</h5>
                    <div class="chart-small-mn"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.recuperiNonLavoratiRimanenti/(Model.PianoFerie.dipendente.ferie.mancatiNonLavoratiSpettanti +Model.PianoFerie.dipendente.ferie.mancatiNonLavoratiAnniPrecedenti) )*100)"></div>
                </div>

            }

            @if (Model.PianoFerie.dipendente.ferie.visualizzaRecuperoRiposi &&
                Model.PianoFerie.dipendente.ferie.mancatiRiposiSpettanti +
                Model.PianoFerie.dipendente.ferie.mancatiRiposiAnniPrecedenti > 0
                )
            {
                <div class="col-sm-4 no-padding text-center rel" tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.recuperiMancatiRiposiRimanenti recuperi mancati riposi rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.recuperiMancatiRiposiRimanenti</div>
                    <h5 class="fe-tit">RR</h5>
                    <div class="chart-small-mr"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.recuperiMancatiRiposiRimanenti/(Model.PianoFerie.dipendente.ferie.mancatiRiposiSpettanti+Model.PianoFerie.dipendente.ferie.mancatiRiposiAnniPrecedenti))*100)"></div>
                </div>

            }



            @if (Model.PianoFerie.dipendente.ferie.visualizzaRecuperoFestivi &&
                Model.PianoFerie.dipendente.ferie.mancatiFestiviSpettanti +
                Model.PianoFerie.dipendente.ferie.mancatiFestiviAnniPrecedenti > 0
                )
            {
                <div class="col-sm-4 no-padding text-center rel" tabindex="0" aria-label="@Model.PianoFerie.dipendente.ferie.ferieRimanenti ferie rimanenti">
                    <div class="fe-total">@Model.PianoFerie.dipendente.ferie.recuperiMancatiFestiviRimanenti</div>
                    <h5 class="fe-tit">RF</h5>
                    <div class="chart-small-mf"
                         data-percent="@((Model.PianoFerie.dipendente.ferie.recuperiMancatiFestiviRimanenti/(Model.PianoFerie.dipendente.ferie.mancatiFestiviSpettanti+Model.PianoFerie.dipendente.ferie.mancatiFestiviAnniPrecedenti))*100)"></div>
                </div>

            }

        </div>

        @{/*
            if (Model.IsGiornalista)
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                        <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">
                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" >
                                <div class="col-xs-12" style="margin-top: 12px;">
                                    <pie class="full pie-small"></pie>
                                    <label style="font-weight: 700; margin-top: 10px; margin-left: -30px;">HAI DIRITTO A @(Model.TotalePXC) PXC</label> 
                                </div>
                            </div>

                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-bottom: 0px;">
                                <div class="col-xs-12" style="margin-top: 12px;">
                                    <pie class="full pie-small"></pie>
                                    <label style="font-weight: 700; margin-top: 10px; margin-left: -30px;">HAI DIRITTO A @(Model.TotaleMN) MN</label> 
                                </div>
                            </div>

                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" style="margin-bottom: 0px;">
                                <div class="col-xs-12" style="margin-top: 12px;">
                                    <pie class="full pie-small"></pie>
                                    <label style="font-weight: 700; margin-top: 10px; margin-left: -30px;">HAI USUFRUITO DI @(Model.PianoFerie.dipendente.ferie.recuperiNonLavoratiUsufruiti) MN</label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            }

            bool hide = false;
            hide = ( myRai.Models.Utente.TipoDipendente() != "D" );

            if (!hide)
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                        <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">
                            <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right" >
                                <div class="col-xs-12" style="margin-top: 12px;">
                                    <pie class="full pie-small"></pie>
                                    <label style="font-weight: 700; margin-top: 10px; margin-left: -30px;">HAI DIRITTO A @(Model.PianoFerie.dipendente.ferie.recuperiMancatiRiposiRimanenti) MR</label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        */}


        @if (Model.PianoFerie.dipendente.spgDip == "1")
        {
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                    <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">

                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <div class="col-xs-1">
                                <pie class="fifty pie-small"></pie>
                            </div>
                            <div class="col-xs-10" style="margin-top: 12px;text-align: left;padding-left: 30px;font-size:82%">
                                HAI DIRITTO AL PG
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

        @if (Model.PianoFerie.dipendente.spgDip == "2")
        {<div class="row">
                <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                    <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">

                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <div class="col-xs-1">
                                <pie class="twentyfive pie-small"></pie>
                            </div>
                            <div class="col-xs-10" style="margin-top: 12px;text-align: left;padding-left: 30px;font-size:82%">
                                HAI ANCORA UN QUARTO DI PG
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        }

        @if (Model.PianoFerie.dipendente.spgDip == "3")
        {
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center" style=" margin-top: 25px; ">
                    <div class="row" style="margin-bottom: 5px;border-top: 2px dotted #eee;margin-top: 10px;font-weight: 700;">
                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <div class="col-xs-1">
                                <pie class="pie-small"></pie>
                            </div>
                            <div class="col-xs-10" style="margin-top: 12px;text-align: left;padding-left: 30px;font-size:82%">
                                HAI GIÀ USUFRUITO DEL PG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12 " style="text-align:right;margin-top:12px">
                @if (UtenteHelper.IsAbilitatoGapp())
                {

                    <div class="@(Model.HaAssenzeIngiustificate || Model.HaGiorniCarenza ? "disable" : "")">
                        <div class="rai-btn-fill">
                            <a class="btn rai-btn-small" href="javascript:ShowPopup('',1)">Chiedi permesso o ferie</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>