@model myRai.Models.ProgramsModel

<!-- Icone -->
@{
    Layout = "~/Views/Shared/_RaiPlace_layout.cshtml";
}

<!-- Container di Pagina -->
                           
<section class="body">
    <div class="inner-wrapper">
    @Html.Partial("../Shared/_RaiPlace_sidebar", Model.menuSidebar)

    @Html.Partial("../Shared/_RaiPlace_header",new myRai.Models.NotifichePopupModel())

        <section role="main" class="content-body">
            <main id="main-container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4">
                            @using (Html.BeginForm("Modifica", "Programma", FormMethod.Post, new { id = "f1" }))
                            {
                                foreach (var item in Model.lista.Select(x => new { x.id, x.titolo, x.anno, x.luogo, x.amministrazione,x.numero_medio,x.numero_atteso,x.numero_massimo }))
                                {
                                <div class="panel-body" id="my-block">
                                    <div class="row">
                                        <div class="col-sm-12 lead">@Html.TextBoxFor(x => item.titolo,new {@class="form-control", placeholder="Titolo", name="titolo", id="titolo"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="input-group mb-md">
                                                <span class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                                @Html.TextBoxFor(x => item.anno,new {@class="js-datetimepicker form-control",data_format = "YYYY",data_locale ="it", placeholder="Anno", name="anno", id="anno"})
                                             </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-sm-12 lead">@Html.TextBoxFor(x => item.luogo,new {@class="form-control", placeholder="Luogo", name="luogo", id="luogo"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 lead">@Html.TextBoxFor(x => item.amministrazione,new {@class="form-control", placeholder="Amministratore", name="admin", id="admin"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 lead">@Html.TextBoxFor(x => item.numero_medio,new {@class="form-control", placeholder="Numero Medio Posti", name="numeroMedio", id="numeroMedio"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 lead">@Html.TextBoxFor(x => item.numero_atteso,new {@class="form-control", placeholder="Numero Atteso Posti", name="numeroAtteso", id="numeroAtteso"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 lead">@Html.TextBoxFor(x => item.numero_massimo,new {@class="form-control", placeholder="Numero Massimo Posti", name="numeroMassimo", id="numeroMassimo"})</div>
                                    </div>
                                </div>
                                <div class="row"><div class="col-sm-12">&nbsp;</div></div>    
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                    <button id ="b1" type="submit" class="btn btn-info" >Modifica Programma</button></div>
                                </div>
                                }
                            } 
						</div>
                        <div class="col-sm-8">
                            
						</div>
					</div>
				</div>
		    	</main>

            <!-- end: page -->
        </section>
    </div>


    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px;">
            </div>
        </div>

        <div class="nano-pane" style="opacity: 1; visibility: visible;">
            <div class="nano-slider" style="height: 583px; transform: translate(0px, 0px);"></div>
        </div>
    </aside>


</section>
