@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model TotalAbbonamnetiModel
@if (Model.Abbonamenti.Abbonamenti.Count == 0)
{
    <div class="row">
        @Html.Partial("~/Views/Shared/_NoDatiDiv.cshtml")
    </div>
}
else
{
    <input type="hidden" id="cittaabb" value="@Model.Abbonamenti.CittaAbbonamento.ToUpper()" title="cittaabb" />

    <div class="row">
        <div class="col-sm-12 text-right">
            <a class="btn rai-btn-small" href="/CampagnaAbbonamenti/Esporta"><i class="icons icon-book-open" data-toggle="tooltip" title="Estrai dati su foglio Excel"></i> Esporta</a>
        </div>
    </div>
    <table class="table table-hover rai-table rai-table-vcenter" id="table_abbonamenti">
        <thead>
            <tr>
                @if (Model.Abbonamenti.CittaAbbonamento.ToUpper() == "ROMA")
                {
                    <th style="width:auto">Tipologia<br />richiesto</th>
                }
                else
                {
                    <th style="width:auto">Vettore</th>
                }
                <th>Inizio<br />Validità</th>
                <th>Numero<br />Rate</th>
                <th style="width:auto;">Nominativo</th>
                @if (Model.EnabledDelete)
                {
                    <th class="rai-table-td-action"></th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>


            @{var idAbbonamenti = "";

                foreach (var abbonamento in Model.Abbonamenti.Abbonamenti)
                {
                    <tr>


                        @if (Model.Abbonamenti.CittaAbbonamento.ToUpper() == "ROMA")
                        {
                            <td>@abbonamento.ZonaAbbonamento</td>
                        }
                        else
                        {
                            <td>@abbonamento.VettoreDiAbbonamento</td>
                        }


                        <td>@abbonamento.GiornoInizio.ToString("dd/MM/yyyy")</td>
                        @* <td>@cestino.ordine.approvatore</td>*@
                        <td class="text-right">@abbonamento.NumeroRate</td>
                        <td>@abbonamento.Cognome.TitleCase() @abbonamento.Nome.TitleCase()</td>
                        @if (Model.EnabledDelete)
                        {
                            <td>
                                <a class="btn btn-action-icon" href="#" onclick="ConfermaGestCancellazione_Abbonamento('@abbonamento.idAbbonamento')"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        }
                        <td>
                            <a href="#" class="btn rai-btn-small" onclick="ShowGestisciAbbonamento('v','@abbonamento.idAbbonamento');">Visualizza</a>
                        </td>

                    </tr>
                    idAbbonamenti = idAbbonamenti + abbonamento.idAbbonamento + ";";
                }

            }

        </tbody>
    </table>

    <input type="hidden" id="id_abbonamenti" title="id_abbonamenti" value="@idAbbonamenti" />
}


