@model myRaiCommonModel.cvModels.cvModel

@{
    int count01, count02, count03, count99;
    var lista = Model.conoscenzeInformatiche;
    var lista01 = lista.Where(x => x._codGruppoConInfo == "01" && x._selectedConInfo).ToList();
    var lista02 = lista.Where(x => x._codGruppoConInfo == "02" && x._selectedConInfo).ToList();
    var lista03 = lista.Where(x => x._codGruppoConInfo == "03" && x._selectedConInfo).ToList();
    var lista99 = lista.Where(x => x._codGruppoConInfo == "99" && x._selectedConInfo).ToList();
    string not_primo_elemento, hide01, hide02, hide03, hide99;

    count01 = lista01.Count;
    count02 = lista02.Count;
    count03 = lista03.Count;
    count99 = lista99.Count;

    hide01 = (count01 == 0) ? "hide" : "";
    hide02 = (count02 == 0) ? "hide" : "";
    hide03 = (count03 == 0) ? "hide" : "";
    hide99 = (count99 == 0) ? "hide" : "";
    string text_tooltip = "Indicare le competenze acquisite in ambito Rai e/o Extra Rai ed il livello di conoscenza.<br>Tra quelle indicate, per ognuno dei 4 ambiti, scegliere quella maggiormente presidiata. Posizionare il cursore sulle competenze/livelli per visualizzare la descrizione.<br>È possibile selezionare nuove competenze e apportare modifiche a quelle già indicate.";



}
<section class="rai panel">
    <header class="panel-heading bg-primary">
        <h2 class="panel-title text-white">
            Autovalutazione Competenze Informatiche
            <span tabindex="-1" id="popCompetenzeInformatiche" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="Selezionare gli applicativi che normalmente usi per il tuo lavoro quotidiano, specificando per ciascuno il tuo livello di conoscenza (base, intermedio, avanzato)" data-original-title="&nbsp;" data-trigger="focus">
                <i id="" class="fa fa-info-circle"></i>
            </span>
        </h2>
        <div class="panel-actions rai-panel-actions">
            <button class="btn-action-icon" data-toggle="modal" data-target="#modalKnowledgesInserimento" onclick="InizializzaTuttoDopoAjax()"><span class="fa fa-plus"></span></button>
        </div>
    </header>
    <div class="panel-body">
        <!-- -->
        <div class="rai panel-group removebottom" id="accexperiences">
            <div class="panel rai panel-accordion rai ">
                <!-- pull-b-5  -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed  " data-toggle="collapse" data-parent="#accordion" href="#inform1" aria-expanded="false">
                            <!-- padding-25 -->
                            Applicativi di Office Automation
                        </a>
                    </h4>
                    <div class="panel-actions @hide01">
                        <span style="" class="badge">@count01</span>
                    </div>
                </div>
                <div id="inform1" class="accordion-body collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body panel-body-nopadding-xs">
                        @if (count01 == 0)
                        {
                            @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
                        }
                        <table class="js-table-sections table table-hover rai-table rai-table-vcenter " id="office-table">
                            <tbody class="">
                                @{
                                    not_primo_elemento = "";
                                    foreach (var elem in lista01.OrderByDescending(a => a._codConInfoLiv))
                                    {
                                        string valutazione;
                                        switch (elem._codConInfoLiv)
                                        {
                                            case "01":
                                                valutazione = "Base";
                                                break;
                                            case "02":
                                                valutazione = "Intermedio";
                                                break;
                                            case "03":
                                                valutazione = "Elevato";
                                                break;
                                            default:
                                                valutazione = "N.D.";
                                                break;
                                        }
                                        <tr>
                                            <td class="text-left">
                                                <p class="text-bold">@elem._descConInfo</p><p class="">@valutazione</p>
                                            </td>
                                            <td class="text-right rai-table-td-action" >
                                                <a class="btn-action-icon" href="#" data-toggle="modal" data-target="#modalKnowledgesInserimento" onclick=""><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("limitaTR", new myRaiCommonModel.limitaTRmodel("office-table", "box-knowledges", 3, lista01.Count()))

                    </div>
                </div>
            </div>
            <div class="panel rai panel-accordion rai ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed  " data-toggle="collapse" data-parent="#accordion" href="#inform2" aria-expanded="false">
                            Applicativi Aziendali
                        </a>
                    </h4>
                    <div class="panel-actions @hide02">
                        <span style="" class="badge">@count02</span>
                    </div>
                </div>
                <div id="inform2" class="accordion-body collapse" aria-expanded="false">
                    <div class="panel-body panel-body">
                        @if (count02 == 0)
                        {
                            @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
                        }
                        <table class="js-table-sections table table-hover rai-table rai-table-vcenter" id="az-table">
                            <tbody class="">
                                @{
                                    not_primo_elemento = "";
                                    foreach (var elem in lista02)
                                    {
                                        string valutazione;
                                        switch (elem._codConInfoLiv)
                                        {
                                            case "01":
                                                valutazione = "Base";
                                                break;
                                            case "02":
                                                valutazione = "Intermedio";
                                                break;
                                            case "03":
                                                valutazione = "Elevato";
                                                break;
                                            default:
                                                valutazione = "N.D.";
                                                break;
                                        }
                                        <tr>
                                            <td class="text-left">
                                                <p class="text-bold ">@elem._descConInfo</p><p class="">@valutazione</p>
                                            </td>
                                            <td class="text-right rai-table-td-action" >
                                                <a class="btn-action-icon" href="#" data-toggle="modal" data-target="#modalKnowledgesInserimento" onclick=""><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("limitaTR", new myRaiCommonModel.limitaTRmodel("az-table", "box-knowledges", 3, lista02.Count()))

                    </div>
                </div>
            </div>
            <div class="panel rai panel-accordion rai ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed  " data-toggle="collapse" data-parent="#accordion" href="#inform3" aria-expanded="false">
                            Linguaggi e Sistemi Operativi
                        </a>
                    </h4>
                    <div class="panel-actions @hide03">
                        <span style="" class="badge">@count03</span>
                    </div>
                </div>
                <div id="inform3" class="accordion-body collapse" aria-expanded="false">
                    <div class="panel-body panel-body-nopadding-xs">
                        @if (count03 == 0)
                        {
                            @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
                        }
                        <table class="js-table-sections table table-hover rai-table rai-table-vcenter" id="linguaggi-table">
                            <tbody class="">
                                @{
                                    not_primo_elemento = "";
                                    foreach (var elem in lista03)
                                    {
                                        string valutazione;
                                        switch (elem._codConInfoLiv)
                                        {
                                            case "01":
                                                valutazione = "Base";
                                                break;
                                            case "02":
                                                valutazione = "Intermedio";
                                                break;
                                            case "03":
                                                valutazione = "Elevato";
                                                break;
                                            default:
                                                valutazione = "N.D.";
                                                break;
                                        }
                                        <tr>
                                            <td class="text-left">
                                                <p class="text-bold ">@elem._descConInfo</p><p class="">@valutazione</p>
                                            </td>
                                            <td class="text-right rai-table-td-action" >
                                                <a class="btn-action-icon" href="#" data-toggle="modal" data-target="#modalKnowledgesInserimento" onclick=""><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("limitaTR", new myRaiCommonModel.limitaTRmodel("linguaggi-table", "box-knowledges", 3, lista03.Count()))

                    </div>
                </div>
            </div>
            <div class="panel rai panel-accordion rai">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed  " data-toggle="collapse" data-parent="#accordion" href="#inform99" aria-expanded="false">Altro</a>
                    </h4>
                    <div class="panel-actions @hide99">
                        <span style="" class="badge">@count99</span>
                    </div>
                </div>
                <div id="inform99" class="accordion-body collapse" aria-expanded="false">
                    <div class="panel-body panel-body-nopadding-xs">
                        @if (count99 == 0)
                        {
                            @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
                        }
                        <table class="js-table-sections table table-hover rai-table rai-table-vcenter" id="altro-table">
                            <tbody class="">
                                @{
                                    not_primo_elemento = "";
                                    foreach (var elem in lista99)
                                    {
                                        string valutazione;
                                        switch (elem._codConInfoLiv)
                                        {
                                            case "01":
                                                valutazione = "Base";
                                                break;
                                            case "02":
                                                valutazione = "Intermedio";
                                                break;
                                            case "03":
                                                valutazione = "Elevato";
                                                break;
                                            default:
                                                valutazione = "N.D.";
                                                break;
                                        }
                                        <tr>
                                            <td class="text-left">
                                                <p class="text-bold ">@elem._altraConInfo</p><p class="">@valutazione</p>
                                            </td>
                                            <td class="text-right rai-table-td-action" >
                                                <a class="btn-action-icon" href="#" data-toggle="modal" data-target="#modalKnowledgesInserimento" onclick=""><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("limitaTR", new myRaiCommonModel.limitaTRmodel("altro-table", "box-knowledges", 3, lista99.Count()))

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@* FREAK - MODALE PER INSERIMENTO TITOLI DI STUDIO *@
@Html.Partial("knowledges/partials/_modalInserimento", Model.conoscenzeInformatiche)
@* ******************************************************* *@

<script>fixBarCV("frm-insertConoscenzeInformatiche");</script>
<script>
    $('[data-toggle="popover"]').popover({
        template: '<div class="popover"><div class="arrow"></div><div><span style="float:left; width:100%; display:inline;" class="popover-title"></span><span class="customPopOverCloser" style="float:right; width:5%; margin-top: -30px; margin-left: -3px; dispay:inline; cursor:pointer;" aria-hidden="true">x</span></div><div class="clearfix"></div><div class="popover-content"></div></div>',
        html: true
    });
</script>