@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model  RicercaDaApprovareAttivita

<div class="row push-10" style="margin-bottom:4px">
    <div class="col-sm-12">
        <label class="rai-caption">Attività di produzione</label>
        <select class="form-control select2" id="titolo">
            <option value="">Attività di produzione</option>
            @{
                if ( Model.ListaTitoliRecenti != null && Model.ListaTitoliRecenti.Any( ) )
                {
                    <optgroup label="Recenti">
                        @{
                            foreach ( var item in Model.ListaTitoliRecenti )
                            {
                                <option style="margin-left: 10px;" value="@item.Value">@item.Text</option>
                            }
                        }
                    </optgroup>
                }
                if ( Model.ListaTitoli != null && Model.ListaTitoli.Any( ) )
                {
                    <optgroup label="Attività">
                        @{
                            foreach ( var item in Model.ListaTitoli )
                            {
                                if ( !String.IsNullOrEmpty( item.Text ) )
                                {
                                    <option style="margin-left: 10px;" value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </optgroup>
                }
            }
        </select>
    </div>
</div>
<div class="row push-10" style="margin-bottom:4px">
    <div class="col-sm-12">
        <label class="rai-caption">Eccezione</label>
        @Html.DropDownListFor( x => x.eccezione , Model.ListaEccezioniCeiton as List<SelectListItem> , "Eccezione" , new { @class = "form-control" , name = "eccezione" , id = "eccezione" } )
    </div>
</div>